{% extends 'base_workspace.html' %}
{% load i18n extra_tags core_components components datastream_tags compress staticfiles sass_tags %}

{% block meta %}

{# CSS #}

<link href="/js_core/plugins/flexigrid.4/styles/flexigrid.pack.css" type="text/css" rel="stylesheet" media="screen"/>
{% compress css %}
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-paginator.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-text-cell.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-filter.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/dataStreamForm.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/detailCommon.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/viewDataStream.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/manageDataviews.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}

{# JS Libs and Plugins #}
<script type="text/javascript" src="/js_core/plugins/jquery.client.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/flexigrid.4/source/flexigrid.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backbone_paginator/backbone.paginator.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid/backgrid.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid_paginator/backgrid-paginator.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-text-cell/backgrid-text-cell.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-select-all/backgrid-select-all.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-filter/backgrid-filter.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/nicEdit/nicEdit-2014.js?id={{settings.VERSION_JS_CSS}}"></script>

{# JS for this screen #}
<script language="javascript" src="/js_core/models.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/changeDataStreamParametersModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/changeDataStreamParametersView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/dataTableModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/dataTableView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/resourceItemModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/listResources.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datasetItemModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/listDatasets.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datasetItemView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/manageDatasetsOverlayView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/deleteView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/unpublishView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/affectedResourcesModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/affectedResourcesView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/affectedResourcesCollection.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/affectedResourcesCollectionDeleteView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/affectedResourcesCollectionUnpublishView.js?id={{settings.VERSION_JS_CSS}}"></script>

{# JS for Edit #}
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemSourceModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemSourceView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemSourcesCollection.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemSourcesView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemAddSourceModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemAddSourceView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemTagModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemTagView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemTagsCollection.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/datastreamEditItemTagsView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/plugins/tagging.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/plugins/taggingSources.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/viewDataStreamModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewDataStream/viewDataStreamView.js?id={{settings.VERSION_JS_CSS}}"></script>

<meta name="main-option" content="id_dataviews_option"/>
{% endblock %}

{% block header_navigation %}
<!-- Back Link -->
<a href="{% url 'manageDataviews.list' %}" id="id_backLink" class="button alpha back FL" title="{% trans 'APP-BACK-TEXT' %}">{% trans 'APP-BACK-TEXT' %}</a>
{% endblock %}

{% block sectionTitle %}
<div class="context-menu clearfix"></div>
{% endblock %}

{% block content %}
  <div class="col-md-12 detail" id="id_viewDataStream">
    <div class="wrapper1">
      <div class="wrapper2 clearfix">
        <div class="wrapper3">

          {# Pending review = 1  #}
          {% if datastream.status == 1 %}
            <!-- Review -->
            <div class="alert alert-info clearfix" id="id_reviewBar">
              {% if auth_manager.is_publisher or auth_manager.is_admin %}
                <p><i class="icon info"></i>{% trans 'APP-WAITING-FOR-YOUR-REVIEW-TEXT' %}</p>
                <div class="navigation FR">
                  <a id="id_approve" class="button primary small FL" title="{% trans 'APP-APPROVE-TEXT' %}" data-action="approve">{% trans 'APP-APPROVE-TEXT' %}</a>
                  <a id="id_reject" class="button alpha small FL" title="{% trans 'APP-REJECT-TEXT' %}" data-action="reject">{% trans 'APP-REJECT-TEXT' %}</a>
                </div>
              {% else %}
                <p><i class="icon info"></i>{% trans 'APP-WAITING-FOR-REVIEW-TEXT' %}</p>
              {% endif %}
            </div>
          {% endif %}

          <!-- Sidebar -->
          <section class="sidebar-container">

              {% include "viewDataStream/sidebar.html" %}

          </section>

          <!-- Detail -->
          <section class="detail-container">

            {% include "viewDataStream/detail.html" %}

          </section>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block bottom_js %}
<script type="text/javascript">
$(document).ready(function(){
  var viewDataStreamModel = new ViewDataStreamModel({
    id: "{{datastream.datastream_revision_id}}",
    {% for parameter in datastream.parameters %}
    parameter{{forloop.counter0}}: {name: "{{parameter.name}}", value: "{{parameter.value}}"},
    {% endfor %}
    filter: "",
    status: "{{ datastream.status }}",
    status_str: "{{ datastream.status|status_str|capfirst }}",
    title: "{{datastream.title|capfirst}}",
    changeStatusUrl: "{% url 'manageDataviews.change_status' datastream.datastream_revision_id %}",
    createVizUrl: "TODO",
    editUrl: "{% url 'manageDataviews.edit' %}/{{datastream.datastream_revision_id}}/",
    lastPublishDate: "{{datastream.last_published_date|date:'F d, Y, h:i A'|capfirst}}",
    publicUrl: "{{ datastream.public_url }}"
  });
  
  var datastreamEditItemModel = new DatastreamEditItemModel({
    datastream_revision_id: "{{datastream.datastream_revision_id}}",
    title: "{{datastream.title|capfirst}}",
    category: "{{datastream.category_id}}",
    allCategories: [{% for category in categories %}{"label":"{{category.name}}", "value":"{{category.category__id}}"},{% endfor %}],
    status: "{{datastream.status}}",
    allStatus: [{% for key, value in status_options %}{"label":"{{value}}", "value":"{{key}}"},{% endfor %}],
    description: "{{datastream.description|escapejs}}",
    sources: [{% for source in datastream.sources %}{"name":"{{ source.source__name }}"},{% endfor %}],
    tags: [{% for tag in datastream.tags %}{"name":"{{ tag.tag__name }}"},{% endfor %}],
    notes: "{{datastream.notes}}",
    sourceUrl: '/source_manager/action_search',
    tagUrl: '/tag_manager/action_search',
    editUrl: "{% url 'manageDataviews.edit' %}/{{datastream.datastream_revision_id}}/",
  });

  var viewDataStreamView = new ViewDataStreamView({
    model: viewDataStreamModel,
    dataViewCreationStepsUrl: "{% url 'manageDataviews.create' %}",
    sourceUrl: '/source_manager/action_search',
    tagUrl: '/tag_manager/action_search',
    datastreamEditItemModel: datastreamEditItemModel
  });
});
</script>

{# templates backbone #}
{% include "viewDataStream/templates.html" %}

{% endblock %}

{% block popupsOverlay %}
{% include "viewDataStream/overlays.html" %}
{% endblock %}