{% load i18n extra_tags core_components components %}

<!-- Add Dataview -->
{% overlay id_addDataview %}
<div class="In clearfix">
	<h4>{% trans 'APP-SELECT-DATASET-TEXT' %}</h4>
	<div class="ov-content">
		<p>{% trans 'APP-ADD-DATAVIEW-HINT' %}</p>
	</div>
	<section>
		<div id="dataset_list">
			<div id="dataset_grid"></div>
		</div>
	</section>
	<div class="ov-bottom">
		<div id="id_filter_dataSets"></div>
		<!-- Pagination -->
		<div class="pagination FR clearfix" id="id_pagination">
			<div id="dataset_paginator"></div>
		</div>
	</div>
</div>
{% endoverlay %}

<!-- Delete Dataview Overlay -->
{% overlay id_deleteDataview %}
<div class="In clearfix">
   <h4>{% trans 'APP-OVERLAY-DELETE-DATASET-TITLE' %}</h4>
   <div class="ov-content">
      <p class="text center">{% trans 'APP-OVERLAY-DELETE-DATASET-TEXT' %}</p>
   </div>
   <div class="ov-bottom">
      <div class="ov-buttons">
         <a id="id_deleteResource" class="button small" title="{% trans 'APP-DELETE-RESOURCE-TEXT' %}">{% trans 'APP-DELETE-RESOURCE-TEXT' %}</a>
         <a id="id_deleteRevision" class="button small" title="{% trans 'APP-DELETE-REVISION-TEXT' %}">{% trans 'APP-DELETE-REVISION-TEXT' %}</a>
      </div>
   </div>
</div>
{% endoverlay %}

<!-- Delete Dataview Confirm Overlay -->
{% overlay id_confirmDeleteDataview %}
<div class="In clearfix">
   <h4>{% trans 'APP-OVERLAY-DELETE-DATASET-CONFIRM-TITLE' %}</h4>
   <div class="ov-content">
      <p>{% trans 'APP-OVERLAY-DELETE-DATASET-CONFIRM-TEXT' %}</p>
      <ul id="id_affectedResourcesList"></ul>
   </div>
   <div class="ov-bottom">
      <div class="ov-buttons">
         <a id="id_deleteRelatedResources" class="button small" title="{% trans 'APP-OVERLAY-DELETE' %}">{% trans 'APP-OVERLAY-DELETE' %}</a>
         <a class="cancel" title="{% trans 'APP-OVERLAY-CANCEL' %}">{% trans 'APP-OVERLAY-CANCEL' %}</a>
      </div>
   </div>
</div>
{% endoverlay %}

<!-- Edit Dataview -->
{% overlay id_editDataview %}
<div id="id_editDataview" class="In clearfix">
   <h4>{% trans 'APP-EDIT-DATAVIEW-TEXT' %} <span>{% trans 'APP-MANDATORY-FIELDS-TEXT' %}</span></h4>
   <div class="formContent">
      
   </div>
</div>
{% endoverlay %}