{% load i18n extra_tags core_components components %}

<!-- Add Dataview -->
{% overlay id_addDataview %}
<div class="In clearfix">
	<h4>{% trans 'APP-ADD-NEW-DATAVIEW-TEXT' %}</h4>
	<div class="ov-content">
		<p>{% trans 'APP-ADD-DATAVIEW-HINT' %}</p>
	</div>
	<section>
		<div id="dataset_list">
			<div id="dataset_grid"></div>
		</div>
	</section>
	<div class="ov-bottom">
		<div id="id_filter_dataSets"></div>
		<!-- Pagination -->
		<div class="pagination FR clearfix" id="id_pagination">
			<div id="dataset_paginator"></div>
		</div>
	</div>
</div>
{% endoverlay %}

<!-- Delete Dataview Overlay -->
{% overlay id_deleteDataview %}
<div class="In clearfix">
   <h4>{% trans 'APP-OVERLAY-DELETE-DATASET-TITLE' %}</h4>
   <div class="ov-content">
      <p class="text center">{% trans 'APP-OVERLAY-DELETE-DATASET-TEXT' %}</p>
   </div>
   <div class="ov-bottom">
      <div class="ov-buttons">
         <a id="id_deleteResource" class="button warning small" title="{% trans 'APP-DELETE-RESOURCE-TEXT' %}">{% trans 'APP-DELETE-RESOURCE-TEXT' %}</a>
         <a id="id_deleteRevision" class="button warning small" title="{% trans 'APP-DELETE-REVISION-TEXT' %}">{% trans 'APP-DELETE-REVISION-TEXT' %}</a>
      </div>
   </div>
</div>
{% endoverlay %}

<!-- Delete Dataview Confirm Overlay -->
{% overlay id_confirmDeleteDataview %}
<div class="In clearfix">
   <h4>{% trans 'APP-OVERLAY-DELETE-DATASET-CONFIRM-TITLE' %}</h4>
   <div class="ov-content">
      <p>{% trans 'APP-OVERLAY-DELETE-DATASET-CONFIRM-TEXT' %}</p>
      <ul id="id_affectedResourcesList"></ul>
   </div>
   <div class="ov-bottom">
      <div class="ov-buttons">
         <a id="id_deleteRelatedResources" class="button warning small" title="{% trans 'APP-OVERLAY-DELETE' %}">{% trans 'APP-OVERLAY-DELETE' %}</a>
         <a class="cancel" title="{% trans 'APP-OVERLAY-CANCEL' %}">{% trans 'APP-OVERLAY-CANCEL' %}</a>
      </div>
   </div>
</div>
{% endoverlay %}

<!-- Edit Dataview -->
{% overlay id_editDataview %}
<div id="id_editDataview" class="In clearfix">
   <h4>{% trans 'APP-EDIT-DATAVIEW-TEXT' %} <span>{% trans 'APP-MANDATORY-FIELDS-TEXT' %}</span></h4>
   <div class="formContent">
      <form>
         <div class="ov-content">
            <div class="col-1">
             <fieldset>

               {# title #}
               <div class="row clearfix">
                  <label for="id_title">{% trans 'APP-TITLE-TEXT' %}</label>
                  <input type="text" name="title" id="title" data-bind="value:title,events:['keyup']" tabindex="0" autofocus>
                  <span class="required">*</span>
               </div>

               {# description #}
               <div class="row clearfix">
                  <label for="id_description">{% trans 'APP-DESCRIPTION-TEXT' %}</label>
                  <input type="text" name="description" id="id_description" data-bind="value:description,events:['keyup']" tabindex="0">
                  <span class="required">*</span>
               </div>

               {# category #}
               <div class="row clearfix">
                  <label for="id_category">{% trans 'APP-CATEGORY-TEXT' %}</label>
                  <select name="category" id="id_category" data-bind="value:category,options:allCategories" tabindex="0">
                  </select>
                  <span class="required">*</span>
               </div>

               {# status #}
               <div class="row clearfix divider">
                  <label for="id_status">{% trans 'APP-STATUS-TEXT' %}</label>
                  <select name="status" class="FL" id="id_datastream_status" data-bind="value:status,options:allStatus">
                  </select>
                  <span class="required">*</span>
               </div>

               

               {# Sources #}
               <div class="row clearfix">
                  <div id="sourceForm">
                     <div id="addSource"></div>
                     <div class="sourcesContent"></div>
                     <div id="addNewSource"></div>
                  </div>
               </div>

               {# Tags #}
               <div class="row clearfix">
                  <div id="tagForm">
                     <div id="addTag"></div>
                     <div class="tagsContent"></div>
                  </div>
               </div>

             </fieldset>
            </div>

            <div class="col-2 col-border">
             <fieldset>
               {# Notes #}
               <div class="row clearfix">
                  <label for="id_notes">{% trans 'APP-NOTES-TEXT' %}</label>
               </div>
               <div class="row clearfix">
                  <div class="textarea clearfix FL">
                     <textarea name="notes" id="id_notes" rows="10" data-bind="value:notes,events:['keyup']" tabindex="0"></textarea>
                  </div>
               </div>
             </fieldset>
            </div>
         </div>

         <div class="ov-bottom">
            <div class="ov-buttons">
               <a id="id_edit_save" class="button primary small" title="{% trans 'APP-SAVE-TEXT' %}">{% trans 'APP-SAVE-TEXT' %}</a>
               <a id="id_edit_cancel" class="cancel" title="{% trans 'APP-OVERLAY-CANCEL' %}">{% trans 'APP-OVERLAY-CANCEL' %}</a>
            </div>
         </div>

      </form>
   </div>
</div>
{% endoverlay %}