{% load i18n extra_tags core_components components %}

{# Edit - Add New Source #}
<script type="text/template" id="id_AddNewSourceTemplate">
  <div class="FL">  
    <div class="nolabel">
      <div class="insetFormTitle">{% trans 'APP-ADDNEW-TEXT' %}</div>
    </div>

    <div class="row clearfix">
      <label for="id_name"></label>
      <input type="text" name="name" id="id_name" placeholder="{% trans 'APP-NAME-TEXT' %}">
    </div>

    <div class="row clearfix">
      <label for="id_url_source"></label>
      <input type="text" name="url_source" id="id_url_source" placeholder="{% trans 'APP-URL-TEXT' %}">
    </div>

    <div class="row clearfix">
      <a title="{% trans 'APP-ADD-TEXT' %}" class="button black small nolabel FL" id="id_addNewSourceButton">{% trans 'APP-ADD-TEXT' %}</a>
    </div>
  </div>
</script>

{# Edit - Add Source #}
<script type="text/template" id="id_AddSourceTemplate">
  <label for="id_source_name">{% trans 'APP-SOURCES-TEXT' %}</label>
  <input type="text" name="source_name" id="id_source_name" tabindex="0">
  <p class="tip">{% trans 'EDITDS-SOURCE-TIP1' %} <a id="id_addSourceButton" tabindex="-1">{% trans 'EDITDS-SOURCE-TIP2' %}</a></p>
</script>

{# Edit - Add Tag #}
<script type="text/template" id="id_AddTagTemplate">
  <label for="id_tag_name">{% trans 'APP-TAGS-TEXT' %}</label>
  <input type="text" name="tag_name" id="id_tag_name" tabindex="0">
  <p class="tip">{% trans 'OVEDITDS-TAGS-TIP' %}</p>
</script>

{# Edit - Tag #}
<script type="text/template" id="id_TagTemplate">
  <span class="tagInner clearfix">
    <span class="tagTxt"><%= name %></span>
    <a class="remove"><span class="DN">{% trans 'APP-REMOVE-TEXT' %}</span></a>
  </span>
</script>