{% load i18n extra_tags components %}

<div id="chartSelectDataModal" class="process-manager-modal hidden modal">

	<div class="row">
		<h1>Select the desired columns for your chart</h1>
		<button class="btn">Cancel</button>
		<button class="btn btn-close">Done</button>
	</div>

	<div class="row">

		<div class="col-md-3">
			<div class="selected-ranges-view">
			<form class="form">
				<label for="range_data">Intervalos
					<input name="range_data" type="text" />
					<button>OK</button>
					<button>Cancell</button>
				</label>
				<label for="range_labels">Etiquetas (Eje X)
					<input name="range_labels" type="text" />
				</label>
				<label for="range_headers">Encabezado/s
					<input name="range_headers" type="text" />
				</label>
			</form>
			</div>
		</div>

		<div class="col-md-9">
			<div class="data-table-view">
				<div class="table-view">
				</div>
			</div>
		</div>

	</div>

</div>