{% load i18n extra_tags components %}

<div id="chartSelectDataModal" class="process-manager-modal hidden modal">

	<div class="row">
		<h1>Select the desired columns for your chart</h1>
		<button class="btn">Cancel</button>
		<button class="btn btn-close">Done</button>
	</div>

	<div class="row">

		<div class="col-md-3">
			<h2>Selected series</h2>
			<div class="selected-ranges-view">
			</div>
			<button type="button" class="btn-add-serie">Add another serie</button>
		</div>

		<div class="col-md-9">
			<div class="data-table-view">
				<div class="table-view">
				</div>
			</div>
		</div>

	</div>

</div>