{% load i18n extra_tags components %}

<div id="chartSelectDataModal" class="process-manager-modal hidden modal">

	<div class="row">
		<h1>Seleccione los datos que desee representar</h1>
		<button class="btn btn-cancel">Cancelar</button>
		<button class="btn btn-done" disabled="disabled">Graficar</button>
	</div>

	<div class="row">

		<div class="col-md-3">
			<div class="selected-ranges-view">
			<form class="form">
				<h4>Intervalos</h4>
				<input name="range_data" type="text" />

				<h4>Etiquetas (Eje X)</h4>
				<input name="range_labels" type="text" />

				<h4>Encabezado/s</h4>
				<input name="range_headers" type="text" />

			</form>
			</div>
		</div>

		<div class="col-md-9">
			<div class="data-table-view">
				<div class="table-view">
				</div>
			</div>
		</div>

	</div>

</div>