{% load i18n extra_tags components %}

<div id="MapSelectDataModal" class="process-manager-modal hidden modal">

	<div class="row">
		<div class="col-xs-12">
			<h1>{% trans "APP-CUSTOMIZE-MAP-SELECT-DATA-TEXT" %}</h1>
			<div class="FR">
				<button class="button default btn-cancel">{% trans "APP-CANCEL-TEXT" %}</button>
				<button class="button primary btn-done" disabled="disabled">{% trans "APP-CREATE-MAP-TEXT" %}</button>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-xs-3">
			<div class="selected-ranges-view">
			<form class="form">
				<h4>{% trans "APP-CUSTOMIZE-MAP-SELECT-LATITUDE-TEXT" %}</h4>
				<input name="range_data" type="text" />

				<h4>{% trans "APP-CUSTOMIZE-MAP-SELECT-LONGITUDE-TEXT" %}</h4>
				<input name="range_labels" type="text" />

				<h4>{% trans "APP-CUSTOMIZE-MAP-SELECT-MARKERS-TEXT" %}</h4>
				<p>{% trans "APP-CUSTOMIZE-MAP-SELECT-MARKERS-HINT" %}</p>
				<input name="range_headers" type="text" />

			</form>
			</div>
		</div>

		<div class="col-xs-9">
			<div class="data-table-view">
				<div class="table-view">
				</div>
			</div>
		</div>

	</div>

</div>