{% load i18n %}

{% if notes and preferences.account_enable_notes%}
    <!-- NOTES -->
    <div id="" class="ao-notes">
      <!-- PANEL TITLE -->
      <div class="boxTitle toolbar clearfix">
          <h4 class="title Icon ic_Notes">{% trans "APP-NOTES-TITLE" %}</h4>
          <!-- VIEW MORE -->
          <a id="id_viewMoreNotesButton" href="javascript:;" title="{% trans 'APP-VIEWMORE-TEXT' %}" class="VM">{% trans "APP-VIEWMORE-TEXT" %}</a>
      </div>

      <!-- NOTES CONTAINER -->
      <div class="notesContainer" style="max-height:64px;overflow:hidden;">{{notes|safe|urlize}}</div>

    </div>
{% endif %}