{% extends "base_microsites.html" %}
{% load i18n extra_tags core_components components compress staticfiles %}

{% block SEO %}
    <title>{{datastream.title}} &middot; {{preferences.account_page_titles}}</title>
    <meta name="description" content="{{ datastream.description }}" />
    <link rel="canonical" href="{{base_uri}}{{datastream.permalink}}" />
{% endblock %}

{% if preferences.account_enable_sharing %} 
    {% block facebook %}
        <meta property="og:title" content="{{datastream.title}} &middot; {{preferences.account_page_titles}}" />
        <meta property="og:description" content="{{ datastream.description }}" />
        <meta property="og:image" content="{{preferences.account_logo}}" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="{{preferences.account_name}}" />
    {% endblock %}
{% endif %}

{% block meta %}
    {% compress css %}
    <!-- BLOCK PAGE TITLE -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/styles/modules/blockPageTitle.css' %}"/>
    <!-- DATA STREAM BOX -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/_modules/dataStreamBox.css' %}"/>
    <!-- DATA STREAM FORM -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/_modules/dataStreamForm.css' %}"/>
    <!-- TAGS CONTAINER -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/_modules/tagsContainer.css' %}"/>
    <!-- FLEXIGRID -->
    <link rel="stylesheet" type="text/css" media="screen" href="/js_core/plugins/flexigrid.4/styles/flexigrid.pack.css" />
    <!-- LIQUID WIDTH -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/_modules/liquidWidth.css' %}"/>
    <!-- COMPONENT -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'workspace/styles/_components/dataServicesManager.css' %}"/>

    <!-- BRANDED -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/styles/modules/brandedFull.css' %}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
    {% endcompress %}
    <script type="text/javascript" src="/js_core/base_modules/embed_code/embedCode.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_microsites/datastream_manager/datastreamModules.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_microsites/datastream_manager/viewForm.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/base_modules/endPoint.js?id={{settings.VERSION_JS_CSS}}"></script>
    {% if preferences.account_enable_sharing %}
        <script type="text/javascript" src="/js_microsites/modules/share.js?id={{settings.VERSION_JS_CSS}}"></script>
        <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&amp;login=junar&amp;apiKey=R_4da011b2ee9f2ee2cf80ed8122b73391"></script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    {% endif%}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% url "microsites.action_js" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/plugins/flexigrid.4/source/flexigrid.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_microsites/modules/notes.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>
    {% if can_share %}
    <script type="text/javascript" src="/js_core/plugins/jquery.validate.min.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/base_modules/private.js?id={{settings.VERSION_JS_CSS}}"></script>
    {% endif %}
    <script type="text/javascript">
        google.load('visualization', '1', {
            packages: ['corechart', 'geomap']
        });

        {% if dataservice.is_self_publishing %}
            var isSelfPublish = true;
        {%else%}
            var isSelfPublish = false;
        {%endif%}

        var canShare = {{can_share|lower}};
    </script>
    
{% endblock %}

{% block content %}
    <div class="blockPageTitle branded{% if not preferences.account_enable_sharing %} sharingDisabled{% endif %}{% if can_share %} sharingDisabled{% endif %}">
        <div class="titleGradient">
            <div class="panel clearfix hreview-aggregate">

                <!-- LEFT CONTENT -->
                <div class="leftContent FL">

                    <!-- PANEL TITLE CONTAINER -->
                    <div class="panelTitleContainer clearfix">
                        <h1 class="titleText">
                            <strong class="fn" itemprop="name">{{datastream.title}}</strong>
                            {% for dataservice_argument in datastream.parameters %}
                            {% if forloop.first %}({% endif %}
                            <label for="pArgument{{forloop.counter0}}" onclick="onArgumentClicked(this);" title="{{dataservice_argument.description}}">{%if dataservice_argument.default%}{{dataservice_argument.default}}{%else%}{% trans "APP-ENTERAVALUEFOR-TEXT" %} {{dataservice_argument.name}}{%endif%}</label><input type="text" style="display:none;" size="10" id="pArgument{{forloop.counter0}}" value="{{dataservice_argument.default}}" onblur="onArgumentChange(this, event);" onkeypress="onArgumentKeyup(this, event);" title="{{dataservice_argument.description}}" />{% if not forloop.last %}, {%else%}){% endif %}
                            {% endfor %}
                        </h1>
                    </div>

                    <!-- DESCRIPTION -->
                    <p class="description" itemprop="description">{{datastream.description}}</p>

                    <!-- OTHERS CONTAINER -->
                    <div class="othersContainer clearfix">

                        <!-- TAGS -->
                        {% url "search.action_search" as search_url %}
                        <div class="tagsContainer toolbar FL">
                            <strong class="tagsTitle Icon ic_Tags">{% trans "APP-TAGS-TEXT" %}: </strong>
                            <div id="id_dataservice_tags_container" class="tagsItems" itemprop="keywords">
                                {% for tag in datastream.get_tags|slice:":5" %}
                                    <a href="{{ search_url }}?tag={{tag|prepareTagForSearch}}" title="{{tag}}" rel="nofollow tag">{{tag}}</a>{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    {% trans "APP-NOTAGS-TEXT" %}.
                                {% endfor %}
                            </div>
                            <div class="tagsPagination" {% if not datastream.get_tags|length|isGreaterThan:"5" %}style="display:none;"{% endif %}>
                                <span id="id_dataserviceTagsViewAllButton">
                                    <span><span class="comma">,</span><a href="javascript:;" title="{% trans 'APP-VIEWALL-TEXT' %}">...</a></span>&nbsp;<span class="sep">|</span>
                                    <a href="javascript:;" title="{% trans 'APP-VIEWALL-TEXT' %}">{% trans "APP-VIEWALL-TEXT" %}</a>
                                </span>
                                <div class="ao-tag-tooltip" style="display:none">
                                    <div class="In clearfix">
                                        {% for tag in datastream.get_tags %}<a href="{{ search_url }}?tag={{tag|prepareTagForSearch}}" title="{{tag}}" rel="nofollow">{{tag}}</a>{% if not forloop.last %}<span>, </span>{% endif %}{% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- OTHER ACTIONS -->
                        <div id="id_dataservice_toolbar_{{datastream.datastream_id}}" class="otherActions clearfix FR">
                        </div>

                    </div>

                    <!-- RIGHT BOX SHADOWS -->
                    <div class="cv bl"></div>
                    <div class="cv br"></div>

                </div>

                <!-- RIGHT CONTENT -->
                <div class="rightContent FR">

                    {% if preferences.account_enable_sharing %}
                    <!-- SHARE BOX -->
                    <div class="shareBox toolbar">
                        <div class="innerBox">

                            <ul class="firstRow clearfix">

                                <!-- SHARE URL -->
                                <li class="url FL">{% trans "APP-URL-TEXT" %}: <input type="text" value="" class="share_url_input" readonly="readonly"/></li>

                            </ul>
                            <ul class="secondRow clearfix">

                                <!-- TWITTER -->
                                <li class="twitter"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html" style="width:62px; height:70px;"></iframe></li>

                                <!-- FACEBOOK -->
                                <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:90px;" allowTransparency="true"></iframe></li>

                                <!-- GOOGLE PLUS -->
                                <li class="google"><div class="g-plusone" data-size="tall" data-count="true"></div></li>

                                <!-- LINKED IN -->
                                <li class="linkedin"><iframe src="{% url "share_manager.action_linkedin" %}?url={{base_uri|urlEncode}}{{datastream.permalink|urlEncode}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:61px; height:90px;"></iframe></li>

                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>


    <div id="id_edit_dataservice_container" class="branded">
        <form id="id_datastreamGrid">
            <input type="hidden" name="datastream_id" value="{{datastream.datastreamrevision_id}}"/>
            {% for dataservice_argument in datastream.parameters %}
                <input type="hidden" name="pArgument{{forloop.counter0}}" value="{{dataservice_argument.value}}" />
            {% endfor %}
        </form>
        {% include "datastream_manager/dataServicePanel.html" %}
    </div>
{% endblock %}

{% block popupsOverlay %}
    {% include "datastream_manager/dataStreamOverlays.html" %}
{% endblock %}