{% extends 'dataset_manager/create_dataset.html' %}
{% load i18n extra_tags core_components components %}

{% block classlist %}createViewOverlay{% endblock %}

{% block buttons_create_file %}
	<div class="buttons center">
	    {% if 'workspace.can_create_datastream' in auth_manager.privileges %}
	    	<button id="id_next" class="id_next genericButton actionButton">{% trans "APP-NEXT-TEXT" %}</button>
	    {% endif %}
	</div>
{% endblock %}

{% block buttons_create_url %}
	<div class="buttons center">
	    {% if 'workspace.can_create_datastream' in auth_manager.privileges %}
	    	<button id="id_next" class="id_next genericButton actionButton">{% trans "APP-NEXT-TEXT" %}</button>
	    {% endif %}
	</div>
{% endblock %}

{% block buttons_create_webservice %}
	<div class="buttons center">
	    {% if 'workspace.can_create_datastream' in auth_manager.privileges %}
	    	<button id="id_next" class="id_next genericButton actionButton">{% trans "APP-NEXT-TEXT" %}</button>
	    {% endif %}
	</div>
{% endblock %}

{% block tablist %}
	<li class="tab tab-selected FL">
        <div class="clearfix"><a class="tab-datastreams create_lib_url" href="javascript:;" title="{% trans 'SEARCH-DATASETS-TEXT' %}">{% trans 'SEARCH-DATASETS-TEXT' %}</a></div>
    </li>
{% endblock %}

{% block extended_div %}
	<div id="id_datasetLibrary" class="relative">
		<div class="searchBlock">{% datatable_search 'dataset' %}</div>
		<div class="gridContainer">
            {% datatable paginated_dataset categories 'datasetTableOverlay' 'dataset_overlay' auth_manager %}
        </div>
            {% datatable_pagination paginated_dataset 'dataset' %}
	</div>
{% endblock %}

