{% extends 'base.html' %}
{% load i18n extra_tags compress staticfiles sass_tags core_components components plugins_tags %}

{% block css_includes %}
		{% compress css %}
		<link href="{% sass_src 'workspace/styles/common.scss' %}" rel="stylesheet" type="text/css" />
		<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
		<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-paginator.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
		<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-text-cell.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
		<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-filter.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
		{% endcompress %}
		<link href='https://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
{% endblock %}

{% block js_includes %}

<!--[if lt IE 9]>
<script src="/js_core/plugins/html5.js" type="text/javascript"></script>
<![endif]-->

<script src="/js_core/constants.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>

<script src="/js_core/libs/jquery/jquery.parseHTML.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>

<script src="/js_core/plugins/jquery.twitter.like.alert.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/plugins/jquery.bgiframe.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/plugins/jquery.url.packed.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="{% static 'underscore/underscore-min.js' %}"></script>
<script src="{% static 'backbone/backbone.js' %}"></script>
<script src="/js_core/libs/backbone_validation/backbone-validation-min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/libs/epoxy/backbone.epoxy.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/plugins/jquery.gritter.min.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Backbone Grid -->
<script type="text/javascript" src="/js_core/libs/backbone_paginator/backbone.paginator.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid/backgrid.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid_paginator/backgrid-paginator.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-text-cell/backgrid-text-cell.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-select-all/backgrid-select-all.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-filter/backgrid-filter.min.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Placeholder -->
<!--[if IE]>
<script src="/js_core/base_modules/placeholder.js?id={{settings.VERSION_JS_CSS}}"></script>
<![endif]-->

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script type="text/javascript" src="/js_core/base_modules/auth_manager.js"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.validate.min.js?id={{settings.VERSION_JS_CSS}}"></script>
{% if preference.account_language == 'es' %}
<script type="text/javascript" src="/js_core/plugins/localization/messages_es.js?id={{settings.VERSION_JS_CSS}}"></script>
{% elif preference.account_language == 'pt' %}
<script type="text/javascript" src="/js_core/plugins/localization/messages_pt.js?id={{settings.VERSION_JS_CSS}}"></script>
{% endif %}
<script type="text/javascript" src="/js_core/plugins/jquery.validate.custom.methods.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/jquery_tools/jquery.tools.min.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Workspace Common View -->
<script type="text/javascript" src="{% static 'workspace/scripts/common.js' %}"></script>

<!-- Error Manager Module -->
<script language="javascript" src="{% static 'workspace/scripts/errorManager/errorManagerModel.js' %}"></script>
<script language="javascript" src="{% static 'workspace/scripts/errorManager/errorManagerView.js' %}"></script>

<!-- Add New Data View Overlay -->
<script src="{% static 'workspace/scripts/addNewOverlays/dataview/datasetItemModel.js' %}"></script>
<script src="{% static 'workspace/scripts/addNewOverlays/dataview/listDatasets.js' %}"></script>
<script src="{% static 'workspace/scripts/addNewOverlays/dataview/datasetItemView.js' %}"></script>
<script src="{% static 'workspace/scripts/addNewOverlays/dataview/manageDatasetsOverlayView.js' %}"></script>

<!-- Add New Visualization Overlay -->
<script src="{% static 'workspace/scripts/addNewOverlays/visualization/datastreamItemModel.js' %}"></script>
<script src="{% static 'workspace/scripts/addNewOverlays/visualization/listDatastreams.js' %}"></script>
<script src="{% static 'workspace/scripts/addNewOverlays/visualization/datastreamItemView.js' %}"></script>
<script src="{% static 'workspace/scripts/addNewOverlays/visualization/manageDatastreamsOverlayView.js' %}"></script>


{% endblock %}

{% block body %}
	<div class="layout">

		{% block header %}

			<!--[if lt IE 8]>
			<div class="ieMsg">
				<div class="w960 clearfix">
					{% trans "HEADER-IE-MESSAGES" %}
				</div>
			</div>
			<![endif]-->

			<!-- Header -->
			<header class="header clearfix">
				<div class="wrapper1">
					<div class="wrapper2 clearfix">
						<div class="wrapper3">

							<!-- Logo -->
							<a href="/welcome" title="{{ settings.APPLICATION_DETAILS.name }}" class="logo FL clearfix">
								<div class="logo-header-brand"></div>
							</a>

							<div class="global-navigation">

								<div class="header-navigation col-xs-3 clearfix">
									{% block header_navigation %}{% endblock %}
								</div>

								<div class="global-actions col-xs-9 clearfix">

									<!-- My Account Tab -->
									<div class="tab pulldown FR">
										<a href="{% url 'accounts.my_account' %}">{% gravatar auth_manager "small" "" %} {{auth_manager.name}}<span class="icon icon-right icon-pulldown"></span></a>
										<div class="submenu border-box" style="display:none;">
												<ul>
													<li><a href="{% url 'accounts.my_account' %}" title="{% trans 'HEADER-ACCOUNTDETAILLS-TEXT' %}">{% trans "HEADER-ACCOUNTDETAILLS-TEXT" %}</a></li>
													<li><a id="id_sign_out" href="/signout" title="{% trans 'HEADER-SIGNOUT-TEXT' %}">{% trans "HEADER-SIGNOUT-TEXT" %}</a></li>
												</ul>
										</div>
									</div>

									<!-- Notifications 
									<a id="id_notificationsButton" href="#" class="button alpha-icon FR" title="">
										<span class="icon icon-notifications"></span>
									</a>
									-->

									<!-- ODS Button -->
									<a id="id_openDataSiteButton" href="http://{{ preference.account_domain }}" target="_blank" class="button alpha FR" title="{% trans 'HEADER-ODS-BUTTON' %}">{% trans 'HEADER-ODS-BUTTON' %}<span class="icon icon-view-site icon-right"></span></a>

									{% plugins_call 'workspace_header' %}

								</div>

							</div>

						</div>
					</div>
				</div>
			</header>

		{% endblock %}

		<!-- Workspace -->
		<div class="workspace">
			<div class="wrapper1">
				<div class="wrapper2 clearfix">
					<div class="wrapper3">

						<!-- Main Nav -->
						{% include "nav_workspace.html" %}

						<!-- Main Section -->
						<div class="main-section">

							<!-- Section Title -->
							<div class="section-title clearfix">
								{% block sectionTitle %}{% endblock %}
							</div>

							<!-- Section Content -->
							<div class="section-content clearfix">
								{% block content %}{% endblock %}
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Global Overlays - Used on all screens -->
	{% include "global_overlays_workspace.html" %}

{% endblock %}

{% block base_bottom_js %}

	{% include "errorManager/errorManager.html" %}

	<script type="text/javascript">

		{% if auth_manager %}
		var authManager = new AuthManager({
			id: {{auth_manager.id|default_if_none:"null"}},
			nick: "{{auth_manager.nick}}",
			name: "{{auth_manager.name}}",
			roles: [{% for role in auth_manager.roles %}'{{role}}'{%if not forloop.last%}, {%endif%}{% endfor %}],
			privileges: [{% for privilege in auth_manager.privileges %}'{{privilege}}'{%if not forloop.last%}, {%endif%}{% endfor %}],
			account_level : "{{ auth_manager.account_level }}",
			isAuthenticated: {{ auth_manager.is_authenticated|lower }},
			email: "{{ auth_manager.email|lower }}"
		});
		{% endif %}

		Configuration = {};
		Configuration.baseUri = "{{settings.BASE_URI}}";
		Configuration.apiUri = "{{settings.API_URI}}";
		Configuration.apiKey = "{{settings.PUBLIC_KEY}}";
		Configuration.language = "{{LANGUAGE_CODE}}";
		Configuration.createDataViewUrl = "{% url 'manageDataviews.create' %}";
		Configuration.createVisualizationUrl = "{% url 'manageVisualizations.create' %}";

		Configuration.APPLICATION_DETAILS = {}
		Configuration.APPLICATION_DETAILS.name = "{{ settings.APPLICATION_DETAILS.name }}";
		Configuration.APPLICATION_DETAILS.website = "{{ settings.APPLICATION_DETAILS.website }}";
		Configuration.APPLICATION_DETAILS.mail = "{{ settings.APPLICATION_DETAILS.mail }}";

		csrfmiddlewaretoken = '{{ csrf_token }}';

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		/*
		-------------------------------------------------------------------------
		WARNING: beforeSend method in jQuery $.ajax()
		-------------------------------------------------------------------------

		If you use a custom beforeSend in your jQuery $.ajax() calls, you will need to include the following in order to prevent overriding the csrf token that is set globally.

		$.ajax({
			beforeSend : function(xhr, settings){

				// call global beforeSend func
				$.ajaxSettings.beforeSend(xhr, settings);

				// your code here

			}
		});

		*/
		$(document).ready(function(){

			//Backbone.$.ajaxSetup({
			$.ajaxSetup({

				beforeSend: function (xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader('X-CSRFToken', csrfmiddlewaretoken);
					}
					return true;
				}

			});

		});

	</script>

	{% block workspace_bottom_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			var baseView = new BaseView();
		});
	</script>
	{% endblock %}

	{% block bottom_js %}{% endblock %}

{% endblock %}