{% load i18n %}

<footer class="footer clearfix border-box">
  <p>&copy; 2009-{%now "Y" %}, Junar</p>
  <ul class="clearfix">
    <li><a href="http://www.junar.com" title="{% trans 'FOOTER-INSTITUTIONAL-TEXT' %}" target="_blank">{% trans "FOOTER-INSTITUTIONAL-TEXT" %}</a></li>
    <li><a href="http://www.junar.com/about" title="{% trans 'FOOTER-ABOUTUS-TITLE' %}!" target="_blank">{% trans "FOOTER-ABOUTUS-TEXT" %}</a></li>
    <li><a href="http://www.junar.com/contact" title="{% trans 'FOOTER-CONTACT-TEXT' %}" target="_blank">{% trans "FOOTER-CONTACT-TEXT" %}</a></li>
    <li><a href="http://wiki.junar.com/" title="{% trans 'FOOTER-WIKI-TEXT' %}" target="_blank">{% trans "FOOTER-WIKI-TEXT" %}</a></li>
    <li><a href="http://www.junar.com/privacy-policy" onclick="window.open( this.href, 'Junar - Privacy Policy','width=600,height=500,resizable=yes,scrollbars=yes');return false;" title="{% trans 'FOOTER-PRIVACY-TITLE' %}" target="_blank">{% trans "FOOTER-PRIVACY-TEXT" %}</a></li>
    <li><a href="http://www.junar.com/terms-of-service" onclick="window.open( this.href, 'Junar - Terms of Service','width=600,height=500,resizable=yes,scrollbars=yes');return false;" title="{% trans 'FOOTER-TERMS-TITLE' %}">{% trans 'FOOTER-TERMS-TEXT' %}</a></li>
  </ul>
  <dl class="clearfix">
    <dt>{% trans "FOOTER-FOLLOWUSON-TEXT" %}</dt>
    <dd class="facebook"><a href="http://www.facebook.com/JunarData" title="Facebook" target="_blank"><span class="DN">Facebook</span></a></dd>
    <dd class="twitter"><a href="http://twitter.com/junar" title="Twitter" target="_blank"><span class="DN">Twitter</span></a></dd>
    <dd class="googleplus"><a href="https://plus.google.com/102380040492758063242/posts" title="Google+" target="_blank"><span class="DN">Google+</span></a></dd>
    <dd class="linkedin"><a href="http://www.linkedin.com/company/875662" title="LinkedIn" target="_blank"><span class="DN">LinkedIn</span></a></dd>
  </dl>
</footer>