{% load i18n extra_tags compress staticfiles %}

<!--[if lt IE 8]>
<div class="ieMsg">
	<div class="w960 clearfix">
		{% trans "HEADER-IE-MESSAGES" %}
	</div>
</div>
<![endif]-->

<header class="header clearfix">

  <!-- Logo -->
  <a href="/welcome" title="DATAL" class="logo FL clearfix">
    <div class="logo-header-brand"></div>
  </a>

  <div class="global-navigation clearfix">

    {% comment %}
    <!-- Search -->
    <div class="searchbox FL clearfix">
      <input type="text" class="field FL" placeholder="{% trans 'HEADER-SEARCH-TEXT' %}" />
      <input type="button" class="submit FL" value="{% trans 'HEADER-SEARCH-BUTTON' %}" />
      <a class="pulldown FL">{% trans 'HEADER-SEARCH-ADVANCED' %}</a>
    </div>
    {% endcomment %}

    <!-- ODS Button -->
    <a id="id_openDataSiteButton" href="http://{{ preference.account_domain }}" target="_blank" class="button alpha small FL" title="{% trans 'HEADER-ODS-BUTTON' %}">
      {% trans 'HEADER-ODS-BUTTON' %}
    </a>

    <!-- My Account Tab -->
    <div class="tab has-separator pulldown FR">
      <a href="{% url 'accounts.my_account' %}" title="{{auth_manager.nick}}">
        <span class="img clearfix">{% gravatar auth_manager "small" "" %}</span>
        <strong>{{auth_manager.nick}}</strong>
      </a>
      <div class="submenu border-box" style="display:none;">
          <ul>
            {% if 'workspace.can_access_ops' in auth_manager.privileges %}
            {% endif %}
            <li><a href="{% url 'accounts.my_account' %}" title="{% trans 'HEADER-ACCOUNTDETAILLS-TEXT' %}">{% trans "HEADER-ACCOUNTDETAILLS-TEXT" %}</a></li>
            <li><a id="id_sign_out" href="/signout" title="{% trans 'HEADER-SIGNOUT-TEXT' %}">{% trans "HEADER-SIGNOUT-TEXT" %}</a></li>
          </ul>
      </div>
    </div>

  </div>

</header>