{% load i18n staticfiles plugins %}

<nav class="main-navigation border-box collapsed">
  <ul>

    <!-- Home -->
    <li id="id_home_option">
      <a href="/welcome" class="button primary nav-home">
        <span class="icon icon-home"></span>{% trans 'APP-HOME-TEXT' %}
      </a>
    </li>

    <!-- Datasets -->
    <li id="id_datasets_option" class="has-submenu">
      <a href="{% url 'manageDatasets.index' %}" class="button primary nav-datasets">
        <span class="icon icon-datasets"></span>{% trans 'APP-DATASETS-TEXT' %}
      </a>
      <ul class="submenu">
        <li class="submenu-header"><a>{% trans 'APP-DATASETS-TEXT' %}</a></li>
        <li>
          <a title="Lista">Listado</a>
        </li>
        <li>
          <a class="no-link">Nuevo</a>
          <ul>
            <li><a>Desde archivo</a></li>
            <li><a>Desde URL o sitio web</a></li>
            <li><a>Desde servicio web</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- Data Views -->
    <li id="id_dataviews_option" class="has-submenu">
      <a href="{% url 'manageDataviews.index' %}" class="button primary nav-dataviews ">
        <span class="icon icon-dataviews"></span>{% trans 'APP-DATAVIEWS-TEXT' %}
      </a>
      <ul class="submenu">
        <li class="submenu-header">
          <a>{% trans 'APP-DATAVIEWS-TEXT' %}</a>
        </li>
        <li>
          <a title="Lista">Listado</a>
        </li>
        <li>
          <a title="{% trans 'APP-ADDNEWDATAVIEW-TEXT' %}">Nueva</a>
        </li>
      </ul>
    </li>

    <!-- Visualizations -->
    <li id="id_visualizations_option" class="has-submenu">
      <a href="{% url 'manageVisualizations.index' %}" class="button primary nav-visualizations">
        <span class="icon icon-visualizations"></span>{% trans 'APP-VISUALIZATIONS-TEXT' %}
      </a>
      <ul class="submenu">
        <li class="submenu-header"><a>{% trans 'APP-VISUALIZATIONS-TEXT' %}</a></li>
        <li>
          <a title="Lista">Listado</a>
        </li>
        <li>
          <a title="{% trans 'APP-ADDNEWVISUALIZATION-TEXT' %}">Nueva</a>
        </li>
      </ul>
    </li>

    <!-- Top Nav items from plugins -->
    {% get_plugins core.plugins.DatalPluginPoint as plugins %}
    {% for plugin in plugins %}
      {% if plugin.is_active and plugin.top_nav %}
        {% autoescape off %}
          {{ plugin.top_nav }}
        {% endautoescape %}
      {% endif %}
    {% endfor %}

  </ul>

  <ul class="bottom-navigation">
    <!-- Bottom Nav items from plugins -->
    {% get_plugins core.plugins.DatalPluginPoint as plugins %}
    {% for plugin in plugins %}
      {% if plugin.is_active and plugin.bottom_nav %}
        {% autoescape off %}
          {{ plugin.bottom_nav }}
        {% endautoescape %}
      {% endif %}
    {% endfor %}

    {% if 'workspace.can_access_admin' in auth_manager.privileges %}
    <!-- Settings -->
    <li id="id_settings_option" class="has-submenu bottom-submenu">
      <a href="{% url 'admin_manager.action_info' %}" class="button primary nav-settings"><span class="icon icon-settings"></span>{% trans 'APP-SETTINGS-TEXT' %}</a>
      <ul class="submenu">
        <li class="submenu-header"><a>{% trans 'APP-SETTINGS-TEXT' %}</a></li>
        <li><a>{% trans 'ACCOUNT-ACCOUNTINFORMATION-TEXT' %}</a></li>
        <li><a>{% trans 'ACCOUNT-USERS-TAB' %}</a></li>
        <li><a>{% trans 'APP-BRANDING-TEXT' %}</a></li>
        <li><a>{% trans 'APP-SOCIAL-TEXT' %}</a></li>
        <li><a>{% trans 'ACCOUNT-DOMAINSETTINGS-TAB' %}</a></li>
        <li><a>{% trans 'ACCOUNT-CATEGORIES-TAB' %}</a></li>
        <li><a>{% trans 'ACCOUNT-HOME-TAB' %}</a></li>
      </ul>
    </li>
    {% endif %}

    <li class="footer">&copy; 2009-{%now "Y" %}, <a href="http://www.datal.org" title="DATAL" target="_blank">DATAL</a></li>

  </ul>
</nav>
