<td class="viewInfo {% if revision.type == 'DT'%}ic_Dset{%endif%}{% if revision.type == 'DS'%}ic_Data{%endif%}{%if revision.type == 'DB'%}ic_Dashboard {%endif%}{%if revision.type == 'CHART'%}ic_Chart{%endif%}">
    <a href="{{revision.permalink}}" target="_blank" ><strong>{{revision.title}}</strong></a>
            {% if revision.account_name %}<span class='sep'> | </span>  {{ revision.account_name }} {% endif %}
            <span class='sep'> | </span>  {{ revision.category }}
</td>
<td class="date" data-sort-value="{{ revision.created_at|date:"U" }}">
    <span class="longDateFormat">
    {{revision.created_at|date:"DATE_FORMAT"}}
    </span>
</td>
