{% load i18n core_components components %}
<!-- EMBED DataStream-->
{% overlay id_add_and_embed %}
    <div class="embedPopup">
        <div class="In clearfix">
          <h4>{% trans "APP-EMBED-TEXT" %}</h4>
          <h5><strong>{% trans "OVERLAY-DSEMBED-TITLE" %}</strong></h5>
          <p>{% trans "OVERLAY-DSEMBED-TIP" %}.</p>
          <div class="form clearfix">
            <form action="" novalidate>
                <table class="ao-dialogue">
                    <tr>
                        <td>
                            <textarea id="id_embedDataserviceTextarea" cols="" rows="" readonly="readonly">&lt;iframe title="" width="400" height="175" src="" frameborder="0" style="border:1px solid #E2E0E0;padding:0;margin:0;"&gt;&lt;/iframe&gt;&lt;p style="padding:3px 0 15px 0;margin:0;font:11px arial, helvetica, sans-serif;color:#999;"&gt;{% trans "APP-POWEREDBY-TEXT" %} &lt;a href="http://www.datal.org" title="DATAL &middot; Discovering Data" style="color:#0862A2"&gt;DATAL&lt;/a&gt;&lt;/p&gt;</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="id_embedWidth">{% trans "APP-WIDTH-TEXT" %}:</label>
                            <input id="id_embedWidth" name="id_embedWidth" type="text" size="3" value="400" title="Enter width value"/>
                            <label for="id_embedHeight">{% trans "APP-HEIGHT-TEXT" %}:</label>
                            <input id="id_embedHeight" name="id_embedHeight" type="text" size="3" value="175" title="Enter height value"/>
                            <label for="id_embedHeadersRows">{% trans "APP-FREEZE-TEXT" %}</label>
                            <input id="id_embedHeadersRows" name="embedHeadersRows" type="text" size="3" value="0" title="Enter the number of rows to freeze" style="width:12px;"/>
                            <label for="id_embedHeadersRows">{% trans "APP-ROWS-TEXT" %}</label>
                            
                            <!--<label for="id_embedColumns">{% trans "APP-FREEZE-TEXT" %}</label>
                            <input id="id_embedColumns" name="embedColumns" type="text" size="3" value="0" title="Enter the number of columns to freeze" style="width:12px;"/>
                            <label for="id_embedColumns">{% trans "APP-COLUMNS-TEXT" %}</label>-->
                        </td>
                    </tr>
                </table>
            </form>
          </div>
        </div>
    </div>
{% endoverlay%}
{% include "embed_code/embedCode.html" %}

<!-- MAXIMIZE -->
<div id="id_dataService_scroll_container" class="maximizeBar DN">
    <div class="innerBar">
        <div class="titleBar clearfix">
            <h6 class="FL">{% trans "OVERLAY-MAXIMIZE-TIP" %}:</h6>
            <a id="id_maximizeDashboardCloseAll" href="javascript:;" title="{% trans 'APP-CLOSEALL-TEXT' %}" class="ic_Close FR"><span class="DN">{% trans "APP-CLOSEALL-TEXT" %}</span></a>
        </div>
        <div class="scrollContainer clearfix">
            <div class="buttonMove buttonMoveLeft">
                <a class="prev browse left" href="javascript:;" title="{% trans 'APP-PREVIOUS-TEXT' %}"><span class="DN">{% trans "APP-PREVIOUS-TEXT" %}</span></a>
            </div>
            <div class="scrollableDS">
                <div class="items Carousel favouriteCarousel clearfix">
                </div>
            </div>
            <div class="buttonMove buttonMoveRight">
                <a class="next browse right" href="javascript:;" title="{% trans 'APP-NEXT-TEXT' %}"><span class="DN">{% trans "APP-NEXT-TEXT" %}</span></a>
            </div>
        </div>
    </div>
</div>

<!-- GUID DASHBOARD CONTAINER -->
{% overlay id_guidDashboardContainer %}
    <div class="overlayGUID">
        <div class="In clearfix">
            <h4>{% trans "APP-GETGUID-TEXT" %}</h4>
            <p class="text"></p>
            <div class="key">{{dashboard.dashboard_guid}}</div>
            <p class="tip"></p>
        </div>
    </div>
{% endoverlay %}

<!-- GOOGLE SPREADSHEET DATA STREAM -->
{% overlay id_googleSpreadsheetsDatastreamContainer %}
  <div class="In clearfix">
    <h4>{% trans "DSDET-GOOGLESPREADSHEETS-TITLE" %}</h4>
    <h5><strong>{% trans "DSDET-GOOGLESPREADSHEETS-SUBTITLE" %}</strong></h5>
    <p>{% trans "DSDET-GOOGLESPREADSHEETS-CONTENT" %}.</p>
    <div class="form clearfix">
      <form action="#" novalidate>
        <table class="ao-dialogue">
          <tr>
            <td>
              <input id="id_googleSpreadsheetDataStreamInput" readonly="readonly" style="width: 400px;" value="" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
{% endoverlay %}

{% privateDashboardShareForm dashboard.dashboard_id auth_manager %}
