{% load i18n %}
{% load extra_tags %}

{% block pre_dataservices %}
{% endblock %}

{%for dashboard_dataservice in dashboard_dataservices%}
    <div id="id_maximized_dashboard_dataservice_{{forloop.counter0}}" style="display:none;"></div>
    {% block pre_dataservice %}
    {% endblock %}
    <div id="id_dashboard_dataservice_container_{{forloop.counter0}}" class="ao-draggable-dashboard-dataservice-container">
        <div id="id_dashboard_dataservice_toolbar_{{forloop.counter0}}" class="dataStreamDrag toolbar clearfix" rel="#id_dashboard_dataservice_container_{{forloop.counter0}}">
            {% block toolbar %}
            {% endblock %}
         </div>
        <div class="dataStreamContainer" id="id_dashboard_dataservice_{{forloop.counter0}}">
            {{dashboard_dataservice.html|safe}}
        </div>
        <div class="dataStreamActions bottomActions" style="display:none;">
            <div class="actionsInner toolbar clearfix">
            {% if dashboard_dataservice.can_view %}
                {% block datastream_actions %}
                {% endblock %}
            {% endif %}
            </div>
        </div>
        {% if dashboard_dataservice.dataservice_sources %}
        <div id="id_dashboard_dataservice_goToSource_{{forloop.counter0}}" class="gotosource">
            <div class="gotosourceInner">
                <span>{% trans "APP-SOURCES-TEXT" %}:</span>
                {% for source in dashboard_dataservice.dataservice_sources %}
                    <a href="{{source.url|addhttp}}" target="_blank" title="{{source.name}}">{{source.name}}</a>{% if not forloop.last %}<em class="comma">, </em>{% endif %}
                {%endfor%}
            </div>
            <span class="transparency">&nbsp;</span>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        var lDashboardDataserviceContainer = $("#id_dashboard_dataservice_container_{{forloop.counter0}}")[0];
        jQuery.data(lDashboardDataserviceContainer, "index", "{{forloop.counter0}}");
        jQuery.data(lDashboardDataserviceContainer, "dashboard_dataservice_id", "{{dashboard_dataservice.dashboard_dataservice_id}}");
        {% if dashboard_dataservice.sov_id %}
            jQuery.data(lDashboardDataserviceContainer, "isChart", true);
            jQuery.data(lDashboardDataserviceContainer, "sov_id", "{{dashboard_dataservice.sov_id}}");
            jQuery.data(lDashboardDataserviceContainer, "sov_revision_id", "{{dashboard_dataservice.sov_revision_id}}");
            jQuery.data(lDashboardDataserviceContainer, "sov_impl_details", '{{dashboard_dataservice.sov_impl_details|escapejs }}');
            jQuery.data(lDashboardDataserviceContainer, "datastream_permalink", "{{base_uri}}/visualizations/{{dashboard_dataservice.sov_id}}/{{dashboard_dataservice.slug}}/{% if dashboard_dataservice.dataservice_end_point %}?_={{dashboard_dataservice.dataservice_end_point|escapejs}}{% endif %}");
            jQuery.data(lDashboardDataserviceContainer, "dataservice_embed_url", "{{base_uri}}{% url "chart_manager.action_embed" dashboard_dataservice.guid %}?height=0&width=0{{dashboard_dataservice.dataservice_end_point|escapejs}}");
        {% else %}
            jQuery.data(lDashboardDataserviceContainer, "isChart", false);
            jQuery.data(lDashboardDataserviceContainer, "sov_id", "");
            jQuery.data(lDashboardDataserviceContainer, "sov_revision_id", "");
            jQuery.data(lDashboardDataserviceContainer, "sov_impl_details", "");
            jQuery.data(lDashboardDataserviceContainer, "datastream_permalink", "{{base_uri}}{{dashboard_dataservice.permalink}}{% if dashboard_dataservice.dataservice_end_point %}?_={{dashboard_dataservice.dataservice_end_point|escapejs}}{% endif %}");
            jQuery.data(lDashboardDataserviceContainer, "dataservice_embed_url", "{{base_uri}}{% url "datastream_manager.embed" dashboard_dataservice.guid %}?header_row=0&fixed_column=0{{dashboard_dataservice.dataservice_end_point|escapejs}}");
        {%endif%}
        jQuery.data(lDashboardDataserviceContainer, "can_view", {{dashboard_dataservice.can_view|default:"false"|lower}});
        jQuery.data(lDashboardDataserviceContainer, "dataservice_id", "{{dashboard_dataservice.dataservice_id}}");
        jQuery.data(lDashboardDataserviceContainer, "datastreamrevision_id", "{{dashboard_dataservice.datastreamrevision_id}}");
        jQuery.data(lDashboardDataserviceContainer, "dataservice_title", "{{dashboard_dataservice.dataservice_title}}");
        jQuery.data(lDashboardDataserviceContainer, "dataservice_description", '{{dashboard_dataservice.dataservice_description}}');
        jQuery.data(lDashboardDataserviceContainer, "dataservice_guid", "{{dashboard_dataservice.guid}}");
        jQuery.data(lDashboardDataserviceContainer, "dataservice_end_point", "{{dashboard_dataservice.dataservice_end_point|escapejs}}");
        jQuery.data(lDashboardDataserviceContainer, "dataservice_parameters", "{% for parameter in dashboard_dataservice.dataservice_parameters %}{% if not forloop.first %},{% endif %}{{parameter.name}}{%endfor%}");
        jQuery.data(lDashboardDataserviceContainer, "datasource_end_point", "{{dashboard_dataservice.datasource_end_point|escapejs}}");
        jQuery.data(lDashboardDataserviceContainer, "user_nick", "{{dashboard_dataservice.user_nick}}");
        jQuery.data(lDashboardDataserviceContainer, "short_url", false);
        jQuery.data(lDashboardDataserviceContainer, "user_email", "{{dashboard_dataservice.user_email|md5}}");
        jQuery.data(lDashboardDataserviceContainer, "created_at", "{{dashboard_dataservice.dataservice_created_at|timesince }}");
        jQuery.data(lDashboardDataserviceContainer, "dataservice_category_name", "{{dashboard_dataservice.category_name}}");
        jQuery.data(lDashboardDataserviceContainer, "datastream_html_link", "{{base_uri}}{% url "datastream_manager.html" dashboard_dataservice.dataservice_id dashboard_dataservice.slug %}{% if dashboard_dataservice.dataservice_end_point %}?_={{dashboard_dataservice.dataservice_end_point|escapejs}}{% endif %}");
        jQuery.data(lDashboardDataserviceContainer, "base_uri", "{{base_uri}}");
    </script>
{%endfor%}
