{% extends "dashboard_manager/dashboardDataServicesList.html" %}
{% load i18n extra_tags %}

{% block pre_dataservice %}
    <div id="id_droppable_dashboard_dataservice_container_{{forloop.counter0}}" data="{{forloop.counter0}}" rel="#id_dashboard_dataservice_container_{{forloop.counter0}}" class="Drop"><div><span>{% trans "APP-DROPHERE-TEXT" %}</span></div></div>
{% endblock %}

{% block toolbar %}
    {% if dashboard_dataservice.sov_id %}
        <div class="FR">
            <a href="javascript:;" id="id_maximizeDashboardDataServiceButton_{{forloop.counter0}}" rel="#id_dashboard_dataservice_{{forloop.counter0}}" title="{% trans 'APP-MAXIMIZE-TEXT' %}" class="Icon FR ic_Maximize"><span class="DN">{% trans "APP-MAXIMIZE-TEXT" %}</span></a>
            <span class="Sep FR"><span class="DN">|</span></span>

            <a href="javascript:;" id="id_refreshChartButton_{{forloop.counter0}}" title="{% trans 'APP-RELOAD-TEXT' %}" class="Icon FR ic_Refresh"><span class="DN">{% trans "APP-RELOAD-TEXT" %}</span></a>
        </div>
    {% else %}
    <div class="FR">

        <a href="javascript:;" id="id_maximizeDashboardDataServiceButton_{{forloop.counter0}}" rel="#id_dashboard_dataservice_{{forloop.counter0}}" title="{% trans 'APP-MAXIMIZE-TEXT' %}" class="Icon FR ic_Maximize"><span class="DN">{% trans "APP-MAXIMIZE-TEXT" %}</span></a>
        <span class="Sep FR"><span class="DN">|</span></span>

        <a href="javascript:;" id="id_resetDashboardDataServiceButton_{{forloop.counter0}}" title="{% trans 'APP-RELOAD-TEXT' %}" class="Icon FR ic_Refresh"><span class="DN">{% trans "APP-RELOAD-TEXT" %}</span></a>

    </div>
    {% endif %}
{% endblock %}

{% block datastream_actions %}
    {% if dashboard_dataservice.sov_id %}

        {% if dashboard_dataservice.datastream_type == 'URL' %}
            {% if not dashboard_dataservice.is_private %}
            <!-- COLLECTED FROM URL -->
            <div class="collectedFrom toolbar FL clearfix">
                <a id="id_gotosource" href="{{dashboard_dataservice.datasource_end_point}}" target="_blank" rel="nofollow" title="{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}: {{dashboard_dataservice.datasource_end_point}}" class="Icon ic_CollectedFrom FL"><span class="DN">{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}</span></a>
            </div>
            <div class="sep FL"><span class="DN">|</span></div>
            {% endif %}
        {% endif %}

        {% if dashboard_dataservice.datastream_type == 'SELF PUBLISH' %}
            <!-- COLLECTED FROM SELF PUBLISHING -->
            <div class="collectedFrom noHover toolbar FL clearfix">
                <span title="{% trans 'APP-USERUPLOAD-TEXT' %}" class="Icon ic_File FL"><span class="DN">{% trans "APP-USERUPLOAD-TEXT" %}</span></span>
            </div>
            <div class="sep FL"><span class="DN">|</span></div>
            <!-- DOWNLOAD -->
            <!--<div class="collectedFrom toolbar FL clearfix">
                <a id="id_downloadLink" href="" target="_blank" rel="nofollow" title="{% trans 'APP-DOWNLOADDATASET-TEXT' %}" class="Icon ic_Download FL"><span class="DN">{% trans 'APP-DOWNLOADDATASET-TEXT' %}</span></a>
            </div>
            <div class="sep FL"><span class="DN">|</span></div>-->
        {% endif %}

        {% if dashboard_dataservice.datastream_type == 'WEBSERVICE' %}
            <!-- COLLECTED FROM SOAP -->
            <div class="collectedFrom noHover toolbar FL clearfix">
                <span title="{% trans 'APP-SOAP-TEXT' %}" class="Icon ic_SOAP FL"><span class="DN">{% trans "APP-SOAP-TEXT" %}</span></span>
            </div>
            
            <div class="sep FL"><span class="DN">|</span></div>
        {% endif %}

        <!-- CACHE NOTIFICATION -->
        <div id="id_notification_{{forloop.counter0}}" style="display:none;" class="cacheNotification toolbar FL relative">
            <span id="id_notificationMessage_{{forloop.counter0}}" class="FL"></span>
            <span class="sep FL"><span class="DN">|</span></span>
        </div>

        <!-- ACTIONS MENU -->
        <div class="actionsMenu relative FR">
            <a href="javascript:;" id="id_menuDashboardDataServiceButton_{{forloop.counter0}}" class="Icon FR ic_Menu" title="{% trans 'APP-ACTIONS-TEXT' %}" rel="nofollow"><span>{% trans "APP-ACTIONS-TEXT" %}</span></a>
            <div class="dashboard-dataservice-tooltip" id="id_tooltipDashboardDataServiceButton_{{forloop.counter0}}">
                <div class="menuInner">
                    <ul class="In">
                        <li class="J"><a href="javascript:;" title="{% trans 'APP-ACTIONS-TEXT' %}" class="Icon FR ic_Menu open" rel="nofollow"><span>{% trans "APP-ACTIONS-TEXT" %}</span></a></li>
                        {% if not is_private_site %}
                        <li class="Item"><a href="javascript:;" id="id_embedChartButton_{{forloop.counter0}}" title="{% trans 'DBMAN-CHARTEMBED-TITLE' %}" class="Icon ic_AddEmbed" rel="nofollow">{% trans "APP-GETEMBEDCODE-TEXT" %}</a></li>
                        {% endif %}
                        {% if can_export %}
                        <li class="Item"><a href="{% url "datastream_manager.action_csv" dashboard_dataservice.dataservice_id dashboard_dataservice.slug %}" id="id_exportToCSV_{{forloop.counter0}}" title="{% trans 'APP-EXPORTDS-TITLE' %}" class="Icon ic_CSV" rel="nofollow">{% trans "APP-EXPORTDS-TEXT" %}</a></li>
                        <li class="Item"><a href="{% url "datastream_manager.action_xls" dashboard_dataservice.dataservice_id dashboard_dataservice.slug %}" id="id_exportToXLS_{{forloop.counter0}}" title="{% trans 'APP-EXPORTDS-XLS' %}" class="Icon ic_XLS" rel="nofollow">{% trans "APP-EXPORTDS-XLS" %}</a></li>                        
                        {% endif %}
                        <li class="Item"><a href="javascript:;" id="id_guidDataStreamButton_{{forloop.counter0}}" title="{% trans 'DB-DSGUID-GETGUID' %}" class="Icon ic_GUID" rel="nofollow"><span>{% trans "APP-GETGUID-TEXT" %}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% if preferences.account_enable_sharing %}
            <div class="sep FR"><span class="DN">|</span></div>
            <!-- SHARE MENU -->
            <div class="shareMenu relative FR">
                <a href="javascript:;" id="id_menuShareDataServiceButton_{{forloop.counter0}}" class="Icon FR ic_Menu" title="{% trans 'DSDET-SHARE-TITLE' %}"><span>{% trans "APP-SHARE-TEXT" %}</span></a>
                <div class="dashboard-dataservice-tooltip" id="id_tooltipShareDataServiceButton_{{forloop.counter0}}">
                    <div class="menuInner">
                        <ul class="In share">
                            <li class="J"><a href="javascript:;" title="{% trans 'APP-SHARE-TEXT' %}" class="Icon FR ic_Menu open"><span>{% trans "APP-SHARE-TEXT" %}</span></a></li>
                            <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?send=false&amp;layout=button_count" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe></li>
                            <li class="twitter"><iframe allowtransparency="true" frameborder="0" scrolling="no" data-src="http://platform.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=en&amp;text={{dashboard_dataservice.dataservice_title|urlencode}}%20%7C%20{{dashboard_dataservice.dataservice_subtitle|urlencode}}%22&amp;url={{settings.BASE_URI}}{{dashboard_dataservice.permalink|twitterUrlEncode}}&amp;via=Junar&amp;counturl={{settings.BASE_URI}}{{dashboard_dataservice.permalink|twitterUrlEncode}}" style="width:130px; height:20px;"></iframe></li>
                            <li class="google"></li>
                            <li class="linkedin"></li>
                            <li class="url"><input type="text" value="" class="share_url_input" readonly="readonly"/></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sep FR"><span class="DN">|</span></div>
        {% endif %}
    {% else %}

        {% if dashboard_dataservice.datastream_type == 'URL' %}
            {% if not dashboard_dataservice.is_private %}
            <!-- COLLECTED FROM URL -->
            <div class="collectedFrom toolbar FL clearfix">
                <a id="id_gotosource" href="{{dashboard_dataservice.datasource_end_point}}" target="_blank" rel="nofollow" title="{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}: {{dashboard_dataservice.datasource_end_point}}" class="Icon ic_CollectedFrom FL"><span class="DN">{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}</span></a>
            </div>
            <div class="sep FL"><span class="DN">|</span></div>

            <!--<div class="collectedFrom toolbar FL clearfix">
                <a id="id_downloadLink" href="" target="_blank" rel="nofollow" title="{% trans 'APP-DOWNLOADDATASET-TEXT' %}" class="Icon ic_Download FL"><span class="DN">{% trans 'APP-DOWNLOADDATASET-TEXT' %}</span></a>
            </div>
            <div class="sep FL"><span class="DN">|</span></div>-->
            {% endif %}
        {% endif %}

        {% if dashboard_dataservice.datastream_type == 'SELF PUBLISH' %}
            <!-- COLLECTED FROM SELF PUBLISHING -->
            <div class="collectedFrom noHover toolbar FL clearfix">
                <span title="{% trans 'APP-USERUPLOAD-TEXT' %}" class="Icon ic_File FL"><span class="DN">{% trans "APP-USERUPLOAD-TEXT" %}</span></span>
            </div>
            <div class="sep FL"><span class="DN">|</span></div>
            <!-- DOWNLOAD -->
            <!--<div class="collectedFrom toolbar FL clearfix">
                <a id="id_downloadLink" href="" target="_blank" rel="nofollow" title="{% trans 'APP-DOWNLOADDATASET-TEXT' %}" class="Icon ic_Download FL"><span class="DN">{% trans 'APP-DOWNLOADDATASET-TEXT' %}</span></a>
            </div>
            <div class="sep FL"><span class="DN">|</span></div>-->
        {% endif %}

        {% if dashboard_dataservice.datastream_type == 'WEBSERVICE' %}
            <!-- COLLECTED FROM SOAP -->
            <div class="collectedFrom noHover toolbar FL clearfix">
                <span title="{% trans 'APP-SOAP-TEXT' %}" class="Icon ic_SOAP FL"><span class="DN">{% trans "APP-SOAP-TEXT" %}</span></span>
            </div>
            
            <div class="sep FL"><span class="DN">|</span></div>
        {% endif %}

        <!-- CACHE NOTIFICATION -->
        <div id="id_notification_{{forloop.counter0}}" style="display:none;" class="cacheNotification toolbar FL relative">
            <span id="id_notificationMessage_{{forloop.counter0}}" class="FL"></span>
            <span class="sep FL"><span class="DN">|</span></span>
        </div>

        <!-- ACTIONS MENU -->
        <div class="actionsMenu relative FR">
            <a href="javascript:;" id="id_menuDashboardDataServiceButton_{{forloop.counter0}}" class="Icon FR ic_Menu" title="{% trans 'APP-ACTIONS-TEXT' %}"><span>{% trans "APP-ACTIONS-TEXT" %}</span></a>
            <div class="dashboard-dataservice-tooltip" id="id_tooltipDashboardDataServiceButton_{{forloop.counter0}}">
                <div class="menuInner">
                    <ul class="In">
                        <li class="J"><a href="javascript:;" title="{% trans 'APP-ACTIONS-TEXT' %}" class="Icon FR ic_Menu open" rel="nofollow"><span>{% trans "APP-ACTIONS-TEXT" %}</span></a></li>
                            {% if can_export %}
                            <li class="Item"><a href="{% url "datastream_manager.action_csv" dashboard_dataservice.dataservice_id dashboard_dataservice.slug %}{% if dashboard_dataservice.dataservice_end_point %}?_={{dashboard_dataservice.dataservice_end_point}}{% endif %}" id="id_exportToCSV_{{forloop.counter0}}" title="{% trans 'APP-EXPORTDS-TITLE' %}" class="Icon ic_CSV" rel="nofollow">{% trans "APP-EXPORTDS-TEXT" %}</a></li>
                            <li class="Item"><a href="{% url "datastream_manager.action_xls" dashboard_dataservice.dataservice_id dashboard_dataservice.slug %}{% if dashboard_dataservice.dataservice_end_point %}?_={{dashboard_dataservice.dataservice_end_point}}{% endif %}" id="id_exportToXLS_{{forloop.counter0}}" title="{% trans 'APP-EXPORTDS-XLS' %}" class="Icon ic_XLS" rel="nofollow">{% trans "APP-EXPORTDS-XLS" %}</a></li>                            
                            {% endif %}
                            {% if not dashboard_dataservice.is_private %}
                            <li class="Item"> <a href="javascript:;" id="id_addEmbedDataServiceButton_{{forloop.counter0}}" title="{% trans 'DSDET-EMBED-TITLE' %}" class="Icon ic_AddEmbed" rel="nofollow"><span>{% trans "APP-GETEMBEDCODE-TEXT" %}</span></a></li>
                            {% endif %}
                            <li class="Item"><a href="javascript:;" id="id_guidDataStreamButton_{{forloop.counter0}}" title="{% trans 'DB-DSGUID-GETGUID' %}" class="Icon ic_GUID" rel="nofollow"><span>{% trans "APP-GETGUID-TEXT" %}</span></a></li>
                            {% if not dashboard_dataservice.is_private %}
                                <li class="Item"> <a href="javascript:;" id="id_googlespreadsheetDataStreamButton_{{forloop.counter0}}" title="{% trans 'APP-GOOGLESPREADSHEETS-TITLE' %}" class="Icon ic_GoogleDocs" rel="nofollow">{% trans "DSDET-GOOGLESPREADSHEETS-TITLE" %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            
            {% if not dashboard_dataservice.is_private and preferences.account_enable_sharing %}
                <div class="sep FR"><span class="DN">|</span></div>
                <!-- SHARE MENU -->
                <div class="shareMenu relative FR">
                    <a href="javascript:;" id="id_menuShareDataServiceButton_{{forloop.counter0}}" class="Icon FR ic_Menu" title="{% trans 'DSDET-SHARE-TITLE' %}"><span>{% trans "APP-SHARE-TEXT" %}</span></a>
                    <div class="dashboard-dataservice-tooltip" id="id_tooltipShareDataServiceButton_{{forloop.counter0}}">
                        <div class="menuInner">
                            <ul class="In share">
                                <li class="J"><a href="javascript:;" title="{% trans 'APP-SHARE-TEXT' %}" class="Icon FR ic_Menu open"><span>{% trans "APP-SHARE-TEXT" %}</span></a></li>
                                <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?send=false&amp;layout=button_count" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe></li>
                                <li class="twitter"><iframe allowtransparency="true" frameborder="0" scrolling="no" data-src="http://platform.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=en&amp;text={{dashboard_dataservice.dataservice_title|urlencode}}%20%7C%20{{dashboard_dataservice.dataservice_subtitle|urlencode}}%22&amp;url={{settings.BASE_URI}}{{dashboard_dataservice.permalink|twitterUrlEncode}}&amp;via=Junar&amp;counturl={{settings.BASE_URI}}{{dashboard_dataservice.permalink|twitterUrlEncode}}" style="width:130px; height:20px;"></iframe></li>
                                <li class="google"></li>
                                <li class="linkedin"></li>
                                <li class="url"><input type="text" value="" class="share_url_input" readonly="readonly"/></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sep FR"><span class="DN">|</span></div>
            {% endif %}

    {% endif %}
{% endblock %}
