{% load i18n %}
<form id="id_favouriteDashboardsSearchForm" action="" method="post" novalidate>
    <input id="id_favourite_dashboards_action" name="favourite_dashboards_action" type="hidden" value=""/>
    <div id="id_search_favourite_dashboards_container" class="clearfix">
        <div id="id_favourite_dashboards_container" class="dashboardTabsContainer clearfix">
            <ul class="tabsList" id="sortable">
                {% for featured_dashboard in featured_dashboards %}
                    <li id="id_favourite_dashboard_container_{{forloop.counter0}}" rel="#id_favourite_dashboard_container_{{forloop.counter0}}" class="tab FL myDashboardTab">
                        <div class="clearfix">
                            <a href="{{featured_dashboard.permalink}}" id="id_maximizeFavouriteDashboardButton_{{forloop.counter0}}" title="{% trans 'FAVDB-TAB-TIP' %}" class="handle">
                            {{featured_dashboard.title}}
                            </a>
                        </div>
                        <script type="text/javascript">
                        var $favouriteDashboardContainer = $("#id_favourite_dashboard_container_{{forloop.counter0}}");
                        $favouriteDashboardContainer.data("index", "{{forloop.counter0}}");
                        $favouriteDashboardContainer.data("dashboard_id", "{{featured_dashboard.id}}");
                        </script>
                    </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</form>