/*** Variables ***/

/* Logo */

	/* Signin logo */
	$logo-signin-url:"../images/common/logo_datal_signin_color.png";			/* URL of logo for Sign in page. Recommended size: 132x70 px */
	$logo-signin-svg-url:"../images/common/logo_datal_signin_color.svg";			/* URL of logo for Sign in page. Recommended size: 132x70 px */
	$logo-signin-height:100px;													/* Height of image */

	/* Header bar logo */
	$logo-header-url:"../images/common/lg_datal.png";			/* PNG - URL of logo for Workspace header. Area to work: 200x46 px */
	$logo-header-svg-url:"../images/common/lg_datal.svg";     /* SVG - URL of logo for Workspace header. Area to work: 200x46 px */
	$header-height: 46px;

/* Nav */
$nav-width: 200px;
$nav-bg: #232831;
$nav-text: #fff;
$nav-hover-text: #fff;
$nav-hover-bg: #0766cc;
$nav-active-text: #232831;
$nav-active-bg: #fff;
$nav-collapsed-width: 54px;

/* Branding */

	/* Brand color */
	$brand-color:#fbfaf5;														/* Brand primary color */

	/* Accent color */
	$accent-color:#0066cc;														/* Brand secondary color */
	$accent-shine:#0066ff;														/* Brand secondary color :hover */

	/* Base color */
	$color-base:#fff;														/* Color for backgrounds */
	$color-base-light:#999;
	$color-base-extra-light:#e6e6e6;


/* Fonts */

	/* Family */
	$font-primary-family:Arial,Helvetica,sans-serif;							/* For fonts in general */
	$font-secondary-family:robotoregular,arial,helvetica,sans-serif;					/* For some subtitles */
	$font-titles-family:robotolight,Helvetica,sans-serif;							/* For titles in general */
	$font-extra-family:robotoregular,arial,helvetica,sans-serif;						/* For table titles */

	/* Size */
	$font-size-base:12px !important;											/* For body paragraphs and text in general */
	$font-size-s:11px !important;												/* For some descriptions and tips */
	$font-size-m:15px !important;												/* For subtitles */
	$font-size-l:20px !important;												/* For content titles */
	$font-size-xl:25px !important;												/* For section titles and overlay titles */

	/* Color */
	$font-color-base:#000;													/* For body paragraphs and titles */
	$font-color-supreme:#FFF;													/* For titles in general */
	$font-color-semi-light:#333;												/* For subtitles and tips */
	$font-color-light:#999;														/* For descriptions */
	$font-color-highlight:#000;												/* For titles on highlighted boxes */

	/* Links */
	$link-color:#0066cc;														/* Color for links */
	$link-hover-color:#0066ff;														/* Hover Color for links */

/* Nav icons */
$nav-icon-color:#d3d3d3;														/* Color for nav icons */
$nav-icon-color-hover:#00d67e;													/* Color for nav icons on :hover */


/* Buttons */

	/* Primary button */
	$button-primary-color:#0066cc;												/* Primary button color */
	$button-primary-hover-color:#0066ff;										/* Primary button Hover color */
	$button-primary-text-color: #fff; 											/* Primary button text color */


/* Buttons bar */																/* Buttons bar for create resources sections */
$buttons-bar-color-text:#FFF;													/* Font color of button */


/* Backgrounds */
$background-color-highlight:#e5e9ec;											/* Color for backgrounds on highlighted boxes */
$background-color-remember-me:#dae0e5;											/* Color for backgrounds on remember tips */
$background-color-list:#f2f2f2;													/* Color for backgrounds on tables */


/* Forms */
$form-label-color:#3a3a3a;														/* Color for form labels */
$form-label-size:12px;															/* Size for form labels */


/* Loader */
$loader-url-dark:"../images/common/loader_datal_dark.gif";						/* URL of loader image. Background must be #393939. For sections with dark backgrounds. */
$loader-url-semi-light:"../images/common/loader_datal_semi_light.gif";			/* URL of loader image. Background must be #F6F4F4. For sections with light backgrounds. */
$loader-url-light:"../images/common/loader_datal_light.gif";					/* URL of loader image. Background must be #FFFFFF. For sections with light backgrounds. */


/* Media queries */
$break-sm:768px;
$break-md:992px;
$break-lg:1200px;


/* Colors accept / reject */
$red:#c1272d;
$red-hover:#ea3442;
$green:#009245;
$green-hover:#02c159;


/* Modal */
$modal-table-selected-color: rgba(227, 250, 41, 0.24);							/* Background color for selected data in tables */
