// /* Logo */
// $logo:

/* Color - Brand */
$color-brand:rgba(255,108,0,1);					/* Brand primary color */
$color-brand-15:rgba(255,108,0,0.15);			/* Brand color 15% opacity */
$color-brand-bold:rgba(232,100,2,1);

/* Color - Accent */
$color-accent:rgba(72,144,252,1);				/* Brand secondary color */
$color-accent-05:rgba(72,144,252,0.05);			/* Accent color 5% opacity */
$color-accent-15:rgba(72,144,252,0.15);			/* Accent color 15% opacity */
$color-accent-85:rgba(72,144,252,0.85);			/* Accent color 85% opacity */

/* Color - Text */
$color-text:#3a3a3a;							/* Content paragraphs */
$color-text-light:#999;
// $color-text-dark:

/* Color - Links */
$color-link:rgba(2,127,192,1);

// /* Color - Buttons */
// $color-brand-button-top:
// $color-brand-button-middle:
// $color-brand-button-bottom:

// $color-brand-button-hover-top:
// $color-brand-button-hover-middle:
// $color-brand-button-hover-bottom:

// $color-accent-button-top:
// $color-accent-button-middle:
// $color-accent-button-bottom:

// $color-accent-button-hover-top:
// $color-accent-button-hover-middle:
// $color-accent-button-hover-bottom:

/* Font - Family */
$font-family-primary:Arial,Helvetica,sans-serif;
// $font-family-secondary:

// /* Font - Size */
// $font-size-base:
// $font-size-large:
// $font-size-small:

// $font-size-h1:
// $font-size-h2:
// $font-size-h3:
// $font-size-h4:
// $font-size-h5: