/*** Variables ***/

/* Logo */

	/* Signin logo */
	$logo-signin-url:"../images/common/logo_datal_signin_color.png" !default;			/* URL of logo for Sign in page. Recommended size: 132x70 px */
	$logo-signin-svg-url:"../images/common/logo_datal_signin_color.svg" !default;			/* URL of logo for Sign in page. Recommended size: 132x70 px */
	$logo-signin-height:100px !default;													/* Height of image */

	/* Header bar logo */
	$logo-header-url:"../images/common/lg_datal.png" !default;			/* PNG - URL of logo for Workspace header. Area to work: 200x46 px */
	$logo-header-svg-url:"../images/common/lg_datal.svg" !default;     /* SVG - URL of logo for Workspace header. Area to work: 200x46 px */
	$header-height: 46px !default;

/* Account backgrounds */
$account-bg:#232831 !default;

/* Nav */
$nav-width:200px !default;
$nav-bg:#232831 !default;
$nav-text:#fff !default;
$nav-hover-text:#fff !default;
$nav-hover-bg:#0766cc !default;
$nav-active-text:#232831 !default;
$nav-active-bg:#fff !default;
$nav-collapsed-width:54px !default;
$nav-secondary-bg:#16191f !default;
$nav-secondary-text:#999 !default;
$nav-secondary-no-link-text:#666 !default;

/* Branding */

	/* Brand color */
	$brand-color:#fbfaf5 !default;														/* Brand primary color */

	/* Accent color */
	$accent-color:#0066cc !default;														/* Brand secondary color */
	$accent-shine:#0066ff !default;														/* Brand secondary color :hover */

	/* Base color */
	$color-base:#fff !default;														/* Color for backgrounds */
	$color-base-light:#999 !default;
	$color-base-extra-light:#e6e6e6 !default;


/* Fonts */

	/* Family */
	$font-primary-family:Arial,Helvetica,sans-serif !default;							/* For fonts in general */
	$font-secondary-family:robotoregular,arial,helvetica,sans-serif !default;					/* For some subtitles */
	$font-titles-family:robotolight,Helvetica,sans-serif !default;							/* For titles in general */
	$font-extra-family:robotoregular,arial,helvetica,sans-serif !default;						/* For table titles */

	/* Size */
	$font-size-base:12px !important !default;											/* For body paragraphs and text in general */
	$font-size-s:11px !important !default;												/* For some descriptions and tips */
	$font-size-m:15px !important !default;												/* For subtitles */
	$font-size-l:20px !important !default;												/* For content titles */
	$font-size-xl:25px !important !default;												/* For section titles and overlay titles */

	/* Color */
	$font-color-base:#000 !default;													/* For body paragraphs and titles */
	$font-color-supreme:#FFF !default;													/* For titles in general */
	$font-color-semi-light:#333 !default;												/* For subtitles and tips */
	$font-color-light:#999 !default;														/* For descriptions */
	$font-color-highlight:#000 !default;												/* For titles on highlighted boxes */

	/* Links */
	$link-color:#0066cc !default;														/* Color for links */
	$link-hover-color:#0066ff !default;														/* Hover Color for links */
	$link-black-color-hover:#0066cc !default;											/* Hover Color for black links */

/* Nav icons */
$nav-icon-color:#d3d3d3 !default;														/* Color for nav icons */
$nav-icon-color-hover:#00d67e !default;													/* Color for nav icons on :hover */


/* Buttons */

	/* Primary button */
	$button-primary-color:#0066cc !default;												/* Primary button color */
	$button-primary-hover-color:#0066ff !default;										/* Primary button Hover color */
	$button-primary-text-color: #fff !default; 											/* Primary button text color */


/* Buttons bar */																/* Buttons bar for create resources sections */
$buttons-bar-color-text:#FFF !default;													/* Font color of button */


/* Backgrounds */
$background-color-highlight:#e5e9ec !default;											/* Color for backgrounds on highlighted boxes */
$background-color-remember-me:#dae0e5 !default;											/* Color for backgrounds on remember tips */
$background-color-list:#f2f2f2 !default;													/* Color for backgrounds on tables */
$background-color-danger:#fff1e3 !default;												/* Color for backgrounds danger messages */


/* Forms */
$form-label-color:#3a3a3a !default;														/* Color for form labels */
$form-label-size:12px !default;															/* Size for form labels */


/* Loader */
$loader-url-semi-light:"../images/common/loader_datal_semi_light.gif" !default;			/* URL of loader image. Background must be #F6F4F4. For sections with light backgrounds. */
$loader-url-light:"../images/common/loader_datal_light.gif" !default;					/* URL of loader image. Background must be #FFFFFF. For sections with light backgrounds. */


/* Media queries */
$break-sm:768px !default;
$break-md:992px !default;
$break-lg:1200px !default;


/* Colors accept / reject */
$red:#c1272d !default;
$red-hover:#ea3442 !default;
$green:#009245 !default;
$green-hover:#02c159 !default;


/* Modal */
$modal-table-selected-color: rgba(227, 250, 41, 0.24) !default;							/* Background color for selected data in tables */
