/*** Variables ***/

/* Logo */
$logo-signin-url:"../images/common/logo_datal_signin.png";						/* URL of logo for Sign in page. Recommended size: 132x70 px */
$logo-header-url:"../images/common/logo_datal_header.png";						/* URL of logo for Workspace header. Recommended size: 87x43 px */


/* Branding */

	/* Brand color */
	$brand-color:#333F4F;														/* Brand primary color */

	/* Accent color */
	$accent-color:#D16280;														/* Brand secondary color */

/* Fonts */

	/* Family */
	$font-primary-family:Arial,Helvetica,sans-serif;							/* For fonts in general */
	$font-secondary-family:'Roboto Condensed',arial,helvetica,sans-serif;		/* For some subtitles */
	$font-titles-family:'Roboto Condensed',Helvetica,sans-serif;				/* For titles in general */
	$font-extra-family:'Roboto Condensed',arial,helvetica,sans-serif;			/* For table titles */

	/* Size */
	$font-size-base:12px !important;											/* For body paragraphs and text in general */
	$font-size-s:11px !important;												/* For some descriptions and tips */
	$font-size-m:14px !important;												/* For subtitles */
	$font-size-l:18px !important;												/* For content titles */
	$font-size-xl:20px !important;												/* For section titles and overlay titles */

	/* Color */
	$font-color-base:#333F4F;													/* For body paragraphs and titles */
	$font-color-semi-light:#333F4F;												/* For subtitles and tips */
	$font-color-light:#999;														/* For descriptions */

	/* Links */
	$link-color:#027fc0;														/* Color for links */


/* Buttons */
$buttons-font-family:Arial,Helvetica,sans-serif;							/* Font family for all buttons */
$buttons-font-size:12px !important;												/* Font size for all buttons */

	/* Primary button */
	$button-primary-color:#93A394;												/* Background color */
	$button-primary-color-text:#FFF;											/* Font color */

	/* Warning button */
	$button-warning-color:#D16280;												/* Background color */
	$button-warning-color-text:#FFF;											/* Font color */

	/* Support button */
	$button-support-color:#717463;												/* Background color */
	$button-support-color-text:#FFF;											/* Font color */


/* Forms */
$form-label-color:#3a3a3a;														/* Color for form labels */
$form-label-size:12px;															/* Size for form labels */


/* Loader */
$loader-url-dark:"../images/common/loader_datal_dark.gif";						/* URL of loader image. Background must be #393939. For sections with dark backgrounds. */
$loader-url-light:"../images/common/loader_datal_light.gif";					/* URL of loader image. Background must be #FFFFFF. For sections with light backgrounds. */