/* Imports */
@import 'variables';
@import 'mixins';
@import 'functions';

body{font-family:$font-primary-family;color:$font-color-base;font-size:$font-size-base;}

/* Links */
a{color:$link-color;}
a:hover{color:$link-hover-color;}

/* Buttons */
.button{@include transition(all, .1s, ease-in-out);

  /* Active */
  &.active{cursor:default;@include disable-transition(none !important);}

  /* Primary button */
  &.primary{background:$button-primary-color;border-color:transparent;color:$button-primary-text-color;}
  &.primary:hover{background:$button-primary-hover-color;}

  /* Delete button */
  &.delete{background:$red;border-color:transparent;color:$button-primary-text-color;}
  &.delete:hover{background:$red-hover;}

  /* Active state - Normal and Primary */
  &:active{@include box-shadow(0 5px 5px rgba(0,0,0,.35));}

  /* Dont apply active state to these */
  &.alpha:active,
  &.more-button{@include box-shadow(0 0 0 transparent);}
  
  /* Disabled */
  &[disabled=disabled], 
  &:disabled,
  &.disabled{color:#999;cursor:default;pointer-events:none;}
  &.primary[disabled=disabled], 
  &.primary:disabled,
  &.primary.disabled{color:#fff;background:#999;cursor:default;pointer-events:none;}
  
  /* More Button */
  &.more-button{padding:0;width:48px;min-width:0;
    .icon-more{margin:0;}
  }

  @include media-query(min-width, 1250px) { 
    &{min-width:150px;}
    &.small{min-width:0;}
  }

}

/* Button pulldown */
.button-pulldown{position:relative;display:inline-block;
  & > .button.primary{@include box-shadow(0 0 0 transparent);}
  &.active{
    & > .button.primary{background-color:$button-primary-hover-color;}
  }
  .dropdown{display:none;position:absolute;top:47px;right:0;z-index:300;background:#fff;min-width:100%;
    li{border-top:1px solid #3580cc;
      &:first-child{border:0;}
      .button.primary{background-color:rgba($button-primary-color,.5);@include box-shadow(0 0 0 transparent);white-space:nowrap;width:auto;display:block;text-align:left;
        &:hover{background-color:$button-primary-hover-color;}
      }
    }
  }
}

/* More Actions */
.more-actions{
  .dropdown{border:1px solid #ccc;
    li{border-top:1px solid #ccc;
      &:first-child{border:0;}
      a.button{width:auto;min-width:120px;display:block;border:0;text-align:left;@include box-shadow(0 0 0 transparent);
        .icon{display:none;}
      }
    }
  }
  @include media-query(min-width, 1440px) { 
    .more-button{display:none;}
    .dropdown{border:0;display:block !important;position:static;
      li{border:0;float:left;margin-right:15px;
        &:last-child{margin-right:0;}
        a.button{width:48px;min-width:0;border:1px solid #ccc;text-indent:-10000px;line-height:48px;overflow:hidden;position:relative;
          .icon{display:block;width:24px;height:24px;position:absolute;top:11px;left:11px;margin:0;}
        }
      }
    }
  }
}

/* Links */
.link{font-size:12px;@include transition(all, .1s, ease-in-out);

  /* Link Back */
  &.back:before{content:"< ";}

  /* Link black */
  &.black{color:#000;font-weight:bold;
    &:hover{color:$button-primary-color;}
  }

  &.disabled,
  &:disabled{color:#999 !important;cursor:default;}

}

/* Red text, button or link - Delete / Reject */
.red,
.button.red{color:$red !important;}
a.red:hover,
.button.red:hover{color:$red-hover !important;}

/* Green text, button or link - Accept */
.green,
.button.green{color:$green !important;}
a.green:hover,
.button.green:hover{color:$green-hover !important;}

/* Context buttons */
.context-buttons > *{
  margin:0 15px 0 0;
  &.button.alpha,
  &:first-child{margin-right:0;}
}

/* Buttons Bar - only support 0 to 4 steps at the moment */
.buttons-bar{
  
  li{float:left;padding-left:25px;
    &:first-child{padding-left:0;}
    a{padding:0;font-family:$font-titles-family;line-height:normal;font-size:$font-size-xl;color:#000;cursor:default;}
    &.step0 a:before{content:"1. ";}
    &.step1 a:before{content:"2. ";}
    &.step2 a:before{content:"3. ";}
    &.step3 a:before{content:"4. ";}
    &.step4 a:before{content:"5. ";}
  }

  /* Completed steps */
  &[data-step="1"] li.step0 a,
  &[data-step="1"] li.step0 a:hover,

  &[data-step="2"] li.step0 a,
  &[data-step="2"] li.step0 a:hover,
  &[data-step="2"] li.step1 a,
  &[data-step="2"] li.step1 a:hover,

  &[data-step="3"] li.step0 a,
  &[data-step="3"] li.step0 a:hover,
  &[data-step="3"] li.step1 a,
  &[data-step="3"] li.step1 a:hover,
  &[data-step="3"] li.step2 a,
  &[data-step="3"] li.step2 a:hover,

  &[data-step="4"] li.step0 a,
  &[data-step="4"] li.step0 a:hover,
  &[data-step="4"] li.step1 a,
  &[data-step="4"] li.step1 a:hover,
  &[data-step="4"] li.step2 a,
  &[data-step="4"] li.step2 a:hover,
  &[data-step="4"] li.step3 a,
  &[data-step="4"] li.step3 a:hover{color:$green;cursor:pointer;}

}


/* Layout */
html,
body{background:$color-base;height:100%;min-width:998px;}
/* body{background-image:url(#{$loader-url-light});background-repeat:no-repeat;background-position:center center;} */

.layout{overflow:hidden;}
.workspace{padding-top:$header-height;}
.workspace,
.header{
  & > .wrapper1{padding-left:$nav-width;}
  & > .wrapper1 > .wrapper2{width:100%;}
  & > .wrapper1 > .wrapper2 > .wrapper3{width:100%;float:left;margin-left:-$nav-width;}
}
.main-navigation,
.header > .logo{width:$nav-width;float:left;height:100%;}
.main-section,
.header .global-navigation{width:100%;float:right;margin-right:-$nav-width;padding:0 2%;visibility:hidden;}
.header .global-navigation > .header-navigation,
.header .global-navigation > .global-actions{padding-top:0 !important;padding-bottom:0 !important;}
#zenbox_tab{display:none !important;}
.preview-container{float:right;height:100%;margin-right:-310px;width:100%;padding:15px;}

/* Columns */
.columns{}
.columns .columns{}
.columns .CL{float:left;}
.columns .CR{float:right;}

  /* Equal Width */
  .columns.equal-width{}
  .columns.equal-width .column{width:50%;}
  .columns.equal-width .CL{padding-right:10px;}
  .columns.equal-width .CR{padding-left:10px;}

/* Header */
.header{position:fixed;z-index:200;width:100%;
  
  /* Scroll Effect */
  &.scrollEffect .global-navigation{@include box-shadow( inset 0 0 3px 0 rgba(0,0,0,.2) );@include opacity(90);background:#fff;}
  
  /* Logo */
  .logo{background:$nav-bg url(#{$logo-header-url}) no-repeat 0 0;background-image:url(#{$logo-header-svg-url});height:$header-height;width:$nav-width;position:relative;z-index:201;}
  .logo:hover{background-position:0 -#{ $header-height };}

  #id_openDataSiteButton,
  #id_backLink{height:$header-height;font:13px/#{ $header-height } arial,helvetica,sans-serif;min-width:0;}
  #id_openDataSiteButton{border-color:transparent;
    &:hover{background:$button-primary-color;color:$button-primary-text-color;}
    .icon-right{margin-left:4px;}
  }
  #id_backLink{padding:0;}

  /* Tab */
  .tab{
    & > a{display:block;line-height:46px;padding:0 15px;line-height:46px;@include transition(all, .1s, ease-in-out);
      &:hover{background:$nav-bg;color:$nav-text;}
      img{width:36px;height:36px;display:inline-block;margin-right:12px;vertical-align:middle;position:relative;top:-2px;}
    }
    &.pulldown{
      &.active{
        & > a{background:$nav-bg;color:$nav-text;}
      }
      .submenu ul{background:$nav-bg;
        li{border-top:1px solid #2f3643;
          &:first-child{border:0;}
          a{color:$nav-text;display:block;padding:0 15px;height:48px;line-height:48px;
            &:hover{background:$button-primary-color;color:$button-primary-text-color;}
          }
        }
      }
    }
  }
  
}

/* Main Nav */
.main-navigation{padding-top:$header-height;position:fixed;top:0;z-index:100;background:$nav-bg;height:100%;@include box-sizing(border-box);
  li{@include box-shadow(inset 0 -1px 0 0 rgba(255,255,255,.1));
    & > a.button{display:block;color:$nav-text;background:none;padding:0 15px;border:0;text-align:left;

      /* Hover */
      &:hover{background:$nav-hover-bg;color:$nav-hover-text;text-decoration:none;}
    
      /* Active */
      &.active,
      &.active:hover{background:$nav-active-bg;color:$nav-active-text;}

      /* Erase button active state */
      &:active{@include box-shadow(0 0 0 transparent);}

      /* Disabled */
      &.disabled{@include opacity(30);cursor:default;
        &:hover{background:none;}
      }

    }
  }
  ul.bottom-navigation{position:absolute;bottom:0;left:0;width:100%;background:rgba(0,0,0,.4);
    li{@include box-shadow(inset 0 1px 0 0 rgba(255,255,255,.1));}
    .footer{color:rgba(255,255,255,.7);padding:0 15px;height:40px;font:10px/40px 'robotoregular', arial, helvetica, sans-serif;
      & > a{color:rgba(255,255,255,.7);
        &:hover{color:#fff}
      }
    }
  }
}

@include media-query(max-width, $break-lg) { 
  .header{position:static;}
  .workspace{padding-top:0;}
  .main-navigation{position:absolute;}
}

/* Collapsed Navigation */
.layout{
  .workspace,
  .header{
    & > .wrapper1{@include transition(padding-left, .375s, ease-in-out);}
    & > .wrapper1 > .wrapper2 > .wrapper3{@include transition(margin-left, .375s, ease-in-out);}
  }
  .main-navigation,
  .header .logo,
  .main-navigation li > a.button.active{@include transition(width, .375s, ease-in-out);}
  .main-section,
  .header .global-navigation{@include transition(margin-right, .375s, ease-in-out);}
}
@mixin collapsed-navigation{
  .workspace,
  .header{
    & > .wrapper1{padding-left:$nav-collapsed-width;}
    & > .wrapper1 > .wrapper2 > .wrapper3{margin-left:-$nav-collapsed-width;}
  }
  .main-navigation,
  .header .logo{width:$nav-collapsed-width;}
  .main-section,
  .header .global-navigation{margin-right:-$nav-collapsed-width;}
  .header .logo{background-position:0 -#{ $header-height * 2 };}
  .header .logo:hover{background-position:0 -#{ $header-height * 3 };}
  .main-navigation{
    .button{min-width:0;}
    li > a{text-indent:-10000px;position:relative;
      .icon{position:absolute;top:12px;left:15px;}
    }
    ul.bottom-navigation .footer{display:none;}
  }
}
.collapsed-navigation{
  @include collapsed-navigation;
}
@include media-query(max-width, $break-lg) { 
  @include collapsed-navigation;
}

/* Main Section */
.main-section{
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{font-family:$font-titles-family;line-height:normal;}
  h1{font-size:$font-size-xl;}
  h2{font-size:$font-size-l;}
  h3,
  h4,
  h5,
  h6{font-size:$font-size-m;}

  /* Section Title */
  .section-title{
    
    /* Context menu */
    .context-menu{min-height:100px;
    
      h1{padding:20px 0 0;
        &.sub-heading{font-size:15px !important;text-transform:uppercase;padding:0;}
        .total-resources{color:#808080;}
      }

      /* Buttons Bar */
      .buttons-bar{

      }
      
      /* Context Buttons */
      .context-buttons > *{margin-top:10px;}

      /* Status row */
      .status-row{padding:8px 0 0;
        & > span{float:left;}
        & > span:before{content:"|";padding:0 5px;color:#333;float:left;}
        & > span:first-child:before{content:"";padding:0;display:none;}
      }

    }

  }

}

/* Section Content */
.section-content{background:#fff;overflow:hidden;position:relative;width:100%;height:100%;}

/* Box */
.box{margin-top:20px;}
.box:first-child{margin-top:0;}
.box > header .title{font-size:$font-size-m;line-height:20px;padding:14px 0 11px;font-family:$font-titles-family;color:$font-color-light;text-transform:uppercase;}
.box > header .title > span{padding-left:5px;font-size:$font-size-m;font-weight:normal;}
.box > header .button{margin-top:10px;}
.box .box-content p{margin-bottom:15px;}
.box .box-footer{background:$accent-color-05;border-top:1px solid #e5e3e3;padding:9px;
  -webkit-box-shadow:inset 0 1px 0 0 #fff;
     -moz-box-shadow:inset 0 1px 0 0 #fff;
          box-shadow:inset 0 1px 0 0 #fff;
  -webkit-border-radius:0 0 3px 3px;
     -moz-border-radius:0 0 3px 3px;
          border-radius:0 0 3px 3px;
}
.box .box-footer .button{display:inline-block;}

  /* Blue */
  .box.blue{background:#f6f9ff;}
  .box.blue > header{border-color:#dfebfe;}

  /* support */
  .box.support{background:$background-color-highlight;}
  .box.support > header{border-color:$background-color-remember-me;}
  .box.support > header .title{color:$color-base;}
  .box.support > header .title > span{color:$font-color-base;}

  /* Pink */
  .box.pink{background:$background-color-highlight;}
  .box.pink > header{border-color:$background-color-remember-me;}
  .box.pink > header .title{color:$font-color-base;}
  .box.pink > header .title > span{color:$font-color-light;}

  /* White */
  .box.white{background:#fff;}

/* Icons */
.icon-dataset,
.icon-dataview,
.icon-visualization,
.icon-dashboard,
.icon-warning,
.icon-check{background:url(../images/common/ic_resources.png) no-repeat;width:20px;height:20px;display:inline-block;}
.icon-dataset{background-position:0 0;}
.icon-dataview{background-position:0 -20px;}
.icon-visualization{background-position:0 -40px;}
.icon-dashboard{background-position:0 -60px;}
.icon-warning{background-position:0 -78px;}
.icon-check{background-position:0 -98px;}

/* Tabs */
.tabs-list{padding:10px 3px 0;
  background:#e1e1e1;
  background:-moz-linear-gradient(top, #cfcfcf 0%, #e2e2e2 15%, #e1e1e1 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(15%,#e2e2e2), color-stop(100%,#e1e1e1));
  background:-webkit-linear-gradient(top, #cfcfcf 0%,#e2e2e2 15%,#e1e1e1 100%);
  background:-o-linear-gradient(top, #cfcfcf 0%,#e2e2e2 15%,#e1e1e1 100%);
  background:-ms-linear-gradient(top, #cfcfcf 0%,#e2e2e2 15%,#e1e1e1 100%);
  background:linear-gradient(to bottom, #cfcfcf 0%,#e2e2e2 15%,#e1e1e1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#e1e1e1',GradientType=0 );
  -webkit-border-radius:3px 3px 0 0;
     -moz-border-radius:3px 3px 0 0;
          border-radius:3px 3px 0 0;
}
.tabs-list .tab{padding:0 1px;float:left;}
.tabs-list .tab a{border:1px solid #fff;/*border-bottom-color:#e1e1e1;*/border-bottom:0;margin-bottom:1px;font-size:11px;text-shadow:0 1px 0 #fff;height:24px;line-height:24px;padding:0 10px;cursor:pointer;display:inline-block;
  background:#f0f0f0;
  background:-moz-linear-gradient(top, #f1f1f1 0%, #f0f0f0 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#f0f0f0));
  background:-webkit-linear-gradient(top, #f1f1f1 0%,#f0f0f0 100%);
  background:-o-linear-gradient(top, #f1f1f1 0%,#f0f0f0 100%);
  background:-ms-linear-gradient(top, #f1f1f1 0%,#f0f0f0 100%);
  background:linear-gradient(to bottom, #f1f1f1 0%,#f0f0f0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f0f0f0',GradientType=0 );
  -webkit-border-radius:3px 3px 0 0;
     -moz-border-radius:3px 3px 0 0;
          border-radius:3px 3px 0 0;
}
.tabs-list .tab a:hover{text-decoration:none;
  background:#e6e6e6;
  background:-moz-linear-gradient(top, #e6e6e6 0%, #f9f9f9 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#f9f9f9));
  background:-webkit-linear-gradient(top,  #e6e6e6 0%,#f9f9f9 100%);
  background:-o-linear-gradient(top,  #e6e6e6 0%,#f9f9f9 100%);
  background:-ms-linear-gradient(top,  #e6e6e6 0%,#f9f9f9 100%);
  background:linear-gradient(to bottom,  #e6e6e6 0%,#f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f9f9f9',GradientType=0 );
}
.tabs-list .tab.tab-selected a,
.tabs-list .tab.tab-selected a:hover{background:#fff;font-weight:bold;color:#999;cursor:default;border-bottom:1px solid #fff;margin-bottom:0;font-size:12px;}

/* Implementation Types Icons */
i.icon{padding:2px 0 2px 21px;background:url(/static/microsites/images/microsites/ic_implTypes.png) 0 0 no-repeat;}
i.icon.WEB{background-position:0 -20px;}
i.icon.FILE{background-position:0 -40px;}
i.icon.WB{background-position:0 -60px;}
i.icon.HTML{background-position:0 -80px;}
i.icon.SOAP,
i.icon.SOAP-XML{background-position:0 -100px;}
i.icon.XML{background-position:0 -120px;}
i.icon.XLS{background-position:0 -140px;}
i.icon.PDF{background-position:0 -160px;}
i.icon.DOC{background-position:0 -180px;}
i.icon.ODT{background-position:0 -200px;}
i.icon.ODP{background-position:0 -220px;}
i.icon.ODS{background-position:0 -240px;}
i.icon.CSV{background-position:0 -260px;}
i.icon.KML{background-position:0 -280px;}
i.icon.KMZ{background-position:0 -300px;}
i.icon.REST,
i.icon.REST-JSON{background-position:0 -320px;}
i.icon.JSON{background-position:0 -340px;}
i.icon.IMAGE{background-position:0 -360px;}
i.icon.ZIP{background-position:0 -380px;}
i.icon.DALLAS{}
i.icon.TNCLIMA{}

/* Alerts */
.alert{padding:7px;margin-bottom:10px;color:#FFF;font-style:18px;background-color:#4d8fff;margin-right:-310px;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
  -webkit-box-shadow:0 1px 0 #f9f9fb;
     -moz-box-shadow:0 1px 0 #f9f9fb;
          box-shadow:0 1px 0 #f9f9fb;
}
  .alert p, .alert a{display:inline;color:#FFF;line-height:24px;text-shadow:0 1px #1750b7;font-size:14px;}
  /* Alerts - Icons */
  .alert i.icon{background-image:url('../images/common/ic_resources.png');background-repeat:no-repeat;width:17px;height:17px;margin:3px 6px 3px 3px;padding:0;float:left;}
  .alert i.icon.info{background-position:0 -81px;}
  /* Alerts - Buttons */
  .alert .alpha{color:#FFF;}

/* Help box & Tips */
.helpBox:first-child{background-color:$accent-color-05;background-image:none;padding:15px;float:right;margin-bottom:20px;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
  -webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 0 8px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 0 8px rgba(0, 0, 0, 0.1) inset;
}
.helpBox h6{font-family:$font-secondary-family;font-size:$font-size-m;text-transform:uppercase;padding-bottom:5px;color:#000;}
.helpBox p{font-size:$font-size-s;font-weight:normal;margin-bottom:10px;color:$font-color-semi-light;}
.helpBox ul{margin:10px 10px 10px 20px}
.helpBox ul li{list-style-type:disc;margin-bottom:8px;font-size:10px;color:$font-color-semi-light;}
.helpBox ul li:last-child{margin-bottom:0;}

/* Backgrid - Empty text */
.backgrid tbody tr.empty td,
.backgrid tbody tr.empty td:hover{background-color:#fef1e1 !important;border-bottom:1px solid #f2dcd1;padding:15px;text-align:center;color:#b62d1b;line-height:24px;text-shadow:0 1px #fff;font-size:14px;display:table-cell !important;font-style:normal;
  -webkit-box-shadow:0 -1px 0 #fff inset;
     -moz-box-shadow:0 -1px 0 #fff inset;
          box-shadow:0 -1px 0 #fff inset;
}

/* Overlays */
.ao-popup-overlay .ov-content{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; width: 590px; display: inline-block; padding: 15px;}
.ao-popup-overlay .ov-content .left, .ao-popup-overlay .ov-content .right{float: left; display: inline;}
.ao-popup-overlay .ov-content .left{width: 70%;}
.ao-popup-overlay .ov-content .right{width: 30%; padding-left: 15px;}
.ao-popup-overlay .ov-content ul{background-color: #f6f4f4; border: 1px solid #e2e0e0; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1); padding: 15px; border-radius: 3px; max-height: 130px; overflow-y: auto; }
.ao-popup-overlay .ov-content ul li{border-top:1px solid #d2d2d2;border-bottom:1px solid #FFF; padding: 8px 0;}
.ao-popup-overlay .ov-content ul li:first-child{border-top:none; padding-top:0;}
.ao-popup-overlay .ov-content ul li:last-child{border-bottom:none; padding-bottom:0;}
.ao-popup-overlay .ov-content ul li span, .ao-popup-overlay .ov-alert span{margin: 0 5px -5px 0;}
.ao-popup-overlay .ov-content .selectTitle{text-transform: uppercase; font-weight: bold; padding: 0 10px 5px 10px;}
.ao-popup-overlay .ov-content p{padding:0 0 15px 0;}
.ao-popup-overlay .ov-content p.text{font-size:14px;line-height:18px;}
.ao-popup-overlay .ov-content p:last-child{padding:0;}
.ao-popup-overlay .ov-content p.more-padding{padding:15px 0 !important;}
.ao-popup-overlay .ov-content select{font-size: 12px; width: 100%;}
.ao-popup-overlay .ov-bottom{background-color:$accent-color-05; border-top: 1px solid #d7d7d7; padding: 15px; min-height: 57px;}
.ao-popup-overlay .ov-bottom form.form-search{width:240px;margin:0;}
.ao-popup-overlay .ov-buttons{text-align:center;}
.ao-popup-overlay .ov-buttons .button{margin:0 5px;}
.ao-popup-overlay .ov-alert{background-color: $accent-color; padding: 10px; border-radius: 3px; color: #fff; text-shadow: 1px 1px 0 #1452b0;}
.ao-popup-overlay .button{display: inline-block;}
.ao-popup-overlay .ov-content fieldset{padding:0;}
.ao-popup-overlay .ov-content input{width:100px;}
.ao-popup-overlay .contentForm .row{padding-bottom:15px;}
.ao-popup-overlay .contentForm input, .ao-popup-overlay .contentForm .row select{width:100%;background:#fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.1) inset;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px;font-size:12px;}
.ao-popup-overlay input.search{width:200px;color:#999;font-style:italic;background-image:url('../images/common/ic_search.png');background-repeat:no-repeat;background-position:8px 10px;padding:10px 0 10px 30px;}

.ao-popup-overlay .In .dataStreamForm{padding:0;}
.ao-popup-overlay .In h4, 
.ao-popup-overlay .Inner h4{font-size:$font-size-l;color:$font-color-base;font-family:$font-titles-family;}
.ao-popup-overlay .dataStreamForm .form{padding:20px;}
.ao-popup-overlay .buttons{padding:20px 0;border-top:1px solid #E2E0E0;margin:0;}
.ao-popup-overlay .ao-L{width:680px !important;}

/* Overlays Backgrid */
.ao-popup-overlay .backgrid tr th{border-top:1px solid #ddd;}
.ao-popup-overlay .backgrid tr th,
.ao-popup-overlay .backgrid tr td{padding:8px 15px !important;}
.ao-popup-overlay .backgrid tr:last-child td{border-bottom:none;}
.ao-popup-overlay .backgrid tr td p{color:#666;}
.ao-popup-overlay .backgrid tr:nth-child(2n+1) td{background-color:#fbfbfb;}
.ao-popup-overlay .backgrid tr:hover td, 
.ao-popup-overlay .backgrid tr:hover td h3, 
.ao-popup-overlay .backgrid tr:hover td a, 
.ao-popup-overlay .backgrid tr:hover td p{background-color:$accent-color;color:#FFF;cursor:pointer;text-shadow:0 1px 0 $accent-color-bold;}

/* Override For Empty */
.empty{}

/* Overlays Pagination */
.ao-popup-overlay .pagination{padding:0;}

/* Backgrid - Override */
.backgrid thead th{background:none !important;text-align:left !important;}
.backgrid thead th a{color:#999;}
.backgrid tbody tr{background:none !important;}
.backgrid .sort-caret{position:relative;width:8px !important;height:27px !important;border:0 !important;vertical-align:bottom;}
.backgrid .sort-caret:after,
.backgrid .sort-caret:before{
  display:block;
  width: 0;
  height: 0;
  content:"";
  border-width:0 !important;
  border-top:4px solid transparent !important;
  border-right:4px solid transparent !important;
  border-bottom:4px solid transparent !important;
  border-left:4px solid transparent !important;
  position: absolute;
  right:-2px;
}
.backgrid .sort-caret:after{border-bottom:4px solid #e3e3e3 !important;top:5px;}
.backgrid .sort-caret:before{border-top:4px solid #e3e3e3 !important;top:14px;}
.backgrid .ascending .sort-caret,
.backgrid .descending .sort-caret{vertical-align:bottom !important;}
.backgrid .ascending .sort-caret:after{border-bottom:4px solid #a3a3a3 !important;}
.backgrid .descending .sort-caret:before{border-top:4px solid #a3a3a3 !important;}


/* Tags */
.tagsContent, .sourcesContent, .paramContent{float:left;margin:5px 0 0 115px;padding:0;}
.tag, .param{margin:5px 5px 0 0;float:left;}
.tag .tagTxt, .param .paramTxt {
  background:#fff;
  background:-webkit-linear-gradient(to bottom, #fff 50%, #f0f0f0 0%, #f0e3f0 100%);
  background:-o-linear-gradient(to bottom, #fff 50%, #f0f0f0 0%, #f0e3f0 100%);
  background:-ms-linear-gradient(to bottom, #fff 50%, #f0f0f0 0%, #f0e3f0 100%);
  background:linear-gradient(to bottom, #fff 50%, #f0f0f0 0%, #f0e3f0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f0f0f0',GradientType=0 );
  -webkit-border-radius: 7px 0 0 7px;
     -moz-border-radius: 7px 0 0 7px;
         border-radius: 7px 0 0 7px;
  word-wrap:break-word;display:block;float:left;padding:0 8px;color:#767676;font-size:11px;text-shadow:0 1px 0 #fff;  line-height:20px;height:20px;border:1px solid #e2e0e0;border-right:0;border-top-left-radius:3px;border-bottom-left-radius:3px;}

.tag .tagInner a:hover, .tag .tagTxt.isEditing, .param .paramInner a:hover{background-position: 0 bottom;
border-color: #ccc;}

/* Rich text editor */
.nicEdit-main{height:200px;outline:none;}

/* Hide default cancel button from backgrid-filter.js search input */
.backgrid-filter input[type="search"]::-webkit-search-cancel-button{display:none;}

/* Pagination */
.pagination{background:none;padding:15px;/*position:relative;*/
    -webkit-border-radius:0 0 3px 3px;
       -moz-border-radius:0 0 3px 3px;
            border-radius:0 0 3px 3px;
}
.pagination .items-per-page{font-size:0;padding-right:15px;/*position:absolute;top:15px;left:15px;*/}
.pagination .items-per-page label{padding-right:9px;line-height:30px;display:inline-block;font-size:12px;color:#666;text-shadow:0 1px 0 #fff;}
.pagination .items-per-page select{display:inline-block;height:30px;font-size:12px;}
.pagination .pager, .pagination .backgrid-paginator{display:inline-block;border:1px solid #d7d7d7;padding-top:1px;font-size:0;background:#f6f4f4;height:27px;
    -webkit-box-shadow:inset 0 1px 0 0 #fff,inset 0 0 5px 0 rgba(21,21,21,.1);
       -moz-box-shadow:inset 0 1px 0 0 #fff,inset 0 0 5px 0 rgba(21,21,21,.1);
            box-shadow:inset 0 1px 0 0 #fff,inset 0 0 5px 0 rgba(21,21,21,.1);
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;
}
.pagination .backgrid-paginator{height:30px;}
.pagination .backgrid-paginator ul{margin:0;}
.pagination li.disabled, .pagination .backgrid-paginator li.disabled{visibility:visible;}
.pagination li.disabled a:hover, .pagination .backgrid-paginator li.disabled a:hover{background-color:inherit;color:#999;}
.pagination .pager li,
.pagination .backgrid-paginator li{display:inline-block;border-left:1px solid #fff;border-right:1px solid #d7d7d7;font-size:0;min-width:30px;}
.pagination .pager li:first-child,
.pagination .backgrid-paginator li:first-child{border-left:0;}
.pagination .pager li:last-child,
.pagination .backgrid-paginator li:last-child{border-right:0;}
.pagination .pager li a, 
.pagination .backgrid-paginator li a{display:block;color:#726869;text-shadow:0 1px 0 #fff;height:27px;line-height:29px;font-family:$font-secondary-family;font-size:15px;overflow:hidden;}
.pagination .pager li a:hover,
.pagination .backgrid-paginator li a:hover{text-decoration:none;background-color:#efeded;background-color:rgba(0,0,0,.04);}
.pagination .pager .pagination-page{width:32px;padding-right:1px;text-align:center;}
.pagination .pager .pagination-page.active, .pagination .pager li.active a, .pagination .backgrid-paginator li.active a{color:#fff;text-shadow:0 1px 0 #033e97;background-color:$accent-color;cursor:default;
    -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.35);
       -moz-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.35);
            box-shadow:inset 0 0 5px 0 rgba(0,0,0,.35);
}
.pagination .pager .pagination-button,{text-indent:-10000px;width:30px;background-image:url(../images/common/ic_paginationButtons.png);background-repeat:no-repeat;
    -webkit-transition:background-position .1s ease-in-out;
       -moz-transition:background-position .1s ease-in-out;
        -ms-transition:background-position .1s ease-in-out;
         -o-transition:background-position .1s ease-in-out;
            transition:background-position .1s ease-in-out;
}
.pagination .pager .pagination-button.previous{background-position:11px 0;}
.pagination .pager .pagination-button.previous:hover{background-position:9px 0;}
.pagination .pager .pagination-button.next{background-position:11px -30px;}
.pagination .pager .pagination-button.next:hover{background-position:13px -30px;}

/* Ajax loading */
.ajaxLoadingOverlay{background:#fff url(#{$loader-url-light}) center center no-repeat;}

/* Error Manager */
.gritter-item { font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.gritter-item .error-description { margin-left: 10px; }
.gritter-item .error-description .description-title { font-size: 14px; font-weight: bold; display: block; margin: 5px 0 5px -10px; text-shadow: 1px 1px 0 #000; }
.gritter-item .error-description ul { list-style: none; padding: 0; margin: 0; }
.gritter-item .error-description ul li { padding: 0 0 5px 0; margin: 0; }