/* Importar */
@import 'variables';

/* Navegación */
.navCreator{
  position:relative;

    ul{
      width:310px;

        /* Items */
        li{font-family:$font-secondary-family, sans-serif;font-weight:300;font-size:$font-size-xl;padding:30px 10px;cursor:pointer;color:$font-color-base;border-bottom:1px solid $color-base-extra-light;}
        li:hover{background:$color-base-extra-light;}
        li.active{background:#8fceea;}

        /* Títulos */
        li.heading{font-size:$font-size-m;text-transform:uppercase;color:$font-color-light;padding:20px 10px 10px 10px;cursor:default;border:0 none;background:none;}

        li.heading:not(:first-child){margin-top:30px;}
    }

    ul.navCreatorPicker{
      display:none;position:absolute;left:310px;top:0;min-width:9999px;min-height:9999px;overflow:hidden;cursor:default;

        span{float:left;margin-right:20px;}

        /* Items */
        li{
          font-size:$font-size-l;color:$accent-color;float:left;padding:20px 30px;float:left;width:100%;

            h4{line-height:1.6;}

            p{font-family:Arial, sans-serif;font-size:$font-size-m;color:$font-color-light;font-style:normal;line-height:1;}
        }
        li:hover{background-color:#ededed;}
        li:last-child{margin-bottom:30px;}

        /* Títulos */
        li.heading{padding-left:30px;background:none;font-size:$font-size-m;color:$font-color-light;}
    }

}


/* Estructura */
.sidebar{
  padding-left:40px;
  color:$font-color-base;

  .itemConfig{
    margin-bottom:40px;

    .boxInner {padding-left:20px;}
  }

  .title{text-decoration:uppercase;margin-bottom:10px;color:$font-color-light;font-size:$font-size-m;}
  .subtitle{margin-bottom:5px;color:$font-color-light;}
  p{margin-bottom:5px;}

}


/* Formularios */
.radio,
.checkbox{
  position:relative;padding-left:20px;line-height:19px;padding-left:22px;

    label{display:block;padding:5px 0;}

    input,
    input{position:absolute;left:0;}
}

fieldset{margin-bottom:20px;}
select{font-size:$font-size-m;}


/* Botones */
button{background-color:$accent-color;border:none;outline:none;border-radius:none;cursor:pointer;}

  /* Grupo de botones */
  .btnGroup {
    margin-bottom:10px;

      button{border:2px solid $color-base-extra-light;border-radius:0;cursor:pointer;background-color:$brand-color;width:48px;height:48px;margin:3px 10px 3px 0;padding:10px;

        &:hover{border-color:$color-base-light;}

      }

      button.active{border:2px solid $accent-color;}
  }
    
  /* Grupo de botones inline
  /* Usar como complemento a .btnGroup 
  */
  .btnInlineGroup{
    button{float:left;margin:3px 0;}
  }


/* Cuadros
/* Botones con ícono, títuo y descripción
*/
.patch{
  cursor:pointer;margin-bottom:15px;display:inline-block;border:2px solid $color-base-extra-light;width:100%;padding:15px;

  &:hover{border:2px solid $color-base-light;}

  span{float:left;margin-right:15px;}
  p{color:$font-color-light;}
  a:hover{text-decoration:none;}
}
.patch.active{border-color:$accent-color;}


/* Gráficos */
.preview-container {

  /* Contenedor de vista previa */
  .chartContent,
  .mapContent{border:1px solid $color-base-extra-light;width:600px;height:480px;cursor:pointer;position:relative;margin:0 auto;
    &:hover{border-color:$color-base-light;}
    &:hover .icon{background-color:$accent-shine;}
  }

  p{font-size:$font-size-xl;text-align:center;color:$font-color-base;position:absolute;top:45%;width:100%;}

  /* Vistas previas */
  .previewArea{
    background-image:url(/static/workspace/images/createVisualization/previewArea.svg);
    background-image:url(/static/workspace/images/createVisualization/previewArea.png);
  }
  .previewLine{
    background-image:url(/static/workspace/images/createVisualization/previewLine.svg);
    background-image:url(/static/workspace/images/createVisualization/previewLine.png);
  }
  .previewColumn{
    background-image:url(/static/workspace/images/createVisualization/previewColumn.svg);
    background-image:url(/static/workspace/images/createVisualization/previewColumn.png);
  }
  .previewBar{
    background-image:url(/static/workspace/images/createVisualization/previewBar.svg);
    background-image:url(/static/workspace/images/createVisualization/previewBar.png);
  }
  .previewPie{
    background-image:url(/static/workspace/images/createVisualization/previewPie.svg);
    background-image:url(/static/workspace/images/createVisualization/previewPie.png);
  }
} 

/* Modal */
.modal{position:fixed;top:0;left:0;right:0;bottom:0;background:white;z-index:1;z-index:200;}


/* DataTable View */
.table-view {
  height: 600px;
  overflow: hidden;
  width: 900px;
}

input.hot-sel-1, td.hot-sel-1 {
  background-color: #86ad7f;
}
input.hot-sel-2, td.hot-sel-2 {
  background-color: #ffb796;
}
input.hot-sel-3, td.hot-sel-3 {
  background-color: #d6ebff;
}
input.hot-sel-4, td.hot-sel-4 {
  background-color: rgb(51,160,44);
}
input.hot-sel-5, td.hot-sel-5 {
  background-color: rgb(251,154,153);
}
input.hot-sel-6, td.hot-sel-6 {
  background-color: rgb(227,26,28);
}
input.hot-sel-7, td.hot-sel-7 {
  background-color: rgb(253,191,111);
}
input.hot-sel-8, td.hot-sel-8 {
  background-color: rgb(255,127,0);
}
input.hot-sel-9, td.hot-sel-9 {
  background-color: rgb(202,178,214);
}
input.hot-sel-10, td.hot-sel-10 {
  background-color: rgb(106,61,154);
}
input.hot-sel-11, td.hot-sel-11 {
  background-color: rgb(255,255,153);
}
input.hot-sel-12, td.hot-sel-12 {
  background-color: rgb(177,89,40);
}

$table-selected-color: rgba(227, 250, 41, 0.24);

input.active {
  line-height: 2em;
  font-weight: bold;
  background-color: $table-selected-color;
}
.handsontable td.area {
  background: $table-selected-color;
}