/* Import SASS variables */
@import 'variables';

.main-section .section-content{background-color:#f6f4f4;padding:0;}
.create{padding:0;}
.create header{background-color:#fff;padding:20px 15px 18px 15px;border-bottom:1px solid #e5e3e3;
  -webkit-border-radius:3px 3px 0 0;
     -moz-border-radius:3px 3px 0 0;
          border-radius:3px 3px 0 0;
  -webkit-box-shadow:0 1px 0 #fff;
     -moz-box-shadow:0 1px 0 #fff;
          box-shadow:0 1px 0 #fff;
}
.create header h3{font-size:18px;font-weight:bold;display:inline-block;}
.create header h3 span{font-size:14px;font-weight:normal;color:$color-text-light;}
.create .insetFormTitle{font-size:14px;margin:15px 0;font-family:'montserratbold';text-transform:uppercase;}

.create .navigation{margin-top:-5px;}
.create .navigation a{float:left;margin-left:10px;}
.create .navigation a.alpha{font-family:Arial,Helvetica,sans-serif;}
.create .navigation a i{background-image:url(../images/common/ic_navigationArrows.png);width:4px;height:25px;}
.create .navigation a i.left-arrow{background-position: 0 center;}
.create .navigation a i.right-arrow{background-position: -4px center;margin: 0 0 0 8px;}
.create .title{font-family:'montserratbold', arial, helvetica, sans-serif;text-transform:uppercase;font-size:12px;padding:15px 15px 10px 15px;border-bottom:1px solid #e5e5e5;box-shadow:0 1px 0 0 #fff;}
.create .required{color:#d21717;padding-left:5px;}
.create header .required{padding-left:0;}
.create .formContent .required{float:right;padding-right:12px;}

.create .wrapper1, .create .wrapper2, .create .wrapper3{height:100%;width:100%;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
}
.create .wrapper1{background-color:#f6f4f4;height:100%;padding-left:310px;}
.create .wrapper2{border-left:1px solid #e5e5e5;background-color:#fff;}
.create .wrapper3{float:left;margin-left:-310px;}
.create .sidebar{float:left;height:100%;width:310px;}
.create .helpBox p{margin-bottom:5px;}

/* Start */
.create .boxContent{padding:20px 15px;text-align:center;}
.create .box{background-color:#fff;padding:0;width:240px;margin:0 10px 20px;display:inline-table;border:1px solid #e5e3e3;overflow:hidden;text-align:left;cursor:pointer;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
}
.create .box:hover{text-decoration:none;
  -webkit-box-shadow:0 0 5px rgba(208,208,208,1);
     -moz-box-shadow:0 0 5px rgba(208,208,208,1);
          box-shadow:0 0 5px rgba(208,208,208,1);
 }
 .create .box .button{display:block;}
 .create .box:hover .button.green{
    background:#b9ce44;
    background:-moz-linear-gradient(top,  #b9ce44 0%, #a8c732 8%, #72aa00 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9ce44), color-stop(8%,#a8c732), color-stop(100%,#72aa00));
    background:-webkit-linear-gradient(top,  #b9ce44 0%,#a8c732 8%,#72aa00 100%);
    background:-o-linear-gradient(top,  #b9ce44 0%,#a8c732 8%,#72aa00 100%);
    background:-ms-linear-gradient(top,  #b9ce44 0%,#a8c732 8%,#72aa00 100%);
    background:linear-gradient(to bottom,  #b9ce44 0%,#a8c732 8%,#72aa00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9ce44', endColorstr='#72aa00',GradientType=0 );
 }
.create .box .boxCreate{display:block;background-size:cover;background-position:center center;background-repeat:no-repeat;height:170px;border-bottom:1px solid #e5e3e3;}
.create .box h3{color:#3a3a3a;font-size:18px;font-weight:bold;padding-bottom:12px;}
.create .box p{color:#999;font-size:14px;padding-bottom:18px;}
.create .box .boxCreateDesc{display:block;padding:15px;}

@media all and (min-width:1337px){
  .create .box{width:320px;margin:0 20px 20px;}
  .create .box .boxCreate{height:227px;}
}
@media all and (max-width:1024px){
  .create .boxContent{padding:20px 0;}
  .create .box{width:200px;}
  .create .box .boxCreate{height:142px;}
}

.create .row label{font-size:12px;display:block;float:left;width:34%;padding-right:8px;padding-top:7px;text-shadow:0 1px 0 #fff;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.create .row p.has-error{padding-left:34%;clear:both;}

/* Form */
.create .formContent fieldset{padding:20px;}
.create .formContent .separator{height:1px;background:#d7d7d7;margin:5px 0 20px 0;border:0;padding:0;}
.create .formContent .row{padding-bottom:15px;}
.create .formContent .row input[type="text"],
.create .formContent .row input[type="password"],
.create .formContent .row input[type="file"], 
.create .formContent .row input[type="url"],
.create .formContent .row input[type="email"],
.create .formContent .row select{width:440px;background:#fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.1) inset;padding:5px;font-size:12px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.create .formContent .row input[type="file"]{padding:0;}
.create .formContent .row label{font-size:12px;width:115px;line-height:inherit;height:inherit;}
.create .formContent .row p.has-error{padding-left:115px;clear:both;}
.create .formContent .row textarea{width:440px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.create .formContent .row .textarea{background:#fff;border:1px solid #e2e0e0 !important;}
.create .formContent .row .textarea > div,
.create .formContent .row .textarea > div > .nicEdit-panelContain{border:0 !important;}
.create .formContent .row.checkbox{}
.create .formContent .row.checkbox input[type=checkbox]{width:auto;float:left;position:relative;top:6px;}
.create .formContent .row.checkbox p.tip{margin-left:0;float:left;clear:none;margin-top:8px;}
.create .formContent .row .tagsContent,
.create .formContent .row .sourcesContent,
.create .formContent .row .paramContent{margin-left:115px;}
.formContent p.tip{float:left;margin:5px 0 0 116px;padding:0;}
.create p.tip{clear:both;color:$color-text-light;font-size:11px;text-shadow:0 1px 0 #fff;padding-bottom:10px;}
.create .nolabel{margin-left:115px;position:relative;top:3px;}

.sticky{position:fixed;width:100%;top:0;z-index:100;border-top:0;} 