/* Imports */
@import 'variables';
@import 'functions';
@import 'mixins';

/* Sidebar (then merge this with common.scss) */
.sidebar{
	width: 100% !important;

	.form-group{
		margin-left: 10px;
	}

	ul{
		padding-left: 10px;
		
		li{
			background: none !important;
			padding-left: 0 !important;
		}	
	}
}

/* Forms (then move and merge with old forms) */
.form-group{
	margin-bottom: 15px;

	label{
		display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    color: $color-base-light;
	    float: inherit !important;
	}

	.form-control{
		display: block;
    	width: 100%;
	}
}

/* Lists (then move and merge with old forms) */
.list-group-item{
	position: relative;
	display: block;
	border-top:1px solid $color-base-extra-light;
	border-bottom:1px solid $color-base-extra-light;
	padding: 5px 0;
	margin-bottom: -1px;
}

/* Handsontable version */
.handsontable td.area{
	background:$modal-table-selected-color;
}

/* Identificador por color */
.hot-sel-col span.color,
td.hot-sel-col{
	background-color:#86ad7f;
}

.hot-sel-row span.color,
td.hot-sel-row{
	background-color:#ffb796;
}

td.hot-sel-row.hot-sel-col{
	background-color:#777777;
}

.hot-sel-table span.color, 
td.hot-sel-table{
	background-color:#d6ebff;
}

.hot-sel-cell span.color,
td.hot-sel-cell{
	background-color:#9AB2B9;
}

td.hot-sel-header.hot-sel-col,
td.hot-sel-header.hot-sel-cell{
	// Original
	// background-color: #FCDE15; 
	// color: #FFFFFF;
	background-color: #DBDBDB;
	font-weight: bold;
}

/* Arguments Overlay */
.argumentsOverlay{width:400px;}
.ao-popup-overlay .argumentsOverlay .In form{width:auto;}
.ao-popup-overlay .argumentsOverlay p{padding-top:18px;line-height:16px;padding-left:20px;padding-right:20px;}
.argumentsOverlay .form{margin:20px;padding:15px 15px 0;border:1px solid #ddd;border-left:0;border-right:0;background:#efefef;}
.argumentsOverlay .form label{display:block;font-weight:bold;height:auto;line-height:normal;padding-bottom:10px;}
.argumentsOverlay .form .field{height:28px;width:306px;margin-bottom:15px;}
.argumentsOverlay .buttons a{margin:0 5px;cursor:pointer;}

.preview-datastream {
	table {
		min-width:100%;
		tr{
			background-color:#FFF;
		}
		tr:nth-child(even){
			background-color:#fafafa;
		}
		td{
			border:1px solid #efefef;
			padding:5px 10px;
		}
		th{
			border:1px solid #efefef;
			padding:5px 10px;
			text-align: left;
		}
	}
}