/* Imports */
@import 'variables';
@import 'functions';
@import 'mixins';

/* Sidebar (then merge this with common.scss) */
.sidebar{
	width: 100% !important;

	.form-group{
		margin-left: 10px;
	}
}

/* Forms (then move and merge with old forms) */
.form-group{
	margin-bottom: 15px;

	label{
		display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	}

	.form-control{
		display: block;
    	width: 100%;
	}
}

/* Handsontable version */
.handsontable td.area{
	background:$modal-table-selected-color;
}

/* Identificador por color */
.hot-sel-col span.color,
td.hot-sel-col{
	background-color:#86ad7f;
}

.hot-sel-row span.color,
td.hot-sel-row{
	background-color:#ffb796;
}

td.hot-sel-row.hot-sel-col{
	background-color:#777777;
}

.hot-sel-table span.color, 
td.hot-sel-table{
	background-color:#d6ebff;
}

.hot-sel-cell span.color,
td.hot-sel-cell{
	background-color:#9AB2B9;
}

td.hot-sel-header.hot-sel-col,
td.hot-sel-header.hot-sel-cell{
	// Original
	// background-color: #FCDE15; 
	// color: #FFFFFF;
	background-color: #DBDBDB;
	font-weight: bold;
}
