/* Import SASS variables */
@import 'variables';

/* Structure */
.main-section .section-content{padding:20px 0 10px 0;}
.detail{}
.detail > .wrapper1{padding-left:310px;height:100%;}
.detail > .wrapper1 > .wrapper2{width:100%;height:100%;}
.detail > .wrapper1 > .wrapper2 > .wrapper3{width:100%;float:left;margin-left:-310px;height:100%;}
.sidebar-container{width:280px;float:left;height:100%;}
.detail-container{width:100%;float:right;margin-right:-310px;height:100%;}

/* Detail */
.detail-container .box{background:#fff;border:1px solid #dadada;}
.detail-container header{margin:0;padding:12px 15px;}
.detail-container header h1{padding-bottom:8px;font-size:$font-size-l;}
.detail-container header h2{color:$font-color-light;font-size:$font-size-m;}
.detail-container .resource-detail.box{margin-top:0;}
.detail-container .resources-table{overflow-y:auto;position:relative;}