/* Import SASS variables */
@import 'variables';
@import 'functions';

/* Structure */
.manager{position:relative;}

/* Loading */
.manager > .loading{background:rgba(255,255,255,.4) url(#{$loader-url-light}) no-repeat center center;left:0;position:absolute;right:0;top:0;bottom:0;text-indent:-10000px;}

/* Zero Results */
.zeroResults{position:absolute;height:180px;width:250px;left:50%;top:50%;margin:-100px 0 0 -125px;text-align:center;}
.zeroResults p{color:#ebe9e9;font-size:20px;font-weight:bold;text-shadow:1px -1px 0 #dfdcdc;margin-top:15px;}
.zeroIcon{height:151px;width:100%;background-image:url(../images/common/zeroResults.png);background-repeat:no-repeat;}
.zeroDatasets{background-position:50% 0;}
.zeroDataviews{background-position:50% -151px;}
.zeroVisualizations{background-position:50% -302px;}

.startAdding{height:87px;width:410px;right:50px;top:25px;position:absolute;text-align:right;}
.startAdding p{float:left;font:20px "permanent_marker";text-align:right;width:340px;text-transform:uppercase;}
.startAdding p.first{margin-top:30px;}
.startAdding p.second{margin:-6px 0 0 15px;}
.startAddingArrows{width:54px;height:63px;background-image:url(../images/common/startAdding.png);background-repeat:no-repeat;float:right;}

/* Bulk Actions */
.bulk-actions{/*display:none;*/padding-top:8px;padding-left:24px;}
.bulk-actions select{border:1px solid #000;height:24px;}
.bulk-actions select:focus,
.bulk-actions select:active{
  border:1px solid #000;
  -webkit-box-shadow:0 0 5px #000;
     -moz-box-shadow:0 0 5px #000;
          box-shadow:0 0 5px #000;
}
.bulk-actions button{margin-left:5px;}

/* Filters */
.filters-container{background:#f6f4f4;border-right:1px solid #e5e5e5;text-shadow:0 1px 0 #fff;
    -webkit-border-radius:3px 0 0 3px;
       -moz-border-radius:3px 0 0 3px;
            border-radius:3px 0 0 3px;
}
.filters-container > div{padding-bottom:9px;}
.filters-container > div h3{font-size:$font-size-base;line-height:16px;padding:9px 15px 5px;text-transform:uppercase;border-bottom:1px solid #e5e5e5;word-break:break-word;
    -webkit-box-shadow:0 1px 0 0 #fff;
       -moz-box-shadow:0 1px 0 0 #fff;
            box-shadow:0 1px 0 0 #fff;
}
.filters-container > div > ul{padding:8px 0;}

    /* Active filters */
    .filters-container .activeFilters li{position:relative;padding:5px 23px 5px 8px;background:#e8e8e8;margin:8px 8px 0;
        -webkit-box-shadow:inset 0 0 5px 0 rgba(21,21,21,.1);
           -moz-box-shadow:inset 0 0 5px 0 rgba(21,21,21,.1);
                box-shadow:inset 0 0 5px 0 rgba(21,21,21,.1);
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }
    .filters-container .activeFilters li:first-child{margin-top:0;}
    .filters-container .activeFilters li span{font-size:12px;word-break:break-word;}
    .filters-container .activeFilters li a{position:absolute;right:0;top:0;width:23px;height:25px;line-height:25px;color:#6a6969;text-align:center;font-weight:bold;}
    .filters-container .activeFilters li a:hover{color:#c00202;text-decoration:none;}

    /* Normal filters */
    .filters-container .filters li a{padding:2px 15px;line-height:16px;display:block;word-break:break-word;}
    .filters-container .filters li a:hover{background:$accent-color;color:#fff;text-shadow:0 1px 0 #1452b0;text-decoration:none;}

/* List */
.list-container{padding:0 15px 15px;}
.list-container table{width:100%;text-shadow:0 1px 0 #fff;}
.list-container table th{text-align:left;color:#999;font-family:$font-extra-family;text-transform:uppercase;height:30px;border-bottom:1px solid #e4e4e4;vertical-align:middle;padding:0 10px 0 10px;line-height:27px;}
.list-container table .select-all-header-cell input[type=checkbox]{position:relative;top:3px;}
.list-container table tr{}
.list-container table td{border-bottom:1px solid #e4e4e4;vertical-align:top;padding:12px 10px 12px 10px;line-height:18px;
    -webkit-box-shadow:inset 0 1px 0 0 #fff;
       -moz-box-shadow:inset 0 1px 0 0 #fff;
            box-shadow:inset 0 1px 0 0 #fff;
}
.list-container table th.select-all-header-cell,
.list-container table td.select-row-cell{width:25px;padding-left:0;padding-right:0;text-align:right !important;}
.list-container table h3{font-size:$font-size-m;}
.list-container table h3:first-letter{text-transform:uppercase;}
.list-container table h3 span.sep{color:#e0e0e0;padding:0 2px;}
.list-container table .filename{display:block;}
.list-container table .filename a{color:#3a3a3a;}
.list-container table .date{display:block;color:$font-color-light;}
.list-container table .actions{padding-top:10px;}
.list-container table .actions li{float:left;visibility:hidden;}
.list-container table .actions li:before{content:"|";padding:0 7px;color:#e1e1e1;display:inline;position:relative;float:left;}
.list-container table .actions li:first-child:before{display:none;}
.list-container table .actions li a{line-height:18px;display:inline-block;cursor:pointer;}
.list-container table .actions li.review{visibility:visible;}
.list-container table .actions li.review a{padding-left:23px;background:url(../images/common/ic_warning_orange.png) no-repeat 0 1px;}
.list-container table button.small{float:left;padding:0;background:none;}
.list-container table i{font-style:normal;display:inline-block;}
.list-container table i.type_nice.icon{display:inline;}
.list-container table tr:nth-child(odd) td{background:#fbfbfb;}
.list-container table tr:hover td{background:$accent-color-05 !important;}
.list-container table tr:hover li{visibility:visible;}

/* Overlays */
.ao-popup-overlay table th{text-transform:uppercase;font-family:$font-secondary-family;line-height:25px;color:#999;font-weight:normal;}

#id_addDataview #dataset_grid, 
#id_addVisualization #dataview_grid {height:280px;overflow:auto;overflow-x:hidden;}