/* Import SASS variables */
@import 'variables';

.ao-popup-overlay .formContent .ov-content{width:inherit;padding:0;overflow-y:auto;max-height:380px;}
.ao-popup-overlay .In form{width:915px;}
.col-1, .col-2{width:51%;padding:0 15px;margin:15px 0 0;float:left;}
.col-2{width:49%;}
.col-border{border-left:1px solid #e3e3e3;}

.formContent h2{font-size:16px;font-weight:bold;color:#989898;padding-bottom:10px;}
.formContent .row{padding-bottom:15px;}
.formContent .row label{font-size:12px;line-height:inherit;height:inherit;color:#333;display:block;float:left;width:90px;padding-right:8px;padding-top:7px;text-shadow:0 1px 0 #fff;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.formContent .row input, 
.formContent .row select{width:320px;background:#fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.1) inset;padding:5px;font-size:12px;float:left;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.formContent .row textarea{width:420px;}
.formContent .nolabel{margin-left:90px;position:relative;top:3px;}
/* Rich text editor */
.nicEdit-main{height:250px;outline:none;}
.formContent .tagsContent, .formContent .sourcesContent, .formContent .paramContent{margin-left:90px;}
.formContent p.tip{font-size:11px;color:#999;clear:both;float:left;margin:5px 0 0 90px;padding-bottom:10px;text-shadow:0 1px 0 #fff;}
.formContent .required {float:left;margin-left:5px;width:5px;}
.formContent .divider{margin-bottom:15px;width:100%;border-bottom:1px solid #e3e3e3;}
.formContent .insetFormTitle{font-size:14px;margin:15px 0;font-family:$font-secondary-family;text-transform:uppercase;}
.formContent .row p.has-error{padding:7px 0 0 90px;clear:both;color:#f45f64;}