/* Import SASS variables */
@import 'variables';
@import 'functions';

/* Theme Tabs */
.themeTabs{margin-bottom:15px;}
.themeTabs > ul{position:relative;z-index:2;border-bottom:1px solid #e2e0e0;padding-bottom:5px;}
.themeTabs > ul li{margin:0 20px 20px 0;float:left;width:220px;background:none;padding:0;}
.themeTabs > ul li:nth-child(4n){margin-right:0;}
.themeTabs > ul li a{display:block;cursor:pointer;padding:0 0 10px;text-align:center;}
.themeTabs > ul li a .text{display:block;height:46px;line-height:46px;font-size:14px;color:$font-color-base;text-shadow:0 1px 0 #fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:center;position:relative;}
.themeTabs > ul li a .img{position:relative;z-index:3;display:block;width:146px;margin:0 auto;}
.themeTabs > ul li a .img img{width:128px;height:180px;border:10px solid #f4f4f4;position:relative;z-index:3;}
.themeTabs > ul li a i{position:absolute;display:none;z-index:4;}
	
	/* Hover */
	.themeTabs > ul li a:hover{text-decoration:none}
	.themeTabs > ul li a:hover img{border-color:$accent-color-05;}

	/* Active */
	.themeTabs > ul li.active{}
	.themeTabs > ul li.active a{background:$accent-color-05;border-color:$accent-color-15;}
	.themeTabs > ul li.active a span{font-weight:bold;}
	.themeTabs > ul li.active a img{border:0;margin:10px 9px;
		-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.2);
			 -moz-box-shadow:0 0 5px 0 rgba(0,0,0,.2);
						box-shadow:0 0 5px 0 rgba(0,0,0,.2);
	}
	.themeTabs > ul li.active a i{display:block;}

	/* Theme Numbers on tabs */
	.themeTabs > ul li a i{color:#333;font-size:12px;font-weight:bold;width:108px;text-shadow:0 1px 0 #fff;left:19px;top:20px;text-align:center;font-style:normal;}

		/* Theme 0 */
		.themeTabs > ul li.theme0 a .i1{width:67px;height:49px;line-height:49px;}
		.themeTabs > ul li.theme0 a .i2{width:33px;height:27px;line-height:27px;left:94px;}
		.themeTabs > ul li.theme0 a .i3{width:33px;height:14px;line-height:17px;left:94px;top:55px;}
		.themeTabs > ul li.theme0 a .i4{width:108px;height:64px;line-height:65px;top:77px;}
		.themeTabs > ul li.theme0 a .i5{width:67px;height:31px;line-height:30px;left:19px;top:149px;}
		.themeTabs > ul li.theme0 a .i6{width:33px;height:31px;line-height:30px;left:94px;top:149px;}

		/* Theme 1 */
		.themeTabs > ul li.theme1 a .i1{height:49px;line-height:49px;}
		.themeTabs > ul li.theme1 a .i2{height:103px;line-height:103px;top:77px;}
	
		/* Theme 2 */
		.themeTabs > ul li.theme2 a .i1{height:29px;line-height:29px;}
		.themeTabs > ul li.theme2 a .i2a,
		.themeTabs > ul li.theme2 a .i2b{width:50px;height:32px;line-height:32px;top:57px;}
		.themeTabs > ul li.theme2 a .i2b{left:77px;}
		.themeTabs > ul li.theme2 a .i3{height:22px;line-height:24px;top:96px;}
		.themeTabs > ul li.theme2 a .i4{height:53px;line-height:51px;top:127px;}
		
		/* Theme 3 */
		.themeTabs > ul li.theme3 a .i1{height:48px;line-height:48px;}
		.themeTabs > ul li.theme3 a .i2{height:42px;line-height:42px;top:75px;}
		.themeTabs > ul li.theme3 a .i3{height:54px;line-height:54px;top:126px;}
		
		/* Theme 4 */
		.themeTabs > ul li.theme4 a .i1{height:29px;line-height:29px;}
		.themeTabs > ul li.theme4 a .i2{width:50px;height:60px;line-height:60px;top:56px;}
		.themeTabs > ul li.theme4 a .i3{width:50px;height:32px;line-height:32px;top:56px;left:77px;}
		.themeTabs > ul li.theme4 a .i4{width:50px;height:18px;line-height:23px;top:98px;left:77px}
		.themeTabs > ul li.theme4 a .i5{width:107px;height:53px;line-height:51px;top:127px;left:20px}

		/* Theme 5 */
		.themeTabs > ul li.theme5 a .i1{height:12px;line-height:12px;}
		.themeTabs > ul li.theme5 a .i2{width:65px;height:18px;line-height:18px;top:40px;}
		.themeTabs > ul li.theme5 a .i3{width:35px;height:34px;line-height:37px;top:40px;left:93px;}
		.themeTabs > ul li.theme5 a .i4{height:23px;line-height:26px;top:82px;}
		.themeTabs > ul li.theme5 a .i5{width:30px;height:23px;line-height:23px;top:113px;}
		.themeTabs > ul li.theme5 a .i6{width:32px;height:23px;line-height:23px;top:113px;left:58px;}
		.themeTabs > ul li.theme5 a .i7{width:30px;height:23px;line-height:23px;top:113px;left:98px;}
		.themeTabs > ul li.theme5 a .i8{height:12px;line-height:12px;top:144px;}
		.themeTabs > ul li.theme5 a .i9{height:16px;line-height:18px;top:164px;}

		/* Theme 6 */
		.themeTabs > ul li.theme6 a .i1{height:42px;line-height:51px;top:12px;}
		.themeTabs > ul li.theme6 a .i2{height:22px;line-height:25px;top:62px;}
		.themeTabs > ul li.theme6 a .i3{height:21px;line-height:23px;top:92px;}
		.themeTabs > ul li.theme6 a .i4{width:30px;height:23px;line-height:23px;top:121px;}
		.themeTabs > ul li.theme6 a .i5{width:32px;height:23px;line-height:23px;top:121px;left:58px;}
		.themeTabs > ul li.theme6 a .i6{width:30px;height:23px;line-height:23px;top:121px;left:98px;}
		.themeTabs > ul li.theme6 a .i7{height:28px;line-height:28px;top:152px;}

/* Title and Description */
.configs .title{margin:0 0 5px;border:0 !important;}
.configs .description,
.configs .configDescription{padding-bottom:20px;line-height:21px;font-size:14px;}

/* Forms */
.configs form{border-top:1px solid #e2e0e0;padding-top:20px;}
.configs .formBox{padding-top:20px;}
.configs .formBox:first-child{padding-top:0;}
.configs .formBox header{padding:0 0 13px 0;background:none;border-bottom:none;border-radius:0;box-shadow:none;margin:0;}
.configs .formBox header .num{color:#333;font-weight:bold;font-size:15px;float:left;text-align:center;line-height:24px;height:20px;width:20px;border-radius:50%;}
.configs .formBox header hgroup{padding-left:30px;}
.configs .formBox header h1{color:$font-color-semi-light;font-size:$font-size-m;font-weight:bold;line-height:normal;padding:1px 0;}
.configs .formBox header h2{font-size:$font-size-base;color:#a2a1a1;}
.configs .formBox fieldset{background:#f4f4f4;padding:13px;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
}
.configs .formBox fieldset .row{padding-top:15px;}
.configs .formBox fieldset .row:first-child{padding-top:0;}
.configs .formBox fieldset label{padding-bottom:8px;display:inline-block;height:17px;line-height:17px;font-size:$form-label-size;color:$form-label-color;padding-left:12px;}
.configs .formBox fieldset .field{border:1px solid #d9d7d7;width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.configs .formBox fieldset input.field{height:30px;padding:0 12px;}
.configs .formBox fieldset textarea.field{padding:12px;height:100px;}

.configs form table td{border:0;}
.configs .formBox fieldset.imageComponent.theme3,
.configs .buttonsSection fieldset.imageComponent,
.configs .linksSection fieldset.imageComponent{padding-top:0;}
.configs .formBox fieldset.imageComponent .arrangeIcon{display:block;margin-right:13px;width:13px;height:33px;background:url(/static/workspace/images/personalizeHome/ic_arrange.gif) no-repeat 0 center;}
.configs .formBox fieldset.imageComponent .arrangeIcon:hover{cursor:move;cursor:url(/static/core/images/cursors/cu_openhand.cur);cursor:-moz-grab;}
.configs .formBox fieldset.imageComponent .rowSeparation{padding-bottom:5px;}
.configs .formBox fieldset.imageComponent table img,
.configs .formBox fieldset.imageComponent img{width:108px;margin:0 10px 5px 0;float:left;border:1px solid #d9d7d7;border-radius:3px;}
.configs .formBox fieldset.imageComponent.theme4 img{width:241px;}
.configs .formBox fieldset.imageComponent.theme5 img{height:auto;}
.configs .formBox fieldset.imageComponent table label{padding:9px 8px 0;}
.configs .formBox fieldset.imageComponent.theme6 table label{width:80px;text-align:right;padding-left:0 !important;}
.configs .formBox fieldset.imageComponent .crop{width:110px;padding-top:3px;overflow:hidden;height:32px;}
.configs .formBox fieldset.imageComponent .crop input[type=file]{width:110px;height:32px;position:relative;z-index:2;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";cursor:pointer;}
.configs .formBox fieldset.imageComponent .crop button{position:absolute;top:3px;left:0;width:110px;z-index:1;height:29px !important;padding:0;}
.configs .formBox fieldset.imageComponent table .field{width:210px;font-size:12px;margin:2px 0 0;}
.configs .formBox fieldset.imageComponent.theme5 table .field{width:110px;}
.configs .formBox fieldset.imageComponent .remove{margin-left:10px;border:0;padding:10px 0 0;background:transparent;font-size:11px;color:#aa2222;text-shadow:0 1px 0 #fff;display:inline-block;}
.configs .formBox fieldset.imageComponent .remove:hover{text-decoration:underline;cursor:pointer;}
.configs .formBox fieldset.imageComponent .tipText{font-size:11px;color:#333;line-height:16px;padding-top:10px;}
.configs .formBox fieldset.imageComponent.theme4 .tipText,
.configs .formBox fieldset.imageComponent.theme5 .tipText{padding:12px 0;}
.configs .formBox fieldset.imageComponent .tipText span{background:#fbe89a;padding:0 3px;display:inline-block;margin-right:3px;font-weight:bold;color:#666;}
.configs .formBox fieldset.imageComponent table{width:100%;}
.configs .formBox fieldset.imageComponent .tr{height:33px;}
.configs .welcomeSection fieldset.imageComponent .tr,
.configs .featuredSection fieldset.imageComponent .tr,
.configs .bottomSection fieldset.imageComponent .tr{height:auto;}
.configs .formBox fieldset.imageComponent td{padding:13px 0;}
.configs .formBox fieldset.imageComponent td > div.clearfix{width:100%;}
.configs .formBox fieldset.imageComponent tr,
.configs .formBox fieldset.imageComponent .borderForRow{border-bottom:1px solid #d9d7d7;float:left;width:100%;margin-bottom:10px;
	-webkit-box-shadow:0 1px 0 0 #fff;
		 -moz-box-shadow:0 1px 0 0 #fff;
				  box-shadow:0 1px 0 0 #fff;
}
.configs .formBox fieldset.imageComponent tr.ui-sortable-placeholder{background:#eee;}
.configs .formBox fieldset.imageComponent tr.ui-sortable-helper{border:0;
	-webkit-box-shadow:0 0 0 0 transparent;
		 -moz-box-shadow:0 0 0 0 transparent;
				  box-shadow:0 0 0 0 transparent;
}

#carrousel_image ul li{margin-bottom:15px;float:left;}
#carrousel_image ul li:last-child{margin-bottom:0;}	
.configs .formBox .imageSavedBox{border-bottom:1px solid #ddd;padding-bottom:15px;}
.configs .formBox fieldset.imageComponent.theme6 .draggableSection{vertical-align:top;}
.configs .formBox .thumbnail{}
.configs .formBox .imageInfo label{padding:8px 4px;}
.configs .formBox .imageInfoItem{text-align:right;margin:0 0 15px 12px;display:table;width:100%;}
.configs .formBox .imageButtons{margin:22px 0 0 10px;}

/* Buttons Section */
.configs .buttonsSection fieldset .bottomRow{padding-top:11px;}
.configs .buttonsSection fieldset .bottomRow .button{margin-top:4px;}
.configs .buttonsSection fieldset .buttonsPerRow label{padding:9px 8px 0;}
.configs .buttonsSection fieldset .buttonsPerRow input.field{width:40px;text-align:center;font-size:12px;}

/* Links Section */
.configs .linksSection fieldset.imageComponent.theme5 table .field{widows: 150px;}

/* Slider List */
.sliderList{padding:12px;height:100px;overflow-y:auto;}
.sliderList input{margin:0;}
.configs .formBox fieldset .sliderList label{position:relative;top:-2px;padding-left:8px;padding-bottom:0;display:inline-block;height:auto;line-height:auto;}

/* Buttons */
.buttons{padding-top:15px;clear:both;border-top:1px solid #E2E0E0;}
.buttons .button{margin:0 5px;}

/* Tagging */
.tagsContent{margin-left:0;}
.tag .tagTxt{line-height:22px;}
.ic_Data{background-position:2px -19px !important;}
.ui-autocomplete .ic_Data{background-position:2px -23px !important;}

/* Help & tips */
.helpBox .rowTop{padding-bottom:10px;border-bottom:1px solid #ddd;color:$font-color-semi-light;}
.helpBox .rowBottom{padding-top:10px;border-top:1px solid #fff;color:$font-color-semi-light;}

/* Preview */
#id_previewOverlay{width:98%;height:95%;}
#id_previewOverlay .In{padding:0;margin:0;width:100%;height:100%;}
#id_previewOverlay iframe{float:left;width:100%;min-width:980px;min-height:500px;overflow:auto;}

/* No Theme Selected */
.configs.noThemeSelected .configDescription,
.configs.noThemeSelected form,
.configs.noThemeSelected > .CR{display:none;}
.configs.noThemeSelected .description{padding-bottom:0;}

/* Color Picker */
.colorPicker{cursor:pointer;}
.colorPicker div{width:28px !important;height:28px !important;top:4px !important;left:4px !important;}