/* Imports */
@import 'variables';
@import 'functions';


/* Hide google viz error */
#id_visualizationResult > [id^="google-visualization-errors"]{display:none !important;}

/* Loading */
#id_visualizationResult .loading{background:url(#{$loader-url-light}) no-repeat center center;height:400px;text-indent:-10000px;overflow:hidden;}
	
/* Result */
#id_visualizationResult{padding:10px;}