/* Imports */
@import 'variables';
@import 'functions';

/* Data Table */
.dataTable{}
	
	/* Header */
	.dataTable header{min-height:72px;border-bottom:1px solid #e4e4e4;padding:17px 17px 12px;
		background:#f0f0f0;
	  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
	  background:-webkit-linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  background:-moz-linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  background:-o-linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  background:linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#ffffff',GradientType=0);
	  -webkit-border-radius:4px 4px 0 0;
		   -moz-border-radius:4px 4px 0 0;
			      border-radius:4px 4px 0 0;
	}
	.dataTable header hgroup{text-shadow:0 1px 0 #fff;margin-top:-4px;}
	.dataTable header h1{font-size:18px;line-height:normal;width:100%;overflow:hidden;}
	.dataTable header h1 strong{font-weight:bold;display:block;float:none !important;}
	.dataTable header h1 span{display:block;}
	.dataTable header h1 .parameters{color:#958989;font-weight:normal;padding:3px 0;font-size:14px;line-height:21px;}
	.dataTable header h1 .parameters a{cursor:pointer;}
	.dataTable header h2{font-size:14px;padding-top:3px;}
	.dataTable header h1 strong{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	.dataTable header h2{line-height:21px;}

		/* Disabled */
		.dataTable header h1 .parameters.isDisabled{opacity: 0.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
		.dataTable header h1 .parameters.isDisabled a,
		.dataTable header h1 .parameters.isDisabled a:hover{cursor:default;text-decoration:none;}
	
	/* Social */
	.dataTable .socialBox{border:1px solid #e0e0e0;background:#f4f4f4;padding-left:5px;height:44px;display:none;position:relative;top:-3px;
		-webkit-border-radius:4px;
		   -moz-border-radius:4px;
		        border-radius:4px;
	}
	.dataTable .socialBox > span{margin:5px 5px 0 0;float:left;display:block;}
	.dataTable .socialBox .stButton{padding:0 !important;margin:0 !important;width:32px !important;height:32px !important;}
	.dataTable .socialBox .stButton .stLarge{background:url(/static/microsites/images/microsites/ic_socialMedia.png) no-repeat !important;width:32px !important;height:32px !important;padding:0 !important;margin:0 !important;}
	.dataTable .socialBox .st_facebook_large .stButton .stLarge,
	.dataTable .socialBox .st_facebook_large .stButton .stLarge:hover{background-position:0 0 !important;}
	.dataTable .socialBox .st_twitter_large .stButton .stLarge,
	.dataTable .socialBox .st_twitter_large .stButton .stLarge:hover{background-position:0 -35px !important;}
	.dataTable .socialBox .st_googleplus_large .stButton .stLarge,
	.dataTable .socialBox .st_googleplus_large .stButton .stLarge:hover{background-position:0 -70px !important;}
	.dataTable .socialBox .st_linkedin_large .stButton .stLarge,
	.dataTable .socialBox .st_linkedin_large .stButton .stLarge:hover{background-position:0 -105px !important;}

	/* Sharing Enabled */
	.dataTable header.sharingEnabled hgroup{padding-right:180px;}
	.dataTable header.sharingEnabled .socialBox{display:block;}

	/* Data Stream Result */
	.dataTable .data,
	.dataTable .data table,
	.dataTable .data table td,
	.dataTable .data table tr,
	.dataTable .data table th{border-collapse:collapse;}
	.dataTable .data .text,
	.dataTable .data .number,
	.dataTable .data .null{height:400px;width:100%;vertical-align:center;}
	.dataTable .data .text td,
	.dataTable .data .number td,
	.dataTable .data .null td{font-size:22px;text-align:center;font-weight:bold;color:#4d4d4d;padding:0;margin:0;vertical-align:middle;line-height:normal;}
	.dataTable .data .text td{font-weight:normal;}
	.dataTable .data .number td{font-size:50px;}
	.dataTable .data .null td{color:#aaa;}
	.dataTable .data .null td span{display:block;font-size:14px;padding-top:4px;font-weight:normal;}
	.dataTable .data .null td a{cursor:pointer;}

		/* Type Array */
		.dataTable .data #id_datastreamResult > .result > table.array{color:#4D4D4D;font:normal 11px arial, helvetica, sans-serif;text-shadow:0 1px 0 #fff;min-width:100%;}
		.dataTable .data #id_datastreamResult > .result > table.array th{background:#f6f5f5 !important;color:#aaa !important;text-shadow:0 1px 0 #fff !important;font-weight:bold !important;padding:2px 5px;border:1px solid #EFEFEF;border-top:0;}
		.dataTable .data #id_datastreamResult > .result >table.array td{padding:2px 5px;border:1px solid #EFEFEF;border-top:0;}

	/* Loading */
	.dataTable .data .loading{background:url(#{$loader-url-light}) no-repeat center center;height:400px;text-indent:-10000px;overflow:hidden;}
	body .dataTable #id_datastreamResult .flexigrid > div.gBlock{background:#fff url(#{$loader-url-light}) no-repeat center center!important;background-color:rgba(255,255,255,0.5) !important;text-indent:-10000px;overflow:hidden;position:absolute !important;height:100% !important;width:100% !important;}

	/* Pivot Table */
	.dataTable.pivotEnabled header{border-color:#c9c7c7;}
	.dataTable .data #id_pivotDataStream{position:relative;width:100%;height:0;z-index:1;background:#fff;padding-top:49px;
		-webkit-border-radius:0 0 4px 4px;
			 -moz-border-radius:0 0 4px 4px;
			      border-radius:0 0 4px 4px;
	}

		/* Pivot Buttons */
		.dataTable .data #id_pivotButtons{height:48px;background:#e2e0e0;border:1px solid #c9c7c7;border-top:0;position:absolute;top:0;left:0;width:100%;
			-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,.10);
		     -moz-box-shadow:inset 0 0 3px 0 rgba(0,0,0,.10);
		          box-shadow:inset 0 0 3px 0 rgba(0,0,0,.10);
		}
		.dataTable .data #id_pivotButtons > li{float:left;border-right:1px solid #fff;}
		.dataTable .data #id_pivotButtons .icon{border-right:1px solid #d1cfd0;display:block;height:48px;width:90px;color:#8e8f91;text-shadow:0 1px 0 rgba(255,255,255,.75);font-size:10px;text-transform:uppercase;text-align:center;font-weight:bold;padding-top:7px;}
		.dataTable .data #id_pivotButtons .icon > i{display:block;height:21px;background:url(/static/microsites/images/microsites/ic_pivotIcons.png) no-repeat;}
		.dataTable .data #id_pivotButtons .icon > span{height:17px;line-height:17px;}

			/* Right tabs */
			.dataTable .data #id_pivotButtons > li.FR{float:right;border-right:0;border-left:1px solid #d1cfd0;}
			.dataTable .data #id_pivotButtons > li.FR .icon{border-right:0;border-left:1px solid #fff;}
	
			/* Hover and active */
			.dataTable .data #id_pivotButtons .icon:hover{text-decoration:none;cursor:pointer;}
			.dataTable .data #id_pivotButtons .icon:hover,
			.dataTable .data #id_pivotButtons .icon.active{background:#d4d4d4;color:#444;border-right-color:#a6a6a6;
				-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
				   -moz-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
				        box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
			}

			/* Tooltip */
			.dataTable .data #id_pivotButtons .tooltip.pulldown{z-index:3;top:55px;position:absolute;left:-14px;display:none;width:120px;}
			.dataTable .data #id_pivotButtons .tooltip.pulldown li a{display:block;}

			/* Icons */
			.dataTable .data #id_pivotButtons .icon.pivotTable i{background-position:center 0;}
			.dataTable .data #id_pivotButtons .icon.pivotTable:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotTable.active i{background-position:center -50px;}
			.dataTable .data #id_pivotButtons .icon.pivotCharts i{background-position:center -100px;}
			.dataTable .data #id_pivotButtons .icon.pivotCharts:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotCharts.active i{background-position:center -150px;}
			.dataTable .data #id_pivotButtons .icon.pivotFields i{background-position:center -200px;}
			.dataTable .data #id_pivotButtons .icon.pivotFields:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotFields.active i{background-position:center -250px;}
			.dataTable .data #id_pivotButtons .icon.pivotFullScreen i{background-position:center -300px;}
			.dataTable .data #id_pivotButtons .icon.pivotFullScreen:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotFullScreen.active i{background-position:center -350px;}
			.dataTable .data #id_pivotButtons .icon.pivotHelp i{background-position:center -400px;}
			.dataTable .data #id_pivotButtons .icon.pivotHelp:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotHelp.active i{background-position:center -450px;}

			/* Buttons in ES need to be wider */
			html[lang=es-ES] .dataTable .data #id_pivotButtons .icon{width:125px;}
			html[lang=es-ES] .dataTable .data #id_pivotButtons .tooltip.pulldown{left:2px;}
		
		/* Pivot Component */
		.dataTable .data #id_pivotTableContainer{width:100%;height:0;
			-webkit-border-radius:0 0 4px 4px;
				 -moz-border-radius:0 0 4px 4px;
				      border-radius:0 0 4px 4px;
		}
		.dataTable .data object{width:100%;height:100%;}

		/* Pivot Security Div */
		.dataTable .data .flexmonsterSecurityDiv{
			-webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,.25);
		     -moz-box-shadow:0 3px 5px 0 rgba(0,0,0,.25);
		          box-shadow:0 3px 5px 0 rgba(0,0,0,.25);
		}
	
	/* Flexigrid - Adjustments*/
	.flexigrid{color:#4D4D4D;font:normal 11px arial, helvetica, sans-serif;text-shadow:0 1px 0 #fff;}
	.flexigrid div.hDiv,
	.flexigrid div.bDiv{border:0 !important;}
	.flexigrid div.hDiv,
	div.colCopy{background:#f6f5f5 !important;}
	.flexigrid div.hDiv table th div,
	div.colCopy,
	div.colCopy div{color:#aaa !important;text-shadow:0 1px 0 #fff !important;font-weight:bold !important;word-wrap:normal !important;}
	div.colCopy{border-bottom:1px solid #ccc !important;}
	.flexigrid tr.erow td{background:#fafafa !important;}
	.flexigrid div.nBtn{border-color:#e2e0e0 !important;background:#f6f5f5 !important;border-bottom:1px solid #fff !important;height:24px !important;margin-left:-2px !important;margin-top:0 !important;width:17px !important;}
	.flexigrid div.nBtn:hover{background-color:#eaeaea !important;}
	.flexigrid div.nBtn div{background-image:url(/static/microsites/images/microsites/ic_flexigridColButton.gif) !important;height:24px !important;width:16px;}
	.flexigrid div.nBtn:hover div{background-image:url(/static/microsites/images/microsites/ic_flexigridColButton_hover.gif) !important;}
	.flexigrid div.bDiv td{border-color:#efefef;border-left-color:#fff;border-left:0;}
	.flexigrid div.hDiv th{border-bottom:1px solid #e2e0e0 !important;border-left:0;}
	.flexigrid table td div,
	.flexigrid table th div,
	.flexigrid div.vGrip{
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box;
		        box-sizing:border-box;
	}
	.flexigrid table td div,
	.flexigrid table th div,
	.flexigrid div.bDiv td div{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-wrap:normal !important;}
	
		/* Hover */
		.flexigrid div.bDiv tr:hover td,
		.flexigrid div.bDiv tr:hover td.sorted,
		.flexigrid div.bDiv tr.trOver td.sorted,
		.flexigrid div.bDiv tr.trOver td,

		.flexigrid div.bDiv tr.trSelected:hover td,
		.flexigrid div.bDiv tr.trSelected:hover td.sorted,
		.flexigrid div.bDiv tr.trOver.trSelected td.sorted,
		.flexigrid div.bDiv tr.trOver.trSelected td,
		.flexigrid tr.trSelected td.sorted,
		.flexigrid tr.trSelected td{background:#eee !important;border-left:0 !important;border-bottom-color:#ccc !important;border-right:1px dotted #ccc !important;}
		.flexigrid div.hDiv th.thOver div,
		.flexigrid div.hDiv th.sorted.thOver div{border-color:#fff !important;}

		/* Drag & Drop */
		.flexigrid div.hDiv th.thOver{background:#eaeaea;}
		.flexigrid div.hDiv th.thOver div{color:#666 !important;cursor:move;cursor:url(/static/core/images/cursors/cu_openhand.cur);cursor:-moz-grab;}
		.flexigrid div.hDiv th.thMove div{cursor:move;cursor:url(/static/microsites/images/cursors/cu_closedhand.cur);cursor:-moz-grabbing;}
	
		/* Pagination */
		.flexigrid div.vGrip{position:relative;top:-32px;border:1px solid #dbdbdb !important;border-left:0 !important;border-right:0 !important;height:7px;}
		.flexigrid div.pDiv{position:relative;top:7px;border:1px solid #fff !important;
			background:#ffffff;
			background:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#dbdbdb));
			background:-webkit-linear-gradient(#ffffff 0%,#dbdbdb 100%);
			background:-moz-linear-gradient(#ffffff 0%,#dbdbdb 100%);
			background:-o-linear-gradient(#ffffff 0%,#dbdbdb 100%);
			background:linear-gradient(#ffffff 0%,#dbdbdb 100%);	
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dbdbdb',GradientType=0);
			-webkit-border-radius:0 0 4px 4px;
			   -moz-border-radius:0 0 4px 4px;
				      border-radius:0 0 4px 4px;
		}
		.flexigrid div.pDiv input{top:-4px;font-size:11px;height:18px;}
		.flexigrid div.pDiv select{top:1px;font-size:11px;position:relative;height:22px;}
		.flexigrid div.pDiv2 > div.pGroup:nth-child(11),
		.flexigrid div.pDiv2 > div.btnseparator:nth-child(10){display:none !important;}
		.flexigrid div.pDiv div.pReload{display:none !important;}
		.flexigrid div.pDiv div.pDiv2:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
		.flexigrid div.pDiv div.pDiv2{display:block;float:none;width:auto;margin:0;padding:3px;}
		.flexigrid div.pDiv div.pButton:hover,
		.flexigrid div.pDiv div.pButton.pBtnOver{width:22px;height:22px;border:0;}
		.flexigrid div.pDiv div.pButton:hover span,
		.flexigrid div.pDiv div.pButton.pBtnOver span{border:0;width:20px;height:20px;}
				
			/* Drop positions */
			.flexigrid span.cdropleft,
			.flexigrid div.hDiv span.cdropright{width:20px;height:20px;top:-23px;margin-bottom:-23px;}
			.flexigrid span.cdropleft{left:-5px;}
			.flexigrid div.hDiv span.cdropright{right:-3px;}

			/* Images */
			.flexigrid .pFirst,
			.flexigrid .pPrev,
			.flexigrid .pNext,
			.flexigrid .pLast,
			.flexigrid span.cdropleft,
			.flexigrid div.hDiv span.cdropright,
			.flexigrid .pSearch{background:url(/static/microsites/images/microsites/bt_dataTable.png) no-repeat;}

			.flexigrid .pFirst{background-position:0 0;}
			.flexigrid .pFirst:hover{background-position:0 -22px;}
			.flexigrid .pPrev,
			.flexigrid span.cdropleft{background-position:0 -44px;}
			.flexigrid .pPrev:hover{background-position:0 -66px;}
			.flexigrid .pNext,
			.flexigrid div.hDiv span.cdropright{background-position:0 -88px;}
			.flexigrid .pNext:hover{background-position:0 -110px;}
			.flexigrid .pLast{background-position:0 -132px;}
			.flexigrid .pLast:hover{background-position:0 -154px;}
			.flexigrid .pSearch{background-position:0 -175px;}
			.flexigrid .pSearch:hover{background-position:0 -197px;}

		/* Search */
		.flexigrid div.sDiv{border:0;border-top:1px solid #DADADA;background:#fafafa;background:rgba(250,250,250,.85);width:100%;position:absolute;bottom:32px;left:0;}
		.flexigrid div.sDiv input{height:18px;font-size:11px;margin-left:5px;}
		.flexigrid div.sDiv select{font-size:11px;height:22px;}
		.flexigrid div.sDiv div.sDiv2{padding-left:10px;text-shadow:0 1px 0 #fff;}

		/* Erase this if vGrip needed */
		.flexigrid div.vGrip{display:none;}
		.flexigrid div.pDiv{position:static;top:auto;border-top-color:#dadada !important;}

		/* No Horizontal Scroll */
		.flexigrid .noHorizontalScroll{overflow-x:hidden !important;}

/* Arguments Overlay */
.argumentsOverlay{width:400px;}
.ao-popup-overlay .argumentsOverlay .In form{width:auto;}
.ao-popup-overlay .argumentsOverlay p{padding-top:18px;line-height:16px;}
.argumentsOverlay .form{margin:20px;padding:15px 15px 0;border:1px solid #ddd;border-left:0;border-right:0;background:#efefef;}
.argumentsOverlay .form label{display:block;font-weight:bold;height:auto;line-height:normal;padding-bottom:10px;}
.argumentsOverlay .form .field{height:28px;width:306px;margin-bottom:15px;}
.argumentsOverlay .buttons a{margin:0 5px;cursor:pointer;}

#id_addDataview #dataset_grid{height:280px;overflow:auto;overflow-x:hidden;}