/* Import SASS variables */
@import 'variables';
@import 'functions';

/* Activity */
.activity article{float:left;width:100%;}
.activity article:nth-child(2n+1){background:$background-color-list;}
.activity article:first-child{margin-top:0;}
.activity p{line-height:20px;margin-bottom:0;font-size:$font-size-m;margin-top:15px;}
.activity p:first-letter{text-transform:uppercase;}
.activity p a{color:$link-color;}
.activity span.noLink{color:$font-color-light;}
.activity p * > *{vertical-align:middle;}