/* Import SASS variables */
@import 'variables';
@import 'functions';

/* Activity */
.activity {
	min-height:680px;
	
	article{float:left;width:100%;

		&:nth-child(2n+1){background:$background-color-list;}
		&:first-child{margin-top:0;}

		p{line-height:20px;margin-bottom:0;font-size:$font-size-m;margin-top:15px;
			
			&:first-letter{text-transform:uppercase;}
			a{color:$link-color;}
			span.noLink{color:$font-color-light;}
			* > *{vertical-align:middle;}
		}
	}

	.step1,
	.step2,
	.step3{position:relative;
		h2{padding:29px 0 15px 25px;color:#adadad;}

		@media(max-width:$break-md){
			img{width:85%;}
		}
	}

	.step1,
	.step2{border-right:2px dashed #dbdbdb;
		.arrowRight{background:url(/static/workspace/images/viewLandingPage/arrowRight.gif);width:22px;height:45px;position:absolute;top:22px;right:-22px;}
	}

	.start{
		h2{margin:10px 0 20px 0;}
	}

}