{% load i18n extra_tags %}
{% url "search.action_search" as search_url %}
    <!-- SEARCH RESULTS -->
    <div class="searchResults">

        <!-- PANEL TITLE -->
        <div class="boxTitle clearfix border">
          <h4 class="title">
          	<div class="innerTitle clearfix">
				<strong>{% trans "APP-SEARCHRESULTS-TEXT" %}</strong>
            	{% if query %}<span class="font">{% trans "APP-FOR-TEXT" %} <em>{{query}} - {{paginator.count}} {% trans "APP-MATCHES-TEXT" %} - {% trans "APP-TIME-TEXT" %}: {{search_time.search_time}}</em></span>{% endif %}
s            	{% if category %}<span class="font">{% trans "APP-INCATEGORY-TEXT" %} <em>{{category.name}} - {{paginator.count}} {% trans "APP-MATCHES-TEXT" %} - {% trans "APP-TIME-TEXT" %}: {{search_time.search_time}}</em></span>{% endif %}
            	<div class="transparency"></div>
			</div>
          </h4>
        </div>

            <div class="DataBox">
                {%if page_results %}
                    {% for item in page_results %}
                        {% ifequal item.type 'ds' %}
                            {% include "search/datastream.html" %}
                        {% else %}
                            {% ifequal item.type 'db' %}
                                {% include "search/dashboard.html" %}
                            {% else %}
                                {% ifequal item.type 'dt' %}
                                    {% include "search/dataset.html" %}
                                {% else %}
                                    {% include "search/visualization.html" %}
                                {% endifequal %}
                            {% endifequal %}
                        {% endifequal %}
                    {%endfor%}

                <div class="pagButtons clearfix pagination">
                {% if paginator.has_previous %}
                    {% if category %}
                        <a href="{% url "search.action_browse" category_slug=category_slug|lower page=paginator.previous_page_number %}" id="id_dataServicesPreviousButton" title="{% trans 'APP-PREVIOUS-TEXT' %}" class="Btn Ant">{% trans "APP-PREVIOUS-TEXT" %}</a>
                    {% else %}
                        <a id="id_dataServicesPreviousButton" href="{{search_url}}?q={{query|default:""|urlencode}}&page={{paginator.previous_page_number}}" title="{% trans 'APP-PREVIOUS-TEXT' %}" class="Btn Ant">{% trans "APP-PREVIOUS-TEXT" %}</a>
                    {% endif %}
                {% endif %}

                  {% for page in paginator.page_range %}
                    {% if category %}
                        <a href="{% url "search.action_browse" category_slug=category_slug|lower page=page %}" id="id_dataServicesPageButton_{{page}}" class="number{% ifequal paginator.page page %} act{% endifequal %}" title="{% trans 'APP-PAGE-TEXT' %} {{page}}">{{page}}</a>
                    {% else %}
                        <a href="{{search_url}}?q={{query|default:""|urlencode}}&page={{page}}" id="id_dataServicesPageButton_{{page}}" class="number{% ifequal paginator.page page %} act{% endifequal %}" title="{% trans 'APP-PAGE-TEXT' %} {{page}}">{{page}}</a>
                    {% endif %}

                  {% endfor %}

                {% if paginator.has_next %}
                    {% if category %}
                        <a href="{% url "search.action_browse" category_slug=category_slug|lower page=paginator.next_page_number %}" id="id_dataServicesNextButton" title="{% trans 'APP-NEXT-TEXT' %}" class="Btn Sig">{% trans "APP-NEXT-TEXT" %}</a>
                    {% else %}
                        <a id="id_dataServicesNextButton" href="{{search_url}}?q={{query|default:""|urlencode}}&page={{paginator.next_page_number}}" title="{% trans 'APP-NEXT-TEXT' %}" class="Btn Sig">{% trans "APP-NEXT-TEXT" %}</a>
                    {% endif %}
                {% endif %}

                </div>

            {%else%}
            <div class="errorBox">
                <div class="msg"><strong>{% trans "APP-OOPS-TEXT" %}</strong> {% trans "DBMAN-PERSONALIZEDB-NOFOUDERROR1" %}.</span></div>
            </div><br /><br />
            {%endif%}

        </div>
    </div>
