{% extends "base_microsites.html" %}
{% load i18n extra_tags components compress staticfiles sass_tags %}
{% url "search.action_search" as search_url %}

{% block SEO %}
<title>{% trans "APP-SEARCHRESULTS-TEXT" %}{% if query %} {% trans "APP-FOR-TEXT" %} {{query}}{% endif %} {% if category %}{% trans "APP-INCATEGORY-TEXT" %} {{category.name}}{% endif %} &middot; {{preferences.account_page_titles}}</title>
{% endblock %}

{% block meta %}
{% compress css %}
<!-- COMPONENT -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/actions.css' %}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/tagsContainer.css' %}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/search.css' %}"/>
<!-- BRANDED -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/brandedFull.css' %}"/>
{% endcompress %}
<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<script type="text/javascript" src="/js_microsites/search/searchList.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="{% url "microsites.action_js" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"></script>
{% endblock %}

{% block content %}
<!-- SECTION TITLE -->
<div class="sectionTitleContainer">
    <div class="sectionTitleWrapper">
        <div class="sectionTitleInner">
            <h1 class="sectionTitle">{% trans "DSFIND-CATALOG-TITLE" %}</h1>
        </div>
    </div>
</div>

<!-- COLUMNS -->
<div class="w960 columns clearfix">

    <!-- COLUMN - Left -->
    <div class="CL">
        <!-- SEARCH RESULTS -->
        {% include "search/searchResults.html" %}
    </div>

    <!-- COLUMN - Right -->
    <div class="CR">

        <!-- SHADOWS -->
        <div class="cv tl"></div>
        <div class="cv bl"></div>

        <!-- COLUMN CONTENT -->
        <div class="columnContent clearfix">

            <!-- Facets -->
            <div class="boxCR helpAndTipsBox">
                <div class="boxTitle">
                    <h4>{% trans "APP-TOPCATEGORIES-TEXT" %}</h4>
                </div>

                <div class="boxInner">
                    {% for item in facets %}
                        <h5 class="minnorPaddingBottom">
                            <a href="{% url "search.action_search" %}/category/{{item.term}}?q={{query}}">{{ item.term|title}}</a> ({{ item.count }})
                            </h5>
                    {% endfor %}
                </div>
            </div>


            <div class="boxCR helpAndTipsBox">
                <div class="boxTitle">
                    <h4>{% trans "DSFIND-HELPTIP-TITLE" %}</h4>
                </div>
                <div class="boxInner">
                    <h5 class="minnorPaddingBottom">{% trans "APP-DIDYOUKNOW-TEXT" %}</h5>
                    <p>{% trans "DSFIND-HELPTIP-SUBTITLE1" %} <em>{{preferences.account_name}}</em> {% trans "DSFIND-HELPTIP-SUBTITLE2" %}</p>
                    <dl>
                        <dt>{% trans "DSFIND-HELPTIP-TIP1TITLE" %}:</dt>
                        <dd>{% trans "DSFIND-HELPTIP-TIP1TEXT" %}.</dd>
                        <dt>{% trans "DSFIND-HELPTIP-TIP2TITLE" %}:</dt>
                        <dd>{% trans "DSFIND-HELPTIP-TIP2TEXT" %}.</dd>
                        <dt>{% trans "DSFIND-HELPTIP-TIP3TITLE" %}:</dt>
                        <dd>{% trans "DSFIND-HELPTIP-TIP3TEXT" %}.</dd>
                    </dt>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
