{% load i18n extra_tags core_components components %}

{% overlay id_selection_tips %}
    <div class="In clearfix">
        <h4>{% trans "DSCRE-SELECTALLTABLE-TITLE" %}</h4>
        <p>{% trans "DSCRE-SELECTALLTABLE-SUBTITLE" %}</p>
        <p>
            <span class="FL">{% trans "DSCRE-SELECTALLTABLE-TIP1" %}
            <strong>&lt; &gt; </strong>{% trans "DSCRE-SELECTALLTABLE-TIP2" %}</span>
            <img src="/media_core/images/dataServicePublisher/im_selection_example_table.png"  class="FR tableHelp" alt="Example of table selection"/>
        </p>
        <div class="buttons">
            <a id="id_continueBtn1" class="genericButton" title="{% trans 'APP-CONTINUE-TEXT' %}">{% trans "APP-CONTINUE-TEXT" %}</a>
        </div>
    </div>
{% endoverlay %}

{% overlay id_empty_selection_tip %}
    <div class="In clearfix">
        <h4>{% trans "DSCRE-EMPTYSEL-TITLE" %}</h4>
        <p>
    		<span class="FR"><strong>{% trans "DSCRE-EMPTYSEL-TIP1" %}.</strong><br/>{% trans "DSCRE-EMPTYSEL-TIP2" %}.</span>
            <img src="/media_core/images/common/ic_error.gif" class="FL tableError" alt=""/>
    	</p>
        <div class="buttons center">
            <a id="id_continueBtn2" class="genericButton" title="{% trans 'APP-CLOSE-TEXT' %}">{% trans "APP-CLOSE-TEXT" %}</a>
        </div>
    </div>
{% endoverlay %}