{% extends "base_workspace.html" %}
{% load i18n extra_tags core_components components compress staticfiles sass_tags %}

{% block title %}
	{% trans "APP-ACTIONS-CREATEVIEW" %}
{% endblock %}

{% block meta %}
    {% compress css %}
	<!-- ACTIONS -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/actions.css' %}"/>
	<!-- DATA TABLE -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/dataTable.css' %}"/>
	<!-- DATA STREAM BOX -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/dataStreamBox.css' %}"/>
	<!-- DATA STREAM FORM -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/dataStreamForm.css' %}"/>
	<!-- TAGS CONTAINER -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/tagsContainer.css' %}"/>
	<!-- COMMON -->
	<link href="{% sass_src 'workspace/styles/createCommon.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
	<!-- COMPONENT -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'workspace/styles/createDataView.scss' %}"/>
	
	<!--[if IE]>
		<link href="{% sass_src 'workspace/styles/ao.tableStyles.css' %}" media="screen" rel="stylesheet" type="text/css"/>
	<![endif]-->

	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/ao.tableStyles.css' %}"/>
	{% endcompress %}

	<script type="text/javascript" src="/js_core/plugins/nicEdit/nicEdit-2014.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/plugins/jquery.url.packed.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/plugins/tagging.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/plugins/taggingSources.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/plugins/jquery.ba-bbq.min.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_workspace/view_manager/advancedOptions.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_workspace/view_manager/ProcessManager.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/base_modules/view_manager/DataServicePublisher.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/base_modules/view_manager/XmlHandler.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_workspace/view_manager/TagSuggestor.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/base_modules/data_table/dataTable.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_workspace/view_manager/collect.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_workspace/view_manager/step.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_workspace/view_manager/insertForm.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/plugins/customSelectable.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>

<meta name="main-option" content="id_dataviews_option"/>
{% endblock %}

{% block header_navigation %}
<!-- Back Link -->
<a href="{% url 'manageDataviews.index' %}" id="id_backLink" class="button alpha back FL" title="{% trans 'APP-BACK-TEXT' %}">{% trans 'APP-BACK-TEXT' %}</a>
{% endblock %}

{% block sectionTitle %}
	<div class="context-menu clearfix">
    <div class="col-xs-8">
        <h1 class="sub-heading">{% trans "APP-CREATE-A-DATAVIEW-TEXT" %}</h1>
        <ul id="id_steps_navbar" class="buttons-bar" data-step="0">
					<li class="step0"><a id="id_goToStep0Button" href="javascript:;" title="{% trans 'DS-STEP1-TEXT' %}">{% trans "DS-STEP1-TEXT" %}</a></li>
					<li class="step1"><a id="id_goToStep1Button" href="javascript:;" title="{% trans 'DS-STEP2-TEXT' %}">{% trans "DS-STEP2-TEXT" %}</a></li>
					<li class="step2"><a id="id_goToStep2Button" href="javascript:;" title="{% trans 'DS-STEP3-TEXT' %}">{% trans "DS-STEP3-TEXT" %}</a></li>
					<li class="step3"><a id="id_goToStep3Button" href="javascript:;" title="{% trans 'DS-STEP4-TEXT' %}">{% trans "DS-STEP4-TEXT" %}</a></li>
				</ul>
    </div>
    <div class="col-xs-4 context-buttons clearfix">
    	
    </div>
	</div>
{% endblock %}

{% block content %}
	<input type="hidden" id="id_datastream-dataset_revision_id" name="id_datastream-dataset_revision_id" value="{{data_set_id}}" />
	<div id="id_steps_container">
		<input id="id_is_update" type="hidden" value="{{is_update}}"/>
		<input id="id_is_edit_selection" type="hidden" value="{{is_update_selection}}"/>
		<input id="id_type_collect" type="hidden" value="{{type}}"/>
		<input id="id_impl_type" type="hidden" value="{{impl_type}}"/>
		<input id="id_end_point" type="hidden" value="{{end_point}}"/>
		<input id="id_impl_details" type="hidden" value="{{impl_details|default_if_none:""}}"/>
		<input id="id_bucket_name" type="hidden" value="{{bucket_name}}"/>		
		<input id="id_data_source" type="hidden" value="{{datastream_revision.data_source}}"/>
		<input id="id_select_statement" type="hidden" value="{{datastream_revision.select_statement}}"/>
	           <input id="id_rdf_template" type="hidden" value="{{datastream_revision.rdf_template}}"/>
		<div id="id_loading">
			<table class="Loading bigLoader">
				<tr><td></td></tr>
			</table>
		</div>
		
		<div id="id_step0_container" class="step1 create clearfix" style="display:none">
		    {% include "view_manager/step1.html" %}
		</div>
		<div id="id_step1_container" class="step2 create clearfix" style="display:none">
		    {% include "view_manager/step2.html" %}
		</div>
		<div id="id_step2_container" class="step3 create clearfix" style="display:none">
		    {% include "view_manager/step3.html" %}
		</div>
		<div id="id_step3_container" class="step4 create clearfix" style="display:none">
		    {% include "view_manager/step4.html" %}
		</div>
	</div>
{% endblock %}

{% block popupsOverlay %}
	{% include "view_manager/helpTipsOverlays.html" %}
{% endblock %}
