{% load i18n extra_tags core_components components %}

<!-- COLLECT SUMMARY -->
<div class="boxCR actionsBox summaryBox">
		
	<div class="itemConfig">

    <div class="boxTitle">
        <h4 class="title">{% trans "DSCRE-SIDEBAR-COLLECTTITLE" %}</h4>
    </div>

    <div id="id_collectSummaryPanel" class="boxInner">
    	<p class="tip">{% trans "DSCRE-SIDEBAR-COLLECTSUBTITLE" %}.</p>
        <ul class="toolbar">
            <li id="id_selectionOptions" class="clearfix" style="display:none;">
                <span class="Icon ic_Selection FL">{% trans "APP-SELECTION-TEXT" %}</span>
				<a id="id_clearSelectionTop" href="javascript:;" class="ic_RemoveItem FR" title="{% trans 'APP-CLEARSELECTION-TEXT' %}"><span class="DN">{% trans "APP-CLEAR-TEXT" %}</span></a>
            </li>
            <li id="id_filterToolBar" class="padding DN">
                <dl>
                    <dt class="clearfix">
                        <span class="Icon ic_Filters FL">{% trans "APP-FILTERS-TEXT" %}</span>
                    </dt>
                </dl>
            </li>
			<li id="id_headersNotification" class="padding clearfix DN">
                <span class="Icon ic_Header FL">{% trans "APP-HEADERS-TEXT" %}</span>
				<a id="id_editHeaders" href="javascript:;" class="editButton" title="{% trans 'APP-EDITHEADERS-TEXT' %}"><span class="sep">|</span><span class="editText">{% trans "APP-EDIT-TEXT" %}</span></a>
				<a id="id_removeHeader" href="javascript:;" class="ic_RemoveItem FR" title="{% trans 'APP-REMOVE-TEXT' %}"><span class="DN">{% trans "APP-REMOVE-TEXT" %}</span></a>
            </li>
			<li id="id_functionsNotification" class="padding clearfix DN">
                <dl>
                    <dt class="clearfix">
                        <span class="Icon ic_Function FL">{% trans "APP-FUNCTIONS-TEXT" %}</span>
                    </dt>
					<dd id="id_mavgNotification" class="clearfix DN">
						<span class="Icon ic_MAVG FL">{% trans "APP-MOVINGAVERAGE-TEXT" %}</span>
						<a id="id_editMavg" href="javascript:;" class="editButton" title="{% trans 'APP-EDIT-TEXT' %}"><span class="sep">|</span><span class="editText">{% trans "APP-EDIT-TEXT" %}</span></a>
						<a id="id_removeMavg" href="javascript:;" class="ic_RemoveItem FR" title="{% trans 'APP-REMOVE-TEXT' %}"><span class="DN">{% trans "APP-REMOVE-TEXT" %}</span></a>
					</dd>
					<!--<dd id="id_avgNotification" class="clearfix DN">
						<span class="Icon ic_AVG FL">Average</span>
						<a id="id_editAvg" href="javascript:;" class="editButton" title="Edit average"><span class="sep">|</span><span class="editText">Edit</span></a>
						<a id="id_removeAvg" href="javascript:;" class="ic_RemoveItem FR" title="Remove moving average"><span class="DN">Remove</span></a>
					</dd>
					<dd id="id_sumNotification" class="clearfix DN">
						<span class="Icon ic_SUM FL">Summatory</span>
						<a id="id_editSum" href="javascript:;" class="editButton" title="Edit Summatory"><span class="sep">|</span><span class="editText">Edit</span></a>	
						<a id="id_removeSum" href="javascript:;" class="ic_RemoveItem FR" title="Remove moving average"><span class="DN">Remove</span></a>
					</dd>-->
                </dl>
            </li>
			<!--<li id="id_totalsNotification" class="padding clearfix DN">
                <span class="Icon ic_Totals FL">Totals</span>
				<a id="id_editTotals" href="javascript:;" class="editButton" title="Edit totals"><span class="sep">|</span><span class="editText">Edit</span></a>
				<a id="id_removeTotals" href="javascript:;" class="ic_RemoveItem FR" title="Remove totals"><span class="DN">Remove</span></a>
            </li>-->
			<li id="id_aliasesNotification" class="padding clearfix DN">
                <span class="Icon ic_Aliases FL">{% trans "APP-ALIASES-TEXT" %}</span>
				<a id="id_editAliases" href="javascript:;" class="editButton" title="{% trans 'APP-EDIT-TEXT' %}"><span class="sep">|</span><span class="editText">{% trans "APP-EDIT-TEXT" %}</span></a>
				<a id="id_removeAliases" href="javascript:;" class="ic_RemoveItem FR" title="{% trans 'APP-REMOVE-TEXT' %}"><span class="DN">{% trans "APP-REMOVE-TEXT" %}</span></a>
            </li>
        </ul>
    </div>
</div>

<!-- ADVANCED OPTIONS -->
<div class="itemConfig boxCR actionsBox advancedBox">

    <div class="boxTitle DN">
        <h4 class="title">{% trans "APP-ADVANCEDOPTIONS-TEXT" %}</h4>
    </div>
	<div id="id_advancePanel" class="boxInner toolbar clearfix">
	    <div id="id_enableAdvanceModeBox" class="boxPanel DN">
	    	<p class="tip">{% trans "CREATION-SIDEBAR-ADVANCEDTIP" %}.</p>
				<a id="id_enableAdvanceModeLink" href="javascript:;" class="button primary small FL">{% trans "CREATION-ENABLE-ADVANCE" %}</a>
	    </div>
		<div id="id_advanceMenuBox" class="boxPanel DN">
			<p class="tip">{% trans "CREATION-SIDEBAR-SELECTION" %}.</p>
			 <ul class="toolbar">
	            <li class="disabled-item">
	            	<a id="id_headerMenuItem" href="javascript:;" class="Icon ic_Header" title="{% trans 'CREATION-SELECTTABLEHEADERS-TEXT' %}"><strong>{% trans "CREATION-SELECTTABLEHEADERS-TEXT" %}</strong></a>
					<span class="Icon ic_Header">{% trans "CREATION-SELECTTABLEHEADERS-TEXT" %}</span>
	            </li>
				<li class="disabled-item">
					<a id="id_filterMenuItem" href="javascript:;" class="Icon ic_Filters" title="{% trans 'CREATION-ADDFILTER-TEXT' %}"><strong>{% trans "CREATION-ADDFILTER-TEXT" %}</strong></a>
					<span class="Icon ic_Filters">{% trans "CREATION-ADDFILTER-TEXT" %}</span>
	            </li>
				<li class="disabled-item">
					<a id="id_functionMenuItem" href="javascript:;" class="Icon ic_Function" title="{% trans 'CREATIONADDFUNCTIONS-TEXT' %}"><strong>{% trans "CREATIONADDFUNCTIONS-TEXT" %}</strong></a>
					<span class="Icon ic_Function">{% trans "CREATIONADDFUNCTIONS-TEXT" %}</span>
	            </li><!--
				<li class="disabled-item">
					<a id="id_totalesMenuItem" href="javascript:;" class="Icon ic_Totals" title="Add table totals"><strong>Add table totals</strong></a>
					<span class="Icon ic_Totals">Add table Totals</span>
	            </li>-->
				<li class="disabled-item">
					<a id="id_aliasesMenuItem" href="javascript:;" class="Icon ic_Aliases" title="{% trans 'CREATION-ADDALIASES-TEXT' %}"><strong>{% trans "CREATION-ADDALIASES-TEXT" %}</strong> <em>{% trans "CREATION-FORDEVELOPERS-TEXT" %}</em></a>
					<span class="Icon ic_Aliases">{% trans "CREATION-ADDALIASES-TEXT" %}{% trans "CREATION-FORDEVELOPERS-TEXT" %}</span>
	            </li>
	        </ul>
	    </div>
		<div id="id_addHeadersBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_Header">{% trans "CREATION-SELECTTABLEHEADERS-TEXT" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-HEADERS-SELECTROWS" %}.</p>
				<div id="id_warningHeaders" class="warning DN"><div>{% trans "CREATION-HEADERS-TIP" %}.</div></div>
			</div>
			<div class="buttons">
				<a id="id_doneHeaders" href="javascript:;" class="button small primary FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
				<a id="id_clearHeaders" href="javascript:;" class="button small alpha FL" title="{% trans 'APP-CLEAR-TEXT' %}">{% trans "APP-CLEAR-TEXT" %}</a>
			</div>
	    </div>
		<div id="id_addFiltersBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_Filters">{% trans "CREATION-ADDFILTER-TEXT" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-CLICKONTHE-TEXT" %} <span class="Icon ic_Filter"><span class="DN">{% trans "CREATION-FILTERICON-TEXT" %}</span></span> {% trans "CREATION-FILTER-SELECT" %}.</p>
			</div>
			<div class="buttons">
				<a id="id_doneFilters" href="javascript:;" class="button small primary FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
				<a id="id_clearFilters" href="javascript:;" class="button small alpha FL" title="{% trans 'APP-CLEAR-TEXT' %}">{% trans "APP-CLEAR-TEXT" %}</a>
			</div>
	    </div>
		<div id="id_addFunctionsBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_Function">{% trans "CREATION-ADDFUNCTIONS-TEXT" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-FUNCTIONS-TIP" %}.</p>
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-FUNCTIONS-QUESTION" %}?</p>
				<ul class="toolbar">
		            <li>
		            	<a id="id_mavgSubPanel" href="javascript:;" class="Icon ic_MAVG" title="Add a moving average function">{% trans "APP-MOVINGAVERAGE-TEXT" %}</a>
		            </li>
					<!--<li>
						<a id="id_avgSubPanel" href="javascript:;" class="Icon ic_AVG" title="Add an average function">Average</a>
		            </li>
					<li>
						<a id="id_sumSubPanel" href="javascript:;" class="Icon ic_SUM" title="Add a summatory function">Summatory</a>
		            </li>-->
		        </ul>
			</div>
			<div class="buttons">
				<a id="id_backFunctionBox" href="javascript:;" class="button primary small FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
			</div>
	    </div>
		<div id="id_mavgBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_MAVG">{% trans "CREATION-MOVINGAVERAGE-TITLE" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-MOVINGAVERAGE-PERIOD" %}: <input id="id_mavgPeriod" type="text" value="1" class="fieldMAVG"/></p>
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-MOVINGAVERAGE-TIP1" %}.</p>
				<div id="id_warningMavg" class="warning"><div>{% trans "CREATION-MOVINGAVERAGE-TIP2" %}.</div></div>
			</div>
			<div class="buttons">
				<a id="id_doneMavg" href="javascript:;" class="button small primary FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
				<a id="id_clearMavg" href="javascript:;" class="button small alpha FL" title="{% trans 'APP-CLEAR-TEXT' %}">{% trans "APP-CLEAR-TEXT" %}</a>
			</div>
		</div>
		<div id="id_avgBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_AVG">{% trans "CREATION-AVERAGE-TITLE" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-MOVINGAVERAGE-TIP1" %}.</p>
				<div id="id_warningAvg" class="warning"><div>{% trans "CREATION-MOVINGAVERAGE-TIP2" %}.</div></div>
			</div>
			<div class="buttons">
				<a id="id_doneAvg" href="javascript:;" class="button small primary FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
				<a id="id_clearAvg" href="javascript:;" class="button small alpha FL" title="{% trans 'APP-CLEAR-TEXT' %}">{% trans "APP-CLEAR-TEXT" %}</a>
			</div>
	    </div>
		<div id="id_sumBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_SUM">{% trans "CREATION-SUMATORY-TITLE" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-MOVINGAVERAGE-TIP1" %}.</p>
				<div id="id_warningSum" class="warning"><div>{% trans "CREATION-MOVINGAVERAGE-TIP2" %}.</div></div>
			</div>
			<div class="buttons">
				<a id="id_doneSum" href="javascript:;" class="button small primary FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
				<a id="id_clearSum" href="javascript:;" class="button small alpha FL" title="{% trans 'APP-CLEAR-TEXT' %}">{% trans "APP-CLEAR-TEXT" %}</a>
			</div>
	    </div>
		<div id="id_addTotalsBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_Totals">{% trans "CREATION-TOTALS-TITLE" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-TOTALS-TIP" %}.</p>
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-MOVINGAVERAGE-TIP1" %}.</p>
				<div id="id_warningTotals" class="warning"><div>{% trans "CREATION-MOVINGAVERAGE-TIP2" %}.</div></div>
			</div>
			<div class="buttons">
				<a id="id_doneTotals" href="javascript:;" class="button small primary FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
				<a id="id_clearTotals" href="javascript:;" class="button small alpha FL" title="{% trans 'APP-CLEAR-TEXT' %}">{% trans "APP-CLEAR-TEXT" %}</a>
			</div>
	    </div>
		<div id="id_addAliasesBox" class="boxPanel DN">
			<p><strong><span class="Icon ic_Aliases">{% trans "CREATION-ADDALIASES-TEXT" %}</span></strong></p>
			<div class="bulletList">
				<p><span class="Icon ic_Arrow">&nbsp;</span>{% trans "CREATION-ALIASES-TIP1" %}.</p>
				<div id="id_warningAliases" class="warning"><div>{% trans "CREATION-ALIASES-TIP2" %}.</div></div>
			</div>
			<div class="buttons">
				<a id="id_doneAliases" href="javascript:;" class="button small primary FL" title="{% trans 'APP-DONE-TEXT' %}">{% trans "APP-DONE-TEXT" %}</a>
				<a id="id_clearAliases" href="javascript:;" class="button small alpha FL" title="{% trans 'APP-CLEAR-TEXT' %}">{% trans "APP-CLEAR-TEXT" %}</a>
			</div>
	    </div>
	</div>
</div>