{% load i18n extra_tags core_components components %}
{%for url in sourceUrls%}
<li>
	<div class="urlInner">
	    <a href="javascript:;" title="{% trans 'APP-CLICKTOLOAD-TEXT' %}" class="topLink">{{url.source_url}}</a>
	    <div class="clearfix">
	        <p>
	            <span>{% trans "APP-TAGS-TEXT" %}: </span>
	            {% for tag in url.tags|slice:":5" %}{{tag}}{% if not forloop.last %},&nbsp;{% endif %}{%endfor%}
	       </p>
	    </div>
		<span class="ajaxIndividualLoader DN"><span class="DN">{% trans "APP-LOADING-TEXT" %}...</span></span>
	</div>
</li>
{%endfor%}