{% load i18n extra_tags core_components components %}

<div class="col-xs-12">

	<header>

		<h3 id="id_dataHeader">{% trans "APP-PREVIEWANDSAVE-TEXT" %} <span class="txt">{% trans "CREATE-STEP4-SUBTITLE" %}</span></h3>

		<div class="navigation FR">
			<a id="id_step3PrevButton" href="javascript:;" title="{% trans 'BTN-BACK-TEXT' %}" class="button alpha back">{% trans 'BTN-BACK-TEXT' %}</a>
			<a id="id_step4_save" title="{% trans 'APP-SAVE-TEXT' %}" class="button primary">{% trans "APP-SAVE-TEXT" %}</a>
		</div>	

	</header>	    
			
  <!-- CAJA DATOS -->
  <div class="DS_container tableContent clearfix">

		<div id="id_dashboard_dataservice_container" class="dataStreamContainer clearfix"></div>

		<div id="id_tags" class="tagsPreview clearfix">
			<h5>{% trans "CREATE-STEP4-TAGTITLE" %}:</h5>
		</div>

  </div>

</div>