{% load i18n extra_tags core_components components %}

<div class="col-xs-12">

	<div class="collapsedBar DN" id="id_title_tables_container">
		<header>
			<h3 id="id_dataHeader">{% trans "CREATE-STEP1-TITLE" %}? <span class="txt">{% trans "CREATE-STEP1-SUBTITLE" %}. {# <a id="id_disclaimerButton" href="javascript:;" title="{% trans 'APP-NEEDHELP-TEXT' %}" class="DN">{% trans "APP-NEEDHELP-TEXT" %}?</a> #}</span></h3>

			<h3 id="id_noDataHeader">{% trans "APP-WOOPSNODATA-TEXT" %}</h3>

			<div class="navigation FR">
				<a id="id_step0CancelButton" href="javascript:;" title="{% trans 'APP-CANCEL-TEXT' %}" class="button alpha">{% trans "APP-CANCEL-TEXT" %}</a>
				<a id="id_step0NextButton" title="{% trans 'APP-NEXT-TEXT' %}" href="javascript:;" class="button primary">{% trans "APP-NEXT-TEXT" %}</a>
			</div>	
		</header>
	</div>

	<!-- DISCLAMERS -->
	<div class="disclamers" id="id_noTables_container" style="display:none;">
			<div class="title">{% trans "APP-KEEPINMIND-TEXT" %}:</div>
		<div class="disclaimerContent">
			<ul>
				<li>{% trans "CREATE-STEP1-DISCLAIMER0" %}</li>
				<li>{% trans "CREATE-STEP1-DISCLAIMER1" %}.</li>
				<li>{% trans "CREATE-STEP1-DISCLAIMER2" %}.</li>
				<li>{% trans "CREATE-STEP1-DISCLAIMER3" %}.</li>
				<li>{% trans "CREATE-STEP1-DISCLAIMER4" %}.</li>
				<li>{% trans "CREATE-STEP1-DISCLAIMER5" %}.</li>
				<li>{% trans "CREATE-STEP1-DISCLAIMER6" %}.</li>
			</ul>
			<!-- DOUBTS -->
			<div class="doubts toolbar">
				<!--<span class="Icon ic_Skype">&nbsp;</span>-->
				<p><strong>{% trans "APP-ANYDOUBTS-TEXT2" %}</strong> <a href="mailto:support@junar.com">{% trans "APP-CALLUSONSKYPE-TEXT2" %}</a>.</p>
			</div>
		</div>
	</div>

	<!-- SOURCE BOX -->
	<div id="id_tables_container" class="DS_container clearfix DN">
		<div class="contentForm">
		<div class="contentTable">
				<iframe id="id_dataSource_container" style="width:100%;height:600px;" scrolling="auto"></iframe>
				<div id="id_dataSource_div" style="width:100%;height:600px;" class="select-table-styles" scrolling="auto"></div>
		</div>
		</div>
	</div>

	<!-- DATASET PARAMS CONTAINER -->
	<div id="id_webservice_args" style="display:none;" class="datasetParamsContainer">

		<!-- COLLAPSED BAR -->
		<div class="collapsedBar">
			<div class="boxTitle clearfix border">
				<h4 class="title">{% trans "WEBSERVICE-STEP1-TITLE" %}</h4>
				<div class="navigationControl FR">
					<a id="id_next_args_top" title="{% trans 'APP-NEXT-TEXT' %}" href="javascript:;" class="button primary small {{auth_manager.language}}">{% trans "APP-NEXT-TEXT" %}</a>
					<a id="id_cancel_top" href="javascript:;" title="{% trans 'APP-CANCEL-TEXT' %}">{% trans "APP-CANCEL-TEXT" %}</a>
				</div>	
			</div>
		</div>

		<div class="columns clearfix paramsWebservices">

			<!-- COLUMN - Left -->
			<div class="CL">

				<div class="dataStreamForm">
					<div class="clearfix form">
						<form id="id_dataStreamForm">
							<fieldset class="form clearfix">
								<h5>{% trans "WEBSERVICES-PARAMS-TITLE" %}</h5>
								<div id="id_parameters_container" class="paramsForm"></div>
								<div class="navigationControl center">
									<a id="id_next_args" class="button small primary {{auth_manager.language}}" href="javascript:;" title="{% trans 'APP-NEXT-TEXT' %}">{% trans "APP-NEXT-TEXT" %}</a>
								</div>
							</fieldset>
						</form>
					</div>
				</div>

			</div>

			<!-- COLUMN - Right -->
			<div class="CR">
			
				<!-- SHADOWS -->
				<div class="cv tl"></div>
				<div class="cv bl"></div>
				
				<!-- COLUMN CONTENT -->
				<div class="columnContent clearfix">

					<!-- HELP AND TIPS BOX -->
					<div class="boxCR helpAndTipsBox">
						<div class="boxTitle">
							<h4>{% trans "DSFIND-HELPTIP-TITLE" %}</h4>
						</div>
					<div class="boxInner">
						<h5>{% trans "WEBSERVICE-STEP1-HELPTITLE" %}</h5>
						<p>{% trans "WEBSERVICE-STEP1-HELPTEXT" %}.</p>
						<!-- DOUBTS -->
						<div class="doubts toolbar">
							<!--<span class="Icon ic_Skype">&nbsp;</span>-->
							<span class="p"><strong>{% trans "APP-ANYDOUBTS-TEXT2" %}</strong> <a href="mailto:support@junar.com">{% trans "APP-CALLUSONSKYPE-TEXT2" %}</a>.</span>
						</div>
					</div>
				</div>
				
			</div>

		</div>

	</div>

	</div>

	<!-- DISCLAMERS -->
	<div id="id_disclaimerContainer" class="disclamers DN border-box">
		<div class="">
			<a class="close imageText" title="{% trans 'APP-CLOSE-TEXT' %}">{% trans "APP-CLOSE-TEXT" %}</a>
			<div class="title">{% trans "CREATE-STEP1-THROUBLE-TITLE" %}:</div>
			<div class="disclaimerContent">
			<ul>
				<li>{% trans "CREATE-STEP1-DISCLAIMER5" %}.</li>
				<li>{% trans "CREATE-STEP1-DISCLAIMER4" %}.</li>
				<li>{% trans "CREATE-STEP1-THROUBLE1" %}.</li>
				<li>{% trans "CREATE-STEP1-THROUBLE2" %}.</li>
			</ul>
			<!-- DOUBTS -->
			<div class="doubts toolbar">
				<!--<span class="Icon ic_Skype">&nbsp;</span>-->
				<p><strong>{% trans "APP-ANYDOUBTS-TEXT2" %}</strong> <a href="mailto:support@junar.com">{% trans "APP-CALLUSONSKYPE-TEXT2" %}</a>.</p>
			</div>
			</div>
		</div>
	</div>

</div>
