{% load i18n extra_tags core_components components %}

<div class="col-xs-12">

	<header>
		<h3 id="id_dataHeader">{% trans "CREATE-STEP2-SUBTITLE" %}</h3>

		<div class="navigation FR">
			<a id="id_step1PrevButton" href="javascript:;" title="{% trans 'BTN-BACK-TEXT' %}" class="button alpha back">{% trans 'BTN-BACK-TEXT' %}</a>
			<a id="id_step1NextButton" title="{% trans 'BTN-NEXT-TEXT' %}" href="javascript:;" class="button primary next">{% trans "BTN-NEXT-TEXT" %}</a>
		</div>	
	</header>

	<div class="wrapper1">
	  <div class="wrapper2 clearfix">
	    <div class="wrapper3">

				<section class="sidebar">
	        <div class="boxConfig">

			        <!-- SHADOWS -->
			        <div class="cv tl"></div>
			        <div class="cv bl"></div>
			
			        <!-- COLUMN CONTENT -->
			        <div id="id_sideBarContainer" class="columnContent clearfix">
								{% include "view_manager/sidebar.html" %}
			        </div>
		
					</div>
				</section>

				<section class="preview-container">

	        <!-- CAJA DATOS -->
	        <div class="dataTable">
	            <div id="id_selectedTable_container" class="dataTableInner"></div>
	        </div>

				</section>

			</div>
		</div>
	</div>

</div>