{% load i18n %}
<div class="col-xs-12">
            <nav class="tab-nav" role="tablist">
        <ul>
            <li>
                <div class="clearfix">
                    <a href="{% url 'admin_manager.action_info' %}" class="{% if account_info %}active{% endif %}">{% trans "ACCOUNT-ACCOUNTINFORMATION-TEXT" %}</a>
                </div>
            </li>
            <li>
                <div class="clearfix">
                    <a href="{% url 'admin_manager.action_users' %}" class="{% if users %}active{% endif %}">{% trans "ACCOUNT-USERS-TAB" %}</a>
                </div>
            </li>
            <li>
                <div class="clearfix">
                    <a href="{% url 'admin_manager.action_branding' %}" class="{% if branding %}active{% endif %}">{% trans "APP-BRANDING-TEXT" %}</a>
                </div>
            </li>
            <li>
                <div class="clearfix">
                    <a href="{% url 'admin_manager.action_social' %}" class="{% if social %}active{% endif %}">{% trans "APP-SOCIAL-TEXT" %}</a>
                </div>
            </li>
            <li>
                <div class="clearfix">
                    <a href="{% url 'admin_manager.action_domain' %}" class="{% if default_domain %}active{% endif %}">{% trans "ACCOUNT-DOMAINSETTINGS-TAB" %}</a>
                </div>
            </li>
            <li>
                <div class="clearfix">
                    <a href="{% url 'admin_manager.action_categories' %}" class="{% if categories %}active{% endif %}">{% trans "ACCOUNT-CATEGORIES-TAB" %}</a>
                </div>
            </li>
            <li>
                <div class="clearfix">
                    <a href="{% url 'admin_manager.action_home' %}" class="{% if home_tab %}active{% endif %}">{% trans "ACCOUNT-HOME-TAB" %}</a>
                </div>
            </li>
        </ul>
</nav>
</div>