{% load extra_tags components %}

{% for resource in resources_slider %}
    {% if resource.visualization_id %}
        <!-- DATA STREAM CONTAINER -->
        <div class="dataStreamContainer clearfix">
            <!-- DATA STREAM BOX -->
            <div id="id_dataservice_container_{{resource.datastream_id}}" class="dataStreamBox clearfix">
                <h2>
                    <a id="id_dataservice_link_{{resource.datastream_id}}" href="{% url "viewDataStream.view" resource.datastream_id %}" target="_blank" title="{{resource.description}}" class="clearfix">
                        <span class="txt">
                            <span class="titleDS"><strong>{{resource.title}}</strong></span>
                            <span class="descriptionDS">{{resource.description|truncate:"50"}}</span>
                            <span class="infoDS">
                                <span class="categoryDS">{{resource.category_name}}</span> 
                                <span class="sep">|</span> 
                                <span class="authorDS">by <strong>{{resource.author}}</strong></span>
                            </span>
                        </span>
                    </a>
                </h2>
                <div id="id_dataservice_{{resource.visualization_id}}"></div>

                <script type="text/javascript">

                    var chartModel_{{resource.visualization_id}} = new charts.models.Chart({
                        title: "{{resource.title}}", 
                        description: "{{resource.description|escapejs}}", 
                        visualizationJson : '{{result|escapejs}}',
                        chartJson : '{{resource.impl_details|escapejs}}',
                        chartLib: "{{resource.lib}}",
                        status : '{{resource.status}}',
                        createdAt: "{{ resource.created_at|date:'F d, Y, h:i A'|capfirst }}",
                        modifiedAt: "{{ resource.modified_at|date:'F d, Y, h:i A'|capfirst }}",
                        lastPublishDate: "{{resource.last_published_date|date:'F d, Y, h:i A'|capfirst}}",

                        lastPublishRevisionId: "{{ resource.last_published_revision_id }}",

                        // Validar si es necesario
                        guid: "{{resource.guid}}",

                        // Revisar
                        id: "{{ resource.last_published_revision_id }}",
                        visualization_id: "{{ resource.visualization_id }}",
                    });


                    chartModel_{{resource.visualization_id}}.parse({
                        id: {{ resource.visualization_id }},
                        revision_id: {{ resource.visualization_revision_id }},

                        title: '{{ resource.title }}',
                        description: '{{ resource.description }}',
                        notes: '{{ resource.notes }}',
                        lib: '{{ resource.lib }}',

                        data: '{{ resource.data }}',

                        format: {{ resource.format | jsonify }},
                        chart: {{ resource.chart | jsonify }},
                    });
                    new ChartView({
                        el: '#id_dataservice_{{resource.visualization_id}}',
                        model: chartModel_{{resource.visualization_id}}
                    }).render();


                </script>
            </div>
        </div>
    {% else %}
        <!-- DATA STREAM CONTAINER -->
        <div class="dataStreamContainer clearfix">
            <!-- DATA STREAM BOX -->
            <div id="id_dataservice_container_{{resource.datastream_id}}" class="dataStreamBox clearfix">
                <h2>
                    <a id="id_dataservice_link_{{resource.datastream_id}}" href="{% url "viewDataStream.view" resource.datastream_id %}" target="_blank" title="{{resource.description}}" class="clearfix">
                        <span class="txt">
                            <span class="titleDS"><strong>{{resource.title}}</strong></span>
                            <span class="descriptionDS">{{resource.description|truncate:"50"}}</span>
                            <span class="infoDS">
                                <span class="categoryDS">{{resource.category_name}}</span> 
                                <span class="sep">|</span> 
                                <span class="authorDS">by <strong>{{resource.author }}</strong></span>
                            </span>
                        </span>
                    </a>
                </h2>
                <div id="id_dataservice_{{resource.datastream_id}}"></div>

                <script type="text/javascript">
                    $("#id_dataservice_container_{{resource.datastream_id}}").data("jsonURL", "{% url 'datastreams-data' resource.last_published_revision_id "json" %}");
                    $("#id_dataservice_container_{{resource.datastream_id}}").data("pId", "{{ resource.datastream_id}}");

                    var lDataService = $("#id_dataservice_container_{{resource.datastream_id}}")[0];
                    jQuery.data(lDataService, "dataservice_id", "{{resource.datastream_id}}");
                    jQuery.data(lDataService, "dataservice_title", "{{resource.title}}");
                    jQuery.data(lDataService, "dataservice_description", "{{resource.description}}");
                    jQuery.data(lDataService, "user_nick", "{{resource.user_nick}}");
                    jQuery.data(lDataService, "retries", "0");

                </script>
            </div>
        </div>
    {% endif %}
{% endfor %}
