{% extends "loadHome/index.html" %}
{% load i18n humanize extra_tags core_components %}

{% block themeMeta %}

{% if datastreams %}
<script type="text/javascript" src="/js_core/plugins/jquery.easing.1.3.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.carouFredSel-5.5.0-packed.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/loadHome/sliderTheme2.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/loadHome/slider.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/base_modules/chart_manager/junarCharts.js?id={{settings.VERSION_JS_CSS}}"></script>    
<script type="text/javascript" src="/js_core/plugins/markerclusterer.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  google.load('visualization', '1', {
    packages: ['corechart','geomap']
  });
</script>
{% endif %}

{% endblock %}

{% block themeContent %}
{% with number=paginator.count|intcomma %}
<div class="homeContent w960 theme2">

    {% if config.mainTitle %}
    <div class="featuredContent placeholder">
        <h1 class="font-rm">{{config.mainTitle|format:number|safe}}</h1>
    </div>
    {% endif %}

    {% if config.mainSection or datastreams or config.middleSection %}
    <!-- HOME COLUMNS -->
    <div class="homeColumns">

        {% if config.mainSection %}
        <div class="homeMainContent placeholder">
            {{config.mainSection|format:number|safe}}
        </div>
        {% endif %}

        {% if datastreams %}
        <div class="relative paddingSlider">

            <!-- SLIDER CONTAINER -->  
            <div class="sliderContainer">
                <div class="sliderWrapper">
                    <div class="dataStreamBorder">
                        <div class="innerBox" id="id_dataservices_container">                       
                            {% include "loadHome/DSSlider.html" %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}

        {% if config.middleSection %}
        <!-- MIDDLE CONTAINER -->
        <div class="searchContainerContent boxContent">
            <div class="homeSearchContent placeholder">
                {{config.middleSection|format:number|safe}}
            </div>
        </div>
        {% endif %}

    </div>
    {% endif %}

    <!-- RESOURCES TABLE -->
    {% if config.resourcesTable %}
        {% include "loadHome/resourcesTable.html" %}
    {% endif %}
    
</div>
{% endwith %}
{% endblock %}
