{% load i18n humanize extra_tags core_components plugins_tags %}
<div class="resourcesTable">
    <div class="resourcesTableInner">
        <div id="my_datatable" class="columns clearfix relative">
            <div class="CL sidebar">
                <div class="sidebarInner referencesContainer">
                    {% if has_federated_accounts %}
                        {% datatable_filter categories 'home' 'microsites' source_choices choices auth_manager federated_accounts=federated_accounts %}
                    {% else %}
                        {% include "loadHome/resources/filter_categories.html" %}
                    {% endif %}
                    <div class="references">
                        <strong>{% trans "HOME-REFENCES-TEXT" %}</strong> 
                        <span class="DST">{% trans "HOME-DATASET-TEXT" %}</span> 
                        <span class="DS">{% trans "HOME-DS-TEXT" %}</span> 
                        <span class="VZ">{% trans "HOME-VZ-TEXT" %}</span>
                        {% plugins_call 'microsites_home_resources_table' %}
                    </div>
                </div>
            </div>
            <div class="CR grid">
                <div class="gridInner">
                    <div class="sectionInfo clearfix">
                        <div class="sectionInfoInner FL">
                            <h2>{% trans "APP-OPEN-RESOURCES" %} </h2>
                        </div>
                        <div class="searchBox FR">
                            {% datatable_search 'home' %}
                        </div>
                    </div>
                </div>
                <div class="gridContainer">
                    {% datatable revisions categories 'resources' 'home' auth_manager %}
                </div>
                {% datatable_pagination revisions 'home' %}
            </div>
        </div>
    </div>
</div>
