{% extends "base_microsites.html" %}
{% load i18n extra_tags components core_components compress staticfiles sass_tags %}

{% block SEO %}
<title>Cómo Usarlo - {{preferences.account_page_titles}}</title>
{% endblock %}

{% block meta %}
    {% compress css %}
    <!-- CUSTOM -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/custom/opendatalatam/styles/opendatalatam.css' %}"/>

    <!-- BRANDED -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/brandedFull.css' %}"/>
    {% endcompress %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
{% endblock %}

{% block content %}
<div class="custom ODL">
  <div class="innerODL">

    <h1>1) ¿Cómo encontrar datos?</h1>
    <p>El catálogo de Open Data Latinoamérica está organizado de manera tal que se facilite la búsqueda de recursos por diversas vías. Pueden encontrar recursos a través del <a href="http://www.opendatalatinoamerica.org">catálogo presente en la portada</a>, <a href="http://www.opendatalatinoamerica.org/search/?q=%">realizar búsquedas</a> y visitar las <a href="http://www.opendatalatinoamerica.org/dashboards/">colecciones destacadas</a> que hemos preparado.</p>
    
    <h2>a) <a href="http://www.opendatalatinoamerica.org">Explorar el catálogo</a></h2>
    <p>En la página principal</a> de Open Data Latinoamérica podrás encontrar un catálogo con todos los recursos de datos abiertos disponible. Aquí podrás realizar búsquedas, filtrar por país o por tipo de recursos (vistas, gráficos o colecciones) lo que hará más sencillo encontrar rápidamente los recursos que necesitas.</p>

    <h2>b) <a href="http://www.opendatalatinoamerica.org/search/?q=%">Buscar</a></h2>
    <p>Desde cualquier parte del sitio podrás realizar búsquedas utilizando el formulario presente en la parte superior del sitio, lo que te entregará rápidamente los resultados de acuerdo a las palabras claves utilizadas. Puedes refinar tus búsquedas utilizando comillas para buscar resultados exactos, el signo + para obtener los términos especificados.</p>
    
    <a href="http://www.opendatalatinoamerica.org/search/?q=%"><img src="{% static 'microsites/custom/opendatalatam/images/1-b.png' %}" alt="Buscar"/></a>
    
    <h2>c) <a href="http://www.opendatalatinoamerica.org/dashboards/">Ir a colecciones destacadas</a></h2>
    <p>Las colecciones destacadas son una selección de nuestro equipo que contiene un conjunto agrupado temáticamente de recursos de datos abiertos para facilitar su descubrimiento por parte de nuestra audiencia. De esta manera, si visitan esta sección podrán encontrar rápidamente distintos recursos del mismo tema concentrados en un solo lugar.</p>

    <a href="http://www.opendatalatinoamerica.org/dashboards/"><img src="{% static 'microsites/custom/opendatalatam/images/1-c.png' %}" alt="Ir a colecciones destacadas"/></a>

    <h1>2) Cómo reusar los datos</h1>

    <p>Uno de los objetivos de nuestro proyecto es el disponibilizar los datos de manera que sean reusables por todos quienes tengan interés en usarlos. Para esto hemos generado múltiples canales de acceso y consumo de nuestro catálogo, pudiendo realizar diversas acciones.</p>

    <h2>a) Descargar</h2>
    <p>Pueden descargar los datos en formato CSV o XLS, tanto colecciones completas como vistas particulares con solo un par de clicks</p>

    <h3>i) Desde la ficha de una vista</h3>
    <p>Desde el menú Acciones podrán seleccionar descargar la vista en formato CSV o XLS</p>
    
    <img src="{% static 'microsites/custom/opendatalatam/images/2-a-i.png' %}" alt="Descargar - Desde la ficha de una vista"/>

    <h3>ii) Desde una colección</h3>
    <p>Desde el menú ubicado en un costado del título de la colección podrán descargar todas las vistas en formato CSV</p>

    <img src="{% static 'microsites/custom/opendatalatam/images/2-a-ii.png' %}" alt="Descargar - Desde una colección"/>

    <h2>b) Compartir en redes sociales</h2>
    <p>Podrán compartir vistas, gráficos o colecciones completas a través de Facebook, Google+, Twitter o LinkedIn con solo un par de clicks. Para las vistas o gráficos simplemente hagan click en Compartir y elijan su red social, mientras que para las colecciones utilicen el widget ubicado en la parte superior.</p>

    <h2>c) <a href="http://www.opendatalatinoamerica.org/developers/">Consumir a traves de la API</a></h2>
    <p>Todos los recursos de Open Data Latinoamérica están disponibles a través de una API REST para que desarrolladores puedan conectar sus aplicaciones de manera programática, manteniéndose actualizados y en línea con nuestro repositorio. Pueden encontrar mayor información en nuestra página de Desarrolladores o leyendo la documentación disponible.</p>

    <h2>d) Insertar en google spreadsheet</h2>
    <p>A través del menú Acciones de cada vista podrán obtener un código que les permitirá agregar los datos directamente en sus hojas de cálculo de Google Drive, permitiéndoles trabajar con datos vivos que se actualizarán cada vez que la fuente cambie.</p>

    <img src="{% static 'microsites/custom/opendatalatam/images/2-d.png' %}" alt="Insertar en google spreadsheet"/>

  </div>
</div>
{% endblock %}