{% extends "base_microsites.html" %}
{% load i18n extra_tags components core_components %}

{% block SEO %}
<title>Cómo Sumarse - {{preferences.account_page_titles}}</title>
{% endblock %}

{% block meta %}
    {% compress css %}
    <!-- CUSTOM -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/custom/opendatalatam/styles/opendatalatam.css' %}"/>

    <!-- BRANDED -->
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/styles/brandedFull.css' %}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
    {% endcompress %}
{% endblock %}

{% block content %}
<div class="custom ODL">
  <div class="innerODL">

    <iframe src="https://docs.google.com/forms/d/11Sh2cLl_F08bftoErCtjU9HALCna8eQCBlrfnqdAhow/viewform?embedded=true" width="940" height="880" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>

  </div>
</div>
{% endblock %}