/*ACTIONS*/
.ao-actions li{margin:0 5px;}
.ao-actions li a{display:inline-block;}
.ao-actions li.ao-wink a{background:url(../../images/common/ic_actions.png) no-repeat;padding-left:20px;}
.ao-actions li.ao-wink{margin-top:2px;}
.ao-actions li.facebook{margin-top:1px}
.ao-actions li.twitter{margin-right:0}
.ao-actions li.twitter iframe{width:96px !important;}
.ao-actions .ao-wink a.like{background-position:0 -735px;}
.ao-actions .ao-wink a.like:hover{background-position:0 -750px;}
.ao-actions .ao-wink a.unlike{background-position:0 -705px;}
.ao-actions .ao-wink a.unlike:hover{background-position:0 -720px;}
.ao-actions li span{color:#b5b5b5;}
.ao-actions li.url input {-moz-border-radius:2px 2px 2px 2px;border:1px solid #CCCCCC;font-size:11px;padding:3px;width:99px;margin-left:26px;}
.ao-actions li.url {background:url(../../images/common/ic_actions.png) no-repeat 8px -680px;}
.ao-actions .ao-comments{background:url(../../images/common/ic_actions.png) no-repeat 0 0;width:16px;height:20px;display:block;}

/*GO TO SOURCE*/
.gotosource{font-size:11px;margin-top:7px;position:relative;width:70%;overflow:hidden;}
.gotosource .gotosourceInner{width:100000px;}
.gotosource .gotosourceInner span{background: url(../../images/common/ic_actions.png) no-repeat scroll 6px -2100px transparent;color:#8A8A8A;font-weight:bold;padding-left:26px;text-transform:uppercase;}
.gotosource .gotosourceInner .comma{font-style:normal;color:#8A8A8A;}
.gotosource .gotosourceInner .comma:last-child{display:none;}

/*EDIT BUTTON*/
.editButton{background:url(../../images/common/ic_actions.png) no-repeat right -1825px;display:inline-block;padding:0 24px 0 0;height:20px;position:relative;top:-2px;font-size:11px;font-weight:normal;float:left;}
.editButton .sep{color:#D1CCCC;padding:0 6px;}
.editButton:hover{background-position:right -1850px;text-decoration:none;}
.editButton:hover span{text-decoration:underline;}
.editButton:hover .sep{text-decoration:none;}

/*DELETE BUTTON*/
.deleteButton{background-position:51px -179px;}
.deleteButton:hover{background-position:51px -199px;}

/*LOADER ICON*/
.loaderIcon{background:url(../../images/common/im_smallAjaxLoader.gif) no-repeat 0 -0 transparent;padding-left:34px;display: inline-block;line-height: 30px;text-indent:-100px;height:26px;overflow:hidden;white-space:nowrap;}

/*TOOLBAR - Actions menu*/
.toolbar .Icon{background:url(../../images/common/ic_actions.png) no-repeat 0 0;width:16px;height:20px;display:block;}
.toolbar .Sep{width:10px;height:20px;background:url(../../images/common/fd_Sep.gif) no-repeat center center;display:block;}
.toolbar .ic_Left{background-position:0 0;}
.toolbar .ic_Left:hover{background-position:0 -20px;}
.toolbar .ic_Right{background-position:0 -40px;}
.toolbar .ic_Right:hover{background-position:0 -60px;}
.toolbar .ic_Maximize{background-position:0 -140px;width:17px;}
.toolbar .ic_Maximize:hover{background-position:0 -160px;}
.toolbar .ic_Refresh{background-position:0 -100px;width:17px;}
.toolbar .ic_Refresh:hover{background-position:0 -120px;}
.toolbar .ic_Remove{background-position:0 -180px;}
.toolbar .ic_Remove:hover{background-position:0 -200px;}
.toolbar .ic_CSV{background-position:0 -379px;}
.toolbar .ic_Src{background-position:0 -320px;}
.toolbar .ic_Cfs{background-position:0 -317px;width:20px;}
.toolbar .ic_Report{background-position:0 -340px;}
.toolbar .ic_Recommend{background-position:0 -220px;}
.toolbar .ic_Repair{background-position:0 -82px;}
.toolbar .ic_Load{background-position:0 -480px;width:22px;}
.toolbar .ic_Load:hover{background-position:0 -500px;}
.toolbar .ic_Add{background-position:0 -560px;width:22px;}
.toolbar .ic_Add:hover{background-position:0 -580px;}
.toolbar .ic_Details{background-position:0 -301px;}
.toolbar .ic_Stats{background-position:0 -400px;}
.toolbar .ic_Widgets{background-position:0 -775px;}
.toolbar .ic_Share{background-position:0 -240px;}
.toolbar .ic_AddEmbed{background-position:0 -359px;}
.toolbar .ao-wink .Icon{background:url(../../images/common/ic_actions.png) no-repeat;width:auto;padding-left:20px;display:inline-block;height:15px;margin-bottom:5px;}
.toolbar .ao-wink .like{background-position:3px -735px;}
.toolbar .ao-wink .like:hover,
.toolbar .ao-wink .like.hover{background-position:3px -750px;}
.toolbar .ao-wink .unlike{background-position:3px -705px;}
.toolbar .ao-wink .unlike:hover,
.toolbar .ao-wink .unlike.hover{background-position:3px -720px;}
.toolbar .ao-wink span{color:#b5b5b5;}
.toolbar .ic_Edit{background-position:-4px -522px;height:18px;margin-bottom:2px;}
.toolbar .ic_Chart{background-position:-3px -903px;}
.toolbar .ic_Table,
.toolbar .iconTabs .ic_Table:hover{background-position:0 -800px;}
.ic_Dset{background:url(/media_workspace/images/common/ic_resources.png) no-repeat 0 2px !important;padding-left:19px !important;}
.ic_Dashboard{background:url(/media_workspace/images/common/ic_resources.png) no-repeat 0 -58px !important;padding-left:22px !important;}
.ic_Data{background:url(/media_workspace/images/common/ic_resources.png) no-repeat 0 -19px !important;padding-left:20px !important;}
.ic_Chart{background:url(/media_workspace/images/common/ic_resources.png) no-repeat 0 -38px !important;padding-left:19px !important;}
.toolbar .ic_Table:hover{background-position:0 -825px;}
.toolbar .ic_Bar{background-position:0 -850px;padding-left:25px;}
.toolbar .ic_Bar:hover{background-position:0 -875px;}
.toolbar .ic_Column,
.toolbar .iconTabs .ic_Column:hover{background-position:0 -900px;padding-left:25px;}
.toolbar .ic_Column:hover{background-position:0 -925px;}
.toolbar .ic_Line{background-position:0 -950px;padding-left:25px;}
.toolbar .ic_Line:hover{background-position:0 -975px;}
.toolbar .ic_Pie{background-position:0 -1000px;padding-left:25px;}
.toolbar .ic_Pie:hover{background-position:0 -1025px;}
.toolbar .ic_Area{background-position:0 -1875px;padding-left:25px;}
.toolbar .ic_Area:hover{background-position:0 -1900px;}
.toolbar .ic_Geo{background-position:0 -1925px;padding-left:25px;}
.toolbar .ic_Geo:hover{background-position:0 -1950px;}

.toolbar .ic_GoogleDocs{background-position:0 -1050px;line-height:20px;}
.toolbar .ic_Arrow{padding-left:9px;background-position:0 -1145px;width:auto;height:auto;display:inline;}
.toolbar .ic_ClearSelection{background-position:0 -1075px;}
.toolbar .ic_Filter{background-position:0 -1124px;}
.toolbar .ic_Warning{background-position:0 -1100px;cursor:pointer;}
.toolbar .ic_Tags{background-position:0 -1175px;width:auto;height:auto;display:inline;}
.toolbar .ic_GUID{background-position:0 -1200px;}
.toolbar .ic_Notes{background-position:0 -1225px;width:auto;height:auto;display:inline;}
.toolbar .ic_Comments{background-position:0 -418px;width:auto;height:auto;display:inline;}
.toolbar .ic_Expand{background-position:0 -1247px;width:auto;height:auto;padding-left:11px;}
.toolbar .ic_Expand:hover{background-position:0 -1272px;}
.toolbar .ic_Collapse{background-position:0 -1297px;width:auto;height:auto;padding-left:11px;}
.toolbar .ic_Collapse:hover{background-position:0 -1322px;}
.toolbar .ic_Bio{background-position:0 -1348px;width:auto;height:auto;padding-left:22px;}
.toolbar .ic_Website{background-position:0 -1373px;width:auto;height:auto;padding-left:22px;}
.toolbar .ic_Selection{background-position:0 -1400px;width:auto;height:auto;padding-left:22px;}
.toolbar .ic_Header{background-position:0 -1425px;width:auto;height:auto;padding-left:22px;}
.toolbar .ao-disabled-item .ic_Header{background-position:0 -1450px;}
.toolbar .ic_Filters{background-position:0 -1475px;width:auto;height:auto;padding-left:22px;}
.toolbar .ao-disabled-item .ic_Filters{background-position:0 -1500px;}
.toolbar .ic_Function{background-position:0 -1525px;width:auto;height:auto;padding-left:22px;}
.toolbar .ao-disabled-item .ic_Function{background-position:0 -1550px;}
.toolbar .ic_MAVG{background-position:0 -1575px;width:auto;height:auto;padding-left:46px;}
.toolbar .ao-disabled-item .ic_MAVG{background-position:0 -1600px;}
.toolbar .ic_AVG{background-position:0 -1625px;width:auto;height:auto;padding-left:46px;}
.toolbar .ao-disabled-item .ic_AVG{background-position:0 -1650px;}
.toolbar .ic_SUM{background-position:0 -1675px;width:auto;height:auto;padding-left:46px;}
.toolbar .ao-disabled-item .ic_SUM{background-position:0 -1700px;}
.toolbar .ic_Totals{background-position:0 -1725px;width:auto;height:auto;padding-left:22px;}
.toolbar .ao-disabled-item .ic_Totals{background-position:0 -1750px;}
.toolbar .ic_Aliases{background-position:0 -1775px;width:auto;height:auto;padding-left:22px;}
.toolbar .ao-disabled-item .ic_Aliases{background-position:0 -1800px;}
.toolbar .ic_RemoveItem{width:8px;height:16px;overflow:hidden;background:url(../../images/dashboardManager/ic_Tabs.gif) no-repeat 0 -3px;}
.toolbar .ic_RemoveItem:hover{background-position:0 -28px;}
.toolbar .ic_Skype{background-position:0 -2025px;}
.toolbar .ic_Private{background-position:0 -2075px;}
.toolbar .ic_CollectedFrom{background-position:0 -1378px;}
.toolbar .ic_File{background-position:0 -2125px;}
.toolbar .ic_Sources{background-position:0 -2100px;}
.toolbar .ic_Evernote{background-position:0 -2150px;}
.toolbar .ic_SOAP{background-position:0 -2175px;}
.toolbar .ic_XLS{background-position:0 -2200px;}
.toolbar .ic_PivotTable{background-position:0 -2222px;}
.toolbar .ic_Download{background-position:0 -2250px;}

/*MENU, SHARE and ACTION BUTTONS - ACTIONS TOOLBAR*/
.toolbar .ic_Menu{background:url(../../images/common/bt_actionsMenu.png) -5px -5px no-repeat;width:62px;padding-left:8px;}
.toolbar .ic_Menu,
.toolbar .actionButton{font-size:11px;text-shadow:0 1px 0 #fff;line-height:22px;}
.toolbar .actionButton{padding:0 8px;}
.toolbar .ic_Menu:hover,
.toolbar .actionButton:hover{background-position:-5px -30px;text-decoration:none;}

	/*MENU ARROW*/
	.toolbar .ic_Menu span{background:url(../../images/common/ic_openCloseDiv.png) no-repeat right 0;padding-right:12px;margin-right:5px;}
	.toolbar .ic_Menu:hover span{background-position:right -15px;}
	.toolbar .ic_Menu.open span{background-position:right -30px;}
	.toolbar .ic_Menu.open:hover span{background-position:right -45px;}

	/*DATA STREAM ACTIONS*/
	.dataStreamActions .toolbar .ic_Menu,
	.dataStreamActions .toolbar .actionButton{width:auto;padding-left:5px;height:23px;}
	.dataStreamActions .toolbar .actionButton span{width:auto;}
	.dataStreamActions .toolbar .ic_Menu{background:none;}
	.dataStreamActions .toolbar .ic_Menu:hover,
	.dataStreamActions .toolbar .actionButton:hover{background:url(../../images/dashboardManager/dg_dataStreamActions.gif) repeat-x 0 bottom;}
	
	/*ACTIONS TOOLBAR*/
	.actionsToolbar .ic_Collapse,
	.actionsToolbar .ic_Expand,
	.actionsToolbar .ic_Refresh,
	.actionsToolbar .ic_PivotTable{width:auto;font-size:11px;height:22px;line-height:22px;}
	.actionsToolbar .ic_Refresh,
	.actionsToolbar .ic_PivotTable{padding-left:22px;}

	/*SHARE*/
	.toolbar .share{display:none;padding:0 0 3px 22px;}
	.toolbar .share li{display:block;margin:5px 0;}
	.toolbar .share_url_input{width:99px;font-size:11px;padding:3px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:1px solid #ccc;}
	.toolbar .share .twitter{height:20px;overflow:hidden;}
	
/*DROP DOWN MENU*/
.dropDownMenu .ic_Menu,
.dropDownMenu .dashboard-dataservice-tooltip .J a{background:url(../../images/common/ic_dropDownMenu.png) no-repeat 0 0;width:30px;height:25px;padding:0;display:inline-block;}
.dropDownMenu .ic_Menu:hover{background-position:0 -25px;}
.dropDownMenu .dashboard-dataservice-tooltip{top:13px;}
.dropDownMenu .dashboard-dataservice-tooltip .J{background:none;padding:0;width:30px;height:25px;top:-20px;right:-7px;}
.dropDownMenu .dashboard-dataservice-tooltip .J a{background-position:0 -50px;}
.dropDownMenu .dashboard-dataservice-tooltip .J a:hover{background-position:0 -75px;}
.dropDownMenu .dashboard-dataservice-tooltip .menuInner{-moz-border-radius:5px 0 5px 5px;-webkit-border-radius:5px 0 5px 5px;border-radius:5px 0 5px 5px;border:1px solid #dfdddd;}
.dropDownMenu .dashboard-dataservice-tooltip .menuInner .In{border-color:#fff;-moz-border-radius:3px 0 3px 3px;-webkit-border-radius:3px 0 3px 3px;border-radius:3px 0 3px 3px;}



/* 15-05-2012 -------*/
.editSelection,
.editSelection:hover{background-position:right -1395px;padding-right:45px;}