/*PRIVATE*/
.privateContainer .columns{width:940px;padding-left:10px;padding-right:10px;margin:0 auto;float:none;}

/*PRIVATE BOX*/
.privateBox{padding:17px 0 0 63px;background:url(../../images/common/im_private.gif) no-repeat 12px 24px;}
.privateBox p{font-size:14px;padding-bottom:5px;line-height:21px;}
.privateBox .buttons{padding-top:33px;}

/*DS IN DB*/
.privateDS{border:1px solid #e2e0e0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;height:213px;}
.privateDS h2{background:#fff url(../../images/common/dg_privateDSinDB.gif) repeat-x 0 bottom;height:31px;line-height:31px;font-size:14px;font-weight:bold;color:#9b9b9b;text-shadow:0 1px 0 #fff;padding:0 10px;border-bottom:1px solid #e2e0e0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.privateDS .privateBox{background-position:center 116px;padding:35px 10px 0 10px;height:146px;}
.privateDS .privateBox p{text-align:center;padding-bottom:15px;}

/*DATA STREAM BOX*/
.dataStreamBox h2 a{position:relative;}
.dataStreamBox h2 a .ic_Private{position:absolute;width:20px;height:19px;display:block;padding:0;margin:0;bottom:6px;right:9px;oveflow:hidden;text-indent:10000px;}