/*PRIVATE*/
.privateContainer .columns{width:940px;padding-left:10px;padding-right:10px;margin:0 auto;float:none;}

/*PRIVATE BOX*/
.privateBox{padding:17px 0 0 63px;background:url(/media_core/images/common/im_private.gif) no-repeat 12px 24px;}
.privateBox p{font-size:14px;padding-bottom:5px;line-height:21px;}
.privateBox .buttons{padding-top:33px;}

/*DS IN DB*/
.privateDS{border:1px solid #e2e0e0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;height:213px;}
.privateDS h2{background:#fff url(/media_core/images/common/dg_privateDSinDB.gif) repeat-x 0 bottom;height:31px;line-height:31px;font-size:14px;font-weight:bold;color:#9b9b9b;text-shadow:0 1px 0 #fff;padding:0 10px;border-bottom:1px solid #e2e0e0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.privateDS .privateBox{background-position:center 116px;padding:35px 10px 0 10px;height:146px;}
.privateDS .privateBox p{text-align:center;padding-bottom:15px;}

/*DATA STREAM BOX*/
.dataStreamBox h2 a{position:relative;}
.dataStreamBox h2 a .ic_Private{position:absolute;width:20px;height:19px;display:block;padding:0;margin:0;bottom:6px;right:9px;oveflow:hidden;text-indent:10000px;}




/*PRIVATE - SHARE SETTINGS OVERLAY*/
#id_sharePrivateContainer .In form{width:auto;}
#id_sharePrivateContainer .In p{padding:0;}
.shareSettingsContainer{padding:12px 20px;width:445px;}
.shareSettingsContainer label{float:left;}
.shareSettingsContainer .field{float:left;font-size:12px;height:25px;line-height:25px;}
.ao-popup-overlay .In .shareSettingsContainer h5{padding:19px 0 10px;color:#4d4d4d;font-size:14px;font-weight:bold;}
.shareSettingsContainer .selectField{font-size:11px;}

.shareSettingsContainer .urlRow label{color:#4d4d4d;font-size:14px;font-weight:bold;padding-top:7px;}
.shareSettingsContainer .urlRow .field{width:384px;float:right;}

.shareSettingsContainer .colaboratorsContainer{border:1px solid #d9d9d9;padding:7px 9px 0;height:128px;overflow:auto;overflow-x:hidden;overflow-y:auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.shareSettingsContainer .email{border-top:1px solid #ebebeb;padding:8px 0 8px 45px;position:relative;height:26px;line-height:26px;}
.shareSettingsContainer .email:first-child{border:0;}
.shareSettingsContainer .email .img{position:absolute;border:1px solid #d9d9d9;padding:1px;height:34px;width:34px;top:2px;left:0;overflow:hidden;}
.shareSettingsContainer .email .img img{width:34px;height:34px;float:left;}
.shareSettingsContainer .email .selectField{}
.shareSettingsContainer .email .icClose{background:url(/media_core/images/dashboardManager/ic_Tabs.gif) no-repeat 0 -1px;width:8px;height:25px;overflow:hidden;line-height:500px;text-indent:10000px;margin:0 2px 0 10px;}
.shareSettingsContainer .email .icClose:hover{background-position:0 -26px;}


.shareSettingsContainer .emailRow{padding:14px 0 10px;}
.shareSettingsContainer .emailRow select{float:left;margin: 0 5px;}
#id_private_share_form_collaborators_addEmail{width:237px;}
.shareSettingsContainer .emailRow .genericButton{float:left;margin-top:3px;margin-left:8px;}

.shareSettingsContainer .workGroupRow .checkbox{position:relative;top:4px;}
.shareSettingsContainer .workGroupRow label{padding:5px 8px 0 4px;}

.shareSettingsContainer .buttons.border{padding:17px 0 0;margin-top:22px;background:url(/media_core/images/common/bd_overlayButton.gif) no-repeat center 0;}
