{% load i18n extra_tags components %}

<div class="step customize chart-customize-view hidden" id="id_step3">

	<header>
		<h3>{% trans 'APP-CUSTOMIZE-TEXT' %} <span>{% trans 'APP-CHART-CUSTOMIZE-SUBTITLE' %}</span></h3>
		<div class="navigation FR">
      <a title="{% trans 'BTN-BACK-TEXT' %}" class="button alpha small" href="#" id=""><i class="left-arrow"></i>{% trans 'BTN-BACK-TEXT' %}</a>
      <a title="{% trans 'BTN-NEXT-TEXT' %}" class="button green small" href="#" id="">{% trans 'BTN-NEXT-TEXT' %}<i class="right-arrow"></i></a>
    </div>
	</header>
	
	<div class="wrapper1">
    <div class="wrapper2 clearfix">
      <div class="wrapper3">

				<section class="sidebar">
          <div class="boxConfig">

            <div class="itemConfig">
              <div class="title">{% trans 'APP-OPTIONS-TEXT' %}</div>
              <fieldset>
                <div class="row clearfix">
                  <label for="id_visualization_customize_chart_title">{% trans 'APP-TITLE-TEXT' %}</label>
                  <input type="text" name="visualization_customize_chart_title" id="id_visualization_customize_chart_title" value="{% trans 'APP-CHART-CUSTOMIZE-CHART-TITLE' %}">
                </div>
                <div class="row clearfix">
                  <label for="id_visualization_customize_x_axis_name">{% trans 'CHRT-XAXISNAME-TEXT' %}</label>
                  <input type="text" name="visualization_customize_x_axis_name" id="id_visualization_customize_x_axis_name" value="{% trans 'CHRT-XAXISNAME-TEXT' %}">
                </div>
                <div class="row clearfix">
                  <label for="id_visualization_customize_y_axis_name">{% trans 'CHRT-YAXISNAME-TEXT' %}</label>
                  <input type="text" name="visualization_customize_y_axis_name" id="id_visualization_customize_y_axis_name" value="{% trans 'CHRT-YAXISNAME-TEXT' %}">
                </div>
                <div class="row clearfix">
                  <label for="id_visualization_customize_y_axis_max_value">{% trans 'CHRT-SCALE-TEXT' %}</label>
                  <input type="text" name="visualization_customize_y_axis_max_value" id="id_visualization_customize_y_axis_max_value">
                </div>
              </fieldset>
            </div>

            <div class="itemConfig">
          		<div class="title">{% trans 'APP-CHART-CUSTOMIZE-LABELS-TEXT' %}</div>
          		<fieldset>
                <p class="tip">{% trans 'APP-CHART-CUSTOMIZE-LABELS-TEXT-DESC' %}</p>
                <div class="row clearfix">
                  <label for="id_visualization_customize_range_selected">{% trans 'CHRT-RANGESELECTED-TEXT' %}</label>
                  <a id="id_visualization_customize_range_selected" href="" class="range">A2<span class="rangeIcon"></span></a>
                </div>
              </fieldset>
            </div>

            <div class="itemConfig">
          		<div class="title">{% trans 'APP-CHART-CUSTOMIZE-LEGEND-TEXT' %}</div>
          		<fieldset>
                <p class="tip">{% trans 'APP-CHART-CUSTOMIZE-LEGEND-TEXT-DESC' %}</p>
                <div class="row clearfix">
                  <label for="id_visualization_customize_range_selected">{% trans 'CHRT-RANGESELECTED-TEXT' %}</label>
                  <a id="id_visualization_customize_range_selected" href="" class="range">B1:H1<span class="rangeIcon"></span></a>
                  <input type="checkbox" value="True" name="enable_show_legend" id="id_enable_show_legend" checked="checked">{% trans 'CHRT-SHOWLEGEND-TEXT' %} 
                </div>
              </fieldset>
            </div>

          </div>
        </section>

        <section class="preview-container">
        	<h4>{% trans 'APP-PREVIEW-TEXT' %}</h4>
        	<div></div>
        </section>

      </div>
    </div>
  </div>

	</div>

</div>