.ODL{line-height:32px;font-family:verdana, arial, helvetica, sans-serif;background:#f4f3f3;min-width:998px;}
.ODL .innerODL{width:940px;margin:0 auto;padding:0 10px 32px;}
.ODL a{color:#006ab6;}
.ODL h1{padding:32px 0;color:#faa519;font-weight:bold;font-size:25px;}
.ODL h1 a{color:#faa519;}
.ODL h2, 
.ODL h3,
.ODL p{font-size:19px;color:#231f20;}
.ODL h2, 
.ODL h3{margin-top:32px;}
.ODL h2 a,
.ODL h3 a{color:#231f20;}
.ODL h2{font-weight:bold;}
.ODL img{width:940px;margin-top:16px;}