{% extends "base_microsites.html" %}

{% block SEO %}
    <title>Test Title</title>
    <meta name="description" content="" />
    <link rel="canonical" href="" />
{% endblock %}

{% block meta %}

{% load static %}
<!-- TODO: Load only the models and view for the current chart type -->
<!-- Chart Libraries -->
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
    }"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=visualization"></script>
<script type="text/javascript" src="/js_core/plugins/multimarker.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="{% static 'handsontable/dist/handsontable.full.js' %}"></script>
<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'c3/c3.min.js' %}"></script>

<!-- Charts types & instances -->
<script language="javascript" src="/js_core/base_modules/charts/ChartsFactory.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/data.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/chart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/mapChart.js?id={{settings.VERSION_JS_CSS}}"></script>

<script language="javascript" src="/js_core/base_modules/charts/views/chart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/mapChart.js?id={{settings.VERSION_JS_CSS}}"></script>

<script type="text/javascript" src="/js_microsites/viewChart/viewChartModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewChart/viewChartView.js?id={{settings.VERSION_JS_CSS}}"></script>
{% endblock %}

{% block content %}
<div class="wrapper clearfix" id="id_wrapper">
    <div class="wrapperInner">
        <div class="chartContent">
            <div id="chartContainer" class="chart-view" style="width:100%;height:600px;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" >
    // TODO: fetch real data from the visualization endpoint
    // TODO: Use the data from the visualization object
    var chartModel = new viewChartModel({
        visualization_id: 1,
        chart: {
            lib: 'google',
            type: 'map'
        }
    });
    var chartView = new viewChartView({
        el: '#id_wrapper',
        model: chartModel
    });
</script>
{% endblock %}