{% load i18n %}
{% load extra_tags components plugins %}

<div class="dataTable box relative" id="id_dataStreamContainer">
	
	<!-- Header -->
	<header class="border-box {% if preferences.account_enable_sharing %}sharingEnabled{% endif %}">
		
		{% if preferences.account_enable_sharing %}
    <div class="socialBox clearfix FR">
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
    </div>
		{% endif %}

		<!-- Title and Description -->
		<hgroup>
			<h1>
				<strong>{{visualization_revision.title|capfirst}}</strong>
			<h2>{{visualization_revision.description|capfirst}}</h2>
		</hgroup>

	</header>

	<!-- Data -->
	<div class="data">
    <div id="id_visualizationResult"><div class="result"><div class="loading">{% trans 'APP-LOADING-TEXT' %}</div></div></div>
  </div>

	
	

	<!-- Tabs from plugins -->
	{% get_plugins core.plugins.DatalPluginPoint as plugins %}
	{% for plugin in plugins %}
		{% if plugin.is_active and plugin.microsites_view_visualization_data_table %}
			{% autoescape off %}
				{{ plugin.microsites_view_visualization_data_table }}
			{% endautoescape %}
		{% endif %}
	{% endfor %}
	
	{# Dejo esto provisoriamente aca porque no me funciona el get_plugins de arriba #}
	{# DESDE ACA #}
	<div id="id_datastreamResult" style="display:none;"><div class="result"><div class="loading">{% trans 'APP-LOADING-TEXT' %}</div></div></div>
	{# HASTA ACA #}
	



  <!-- Mini Loading -->
  <div id="id_miniLoading" style="display:none;" class="absolute">{% trans 'VIEWCHART-MINILOADING-TEXT' %}</div>

</div>