{% extends "base_microsites.html" %}
{% load i18n extra_tags components core_components compress staticfiles sass_tags plugins %}

{% block SEO %}
    <title>{{visualization_revision.title}} &middot; {{preferences.account_page_titles}}</title>
    <meta name="description" content="{{ visualization_revision.description }}" />
    <link rel="canonical" href="http://{{ preferences.account_domain}}{{visualization_revision.visualization_id|permalink:"visualization"}}" />
{% endblock %}

{% if preferences.account_enable_sharing %} 
    {% block facebook %}
        <meta property="og:title" content="{{visualization_revision.title}} &middot; {{preferences.account_page_titles}}" />
        <meta property="og:description" content="{{ visualization_revision.description }}" />
        <meta property="og:image" content="{{preferences.account_logo}}" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="{{preferences.account_name}}" />
    {% endblock %}
{% endif %}

{% block meta %}

{% compress css %}
<!-- CSS -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/viewDataStream.css' %}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'c3/c3.min.css' %}"/>
{% endcompress %}

<!-- Styles items from plugins -->
{% get_plugins core.plugins.DatalPluginPoint as plugins %}
{% for plugin in plugins %}
    {% if plugin.is_active and plugin.microsites_view_visualization_styles %}
        {% autoescape off %}
            {{ plugin.microsites_view_visualization_styles }}
        {% endautoescape %}
    {% endif %}
{% endfor %}

<!-- JS LIBS -->
<!--[if lt IE 9]>
<script type="text/javascript" src="/js_core/plugins/date.toISOString.js?id={{settings.VERSION_JS_CSS}}"></script>
<![endif]-->
<script type="text/javascript" src="/js_core/plugins/jquery.client.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/imagesPreLoader.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/flexigrid.4/source/flexigrid.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Lib items from plugins -->
{% get_plugins core.plugins.DatalPluginPoint as plugins %}
{% for plugin in plugins %}
  {% if plugin.is_active and plugin.microsites_view_visualization_libs %}
    {% autoescape off %}
      {{ plugin.microsites_view_visualization_libs }}
    {% endautoescape %}
  {% endif %}
{% endfor %}

<!-- Libraries -->
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
    }"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=visualization"></script>


<script type="text/javascript" src="/js_core/plugins/multimarker.js?id={{settings.VERSION_JS_CSS}}"></script>

{% if preferences.account_enable_sharing %}
  <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&amp;login=junar&amp;apiKey=R_4da011b2ee9f2ee2cf80ed8122b73391"></script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "b6aba428-3562-4003-b6a8-018086ce7af4", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endif%}

<script type="text/javascript" src="/js_core/models.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'c3/c3.min.js' %}"></script>

<script language="javascript" src="/js_core/base_modules/charts/ChartsFactory.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/data.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/chart.js?id={{settings.VERSION_JS_CSS}}"></script>

<script language="javascript" src="/js_core/base_modules/charts/views/chart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/charts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/mapChart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/googleCharts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/c3Charts.js?id={{settings.VERSION_JS_CSS}}"></script>

<script type="text/javascript" src="/js_microsites/viewChart/embedChartModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewChart/embedChartView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewChart/viewChartView.js?id={{settings.VERSION_JS_CSS}}"></script>

<script type="text/javascript" src="/js_microsites/viewChart/visualizationHitsModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewChart/visualizationHitsView.js?id={{settings.VERSION_JS_CSS}}"></script>

<script type="text/javascript" src="/js_microsites/viewChart/ChartView.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Styles items from plugins -->
{% get_plugins core.plugins.DatalPluginPoint as plugins %}
{% for plugin in plugins %}
  {% if plugin.is_active and plugin.microsites_view_visualization_scripts %}
    {% autoescape off %}
      {{ plugin.microsites_view_visualization_scripts }}
    {% endautoescape %}
  {% endif %}
{% endfor %}

{% compress css %}
<!-- BRANDED CSS -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/brandedFull.css' %}"/>
{% endcompress %}
<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.get_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.get_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<!-- BRANDED JS -->
<script type="text/javascript" src="{% url 'microsites.get_js' preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"></script>
  
{% endblock %}

{% block messageBar %}

<!-- Message Bar from plugins -->
{% get_plugins core.plugins.DatalPluginPoint as plugins %}
{% for plugin in plugins %}
  {% if plugin.is_active and plugin.microsites_view_visualization_message_bar %}
    {% autoescape off %}
      {{ plugin.microsites_view_visualization_message_bar }}
    {% endautoescape %}
  {% endif %}
{% endfor %}

{% endblock %}

{% block content %}
  
<div class="wrapper clearfix" id="id_wrapper">
  <div class="wrapperInner">
  
    <nav class="tabs border-box">
      {% include "viewChart/tabs.html" %}
    </nav>
  
    <div class="columns clearfix" id="id_columns">

      <aside class="sidebar FL transition">
        {% include "viewChart/sidebarInfo.html" %}
        {% include "viewChart/sidebarAPI.html" %}
        {% if notes and preferences.account_enable_notes %}
          {% include "viewChart/sidebarNotes.html" %}
        {% endif %}
        
        <!-- Plugins Sidebar Includes -->
        {% get_plugins core.plugins.DatalPluginPoint as plugins %}
        {% for plugin in plugins %}
            {% if plugin.is_active and plugin.microsites_view_visualization_sidebar_includes %}
                {% autoescape off %}
                    {{ plugin.microsites_view_visualization_sidebar_includes }}
                {% endautoescape %}
            {% endif %}
        {% endfor %}

      </aside>

      <section class="section transition">
        {% include "viewChart/dataTable.html" %}
      </section>

    </div>

  </div>
</div>

{% get_plugins core.plugins.DatalPluginPoint as plugins %}
{% for plugin in plugins %}
    {% if plugin.is_active and plugin.microsites_view_visualization_templates_backbone %}
        {% autoescape off %}
            {{ plugin.microsites_view_visualization_templates_backbone }}
        {% endautoescape %}
    {% endif %}
{% endfor %}

{% endblock %}

{% block microsites_bottom_js %}

<script type="text/javascript">

google.load('visualization', '1', {packages: ['corechart', 'geomap']});

var viewVisualizationModel = {
    title: "{{visualization_revision.title}}", 
    description: "{{visualization_revision.description|escapejs}}", 
    visualizationJson : '{{result|escapejs}}',
    chartJson : '{{visualization_revision.impl_details|escapejs}}',
    chartLib: "{{visualization_revision.lib}}",
    status : '{{visualization_revision.status}}',
    createdAt: "{{ visualization_revision.created_at|date:'F d, Y, h:i A'|capfirst }}",
    modifiedAt: "{{ visualization_revision.modified_at|date:'F d, Y, h:i A'|capfirst }}",
    lastPublishDate: "{{visualization_revision.last_published_date|date:'F d, Y, h:i A'|capfirst}}",
    publicUrl: "{{ visualization_revision.visualization_id|permalink:'visualization' }}",
    lastPublishRevisionId: "{{ visualization_revision.last_published_revision_id }}",

    // Validar si es necesario
    guid: "{{visualization_revision.guid}}",

    // Revisar
    id: "{{ visualization_revision.last_published_revision_id }}",
    visualization_id: "{{ visualization_revision.visualization_id }}",
}

// Plugins - Extend Main Model
{% get_plugins core.plugins.DatalPluginPoint as plugins %}
{% for plugin in plugins %}
    {% if plugin.is_active and plugin.microsites_view_visualization_js_extend_main_model %}
        {% autoescape off %}
            {{ plugin.microsites_view_visualization_js_extend_main_model }}
        {% endautoescape %}
    {% endif %}
{% endfor %}

var visualizationModel = new charts.models.Chart( viewVisualizationModel );

visualizationModel.parse({
    id: {{ visualization_revision.visualization_id }},
    revision_id: {{ visualization_revision.visualization_revision_id }},

    title: '{{ visualization_revision.title }}',
    description: '{{ visualization_revision.description }}',
    notes: '{{ visualization_revision.notes }}',
    lib: '{{ visualization_revision.lib }}',

    data: '{{ visualization_revision.data }}',

    format: {{ visualization_revision.format | jsonify }},
    chart: {{ visualization_revision.chart | jsonify }},
}); 

// PROVISORIO PORQUE NO SE LE PUEDE PASAR AUN PARAMETROS DENTRO DE LOS PLUGINS
//viewVisualizationModel['datastream_revision_id'] = "{{datastream.datastream_revision_id}}"; // Este se necesita para el data table
visualizationModel.set('datastream_revision_id', "{{datastream.datastream_revision_id}}");

var visualizationView = new viewVisualizationView({
    model: visualizationModel
});

</script>
{% endblock %}

{% block popupsOverlay %}
  
  {% include "viewChart/overlays.html" %}

  <!-- overlays from plugins -->
  {% get_plugins core.plugins.DatalPluginPoint as plugins %}
  {% for plugin in plugins %}
      {% if plugin.is_active and plugin.microsites_view_visualization_overlays %}
          {% autoescape off %}
              {{ plugin.microsites_view_visualization_overlays }}
          {% endautoescape %}
      {% endif %}
  {% endfor %}

{% endblock %}
