{% load i18n %}
{% load extra_tags components plugins %}

<ul class="icons">
	<li>
		<a class="icon info border-box sidebarIcon" id="id_openInfoButton" rel="id_infoSidebar">
			<i></i> 
			<span>{% trans 'VIEWDS-TABS-INFO' %}</span>
		</a>
	</li>
	<li>
		<a class="icon refresh border-box" id="id_refreshButton">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-REFRESH' %}</span>
		</a>
	</li>
	{% if chart_type == "mapchart" %}
	<li>
		<a class="icon heatmap border-box" id="id_heatmapButton">
			<i></i> 
			<span>{% trans 'VIEWCHART-TABS-HEATMAP' %}</span>
		</a>
	</li>
	{% endif %}
	
	<!-- Tabs from plugins -->
	{% get_plugins core.plugins.DatalPluginPoint as plugins %}
	{% for plugin in plugins %}
		{% if plugin.is_active and plugin.microsites_view_visualization_tabs %}
			{% autoescape off %}
				{{ plugin.microsites_view_visualization_tabs }}
			{% endautoescape %}
		{% endif %}
	{% endfor %}
	
	{# Dejo esto provisoriamente aca porque no me funciona el get_plugins de arriba #}
	{# DESDE ACA #}
	<li style="display:none;">
		<a class="icon filter border-box sidebarIcon" id="id_openFiltersButton" rel="id_filtersSidebar">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-FILTERS' %}</span>
		</a>
	</li>
	<li style="display:none;">
		<a class="icon sort border-box sidebarIcon" id="id_openSortsButton" rel="id_sortSidebar">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-SORT' %}</span>
		</a>
	</li>
	<li style="display:none;">
		<a class="icon customviews border-box sidebarIcon" id="id_openCustomViewsButton" rel="id_customViewsSidebar">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-CUSTOMVIEWS' %}</span>
		</a>
	</li>
	{# HASTA ACA #}

	{% if preferences.account_pivottable %}
		{% if chart_type != "mapchart" and 1 == 2 %}
		<li>
			<a class="icon pivot border-box" id="id_pivotTableButton">
				<i></i>
				<span>{% trans 'VIEWDS-TABS-PIVOTTABLE' %}</span>
			</a>
		</li>
		{% endif %}
	{% endif %}
	{% if preferences.enable_embed_options %}
	<li>
		<a class="icon embed border-box" id="id_embedButton">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-EMBED' %}</span>
		</a>
	</li>
	{% endif %}
	{% if notes and preferences.account_enable_notes %}
	<li>
		<a class="icon notes border-box sidebarIcon" id="id_openNotesButton" rel="id_notesSidebar">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-NOTES' %}</span>
		</a>
	</li>
	{% endif %}
	<li>
		<a class="icon api border-box sidebarIcon" id="id_openAPIButton" rel="id_apiSidebar">
			<i></i> 
			<span>{% trans 'VIEWDS-TABS-API' %}</span>
		</a>
	</li>
	<li class="relative">
		<a class="icon export border-box" id="id_exportButton" rel="id_tooltipExport">
			<i></i> 
			<span>{% trans 'VIEWDS-TABS-EXPORT' %}</span>
		</a>
		<ul class="tooltip border-box" style="display:none;" id="id_tooltipExport">
      		<li><a id="id_exportToCSVButton" rel="id_tooltipExport" href="{% url "datastreams-data" datastream.last_published_revision_id 'csv' %}">{% trans 'VIEWDS-EXPORT-CSV' %}</a></li>
      		<li><a id="id_exportToXLSButton" rel="id_tooltipExport" href="{% url "datastreams-data" datastream.last_published_revision_id 'xls' %}" title="{% trans 'APP-EXPORTDS-XLS' %}" class="Icon ic_XLS">{% trans 'VIEWDS-EXPORT-XLS' %}</a></li>
		</ul>
	</li>
</ul>                                