{% load i18n %}
{% load extra_tags components plugins_tags %}

<ul class="icons">
	<li>
		<a class="icon info border-box sidebarIcon" id="id_openInfoButton" rel="id_infoSidebar">
			<i></i> 
			<span>{% trans 'VIEWDS-TABS-INFO' %}</span>
		</a>
	</li>
	{% if notes and preferences.account_enable_notes and preferences.account_description_enhancement %}
	<li>
		<a class="icon notes border-box sidebarIcon" id="id_openNotesButton" rel="id_notesSidebar">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-DESCRIPTION' %}</span>
		</a>
	</li>
	{% endif %}
	<li>
		<a class="icon refresh border-box" id="id_refreshButton">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-REFRESH' %}</span>
		</a>
	</li>
	{% if chart_type == "mapchart" %}
	<li>
		<a class="icon heatmap border-box" id="id_heatmapButton">
			<i></i> 
			<span>{% trans 'VIEWCHART-TABS-HEATMAP' %}</span>
		</a>
	</li>
	{% endif %}
	
	<!-- Tabs from plugins -->
	{% plugins_call 'microsites_view_visualization_tabs' %}

	{% if preferences.account_pivottable %}
		{% if chart_type != "mapchart" and 1 == 2 %}
		<li>
			<a class="icon pivot border-box" id="id_pivotTableButton">
				<i></i>
				<span>{% trans 'VIEWDS-TABS-PIVOTTABLE' %}</span>
			</a>
		</li>
		{% endif %}
	{% endif %}
	
	{% if preferences.enable_embed_options %}
	<li>
		<a class="icon embed border-box" id="id_embedButton">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-EMBED' %}</span>
		</a>
	</li>
	{% endif %}
	
	{% if notes and preferences.account_enable_notes %}
	<li style="{%if preferences.account_description_enhancement %}display:none;{% endif %}">
		<a class="icon notes border-box sidebarIcon" id="id_openNotesButton" rel="id_notesSidebar">
			<i></i>
			<span>{% trans 'VIEWDS-TABS-NOTES' %}</span>
		</a>
	</li>
	{% endif %}
	<li>
		<a class="icon api border-box sidebarIcon" id="id_openAPIButton" rel="id_apiSidebar">
			<i></i> 
			<span>{% trans 'VIEWDS-TABS-API' %}</span>
		</a>
	</li>
	<li class="relative">
		<a class="icon export border-box" id="id_exportButton" rel="id_tooltipExport">
			<i></i> 
			<span>{% trans 'VIEWDS-TABS-EXPORT' %}</span>
		</a>
		<ul class="tooltip border-box" style="display:none;" id="id_tooltipExport">
      		<li><a id="id_exportToCSVButton" rel="id_tooltipExport" href="{% url "datastreams-data" datastream.last_published_revision_id 'csv' %}">{% trans 'VIEWDS-EXPORT-CSV' %}</a></li>
      		<li><a id="id_exportToXLSButton" rel="id_tooltipExport" href="{% url "datastreams-data" datastream.last_published_revision_id 'xls' %}" title="{% trans 'APP-EXPORTDS-XLS' %}" class="Icon ic_XLS">{% trans 'VIEWDS-EXPORT-XLS' %}</a></li>
		</ul>
	</li>
</ul>                                
