/*CONFIGS*/
html{background:#707070;}
body,
.layout, 
.content{background:#f4f3f3;padding-bottom:0;}
.homeColumns .CL{width:510px;}
.homeColumns .CR{width:420px;}

/*HOME CONTENT*/
.homeColumns{padding-bottom:15px;}

.homeColumns .CR .boxContent{margin-left:30px;}
.homeColumns .searchContainer{background:url(/media_core/images/homeManager/sh_sliderWrapper.png) center bottom no-repeat;padding-bottom:6px;}
.homeColumns .searchContainer .FR{float:none;}
.homeColumns .searchContainer .search{background-color:#fff;}
.homeColumns .searchContainer .search .field{width:327px;padding:11px 11px 11px 48px;font-size:14px;height:auto;background:url(../../images/homeManager/ic_searchHome.png) 14px center no-repeat;}

/*SLIDER CONTAINER*/
.sliderContainer{top:20px;}
.paddingSlider{padding-top:285px;}

/*RESOURCES TABLE*/
.resourcesTable{margin-bottom:31px;}

	/*DATA SORT ICONS*/
	.workspaceGrid table th{background-image:url(/media_core/images/common/ic_tableSorter.gif);background-position:5px 0;background-repeat:no-repeat;padding-left:20px;cursor:pointer;}
	.workspaceGrid table th.sorting-asc{background-position:5px -50px;}
	.workspaceGrid table th.sorting-desc{background-position:5px -100px;}
	.workspaceGrid table td.date{padding-left:20px;}

/*HOME FILTERS*/
#home_filter .filters dd{cursor:pointer;}

	/*OPTION FILTER*/
	#home_filter .optionFilter dt span{padding-top:10px;padding-bottom:10px;}
	#home_filter .optionFilter dd{border:0;}
	#home_filter .optionFilter dd.row{padding-top:12px;}
	#home_filter .optionFilter dd label{display:block;padding:10px 7px 5px;font-size:11px;color:#3a3a3a;font-weight:bold;}
	#home_filter .optionFilter dd select{width:100%;font-size:11px;padding:5px 4px 4px;}
	#home_filter .optionFilter dd a.genericButton{display:block;text-align:center;margin-top:15px;height:25px;line-height:25px;}
		
		/*SHORTER*/
		#home_filter .optionFilter dd select.shorter{width:112px;}
		#home_filter .optionFilter dd a.genericButton.shorter{width:22px;margin-top:0;padding-left:0;padding-right:0;}

/*PLACEHOLDERS*/
.placeholder{}
.placeholder p{text-align:justify;}
.placeholder.featuredContent{margin-top:20px;}
.placeholder h1{color:#000;font-size:40px;line-height:40px;padding-bottom:22px;padding-top:20px;}
.placeholder h1.neuton{font-size:45px;line-height:66px;}
.placeholder h2,
.placeholder h3,
.placeholder h4,
.placeholder h5,
.placeholder h6{color:#333;font-size:16px;line-height:21px;font-weight:bold;padding-bottom:9px;}
.placeholder p{color:#666;font-size:14px;line-height:21px;padding-bottom:21px;}
.placeholder p strong{color:#5b5a5a;}
.placeholder ul{border-top:1px solid #e5e4e4;border-bottom:1px solid #fff;margin-bottom:21px;}
.placeholder li{border-top:1px solid #fff;border-bottom:1px solid #e5e4e4;display:block;}
.placeholder li a{padding:0 14px 0 10px;display:inline-block;height:28px;line-height:28px;overflow:hidden;font-size:12px;text-shadow:0 1px 0 #fff;margin-right:9px;background:url(../../images/homeManager/ic_arrowLinks.gif) right 11px no-repeat;}
.placeholder img{margin-bottom:20px;}
.placeholder.featuredContent img{max-width:940px;}
.placeholder.homeMainContent img,
.placeholder.homeFooterLeftContent img{max-width:510px;}
.placeholder.searchContainerContent img,
.placeholder.homeFooterRightContent img{max-width:390px;}

/*HOME SLIDER*/
.featuredSlider{margin-top:30px;height:300px;position:relative;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.featuredSlider .sliderHome,
.featuredSlider .caroufredsel_wrapper,
.featuredSlider .panel{width:940px;height:300px;overflow:hidden;float:left;position:relative;}
.featuredSlider .btn{display:block;background:url(http://www.junar.com/media_website/images/home/btn-slider.png) no-repeat;height:43px;width:26px;position:absolute;top:128px;}
.featuredSlider .btn.izq{background-position:0 0;left:-26px;}
.featuredSlider .btn.der{background-position:-26px 0;right:-26px;}
.featuredSlider .btn.izq:hover{background-position:0 -43px;}
.featuredSlider .btn.der:hover{background-position:-26px -43px;}
.featuredSlider .panel{width:940px;height:300px;}
.featuredSlider .img{height:300px;width:940px;}

.shadowSlider {height: 18px;background: url(http://www.junar.com/media_website/images/common/sh-slider.png) no-repeat;}

/* Fonts */
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../../fonts/proximanova-bold-webfont.eot');
  src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/proximanova-bold-webfont.woff') format('woff'),
       url('../../fonts/proximanova-bold-webfont.ttf') format('truetype'),
       url('../../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal !important;
  font-style: normal !important;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../../fonts/proximanova-regular-webfont.eot');
  src: url('../../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/proximanova-regular-webfont.woff') format('woff'),
       url('../../fonts/proximanova-regular-webfont.ttf') format('truetype'),
       url('../../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal !important;
  font-style: normal !important;
}
@font-face {
    font-family: 'league_gothicregular';
    src: url('../../fonts/league_gothic-webfont-webfont.eot');
    src: url('../../fonts/league_gothic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/league_gothic-webfont-webfont.woff') format('woff'),
         url('../../fonts/league_gothic-webfont-webfont.ttf') format('truetype'),
         url('../../fonts/league_gothic-webfont-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}