/*PRIVATE SIGN IN*/
.accountSignIn .individualSignInBox{margin:0 auto;float:none;}
.signInTitleBox h1{padding:0;font-size:22px;float:none;font-weight:bold;}
.signForm.backShadow{padding:20px 60px 0;background-position:center 188px;}
.signBox .pageFormContainer{height:200px;}
.contentInner{background:#fefefe;}
.buttons{padding-top:10px;}
.imgContainer{padding-top:60px;}
.imgContainer a{width:142px;margin:0 auto;display:block;}
.brandingFooter{display:none;}
.miniFooterJunar{position:fixed;bottom:0;left:0;width:100%;display:none;}