/*LOADING*/
.ao-loading{border:1px solid #ccc;padding:30px;text-align:center;margin:0;font:14px arial, helvetica, sans-serif;color:#333}

/*ERROR*/
.ao-error{border:1px solid #ccc;padding:30px;text-align:center;margin:0;font:14px arial, helvetica, sans-serif;color:#ff3;display:block;}

/*CATEGORIES*/
.ao-categories{padding:0;margin:0;font:12px/15px arial, helvetica, sans-serif;}
.ao-categories a{text-decoration:none;color:#0862A2;}
.ao-categories a:hover{text-decoration:underline;}
.ao-categories-column{display:inline-block;margin-right:3%;margin-bottom:3%;width:31%;vertical-align:top;border:1px solid #ccc;}
.ao-categories-column:nth-child(3n){margin-right:0;}

.ao-categories-title,
.ao-categories-item{background:#fff;border-top:1px solid #ccc;padding:7px 10px;text-shadow:0 1px 0 #fff;}
.ao-categories-title{background:#eee;color:#333;font-size:14px;font-weight:bold;border-top:0;}
.ao-categories-item:first-child{border:0;}
.ao-categories-item:nth-child(odd){background:#FAFAFA;}
.ao-categories-item-description{font-size:11px;}


/*RESOURCES*/
.ao-resources{padding:0;margin:0;font:12px/15px arial, helvetica, sans-serif;}
.ao-resources a{text-decoration:none;color:#0862A2;}
.ao-resources a:hover{text-decoration:underline;}
.ao-resources-table{padding:0;margin:0;border:1px solid #ccc;border-collapse:collapse;width:100%;}
.ao-resources-row td{background:#fff;border-bottom:1px solid #ccc;border-right:1px solid #ccc;padding:7px 10px;text-shadow:0 1px 0 #fff;}
.ao-resources-row:nth-child(odd) td{background:#FAFAFA;}
.ao-resources-text-link{font-size:14px;line-height:normal;}
.ao-resources-text-description{padding:2px 0;}
.ao-resources-tags{font-size:11px;}
.ao-resources-tags-title{display:inline;color:#666;}
.ao-resources-type{vertical-align:top;}

/*RELATED*/
.ao-related{padding:0;margin:0;font:12px/15px arial, helvetica, sans-serif;border:1px solid #ccc;}
.ao-related a{text-decoration:none;color:#0862A2;}
.ao-related a:hover{text-decoration:underline;}
.ao-related-item{background:#fff;border-top:1px solid #ccc;padding:7px 10px;text-shadow:0 1px 0 #fff;}
.ao-related-item:first-child{border:0;}
.ao-related-item:nth-child(odd){background:#FAFAFA;}
.ao-related-item-description{font-size:11px;}