{% extends 'base_workspace.html' %}
{% load i18n extra_tags core_components components compress staticfiles sass_tags datastream_tags static%}

{% block meta %}

{% load static %}

{% compress css %}
<link href="{% sass_src 'core/styles/dataStreamForm.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'c3/c3.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'handsontable/dist/handsontable.full.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/detailCommon.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/createVisualization.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/forms.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}

<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
    }"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=visualization"></script>

<script type="text/javascript" src="/js_core/models.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="{% static 'handsontable/dist/handsontable.full.js' %}"></script>
<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'c3/c3.min.js' %}"></script>

<!-- Charts types & instances -->
<script language="javascript" src="/js_core/base_modules/charts/ChartsFactory.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/data.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/models/chart.js?id={{settings.VERSION_JS_CSS}}"></script>

<script language="javascript" src="/js_core/base_modules/charts/views/chart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/charts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/googleCharts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/mapChart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_core/base_modules/charts/views/c3Charts.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Screen JS -->
<script language="javascript" src="/js_workspace/viewVisualization/deleteItemView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewVisualization/unpublishView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewVisualization/viewVisualizationModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script language="javascript" src="/js_workspace/viewVisualization/viewVisualizationView.js?id={{settings.VERSION_JS_CSS}}"></script>

<meta name="main-option" content="id_visualizations_option"/>
{% endblock %}

{% block header_navigation %}
<!-- Back Link -->
<a href="{% url 'manageVisualizations.index' %}" id="id_backLink" class="button alpha back FL" title="{% trans 'APP-BACK-TEXT' %}">{% trans 'APP-BACK-TEXT' %}</a>
{% endblock %}

{% block sectionTitle %}

<div class="context-menu clearfix">
  <!-- Column Left -->
  <div class="col-xs-12">    
    <h1>{% trans "APP-VISUALIZATION-TEXT" %}</h1>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="detail" id="id_viewVisualization">
    <div class="wrapper1">
        <div class="wrapper2 clearfix">
            <div class="wrapper3">
                <!-- Sidebar -->
                <section class="sidebar-container">
                    {% include "viewVisualization/sidebar.html" %}
                </section>
                <!-- Detail -->
                <section class="detail-container">
                    <div class="col-xs-12">
                    {% include "viewVisualization/detail.html" %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{# templates backbone #}
{% include "viewVisualization/templates.html" %}

{% endblock %}

{% block bottom_js %}
<script type="text/javascript">

google.load('visualization', '1', {packages: ['corechart', 'geomap']});

$(document).ready(function(){

    var visualizationModel = new VisualizationModel({
        
        title: "{{visualization_revision.title}}", 
        description: "{{visualization_revision.description|escapejs}}", 
        visualizationJson : '{{result|escapejs}}',
        chartJson : '{{visualization_revision.impl_details|escapejs}}',
        chartLib: "{{visualization_revision.lib}}",
        status : '{{visualization_revision.status}}',
        status_str: "{{ visualization_revision.status|status_str|capfirst }}",
        createdAt: "{{ visualization_revision.created_at|date:'F d, Y, h:i A'|capfirst }}",
        lastPublishDate: "{{visualization_revision.last_published_date|date:'F d, Y, h:i A'|capfirst}}",
        publicUrl: "{{ visualization_revision.public_url }}",
        changeStatusUrl: "{% url 'manageVisualizations.change_status' visualization_revision.visualization_revision_id %}",
        editUrl: "TODO",    

        // Validar si es necesario
        guid: "{{visualization_revision.guid}}",

        // Revisar
        id: "{{ visualization_revision.last_revision_id }}",
        visualization_id: " {{ visualization_revision.visualization_id }}",

    });

    var chartView = new viewVisualizationView({
        model: visualizationModel
    });

    chartView.setLoading();
});
</script>
{% endblock %}

{% block popupsOverlay %}
  {% include "viewVisualization/overlays.html" %}
{% endblock %}
