{% load i18n %}
{% load extra_tags components datastream_tags %}

<div class="box">

    <!-- Information -->
    <div class="section-box infoBox" id="id_infoSidebar">

        <!-- Title -->
        <header class="title clearfix">
            <h1 class="FL">{% trans 'APP-INFO-TEXT' %}</h1>
        </header>
        <div class="boxContent">

            <!-- Last Update -->
            <article class="lastUpdate">
                <i></i>
                <header>
                    <h1>{% trans 'DATASET-TABLE-HEADER-MODIFIED' %}</h1>
                </header>
                <p id="id_lastUpdate">{{visualization_revision.created_at|date:'F d, Y, h:i A'|capfirst}}</p>
            </article>

            <!-- Category -->
            <article class="category">
                <i></i>
                <header>
                    <h1>{% trans 'APP-CATEGORY-TEXT' %}</h1>
                </header>
                <p id="id_category">{{visualization_revision.category_name|capfirst}}</p>
            </article>
            
            {% if visualization_revision.sources %} 
            <!-- Sources -->
            <article class="sources">
                <i></i>
                <header>
                    <h1>{% trans 'APP-SOURCES-TEXT' %}</h1>
                </header>
                <ul class="list">
                    {% for source in visualization_revision.sources %}
                    <li class="clearfix">{{source.source__name|capfirst}}</li>
                    {% endfor %}
                </ul>
            </article>
            {% endif %}

            {% if visualization_revision.tags %}
            <!-- Tags -->
            <article class="tags">
                <i></i>
                <header>
                    <h1>{% trans 'APP-TAGS-TEXT' %}</h1>
                </header>
                <ul class="list">
                    {% for tag in visualization_revision.tags %}
                    <li class="clearfix">{{tag.tag__name|capfirst}}</li>
                    {% endfor %}
                </ul>
            </article>
            {% endif %}

        </div>

    </div>

    {% if visualization_revision.notes %}
    <!-- Notes -->
    <div class="section-box notesBox" id="id_notesSidebar">
        <header class="title">
            <h1>{% trans 'APP-NOTES-TEXT' %}</h1>
        </header>
        <div class="boxContent">
            <article class="notes WYSIWYG">
                {{visualization_revision.notes|safe|urlize}}
            </article>
        </div>
    </div>
    {% endif %}

</div>