/*WORKSPACE ICONS*/

.workspaceIcon span{background:url(../../images/_workspace/ic_workspaceIcons.png) no-repeat;padding-left:16px;line-height:20px;display:inline-block;}

.genericButton.actionButton{height:22px !important;padding: 0 3px 0 2px;}
button.genericButton.normalButton{height:22px !important;}
button.genericButton.normalButton span{padding-right:6px;}

.editIcon span{background-position:0 -16px;padding-left:17px;}
.deleteIcon span{background-position:0 -65px;}
.unpublishIcon span{background-position:0 -115px;padding-left:21px;}
.publishIcon span{background-position:0 -166px;padding-left:20px;}
button.genericButton.normalButton.publishIcon span{background-position:3px -666px;padding-left:24px !important;}
.saveIcon span{background-position:0 -216px;padding-left:19px;}
.sendToReviewIcon span{background-position:0 -267px;padding-left:19px;}
.approveIcon span{background-position:0 -315px;padding-left:17px;}
.rejectIcon span{background-position:0 -365px;padding-left:18px;}
.enhanceIcon span{background-position:0 -416px;padding-left:19px;}
.collectDatasetIcon span{background-position:0 -463px;padding-left:20px;}
.createDataviewIcon span{background-position:0 -514px;padding-left:20px;}
.actionButton.createDataviewIcon span{background-position:0 -765px;padding-left:19px;}
.createChartIcon span{background-position:0 -717px;padding-left:20px;}
.actionButton.createChartIcon span{background-position:0 -565px;padding-left:19px;}
.createDashboardIcon span{background-position:0 -615px;padding-left:22px;}

button.genericButton.privateIcon{border-color:#84982d;background-image:url(/static/core/images/common/dg_followButton.gif) !important;-moz-box-shadow: 0 0 0 transparent;-webkit-box-shadow: 0 0 0 transparent;box-shadow: 0 0 0 transparent;color:#fff;font-size:12px;font-weight:bold;text-shadow:0 1px 0 #84982d;
        -webkit-transition:none;
           -moz-transition:none;
            -ms-transition:none;
             -o-transition:none;
                transition:none;
}
.privateIcon span{background:url(/static/core/images/common/bt_icPrivateShare.gif) 1px 4px no-repeat;}