/*WORKSPACE COMMON*/

/*
html{background:#fff;}
html, body, .layout{height:100%;}
body > .layout{height:auto;min-height:100%;}
.layoutInner{padding-bottom:42px;min-height:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}  
.footer{position:relative;margin-top:-42px;} 

.content,
.layout{background:#fff url(/static/workspace/images/_workspace/bg_sidebar.gif) repeat-y 0 0;}
*/

/*LIQUID DESIGN*/
.liquidWidth{padding-left:185px;height:100%;padding-bottom:30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.liquidWidth .liquidWidthInner{width:100%;height:100%;}
.liquidWidth .columns{width:100%;float:left;margin:0 0 0 -185px;padding:0;height:100%;}
.liquidWidth .CL{float:left;width:185px;}
.liquidWidth .CR{float:right;width:100%;margin:0 -185px 0 0;height:100%;}

    /*CL - Sidebar*/
    .liquidWidth .sidebar .sidebarInner{height:100%;margin-right:17px;background:#f6f4f4 url(/static/workspace/images/_workspace/dg_sidebar.gif) repeat-y right 0;overflow:auto;overflow-x:hidden;overflow-y:auto;}
    .liquidWidth .sidebar .sidebarPadding{padding:13px;border-top:1px solid #fff;}

        /*ACCOUNT LOGO - CREATE BUTTON*/
        .sidebar .accountLogo{padding-bottom:14px;max-height:300px;overflow:hidden;}
        .sidebar .accountLogo img{width:136px;border:1px solid #fff;}
        .sidebar .buttons{padding-bottom:12px;}
        .sidebar .buttons .button{width:100%;padding:0;}

        /*FILTERS*/
        .sidebar .filters dd,
        .sidebar .filters dt{border-bottom:1px solid #fff;text-shadow:0 1px 0 #fff;}
        .sidebar .filters dd span,
        .sidebar .filters dt span{border-bottom:1px solid #e5e4e4;display:block;padding:2px 7px;line-height:16px;font-size:11px;}
        .sidebar .filters dt span{font-weight:bold;font-size:12px;color:#918989;padding-bottom:4px;}
        .sidebar .filters dd{word-break:break-word;}
        .sidebar .filters dd span{color:#2875bb;padding-right:15px;}
        .sidebar .filters dd span:hover{background:#eee;}
        .sidebar .filters .filter-active,
        .sidebar .filters dd.filter-active span,
        .sidebar .filters dd.filter-active span:hover{background:#eee url(/static/workspace/images/_workspace/ic_filtersArrow.gif) no-repeat right 7px;font-weight:bold;color:#333;}
        .sidebar .filters dd.filter-active{background:none;}

    /*CR - Grid*/
    .liquidWidth .gridInner{padding:7px 10px 10px 0;}

        /*SECTION INFO*/
        .sectionInfo{border-bottom:1px solid #e0e0e0;padding-bottom:7px;}
        .sectionInfo h2{font-size:18px;color:#333;font-weight:bold;padding-top:8px;display:inline-block;}
        .sectionInfo .massive{border-left:1px solid #e0e0e0;padding-left:10px;margin:8px 0 0 10px;display:inline-block;}
        .sectionInfo .massive label{font-size:11px;padding:2px 8px 0 0;}

        /*SEARCH*/
        .search{border:1px solid #e0e0e0;background:url(/static/workspace/images/_workspace/dg_inputs.gif) repeat-x 0 0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
        .search .field{padding:0 5px 0 29px;width:185px;border:1px solid #fff;background:#fff url(/static/workspace/images/_workspace/ic_searchInputs.gif) no-repeat 9px 6px;height:27px;line-height:27px;}

        /*PAGINATION - ITEMS PER PAGE*/
        .pagination{padding:26px 13px 0 0;background:none;}
        .pagination-pages{height:21px;vertical-align:top;display:inline-block;}
        .itemsPerPage{padding-right:10px;}
        .itemsPerPage label{font-size:11px;padding:3px 8px 0 0;}
        .pagButtons .Ant,
        .pagButtons .Sig{float:none;display:inline-block;}
        .itemsPerPage select{font-size:11px;}

        /*WORKSPACE GRID*/
        .gridContainer{padding-right:10px;}
        .workspaceGrid table{width:100%;}
        .workspaceGrid table th,
        .workspaceGrid table td{line-height:18px;padding:2px 5px;border-bottom:1px solid #e0e0e0;background:#fff;color:#333;word-break:break-word;vertical-align:top;}
        .workspaceGrid table th{text-align:left;background:#f6f5f5;color:#aaa;text-shadow:0 1px 0 #fff;font-weight:bold;}
        .workspaceGrid table tr:nth-child(even) > td{background:#fcfcfc;}
        .workspaceGrid .viewInfo .sep{color:#e0e0e0;padding:0 2px;}
        .workspaceGrid .noneMsg{height:50px;text-align:center;font-size:14px;background:#FEEFDC;color:#A82A1B;text-shadow:0 1px 0 rgba(255,255,255,.5);line-height:50px;border-color:#e1b09e;}

/*OVERLAY*/
.ao-popup-overlay .In, 
.ao-popup-overlay .Inner,
.ao-popup-overlay .In .dataStreamForm{padding:0;}
.ao-popup-overlay .In, 
.ao-popup-overlay .Inner{-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.ao-popup-overlay .dataStreamForm .form{padding:20px;}
.ao-popup-overlay .buttons{padding:20px 0;border-top:1px solid #E2E0E0;margin:0;}
.ao-popup-overlay .ao-tabs{border-top:0;margin-left:0;padding-left:4px;}
.ao-popup-overlay .createDBForm .form{margin:0;}
.ao-popup-overlay .gridContainer{padding-left:10px;}
.ao-popup-overlay .pagination{padding-bottom:13px;}
.ao-popup-overlay #id_datasetLibrary,
.ao-popup-overlay .In .dataStreamForm form{width:700px;}
.ao-popup-overlay .workspaceGrid table{max-width:680px;}
.ao-popup-overlay .ao-L{width:680px !important;}

    /*BOTTOM*/
    .bottomOverlay{background:#eee;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;padding:20px;min-height:70px;text-shadow:0 1px 0 #fff;}
    .dataStreamForm .bottomOverlay h6{padding-bottom:0;}
    .bottomOverlay .creationTips{padding:0 0 0 170px;line-height:15px;}
    .bottomOverlay .creationTips p.tip{padding:0 !important;}
    .bottomOverlay .skype{top:20px;left:20px;}

        /*DOUBTS TIP*/
        .doubts{margin-top:15px;margin-bottom:10px;position:relative;display:block;background:#ddd;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:10px;border-bottom:1px solid #fff;}
        .doubts .ic_Skype{width:16px;height:16px;display:block;position:absolute;top:11px;left:16px;}
        .doubts p,
        .doubts .p{font-size:12px;padding:0;margin:0;display:block;}
        .ao-popup-overlay .In .doubts p{padding:0 15px !important;}

    /*SEARCH BLOCK*/
    .searchBlock .search{right:3px;top:-46px;position:absolute;}

    /*WEBSERVICES*/
    .ao-popup-overlay .In .dataStreamForm .webservices{width:815px;max-height:387px;overflow-y:scroll;}
    .ao-popup-overlay .In .dataStreamForm .webservices form{width:auto;;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CL{width:530px;float:left;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CL form{float:none;padding-left:10px}
    .ao-popup-overlay .In .dataStreamForm .webservices .CL .row label{width:120px;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CL .row input[type=text],
    .ao-popup-overlay .In .dataStreamForm .webservices .CL .row textarea{width:360px;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CL p.tip,
    .ao-popup-overlay .In .dataStreamForm .webservices .CL .row.checkbox{padding-left:128px;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CL .row.checkbox p.tip{padding-left:0;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CR{width:225px;float:right;padding:0 20px;border-left:1px solid #eee;margin-bottom:20px;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CR form{float:none;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CR .row input{width:210px;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CR .checkbox{padding-left:0;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CR .checkbox input{width:auto;padding:0;float:left;}
    .ao-popup-overlay .In .dataStreamForm .webservices h5{padding:0 0 10px;font-size:12px;margin-bottom:15px;}
    .ao-popup-overlay .In .dataStreamForm .webservices .CR .buttons{margin:0 0 20px;}
    .ao-popup-overlay .In .dataStreamForm .webservices .tagsContent{width:226px;}


/*BOX TIP*/
.boxTips{background:#f6f4f4;padding:15px;text-shadow:0 1px 0 #fff;line-height:15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.boxTips h3{font-size:14px;font-weight:bold;color:#918989;padding-bottom:10px;line-height:normal;}
.boxTips p{font-size:12px;}

/*ODS BUTTON*/
.ao-tabs .ODSButton{top:5px;right:10px;}
