{% extends 'base_microsites.html' %}
{% load i18n compress sass_tags %}

{% block meta %}

{% compress css %}
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'workspace/styles/common.css' %}">
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/brandedFull.css' %}"/>
{% endcompress %}

{% endblock %}

{% block content %}

<div class="w960 columns clearfix">

	<div class="CL FL">

		{% block error_content %}
			<h1 class="sectionTitle">{% trans "EXCEPTION-TITLE-UNEXPECTED" %}</h1>
			<section class="box error-container">

				<div class="box-content clearfix">
					{% block error_text %}
						{% trans "EXCEPTION-DESCRIPTION-UNEXPECTED" %}
					{% endblock %}
				</div>

			</section>
		{% endblock %}

	</div>

</div>

{% endblock %}

{% block extras %}
{% endblock %}