<!-- NEW -->
<link href="/media_core/styles/reset.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<link href="/media_core/styles/plugins/jquery.gritter.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>

<!-- OLD -->
<link href="/media_core/styles/plugins/jquery-ui-1.8.6.custom.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<link href="/media_core/styles/_modules/structure.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<link href="/media_core/styles/_modules/buttons.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<!-- 
<link href="/media_core/styles/_modules/header.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<link href="/media_core/styles/_modules/footer.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
-->
<link href="/media_core/styles/_modules/actions.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<link href="/media_core/styles/_modules/forms.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<link href="/media_core/styles/_modules/overlay.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
<link href="/media_core/styles/_modules/commonModules.css?id={{settings.VERSION_JS_CSS}}" type="text/css" rel="stylesheet" media="screen"/>
