{% load compress staticfiles %}

{% compress css %}
<!-- Emeplo de uso de SCSS -->
<!-- <link href="{% static 'core/styles/lala.scss' %}" type="text/scss" rel="stylesheet" media="screen"/> -->

<!-- NEW -->
<link href="{% static 'core/styles/reset.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/buttons.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/plugins/jquery.gritter.css' %}" type="text/css" rel="stylesheet" media="screen"/>

<!-- OLD -->
<link href="{% static 'core/styles/plugins/jquery-ui-1.8.6.custom.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/structure.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/forms.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/overlay.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'core/styles/commonModules.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}
