{% load i18n extra_tags components %}

<div class="step data data-step-view hidden" id="id_step1">

	<header>
		<h3>{% trans 'APP-CHART-DATA-TEXT' %} <span>{% trans 'APP-CHART-DATA-TEXT-SUBTITLE' %}</span></h3>
		<div class="navigation FR">
			<a title="{% trans 'BTN-BACK-TEXT' %}" class="button alpha small btn-prev" href="#" id=""><i class="left-arrow"></i>{% trans 'BTN-BACK-TEXT' %}</a>
			<a title="{% trans 'BTN-NEXT-TEXT' %}" class="button green small btn-next" href="#" id="">{% trans 'BTN-NEXT-TEXT' %}<i class="right-arrow"></i></a>
		</div>
	</header>
	
	<div class="columns clearfix">
			<div class="title">{% trans 'APP-DATA-VIEW-TITLE-TEXT' %}</div>

			<!-- Table -->
			<div id="example">
				<h2>Su seleccion es <span class="selected-cells"></span></h2>
				<button type="button" class="add-btn">Add Selection</button>
				<button type="button" class="add-btn-2">Add Second selection</button>
				<div class="table-view"></div>
			</div>

	</div>

</div>