{% load i18n extra_tags components %}

<div class="step finish" id="id_step4">

	<header>
		<h3>{% trans 'APP-CHART-FINISH-TITLE' %} <span>{% trans 'APP-CHART-FINISH-SUBTITLE' %}</span></h3>
		<div class="navigation FR">
      <a title="{% trans 'BTN-BACK-TEXT' %}" class="button alpha small" href="#" id=""><i class="left-arrow"></i>{% trans 'BTN-BACK-TEXT' %}</a>
      <a title="{% trans 'APP-SAVE-TEXT' %}" class="button primary small" href="#" id="">{% trans 'APP-SAVE-TEXT' %}</a>
    </div>
	</header>
	
	<div class="columns clearfix">
	  <div class="contentForm">
	  	<div class="CL formContent">
	      <fieldset>

	        <div class="row clearfix">
	          <label for="id_visualization_final_title">{% trans 'APP-TITLE-TEXT' %}</label>
	          <input type="text" name="visualization_final_title" id="id_visualization_final_title"><span class="required">*</span>
	        </div>

	        <div class="row clearfix">
	          <label for="id_visualization_final_description">{% trans 'APP-DESCRIPTION-TEXT' %}</label>
	          <input type="text" name="visualization_final_description" id="id_visualization_final_description"><span class="required">*</span>
	        </div>

	        <div class="row clearfix">
	          <label for="id_visualization_final_category">{% trans 'APP-CATEGORY-TEXT' %}</label>
	          <select name="visualization_final_category" id="id_visualization_final_category">
							<option value="">{% trans 'APP-SELECT-CATEGORY-TEXT' %}</option>
						</select><span class="required">*</span>
	        </div>

	        <div class="row clearfix">
	          <label for="id_visualization_final_status">{% trans 'APP-STATUS-TEXT' %}</label>
	          <select name="isualization_final_status" id="id_visualization_final_status">
							<option value="">{% trans 'APP-SELECT-CATEGORY-TEXT' %}</option>
						</select><span class="required">*</span>
	        </div>

	        <div class="separator"></div>

	        <div class="row clearfix">
	          <label for="id_visualization_final_tags">{% trans 'APP-TAGS-TEXT' %}</label>
	          <input type="text" name="visualization_final_tags" id="id_visualization_final_tags">
	          <p class="tip">{% trans 'OVEDITDS-TAGS-TIP' %}</p>

	          <div class="tagsContent">
	          	<span class="tag">
	          		<span class="tagInner clearfix">
	          			<span class="tagTxt">Test Source</span><a href="">
	          			<span class="DN">{% trans 'APP-REMOVE-TEXT' %}</span></a>
	          		</span>
	          	</span>
	          	<span class="tag">
	          		<span class="tagInner clearfix">
	          			<span class="tagTxt">Test Source 2</span><a href="">
	          			<span class="DN">{% trans 'APP-REMOVE-TEXT' %}</span></a>
	          		</span>
	          	</span>
	          </div>

	        </div>

	        <div class="separator"></div>

	        <div class="row clearfix">
	          <label for="id_visualization_final_notes">{% trans 'APP-NOTES-TEXT' %}</label>
	          <textarea name="visualization_final_notes" id="id_visualization_final_notes"></textarea>
	        </div>
	                           
	      </fieldset>
	    </div>

		  <div class="CR">
		    <div class="helpBox">
		      <div class="helpBoxInner">
		        <h6>{% trans 'DSFIND-HELPTIP-TITLE' %}</h6>
		        <p>{% trans 'APP-HELPTIP-CHART-TEXT' %}</p>
		      </div>
		    </div>
		  </div>
	  </div>
	</div>

</div>