{% extends 'base_workspace.html' %}
{% load i18n extra_tags core_components components compress staticfiles sass_tags static%}

{% block meta %}



{% compress css %}
<link href="{% sass_src 'core/styles/dataStreamForm.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'c3/c3.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'handsontable/dist/handsontable.full.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/createCommon.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/createVisualization.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/forms.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}
<meta name="main-option" content="id_visualizations_option"/>

<!-- Libraries -->
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
    }"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=visualization"></script>


<script type="text/javascript" src="{% static 'handsontable/dist/handsontable.full.js' %}"></script>
<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'c3/c3.min.js' %}"></script>
<script src="/js_core/plugins/nicEdit/nicEdit-2014.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/plugins/multimarker.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- Charts types & instances -->
<script src="/js_core/base_modules/charts/ChartsFactory.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/base_modules/charts/models/data.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/base_modules/charts/models/chart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/base_modules/charts/views/chart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/base_modules/charts/views/charts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/base_modules/charts/views/googleCharts.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/base_modules/charts/views/mapChart.js?id={{settings.VERSION_JS_CSS}}"></script>
<script src="/js_core/base_modules/charts/views/c3Charts.js?id={{settings.VERSION_JS_CSS}}"></script>


{% endblock %}


{% block header_navigation %}
<!-- Back Link -->
<a href="{% url 'manageVisualizations.index' %}" id="id_backLink" class="button alpha back FL" title="{% trans 'APP-BACK-TEXT' %}">{% trans 'APP-BACK-TEXT' %}</a>
{% endblock %}

{% block sectionTitle %}
  <div class="context-menu clearfix">
    <div class="col-xs-8">
        <h1 class="sub-heading">{% trans "APP-CREATE-VISUALIZATION-TEXT" %}</h1>
        <ul id="start-title" class="buttons-bar"><li><a>{% trans "APP-CREATE-VISUALIZATION-TITLE" %}</a></li></ul>
        <div class="buttons_view_container"><ul class="buttons-bar" data-step="0"></ul></div>
    </div>
    <div class="col-xs-4 context-buttons clearfix">
      
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="col-xs-12">

  <div id="id_createVisualization_container" class="createVizualization create main-view relative">

    {% include "createVisualization/steps/0_start.html" %}
    {% include "createVisualization/steps/1_chart.html" %}
    {% include "createVisualization/steps/2_metadata.html" %}
    {% include "createVisualization/steps/3_finish.html" %}
    {% include "createVisualization/steps/map/1_map.html" %}

  </div>

</div>

{% endblock %}


{% block popupsOverlay %}
  {% include "createVisualization/modals/ChartSelectDataModal.html" %}
  {% include "createVisualization/modals/MapSelectDataModal.html" %}
{% endblock %}

{% block bottom_js %}

{# templates backbone #}
{% include "createVisualization/templates.html" %}


<script src="{% static 'workspace/scripts/createVisualization/views/StepView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/steps/StartView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/steps/ChartView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/steps/MetadataView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/steps/FinishView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/steps/map/MapView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/ModalView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/modals/MapSelectDataModalView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/models/DataTableSelectionModel.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/models/DataStreamModel.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/collections/DataTableSelectedCollection.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/table/DataTableUtils.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/table/DataTable.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/ButtonsView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/MainView.js' %}"></script>
<script src="{% static 'workspace/scripts/createVisualization/views/table/SelectedCellRangeView.js' %}"></script>

<script type="text/javascript">
  var tags = [];
  {% for tag in datastream_revision.tags %}
    tags.push({
        id:'{{ tag.tag__id }}',
        name:'{{ tag.tag__name }}',
        status:'{{ tag.tag__status }}'
      });
  {% endfor %}

  var sources = [];
  {% for source in datastream_revision.sources %}
    sources.push({
        id:'{{ source.source__id }}',
        name:'{{ source.source__name }}',
        url:'{{ source.source__url }}'
      });
  {% endfor %}

  var mainView = new MainView({
    el: '.main-section',
    chart_model: {
      datastream_revision_id: '{{ datastream_revision.datastream_revision_id }}',
      datastream_tags: tags,
      datastream_category: '{{ datastream_revision.category_name }}',
      datastream_sources: sources,
      {% if visualization_revision %}
        id: {{ visualization_revision.visualization_id }},
        revision_id: {{ visualization_revision.visualization_revision_id }},
        title: '{{ visualization_revision.title }}',
        description: '{{ visualization_revision.description }}',
        notes: '{{ visualization_revision.notes }}',
        author: '{{ visualization_revision.author }}',
        status: {{ visualization_revision.status }},
        guid: '{{ visualization_revision.guid }}',
        last_revision_id: {{ visualization_revision.last_revision_id }},
        last_published_date: '{{ visualization_revision.last_published_date }}',
        public_url: '{{ visualization_revision.public_url }}',
        slug: '{{ visualization_revision.slug }}',
        lib: '{{ visualization_revision.lib }}',
        type: '{{ visualization_revision.format.type }}',
        chartTemplate: '{{ visualization_revision.format.chartTemplate }}',
        showLegend: '{{ visualization_revision.format.showLegend }}',
        invertedAxis: '{{ visualization_revision.format.invertedAxis }}',
        invertData: '{{ visualization_revision.format.invertData }}',
        correlativeData: '{{ visualization_revision.format.correlativeData }}',
        nullValueAction: '{{ visualization_revision.format.nullValueAction }}',
        nullValuePreset: '{{ visualization_revision.format.nullValuePreset }}',
        data: '{{ visualization_revision.data }}',
        labelSelection: '{{ visualization_revision.chart.labelSelection }}',
        headerSelection: '{{ visualization_revision.chart.headerSelection }}',
        is3D: '{{ visualization_revision.chart.is3D }}',
        {% if visualization_revision.format.type == 'mapchart' %}
          longitudSelection: '{{ visualization_revision.chart.longitudSelection }}',
          latitudSelection: '{{ visualization_revision.chart.latitudSelection }}',
          traceSelection: '{{ visualization_revision.chart.traceSelection }}',
          mapType: '{{ visualization_revision.chart.mapType }}',
          geoType: '{{ visualization_revision.chart.geoType }}',
          zoom: {{ visualization_revision.chart.zoom }},
          bounds: '{{ visualization_revision.chart.bounds }}',
        {% endif %}
      {% endif %}
    }

  });
</script>

{% endblock %}