{% load i18n extra_tags components %}

<div class="step start" id="id_step0">

	<header>
		<h3>{% trans 'APP-START-TITLE' %} <span>{% trans 'APP-START-SUBTITLE' %}</span></h3>
	</header>
	
	<div class="boxContent">

		<div class="box">
			<div class="boxCreate chart">
			</div>
			<div class="boxCreateDesc">
				<h3>{% trans 'APP-VISUALIZATIONS-CREATE-START-CHART-TITLE' %}</h3>
				<p>{% trans 'APP-VISUALIZATIONS-CREATE-START-CHART-DESC' %}</p>
				<a title="" class="button primary small" href="#">{% trans 'APP-CREATE-CHART-TEXT' %}</a>
			</div>
		</div>

		<div class="box">
			<div class="boxCreate mapTrace">
			</div>
			<div class="boxCreateDesc">
				<h3>{% trans 'APP-VISUALIZATIONS-CREATE-START-TRACE-MAP-TITLE' %}</h3>
				<p>{% trans 'APP-VISUALIZATIONS-CREATE-START-TRACE-MAP-DESC' %}</p>
				<a title="" class="button primary small" href="#">{% trans 'APP-CREATE-TRACE-MAP-TEXT' %}</a>
			</div>
		</div>

		<div class="box">
			<div class="boxCreate mapMarkers">
			</div>
			<div class="boxCreateDesc">
				<h3>{% trans 'APP-VISUALIZATIONS-CREATE-START-MARKERS-MAP-TITLE' %}</h3>
				<p>{% trans 'APP-VISUALIZATIONS-CREATE-START-MARKERS-MAP-DESC' %}</p>
				<a title="" class="button primary small" href="#">{% trans 'APP-CREATE-MARKERS-MAP-TEXT' %}</a>
			</div>
		</div>

		<div class="box">
			<div class="boxCreate mapGeo">
			</div>
			<div class="boxCreateDesc">
				<h3>{% trans 'APP-VISUALIZATIONS-CREATE-START-GEO-MAP-TITLE' %}</h3>
				<p>{% trans 'APP-VISUALIZATIONS-CREATE-START-GEO-MAP-DESC' %}</p>
				<a title="" class="button primary small" href="#">{% trans 'APP-CREATE-GEO-MAP-TEXT' %}</a>
			</div>
		</div>

	</div>

</div>