{% load i18n extra_tags components compress staticfiles sass_tags %}
<!DOCTYPE html>
<html>
<head>
<title>{{preferences.account_name}} &middot; {{preferences.account_page_titles}}</title>
<meta charset="utf-8">
{% compress css %}
    <!-- RESET -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/reset.css' %}"/>
<!-- DATA STREAM BOX -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/dataStreamBox.css' %}"/>
<!-- COMMON MODULES -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/commonModules.css' %}"/>
<!-- BUTTONS -->
<link rel="stylesheet" media="screen" type="text/css" href="{% sass_src 'core/styles/buttons.css' %}"/>
<!-- COMPONENT -->
<link rel="stylesheet" media="screen" type="text/css" href="{% sass_src 'core/styles/embed.css' %}"/>
{% endcompress %}

{% if preferences.enable_embed_options %}
    {% compress css %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/brandedFull.css' %}"/>
	<!-- OVERLAY -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/overlay.css' %}"/>
    {% endcompress %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.get_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.get_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>

	<script type="text/javascript" src="/js_core/libs/underscore/underscore-min.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/libs/backbone/backbone-min.js?id={{settings.VERSION_JS_CSS}}"></script>
{% endif %}

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script type="text/javascript" src="/js_core/libs/jquery/jquery-1.7.2.min.js?id={{settings.VERSION_JS_CSS}}"></script>

{% if preferences.enable_embed_options %}
<!--  <script type="text/javascript" src="/js_microsites/modules/share.js?id={{settings.VERSION_JS_CSS}}"></script> -->
	<script type="text/javascript" src="/js_microsites/viewDataStream/embedActions.js?id={{settings.VERSION_JS_CSS}}"></script>
<!--	<script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&amp;login=junar&amp;apiKey=R_4da011b2ee9f2ee2cf80ed8122b73391"></script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script> -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.get_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
{% endif %}

<script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/embed.js?id={{settings.VERSION_JS_CSS}}"></script>


<script type="text/javascript">
	var Configuration = new Object();
	Configuration.baseUri = "{{base_uri}}";
  Configuration.apiUri = "{{settings.API_URI}}";
  Configuration.apiKey = "{{settings.PUBLIC_KEY}}";
  {% if preferences.account_embed_powered_by %}
  Configuration.embedPoweredBy = ["http://{{preferences.account_domain}}","{{preferences.account_name}}"];
  {% else %}
  Configuration.embedPoweredBy = ["http://www.datal.org","DATAL"];
  {% endif %}
  
	{% if preferences.enable_embed_options %}
	   var areEmbedOptionsEnabled = true;
	{% else %}
	   var areEmbedOptionsEnabled = false;
	{% endif %}
</script>

</head>

<body>
	{% if preferences.enable_embed_options %}<div class="enabledOptions">{% endif %}

		<div id="id_dataservice_container" class="dataStreamContainer">
		    <div id="id_dataservice_{{datastream.datastream_id}}">
		        <h2>
		            <a target="_blank" class="clearfix" title="{{datastream.description}}" href="{{base_uri}}{{datastream.permalink}}{%if end_point %}?{{end_point}}{% endif %}">
		              <img src="{{preferences.account_logo}}" alt="{{preferences.account_name}}" title="{{preferences.account_name}}" class="FL"/>
		              <span class="txt"><span class="titleDS"><strong>{{ datastream.title }}</strong>
		              <br/> {{datastream.description|truncatechars:65}}
		              {%for dataservice_argument in datastream.parameters%}
		                  {% if forloop.first %}({% endif %}<span title="{{dataservice_argument.description}}">{%if dataservice_argument.value%}{{dataservice_argument.value}}{%else%}Enter a value for {{dataservice_argument.parameter_name}}{%endif%}</span>{% if not forloop.last %}, {%else%}){% endif %}
		              {%endfor%}
		              </span></span>
		            </a>
		        </h2>
		        <div class="dataStreamResult clearfix">
		            <div class="Mensaje"></div>
		        </div>
		    </div>
		</div>

		{% if preferences.enable_embed_options %}
		<div class="dataStreamActions bottomActions">
		    <div class="actionsInner toolbar clearfix">
		
			 	{% if datastream.datastream_type == 'URL' %}
		            <!-- COLLECTED FROM URL -->
					<div class="collectedFrom toolbar FL clearfix">
						<a id="id_gotosource" href="{{datastream.end_point}}" target="_blank" rel="nofollow" title="{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}: {{datastream.end_point}}" class="Icon ic_CollectedFrom FL"><span class="DN">{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}</span></a>
					</div>

					<div class="sep FL"><span class="DN">|</span></div>
		        {% endif %}

		        {% if datastream.datastream_type == 'SELF PUBLISH' %}
		          <!-- COLLECTED FROM SELF PUBLISHING -->
							<div class="collectedFrom noHover toolbar FL clearfix">
								<span title="{% trans 'APP-USERUPLOAD-TEXT' %}" class="Icon ic_File FL"><span class="DN">{% trans "APP-USERUPLOAD-TEXT" %}</span></span>
							</div>
							<div class="sep FL"><span class="DN">|</span></div>
							<!-- DOWNLOAD -->
							<!--<div class="collectedFrom toolbar FL clearfix">
								<a id="id_downloadLink" href="" target="_blank" rel="nofollow" title="{% trans 'APP-DOWNLOADDATASET-TEXT' %}" class="Icon ic_Download FL"><span class="DN">{% trans 'APP-DOWNLOADDATASET-TEXT' %}</span></a>
							</div>
							<div class="sep FL"><span class="DN">|</span></div>-->
		        {% endif %}

		        {% if datastream.datastream_type == 'WEBSERVICE' %}
			        <!-- COLLECTED FROM SOAP -->
					<div class="collectedFrom noHover toolbar FL clearfix">
						<span title="{% trans 'APP-SOAP-TEXT' %}" class="Icon ic_SOAP FL"><span class="DN">{% trans "APP-SOAP-TEXT" %}</span></span>
					</div>
					
					<div class="sep FL"><span class="DN">|</span></div>
		        {% endif %}
		
			    <!-- ACTIONS MENU -->
			    <div class="actionsMenu relative FR">
			        <a href="javascript:;" id="id_menuDataServiceButton_" class="Icon FR ic_Menu" title="{% trans 'APP-ACTIONS-TEXT' %}" rel="nofollow"><span>{% trans "APP-ACTIONS-TEXT" %}</span></a>
			        <div id="id_tooltipDataServiceButton_" class="dashboard-dataservice-tooltip">
			            <div class="menuInner">
			                <ul class="In">
			                    <li class="J"><a href="javascript:;" title="{% trans 'APP-ACTIONS-TEXT' %}" class="Icon FR ic_Menu open"><span>{% trans "APP-ACTIONS-TEXT" %}</span></a></li>
			                    <li class="Item"><a href="{% url "datastreams-data" datastream.last_published_revision_id 'csv' %}{%if end_point %}?{{end_point}}{%endif%}" id="id_exportToCSV_" title="{% trans 'APP-EXPORTDS-TITLE' %}" class="Icon ic_CSV" rel="nofollow">{% trans "APP-EXPORTDS-TEXT" %}</a></li>
                            <!--<li class="Item"> <a href="javascript:;" id="id_googlespreadsheetDataStreamButton_" title="{% trans 'APP-GOOGLESPREADSHEETS-TITLE' %}" class="Icon ic_GoogleDocs" rel="nofollow">{% trans "DSDET-GOOGLESPREADSHEETS-TITLE" %}</a></li>-->
	                          
		                          <li class="Item"> <a href="javascript:;" id="id_embedButton" title="{% trans 'DSDET-EMBED-TITLE' %}" class="Icon ic_AddEmbed" rel="nofollow"><span>{% trans "APP-GETEMBEDCODE-TEXT" %}</span></a></li>

			                </ul>
			            </div>
			        </div>
			    </div>
			    <div class="sep FR"><span class="DN">|</span></div>
			
			    <!-- SHARE MENU -->
<!-- 			    <div class="shareMenu relative FR"> -->
<!-- 			        <a href="javascript:;" id="id_menuShareDataServiceButton_" class="Icon FR ic_Menu" title="{% trans 'DSDET-SHARE-TITLE' %}"><span>{% trans "APP-SHARE-TEXT" %}</span></a> -->
<!-- 			        <div class="dashboard-dataservice-tooltip" id="id_tooltipShareDataServiceButton_  "> -->
<!-- 			            <div class="menuInner"> -->
<!-- 			                <ul class="In share"> -->
<!-- 			                    <li class="J"><a href="javascript:;" title="{% trans 'APP-SHARE-TEXT' %}" class="Icon FR ic_Menu open"><span>{% trans "APP-SHARE-TEXT" %}</span></a></li> -->
<!-- 			                    <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:112px; height:20px;" allowTransparency="true"></iframe></li> -->
<!-- 			                    <li class="twitter"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html" style="width:112px; height:20px;"></iframe></li> -->
<!-- 			                    <li class="google"><div class="g-plusone" data-size="medium" data-count="true"></div></li> -->
<!-- 			                    <li class="url"><input type="text" value="" class="share_url_input" readonly="readonly"/></li> -->
<!-- 			                </ul> -->
<!-- 			            </div> -->
<!-- 			        </div> -->
<!-- 			    </div> -->
<!-- 			    <div class="sep FR"><span class="DN">|</span></div> -->
			    {% endif %}
		
			</div>
		</div>

		{% if datastream.get_sources %}
			<div class="gotosourceContainer">
				<div class="gotosource">
					<div class="gotosourceInner">
						<span>{% trans "APP-SOURCES-TEXT" %}:</span>
						{% for source in datastream.get_sources %}
							<a href="{{source.url|addhttp}}" title="{{source.name}}" target="_parent">{{source.name}}</a>{% if not forloop.last %}<em class="comma">, </em>{% endif %}
						{%endfor%}
					</div>
					<span class="transparency">&nbsp;</span>
				</div>
			</div>
		{% endif %}

	{% if preferences.enable_embed_options %}</div>{% endif %}

	<!-- GET EMBED CODE -->
	<div class="embedContainer">
		<div class="embedInner">
			<h2>{% trans "APP-GETEMBED-TEXT" %}</h2>
			<div class="embedCode">
				<textarea id="id_embedDatastreamTextarea" cols="" rows="" readonly="readonly"></textarea>
			</div>
			<div class="buttons">
				<button class="button small" title="Close" id="id_closeEmbedButton"><span>{% trans "APP-CLOSE-TEXT" %}</span></button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	      var lDataService = $("#id_dataservice_container")[0];
	      jQuery.data(lDataService, "datastream_id", "{{datastream.datastream_id}}");
	      jQuery.data(lDataService, "datastreamrevision_id", "{{datastreamrevision_id}}");
	      jQuery.data(lDataService, "dataservice_end_point", "{% if end_point%}\u0026{{end_point|escapejs}}{% endif %}");
	      jQuery.data(lDataService, "dataservice_title", "{{datastream.title}}");
	      jQuery.data(lDataService, "dataservice_description", "{{datastream.description}}");
	      jQuery.data(lDataService, "header_row", {{header_row|lower}});
		  jQuery.data(lDataService, "fixed_column", {{fixed_column|lower}});
	      jQuery.data(lDataService, "permalink", "{{base_uri}}{{datastream.permalink}}{%if end_point %}?{{end_point|escapejs}}{%endif%}");
	</script>
</body>
</html>
