{% extends "base_microsites.html" %}
{% load i18n extra_tags core_components components compress staticfiles sass_tags local_tags %}

{% block SEO %}
  <title>{{datastream.title}} &middot; {{preferences.account_page_titles}}</title>
  <meta name="description" content="{{ datastream.description }}" />
  <link rel="canonical" href="{{base_uri}}{{datastream.permalink}}" />
{% endblock %}

{% if preferences.account_enable_sharing %}
  {% block facebook %}
    <meta property="og:title" content="{{datastream.title}} &middot; {{preferences.account_page_titles}}" />
    <meta property="og:description" content="{{ datastream.description }}" />
    <meta property="og:image" content="{{preferences.account_logo}}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{preferences.account_name}}" />
  {% endblock %}
{% endif %}

{% block meta %}
{% compress css %}
<!-- CSS -->
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'core/styles/plugins/jquery.gritter.css' %}" />
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/viewDataStream.css' %}"/>
{% endcompress %}
<link type="text/css" rel="stylesheet" media="screen" href="/js_core/plugins/flexigrid.4/styles/flexigrid.pack.css" />

<!-- JS LIBS -->
<!--[if lt IE 9]>
<script type="text/javascript" src="/js_core/plugins/date.toISOString.js?id={{settings.VERSION_JS_CSS}}"></script>
<![endif]-->
<script type="text/javascript" src="/js_core/plugins/jquery.client.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/imagesPreLoader.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.gritter.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/flexigrid.4/source/flexigrid.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/underscore151/underscore-min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backbone100/backbone-min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>

{# add spanish support for dates#}
<script type="text/javascript" src="/js_core/libs/jquery_ui/jquery.ui.datepicker-es.js?id={{settings.VERSION_JS_CSS}}"></script>
{% if preferences.account_enable_sharing %}
  <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&amp;login=junar&amp;apiKey=R_4da011b2ee9f2ee2cf80ed8122b73391"></script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "b6aba428-3562-4003-b6a8-018086ce7af4", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endif%}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages: ['corechart', 'geomap']});
</script>

<!-- JS JUNAR -->
<script type="text/javascript" src="/js_core/models.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/dataTableModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/dataTableView.js?id={{settings.VERSION_JS_CSS}}"></script>
{% if preferences.enable_embed_options %}
<script type="text/javascript" src="/js_microsites/viewDataStream/embedDataStreamModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/embedDataStreamView.js?id={{settings.VERSION_JS_CSS}}"></script>
{% endif %}
<script type="text/javascript" src="/js_microsites/viewDataStream/changeDataStreamParametersModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/changeDataStreamParametersView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/googleSpreadsheetDataStreamModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/googleSpreadsheetDataStreamView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/dataStreamHitsModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/dataStreamHitsView.js?id={{settings.VERSION_JS_CSS}}"></script>
{% if preferences.account_pivottable %}
<script type="text/javascript" src="/js_microsites/viewDataStream/pivotDataStreamModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_microsites/viewDataStream/pivotDataStreamView.js?id={{settings.VERSION_JS_CSS}}"></script>
{% endif %}
<script type="text/javascript" src="/js_microsites/viewDataStream/viewDataStreamView.js?id={{settings.VERSION_JS_CSS}}"></script>

<!-- BRANDED CSS -->
{% compress css %}
<link type="text/css" rel="stylesheet" media="screen" href="{% sass_src 'microsites/styles/brandedFull.css' %}"/>
{% endcompress %}
<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>

<!-- BRANDED JS -->
<script type="text/javascript" src="{% url "microsites.action_js" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"></script>


{% endblock %}

{% block content %}

<div class="wrapper clearfix" id="id_wrapper">
	<div class="wrapperInner">
	
		<nav class="tabs border-box">
			{% include "viewDataStream/tabs.html" %}
		</nav>
	
		<div class="columns clearfix" id="id_columns">

			<aside class="sidebar FL transition">
				{% include "viewDataStream/sidebarInfo.html" %}
				{% include "viewDataStream/sidebarAPI.html" %}
        {% if notes and preferences.account_enable_notes %}
          {% include "viewDataStream/sidebarNotes.html" %}
        {% endif %}
			</aside>

			<section class="section transition">
				{% include "viewDataStream/dataTable.html" %}
			</section>

		</div>

	</div>
</div>

{# templates backbone #}
{% include "viewDataStream/templates.html" %}

<script type="text/javascript">
$(document).ready(function(){
  var dataStreaModel = new dataStream({
    id: "{{datastream.datastream_revision_id}}",
    datastream_id: "{{datastream.datastream_id}}",
    title: "{{datastream.title}}",
    description: "{{datastream.description|escapejs}}",
    guid: "{{datastream.guid}}",
    type: "{{datastream.type}}",
    source: "{{datastream.end_point|escapejs}}",
    {% for parameter in datastream.parameters %}
    parameter{{forloop.counter0}}: {name: "{{parameter.name}}", value: "{{parameter.value}}"},
    {% endfor %}
    permaLink: "{{base_uri}}{{ datastream.permalink }}{%if url_query%}?{{url_query}}{%endif%}",
    embedUrl: "{{base_uri}}{{ datastream.embedUrl }}?header_row=0&fixed_column=0{%if url_query%}&{{url_query}}{%endif%}" ,
    createdAt: "{{datastream.created_at|date:'c'}}",
    filter: "",
    exportCSVURL: "{% url 'datastreams-data' datastream.datastream_id 'csv' %}",
    exportXLSURL: "{% url 'datastreams-data' datastream.datastream_id 'xls' %}",
  });
  var dataStreamView = new viewDataStreamView({model: dataStreaModel});

});
</script>

{% endblock %}

{% block popupsOverlay %}
	
  {% include "viewDataStream/overlays.html" %}

{% endblock %}

