{% load i18n core_components components %}

<!-- Google Spreadsheet overlay -->
{% overlay id_googleSpreadsheetsDatastreamContainer %}
  <div class="In clearfix">
    <h4>{% trans "DSDET-GOOGLESPREADSHEETS-TITLE" %}</h4>
    <h5><strong>{% trans "DSDET-GOOGLESPREADSHEETS-SUBTITLE" %}</strong></h5>
    <p>{% trans "DSDET-GOOGLESPREADSHEETS-CONTENT" %}</p>
      <form action="" onsubmit="return false" novalidate>
        <table class="ao-dialogue">
          <tr>
            <td>
                <input id="id_googleSpreadsheetDataStreamInput" readonly="readonly" style="width: 400px;" value="=ImportHtml(&quot;{{base_uri}}{% url "datastreams-data" datastream.last_published_revision_id 'html' %}{%if url_query%}?{{url_query}}{%endif%}&quot; ; &quot;table&quot; ; 1)" />
            </td>
          </tr>
        </table>
      </form>
  </div>
{% endoverlay %}

{% if preferences.enable_embed_options %}
  <!-- Embed overlay -->
  {% include "overlays/embedDataStream.html" %}
{% endif %}

<!-- Parameters overlay -->
{% include "overlays/parameters.html" %}