/* Button */
.button{height:48px;line-height:44px;font-size:15px;padding:0 15px;display:inline-block;border:1px solid transparent;font-family:'robotoregular',arial,helvetica,sans-serif;text-align:center;cursor:pointer;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.button:hover{text-decoration:none;}

  /* Small */
  .button.small{height:34px;line-height:22px;font-size:12px;padding:4px 11px;}

  /* Big */
  .button.big{height:66px;line-height:64px;font-size:20px;padding:0 40px;}

  /* Gray - Normal button */
  .button{border-color:#ccc;background:#fff;color:#0066cc;}
  .button:hover{color:#0066ff;}

  /* Alpha */
  .button.alpha,
  .button.alpha-icon{font-size:12px;text-transform:none;font-family:Arial, Helvetica, sans-serif !important;border-color:transparent;background:none;font-weight:normal;min-width:inherit !important;}
  .button.alpha:hover{text-decoration:none;}
  .button.alpha-icon:active{box-shadow:none;}
    
  /* Back */
  .button.back:before{content:"< ";}

  /* Next */
  .button.next:after{content:" >";}

  /* Add */
  .button.add:after{content:" +";}

/* Button icons */
.button i{width:12px;position:relative;left:-1px;margin-right:8px;height:26px;vertical-align:bottom;display:inline-block;background:url(/static/workspace/images/common/ic_buttons.png) no-repeat;}
.button i.new{background-position:center 0;}
.button i.delete{background-position:center -25px;}
.button i.edit{background-position:center -50px;}
.button i.download{background-position:center -75px;}

  /* Arrows / Left - Right */
  .button i.left-arrow,
  .button i.right-arrow{background-image:url(/static/workspace/images/common/ic_navigationArrows.png);width:4px;height:25px;}
  .button i.left-arrow{background-position: 0 center;}
  .button i.right-arrow{background-position: -4px center;margin: 0 0 0 8px;}

/* Buttons group */
.btn-group{display:inline-block;}
.btn-group .button{float:left;}