/* Button */
.button{height:44px;line-height:44px;font-size:18px;padding:0 20px;display:inline-block;border:1px solid transparent;text-transform:uppercase;font-family:'montserratregular', arial, helvetica, sans-serif;text-align:center;cursor:pointer;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
  -webkit-box-shadow:inset 0 0 1px 0 rgba(255,255,255,.5);
     -moz-box-shadow:inset 0 0 1px 0 rgba(255,255,255,.5);
          box-shadow:inset 0 0 1px 0 rgba(255,255,255,.5);
}
.button:hover{text-decoration:none;}

  /* Small */
  .button.small{height:24px;line-height:24px;font-size:12px;padding:0 11px;}

  /* Big */
  .button.big{height:66px;line-height:66px;font-size:20px;padding:0 40px;}

  /* Gray - Normal button */
  .button{border-color:#DBDADA;text-shadow:0 1px 0 #fff;
    background:#fbfbfb;
    background:-moz-linear-gradient(top,  #fbfbfb 0%, #f3f3f3 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f3f3f3));
    background:-webkit-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%);
    background:-o-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%);
    background:-ms-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%);
    background:linear-gradient(to bottom,  #fbfbfb 0%,#f3f3f3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f3f3f3',GradientType=0 );
  }
  .button:hover{
    background:#f3f3f3;
    background:-moz-linear-gradient(top,  #f3f3f3 0%, #fbfbfb 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#fbfbfb));
    background:-webkit-linear-gradient(top,  #f3f3f3 0%,#fbfbfb 100%);
    background:-o-linear-gradient(top,  #f3f3f3 0%,#fbfbfb 100%);
    background:-ms-linear-gradient(top,  #f3f3f3 0%,#fbfbfb 100%);
    background:linear-gradient(to bottom,  #f3f3f3 0%,#fbfbfb 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fbfbfb',GradientType=0 );
  }

  /* Alpha */
  .button.alpha{text-transform:none;font-family: Arial, Helvetica, sans-serif;border:0;background:none;
    -webkit-box-shadow:0 0 0 0 transparent;
       -moz-box-shadow:0 0 0 0 transparent;
            box-shadow:0 0 0 0 transparent;
  }
  .button.alpha:hover{text-decoration:underline;}

/* Button icons */
.button i{width:12px;position:relative;left:-1px;margin-right:8px;height:26px;vertical-align:bottom;display:inline-block;background:url(/static/workspace/images/common/ic_buttons.png) no-repeat;}
.button i.new{background-position:center 0;}
.button i.delete{background-position:center -25px;}
.button i.edit{background-position:center -50px;}
.button i.download{background-position:center -75px;}

  /* Arrows / Left - Right */
  .button i.left-arrow,
  .button i.right-arrow{background-image:url(/static/workspace/images/common/ic_navigationArrows.png);width:4px;height:25px;}
  .button i.left-arrow{background-position: 0 center;}
  .button i.right-arrow{background-position: -4px center;margin: 0 0 0 8px;}