/*STRUCTURE*/
.layout{background:#fff url(/static/core/images/errorPages/fd_error.png) no-repeat center center;width:100%;min-width:960px;min-height:680px;position:relative;z-index:2;}
.transparency{position:absolute;z-index:5;}
.tTop{background:url(/static/core/images/common/dg_transparencyLongTop.png) repeat-x 0 bottom;top:96px;left:0;height:125px;width:100%;}
.tRight{background:url(/static/core/images/common/dg_transparencyLongRight.png) repeat-y 0 0;top:0;right:0;height:100%;width:145px;}
.tBottom{background:url(/static/core/images/common/dg_transparencyLongBottom.png) repeat-x 0 0;bottom:80px;right:0;height:125px;width:100%;}
.tLeft{background:url(/static/core/images/common/dg_transparencyLongLeft.png) repeat-y 0 0;top:0;left:0;height:100%;width:145px;}

/*HEADER*/
.header{position:absolute;top:0;left:0;width:100%;}

/*SECTION TITLE*/
.sectionTitleContainer{position:absolute;top:42px;left:0;width:100%;z-index:1000;}

/*FOOTER*/
.footer{position:absolute;bottom:0;left:0;z-index:10;width:100%;}

/*DATA STREAM*/
.ao-draggable-dashboard-dataservice-container{position:absolute;top:50%;margin-top:-119px;height:250px;left:50%;margin-left:-225px;width:450px;z-index:3;}
.dataStreamContainer{padding-top:3px;}

/*TOOLBAR*/
.toolbar .Icon{background:url(/static/core/images/common/ic_actions.png) no-repeat 0 0;width:16px;height:20px;display:block;visibility:hidden;}
.toolbar .ic_Refresh{background-position:0 -100px;width:17px;}
.toolbar .ic_Refresh:hover{background-position:0 -120px;}

/*GO TO SOURCE*/
.gotosource{visibility:hidden;}

/*OVERS*/
.ao-draggable-dashboard-dataservice-container:hover .toolbar, 
.ao-draggable-dashboard-dataservice-container:hover .toolbar .Icon,
.ao-draggable-dashboard-dataservice-container:hover .gotosource{visibility:visible;}