/*FORMS*/
.form{vertical-align:middle;position:relative;}

/*TABLE / TABLE WITH FORM*/
form table{margin-top:3px;margin-bottom:3px;}
form table th{border:1px solid #eee;padding:3px;vertical-align:middle;text-align:right;white-space:nowrap;}
form table td{text-align:left;border:1px solid #eee;padding:3px;vertical-align:middle;}

/*FORM COMPONENTS*/  
input[type=text], 
input[type=password],
input[type=email], 
input[type=url], 
input[type=search],
select,
textarea{background:#fff;border:1px solid #cbcbcb;margin:0;font:12px Arial, Helvetica, sans-serif;color:#000;outline:none;height:28px;padding:5px;box-sizing:border-box}
input[type=text], 
input[type=password]{padding-left:10px;padding-right:10px;}
select{padding:2px;}
textarea{padding:10px;height:inherit;}
input[type=search]::-webkit-search-cancel-button{-moz-appearance:none;-webkit-appearance:none;}

    /*TRANSITION*/
    input[type=text],
    input[type=password],
    input[type=search],
    select,
    textarea{
        -webkit-transition:all 0.30s ease-in-out;
           -moz-transition:all 0.30s ease-in-out;
            -ms-transition:all 0.30s ease-in-out;
             -o-transition:all 0.30s ease-in-out;
                transition:all 0.30s ease-in-out;    
    }
  
    input:focus,
    input[type=text]:focus, 
    input[type=password]:focus,
    input[type=search]:focus,
    select:focus, 
    textarea:focus,
    input:active,
    input[type=text]:active, 
    input[type=password]:active,
    input[type=search]:active,
    select:active, 
    textarea:active{
        border:1px solid #0066cc;
        -webkit-box-shadow:0 0 5px rgba(208,208,208,1);
           -moz-box-shadow:0 0 5px rgba(208,208,208,1);
                box-shadow:0 0 5px rgba(208,208,208,1);
    }

/* Errors */
input[type=text].has-error, 
input[type=password].has-error,
input[type=email].has-error, 
input[type=url].has-error,
select.has-error,
textarea.has-error,
.textarea.has-error{border:1px solid #f45f64 !important;color:#4d4d4d;
  -webkit-box-shadow:0 0 5px rgba(244,95,100,1);
     -moz-box-shadow:0 0 5px rgba(244,95,100,1);
          box-shadow:0 0 5px rgba(244,95,100,1);
}
div.has-error,
p.has-error,
div.errorFormValidation{color:#f45f64;padding-top:7px;font-size:12px;text-shadow:0 1px 0 #fff;}

/* Inputs with icons */
.input-group-addon{float:left;margin-left:-27px;margin-top:2px;}

/* Forms inline */
.form-inline{}
.form-inline .form-group{float:left;margin-right:15px;}
.form-inline .form-group input{float:left;}

.form-inline .form-group input[type=text],
.form-inline .form-group input[type=password],
.form-inline .form-group input[type=search]{width:300px;}

/*LABEL*/
label.labelField{text-align:right;font-size:14px;color:#767676;font-weight:normal;padding-top:7px;font-weight:bold;display:block;}
.form label{font-size:14px;display:inline-block;height:30px;line-height:30px;}

/*ERROR VALIDATION*/
/*
.formErrorMessageContainer,
.formErrorMessageContainerLeft{position:relative;}
.formErrorMessageContainer div.errorFormValidation,
.formErrorMessageContainerLeft div.errorFormValidation{background:#FFF1AF;border:1px solid #FFF;color:#E18211;font-size:12px;font-weight:bold;text-align:left;padding:1px 10px !important;position:absolute;top:-2px;left:250px;z-index:200;width:auto;width:-moz-max-content;min-width:144px;height:30px;line-height:30px;overflow:hidden;white-space:nowrap;opacity:0.9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.4);-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.4);box-shadow:2px 2px 5px rgba(0, 0, 0, 0.4);}
*/
  
/*PASSWORD STRENGTH*/
.is0{background:url(/static/core/images/common/fd_passwordStrength.gif) no-repeat 0 0;width:68px;height:7px;overflow:hidden;}
.is10{background-position:0 0;} 
.is20,
.is30{background-position:0 -7px;}
.is40,
.is50{background-position:0 -14px;}
.is60,
.is70{background-position:0 -21px;}
.is80,
.is90{background-position:0 -28px;}
.is100{background-position:0 -35px;}
  
/*AUTO COMPLETE*/
body .ui-autocomplete{border:0;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,.4);-moz-box-shadow:0 2px 5px rgba(0,0,0,.4);box-shadow:0 2px 5px rgba(0,0,0,.4);font:12px arial, helvetica, sans-serif;}
body .ui-autocomplete .ui-menu-item{padding:0;}
body .ui-autocomplete .ui-menu-item a{padding:2px 3px;color:#767676;margin:0;}
body .ui-autocomplete .ui-menu-item a.ui-state-hover,
body .ui-autocomplete .ui-menu-item a.ui-state-focus{border:0;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;color:#000;padding:2px 3px;margin:0;background:#ededed;font-weight:normal;}
body .ui-widget-content{background:#fff;}
body .ui-draggable .ui-dialog-titlebar{cursor:url(/static/core/images/cursors/cu_openhand.cur);cursor:-moz-grab;}
body .ui-draggable.ui-draggable-dragging .ui-dialog-titlebar{cursor:url(/static/core/images/cursors/cu_closedhand.cur);cursor:-moz-grabbing;}

/*ERROR AND INFO MESSAGES*/
.errorBox .msg{background:#fff1af url(/static/core/images/common/ic_error.gif) no-repeat 12px 12px;padding:12px 20px 12px 55px;color:#e18211;font-size:12px;line-height:29px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.errorBox li{padding:3px 20px 3px 20px;background:#fff1af url(/static/core/images/common/ic_errorList_bullet.gif) no-repeat 5px 8px;line-height:16px;color:#e18211;font-size:12px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.errorBox ul{padding:0;margin:0;}
.errorBox .msg .gray{color:#999;font-style:italic;}
.errorBox .marginTop{margin-top:20px;}

  /*INFO MESSAGE*/
  .infoBox .msg{background-color:#f3f3f4;color:#898888;background-image:url(/static/core/images/common/ic_info.gif);}
  
  /*OVERLAY ERROR*/
  .ao-popup-overlay .errorBox .msg{margin:20px 20px 0;}