// Gradients
@mixin gradient($start, $finish){
  background:$start; /* Show a solid color for older browsers */
  background:-moz-linear-gradient($start, $finish);
  background:-o-linear-gradient($start, $finish);
  background:-webkit-gradient(linear, left top, left bottom, from($start), to($finish)); /* Older webkit syntax */
  background:-webkit-linear-gradient($start, $finish);
  background:-ms-linear-gradient(top, $start 0%, $finish 100%); /* IE10+ */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$finish'); /* IE6-9 */
  background:linear-gradient(top, $start 0%, $finish 100%); /* W3C */
}

body{
  @include gradient(red,blue);
}