/* Reset */
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dd, dl, dt, form, legend, label, fieldset, legend, address, center, acronym, iframe, blockquote{margin:0;padding:0;font-style:normal;font-weight:normal;list-style:none;}
html{background:#707070;}
body{font:12px/15px Arial, Helvetica, sans-serif;background:#fff;color:#3a3a3a;}
a, span{word-wrap:break-word;}
img, fieldset, iframe{border:0;}
a{text-decoration:none;color:#0066cc;cursor:pointer;}
a:hover{color:#0066ff;}
input, select, textarea{font:12px Arial, Helvetica, sans-serif;outline:none;}
textarea{margin:0;resize:none;}
table{border-spacing:0;}
table, tr, td, th, tbody, thead, tfoot, caption{border:0;margin:0;padding:0;border-collapse:collapse;word-wrap:break-word;}
blockquote{quotes:none;}
blockquote:before, blockquote:after{content:'';content:none;}

/* Clearfix */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:block;}

/* Common */
.DN{display:none;}
.hidden{display: none !important;}
.show{display:block !important;}
.FL{float:left;}
.FR{float:right;}
.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.imageText{overflow:hidden;text-indent:10000px;}
.w960{width:960px;padding-left:10px;padding-right:10px;margin:0 auto;}
div,
header,
footer,
article,
section,
.border-box{
	-webkit-box-sizing:border-box;
		 -moz-box-sizing:border-box;
					box-sizing:border-box;
}
.transition{
	-webkit-transition:all .375s ease-in-out;
		 -moz-transition:all .375s ease-in-out;
			-ms-transition:all .375s ease-in-out;
			 -o-transition:all .375s ease-in-out;
					transition:all .375s ease-in-out;
}

/* Fonts */ 
@font-face {
	font-family: 'robotolight';
	src: url('/static/core/fonts/roboto-light-webfont.eot');
	src: url('/static/core/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/static/core/fonts/roboto-light-webfont.woff2') format('woff2'),
			 url('/static/core/fonts/roboto-light-webfont.woff') format('woff'),
			 url('/static/core/fonts/roboto-light-webfont.ttf') format('truetype'),
			 url('/static/core/fonts/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium';
	src: url('/static/core/fonts/roboto-medium-webfont.eot');
	src: url('/static/core/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/static/core/fonts/roboto-medium-webfont.woff2') format('woff2'),
			 url('/static/core/fonts/roboto-medium-webfont.woff') format('woff'),
			 url('/static/core/fonts/roboto-medium-webfont.ttf') format('truetype'),
			 url('/static/core/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('/static/core/fonts/roboto-regular-webfont.eot');
	src: url('/static/core/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/static/core/fonts/roboto-regular-webfont.woff2') format('woff2'),
			 url('/static/core/fonts/roboto-regular-webfont.woff') format('woff'),
			 url('/static/core/fonts/roboto-regular-webfont.ttf') format('truetype'),
			 url('/static/core/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'permanent_marker';
	src: url('/static/core/fonts/permanentmarker-webfont.eot');
	src: url('/static/core/fonts/permanentmarker-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/static/core/fonts/permanentmarker-webfont.woff') format('woff'),
			 url('/static/core/fonts/permanentmarker-webfont.ttf') format('truetype'),
			 url('/static/core/fonts/permanentmarker-webfont.svg#permanent_marker') format('svg');
	font-weight: normal !important;
	font-style: normal !important;
}
.font-rl{font-family:'robotolight',arial,helvetica,sans-serif;font-weight:normal !important;font-style:normal !important;}
.font-rr{font-family:'robotoregular',arial,helvetica,sans-serif;font-weight:normal !important;font-style:normal !important;}
.font-rm{font-family:'robotomedium',arial,helvetica,sans-serif;font-weight:normal !important;font-style:normal !important;}
.font-pm{font-family:'permanent_marker', arial, helvetica, sans-serif;font-weight:normal !important;font-style:normal !important;}