/*DEVELOPERS PAGE*/
.innerWrapper{width:940px;padding-left:10px;padding-right:10px;}

/*SHARE CONTAINER*/
.shareItem{padding-top:13px;padding-left:10px;}

/*ONLINE SUPPORT BUTTON*/
.onlineSupport{padding-top:8px;margin-left:15px;}

/*PAGE TITLE CONTAINER*/
.pageTitleContainer{padding-bottom:6px;}
.pageTitleContainer .leftContent{width:670px;}
.pageTitleContainer .rightContent{width:240px;height:193px;background:url(/static/core/images/developerManager/im_boxPic.png) no-repeat 5px 0;margin-top:30px;}
.pageTitleContainer h2{color:#ef7f10;font:40px/55px georgia, "times new roman", serif;padding:10px 0 20px;}
.pageTitleContainer p{color:#808080;font-size:14px;line-height:21px;padding-bottom:21px;}
.pageTitleContainer .button{position:absolute;top:111px;left:0;margin:0 9px;display:block;}

/*BOX API*/
.boxAPI{padding-bottom:20px;}
.boxAPI .step{background:#e4e4e4 url(/static/core/images/developerManager/dg_boxAPI.gif) repeat-x 0 0;border-right:1px solid #fff;height:437px;position:relative;}
.boxAPI .step .stepInner{padding:9px 10px 0 17px;}
.boxAPI .step .boxAPITitle{height:98px;}
.boxAPI .step .boxAPITitle .text{padding-top:9px}
.boxAPI .step .boxAPITitle h3{color:#333;text-shadow:0 1px 0 #f8f8f8;font-size:18px;font-weight:bold;padding-bottom:4px;line-height:20px;}
.boxAPI .step .boxAPITitle p{font-size:11px;line-height:13px;color:#999;}
.boxAPI .step .boxAPITitle .number{overflow:hidden;width:57px;height:51px;padding-bottom:6px;line-height:51px;background:url(/static/core/images/developerManager/ic_boxAPI.gif) no-repeat 0 0;color:#e4e4e4;font-size:40px;font-weight:bold;text-align:center}
.boxAPI .step .boxAPITitle .br{display:block;}
.boxAPI .step .bar{background:#505050;border:1px solid #cacaca;border-left:0;border-right:0;height:6px;font-size:0;line-height:0;width:100%;position:absolute;top:83px;left:0;}
.boxAPI .step .bar .barInner{height:6px;font-size:0;line-height:0;float:left;position:relative;}
.boxAPI .step .bar .barBullet{width:15px;height:15px;background:url(/static/core/images/developerManager/ic_bullet_boxAPI.png) no-repeat 0 0;overflow:hidden;position:absolute;top:-4px;right:-4px;}
.boxAPI .step .description p{padding-bottom:15px;color:#666;}
.boxAPI .step .description p a{text-decoration:underline;}
.boxAPI .step .description p a:hover{text-decoration:none;}
.boxAPI .step .description code{background:#ffc;}
.boxAPI .step .description .blue{color:#03f;}
.boxAPI .step .description .black{color:#333;}
.boxAPI .step .description .red{color:#f00;}

    /*TRANSITION*/
    .boxAPI .step,
    .boxAPI .step .boxAPITitle .number{
        -webkit-transition:all 0.30s ease-in-out;
           -moz-transition:all 0.30s ease-in-out;
            -ms-transition:all 0.30s ease-in-out;
             -o-transition:all 0.30s ease-in-out;
                transition:all 0.30s ease-in-out;
    }

	/*HOVER*/
	.boxAPI .step:hover{background-position:0 bottom;}
	.boxAPI .step:hover .boxAPITitle .number{background-position:0 bottom;color:#fff;text-shadow:0 1px 0 #da6908;}
	.boxAPI .step:hover .bar .barInner{background:url(/static/core/images/developerManager/dg_bar_boxAPI.gif) repeat-x 0 0;}
	.boxAPI .step:hover .bar .barBullet{background-position:0 bottom;}
	
	/*STEP 1*/
	.boxAPI .step1{width:239px;}
	.boxAPI .step1 .bar{width:223px;left:17px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
	.boxAPI .step1 .bar .barInner{width:187px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
	
	/*STEP 2*/
	.boxAPI .step2{width:459px;}
	.boxAPI .step2 .bar{width:461px;}
	.boxAPI .step2 .bar .barInner{width:424px;}
	
	/*STEP 3*/
	.boxAPI .step3{width:240px;border:0;}
	.boxAPI .step3 .bar,
	.boxAPI .step3 .bar .barInner{width:205px;}
	
/*CONFIRMATION OVERLAY*/
.confirmationOverlay{padding:50px 15px 0 252px;height:257px;background:url(/static/core/images/developerManager/im_boxPic_overlay.png) no-repeat 15px center;color:#666;}
.ao-popup-overlay .In .confirmationOverlay h5{font-size:14px;font-weight:bold;color:#8fa22a;margin:0 0 10px;}
.confirmationOverlay p{}
.confirmationOverlay .key{display:block;font-size:18px;color:#f2891b;padding-top:10px;padding-bottom:25px;}
.confirmationOverlay ul{padding:15px 20px 0;}
.confirmationOverlay li{font-size:11px;background:url(/static/core/images/homeManager/fl_exploredata.gif) no-repeat 0 5px;padding-left:10px;}
.confirmationOverlay .ajaxLoader{background:#fff url(/static/core/images/common/im_smallAjaxLoader.gif) no-repeat center center;width:25px;height:28px;overflow:hidden;text-indent:100000px;display:block;margin:0 auto;}

/*SIGN IN-UP OVERLAY*/
.ao-popup-overlay .In .pageFormContainer h5{padding-bottom:15px;}