/*CONFIGS*/
html{background:#fff;}
body,
.layout, 
.content{background:#f4f3f3;padding-bottom:0;}
.homeColumns .CL{width:510px;}
.homeColumns .CR{width:410px;}

/*HOME CONTENT*/
.homeContent{padding-top:30px;padding-bottom:10px;}
.homeColumns{padding-bottom:15px;}

.homeColumns .CR .boxContent{margin-left:20px;}
.homeColumns .searchContainer{background:url(/static/core/images/homeManager/sh_sliderWrapper.png) center bottom no-repeat;padding-bottom:6px;}
.homeColumns .searchContainer .FR{float:none;}
.homeColumns .searchContainer .search{background-color:#fff;}
.homeColumns .searchContainer .search .field{width:327px;padding:11px 11px 11px 48px;font-size:14px;height:auto;background:url(/static/core/images/homeManager/ic_searchHome.png) 14px center no-repeat;}
.homeColumns .homeMainContent{padding-right:30px;}

/*SLIDER CONTAINER*/
.sliderContainer{top:0;margin-bottom:30px;}
.paddingSlider{padding-top:255px;}
.dataStreamBox h2 a{height:52px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.dataStreamBox h2 a .txt{width:auto;float:none}
.dataStreamBox h2 a img{display:none;}
.dataStreamBox h2 a .txt .titleDS{height:auto;white-space:normal;}
.dataStreamBox h2 a .txt .titleDS .infoDS .sep,
.dataStreamBox h2 a .txt .titleDS .infoDS .authorDS{display:none}
.dataStreamBox h2 a .txt .titleDS strong{height:17px;max-height:32px;display:block;} 

.dataStreamBox{height:230px;}
.sliderContent{height:178px;border:1px solid #e2e0e0;border-top:0;border-radius:0 0 5px 5px;}
.sliderContent > div{border-radius:0 0 5px 5px;overflow:hidden;}

.dataStreamBox .dataStreamResult{height:178px;overflow:auto;}
.dataStreamBox .Mensaje{}

.sliderWrapper, 
.sliderWrapper .dataStreamContainer, 
.sliderWrapper .dataStreamBorder, 
.dataStreamBox{width:410px;}
.sliderWrapper{overflow:hidden;border-radius:5px;}
.sliderWrapper .dataStreamContainer{float: left;overflow: hidden; }

/*PILLS*/
.pills{background:#fff;padding:15px 15px 15px 25px !important;margin-bottom:20px;border:1px solid #ececec;border-left:5px solid #ececec;}
.pills span{color:#999;}

/*RESOURCES TABLE*/
.resourcesTable{margin-bottom:20px;}

  /*SECTION INFO*/
  .sectionInfo{border-bottom:1px solid #e0e0e0;padding-bottom:7px;}
  .sectionInfo h2{font-size:18px;color:#333;font-weight:bold;padding-top:8px;display:inline-block;}
  .sectionInfo .massive{border-left:1px solid #e0e0e0;padding-left:10px;margin:8px 0 0 10px;display:inline-block;}
  .sectionInfo .massive label{font-size:11px;padding:2px 8px 0 0;}

  /*FILTERS*/
  .sidebar .filters dd,
  .sidebar .filters dt{border-bottom:1px solid #fff;text-shadow:0 1px 0 #fff;}
  .sidebar .filters dd span,
  .sidebar .filters dt span{border-bottom:1px solid #e5e4e4;display:block;padding:2px 7px;line-height:16px;font-size:11px;}
  .sidebar .filters dt span{font-weight:bold;font-size:12px;color:#918989;padding-bottom:4px;}
  .sidebar .filters dd{word-break:break-word;}
  .sidebar .filters dd span{color:#2875bb;padding-right:15px;}
  .sidebar .filters dd span:hover{background:#eee;}
  .sidebar .filters .filter-active,
  .sidebar .filters dd.filter-active span,
  .sidebar .filters dd.filter-active span:hover{background:#eee url(/static/workspace/images/_workspace/ic_filtersArrow.gif) no-repeat right 7px;font-weight:bold;color:#333;}
  .sidebar .filters dd.filter-active{background:none;}  

  /*PAGINATION - ITEMS PER PAGE*/
  .pagination{padding:26px 13px 0 0;background:none;}
  .pagination-pages{height:21px;vertical-align:top;display:inline-block;}
  .itemsPerPage{padding-right:10px;}
  .itemsPerPage label{font-size:11px;padding:3px 8px 0 0;}
  .pagButtons .Ant,
  .pagButtons .Sig{float:none;display:inline-block;}
  .itemsPerPage select{font-size:11px;}

  /*WORKSPACE GRID*/
  .gridInner,
  .gridContainer{padding-left:10px;padding-right:0;}
  .workspaceGrid table{width:100%;}
  .workspaceGrid table th,
  .workspaceGrid table td{line-height:17px;padding:5px;border-bottom:1px solid #e0e0e0;background-color:#fff;color:#333;word-break:break-word;vertical-align:top;}
    .workspaceGrid table td{padding:10px 5px;}
  .workspaceGrid table th{text-align:left;background:#f6f5f5;color:#aaa;text-shadow:0 1px 0 #fff;font-weight:bold;}
  .workspaceGrid table tr:nth-child(even) > td{background-color:#fcfcfc;}
  .workspaceGrid .viewInfo .sep{color:#e0e0e0;padding:0 2px;}
  .workspaceGrid .noneMsg{height:50px;text-align:center;font-size:14px;background:#FEEFDC;color:#A82A1B;text-shadow:0 1px 0 rgba(255,255,255,.5);line-height:50px;border-color:#e1b09e;}

  /*DATA SORT ICONS*/
  .workspaceGrid table th{background-image:url(/static/core/images/common/ic_tableSorter.gif);background-position:5px 0;background-repeat:no-repeat;padding-left:20px;cursor:pointer;}
  .workspaceGrid table th.sorting-asc{background-position:5px -50px;}
  .workspaceGrid table th.sorting-desc{background-position:5px -100px;}
  .workspaceGrid table td.date{padding-left:20px;width:150px;}

  .itemsPerPage{display:none !important;}

/*HOME FILTERS*/
#home_filter .filters dd{cursor:pointer;}

	/*OPTION FILTER*/
	#home_filter .optionFilter dt span{padding-top:10px;padding-bottom:10px;}
	#home_filter .optionFilter dd{border:0;}
	#home_filter .optionFilter dd.row{padding-top:12px;}
	#home_filter .optionFilter dd label{display:block;padding:10px 7px 5px;font-size:11px;color:#3a3a3a;font-weight:bold;}
	#home_filter .optionFilter dd select{width:100%;font-size:11px;padding:5px 4px 4px;}
	#home_filter .optionFilter dd a.button{display:block;text-align:center;margin-top:15px;height:25px;line-height:25px;}
		
		/*SHORTER*/
		#home_filter .optionFilter dd select.shorter{width:112px;}
		#home_filter .optionFilter dd a.button.shorter{width:22px;margin-top:0;padding-left:0;padding-right:0;}

/* REFERENCES */
.columns .sidebar .sidebarPadding{padding-bottom:110px;}
.references{position:absolute;font-size:11px;bottom:0;left:0;padding:0 19px 15px;text-shadow:0 1px 0 #fff;}
.references strong{line-height:25px;display:block;color:#918989;}
.references span{line-height:21px;padding-left:20px;display:block;background: url(/static/workspace/images/common/ic_resources.png) no-repeat;}
.references span.DST{}
.references span.DS{background-position:0 -20px;}
.references span.VZ{background-position:0 -40px;}
.references span.DB{background-position:0 -59px;}

/*PLACEHOLDERS*/
.placeholder{line-height:21px;font-size:14px;color:#666;}
.placeholder p{text-align:justify;}
/*.placeholder.featuredContent{margin-top:20px;}*/
.placeholder h1{color:#000;font-size:35px;line-height:35px;padding-bottom:22px;/*padding-top:20px;*/}
.placeholder h1.neuton{font-size:45px;line-height:66px;}
.placeholder h2,
.placeholder h3,
.placeholder h4,
.placeholder h5,
.placeholder h6{color:#333;font-size:16px;line-height:21px;font-weight:bold;padding-bottom:9px;}
.placeholder p{color:#666;font-size:14px;line-height:21px;padding-bottom:21px;}
.placeholder p strong{color:#5b5a5a;}
.placeholder ul{border-top:1px solid #e5e4e4;border-bottom:1px solid #fff;margin-bottom:21px;}
.placeholder li{border-top:1px solid #fff;border-bottom:1px solid #e5e4e4;display:block;}
.placeholder li a{padding:0 14px 0 10px;display:block;height:28px;line-height:28px;overflow:hidden;font-size:12px;text-shadow:0 1px 0 #fff;margin-right:9px;background:url(/static/core/images/homeManager/ic_arrowLinks.gif) right 11px no-repeat;}
.placeholder img{margin-bottom:20px;}
.placeholder.featuredContent img{max-width:940px;}
.placeholder.homeMainContent img,
.placeholder.homeFooterLeftContent img{max-width:510px;}
.placeholder.homeSearchContent img,
.placeholder.homeFooterRightContent img{max-width:390px;}

/*HOME SLIDER*/
.featuredSlider{margin-bottom:20px;height:300px;position:relative;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.featuredSlider .sliderHome,
.featuredSlider .caroufredsel_wrapper,
.featuredSlider .panel{width:940px;height:300px;overflow:hidden;float:left;position:relative;}
.featuredSlider .btn{display:block;background:url(http://www.junar.com/media_website/images/home/btn-slider.png) no-repeat;height:43px;width:26px;position:absolute;top:128px;cursor:pointer;z-index:1;}
.featuredSlider .btn.izq{background-position:0 0;left:-26px;}
.featuredSlider .btn.der{background-position:-26px 0;right:-26px;}
.featuredSlider .btn.izq:hover{background-position:0 -43px;}
.featuredSlider .btn.der:hover{background-position:-26px -43px;}
.featuredSlider .panel{width:940px;height:300px;}
.featuredSlider .img{height:300px;width:940px;}

.shadowSlider {height: 18px;background: url(http://www.junar.com/media_website/images/common/sh-slider.png) no-repeat;}

/* Theme 0 */
.theme0{}

/* Theme 1 */
.theme1{}
.theme1 .placeholder.homeMainContent img{max-width:940px;}

/* Theme 2 */
.theme2{}
.theme2 .paddingSlider{padding:0;}
.theme2 .sliderWrapper{width:940px;padding:0;background:none;}
.theme2 .sliderContainer{right:auto;position:static;top:0;margin-bottom:20px;}
.theme2 .sliderWrapper .dataStreamBorder{width:940px;border:0;}
.theme2 .dataStreamBox,
.theme2 .chartBox{width:456px;border:1px solid #e2e0e0;height:227px !important;}
.theme2 .chartBox .chartContainerInner > div{margin:0 auto;}
.theme2 .sliderWrapper .dataStreamContainer{width:480px;}
.theme2 #id_dataservices_container{margin-left:12px !important;}
.theme2 .homeMainContent{padding-bottom:20px;}
.theme2 .chartContainerInner{width:456px;margin:0 auto;background:#fff !important;}
body .theme2 .caroufredsel_wrapper{width:938px !important;border:0;margin:0 !important;}
.theme2 .sliderWrapper .dataStreamBorder{background:transparent;}
body .theme2 .caroufredsel_wrapper{border:0 !important;}
.theme2 .sliderWrapper .dataStreamBox{background:#fff;}
.theme2 .placeholder.homeMainContent img,
.theme2 .placeholder.homeSearchContent img{max-width:940px;}

/* Theme 3 */
.theme3{}
.theme3 .placeholder.homeMainContent img{max-width:940px;}

/* Theme 4 */
.theme4{}
.theme4.homeContent.w960{width:auto;padding:0;margin:0;}

.theme4 .placeholder.featuredContent{margin:0;}
.theme4 .homeColumns{width:940px;padding:0 10px;margin:0 auto;}
.theme4 .resourcesTable{width:940px;margin:20px auto;}
.theme4 .dataStreamBox h2 a .txt .titleDS{height:auto;}
.theme4 .dataStreamBox h2 a .txt .titleDS .infoDS .sep,
.theme4 .dataStreamBox h2 a .txt .titleDS .authorDS{display:none;}
.theme4 .homeColumns{position:relative;}
.theme4 .placeholder .photoSection{background:no-repeat center 0;height:300px;margin-bottom:25px;}
.theme4 .placeholder .photoSection h1{color:#fff !important;line-height:normal;text-shadow:0 1px 0 rgba(0,0,0,.4);font-size:32px;padding:230px 0 18px;}
.theme4 .placeholder.homeMainContent h1.customTitle{font-size:30px;line-height:normal;text-transform:uppercase;}

/* Theme 5 - Palo Alto*/
.theme5.homeContent{padding:0;margin-top:20px;background:#fff;width:960px;
  -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.5);
     -moz-box-shadow:0 0 5px 0 rgba(0,0,0,.5);
          box-shadow:0 0 5px 0 rgba(0,0,0,.5);
}
.theme5 .themeWrapper{border:1px solid #ccc;padding:20px 0 0;}

  /* Rounded Box */
  .theme5 .roundedBox10{
    -webkit-border-radius:10px 10px 0 0;
       -moz-border-radius:10px 10px 0 0;
            border-radius:10px 10px 0 0;
  }
  .theme5 .roundedBox15{
    -webkit-border-radius:15px 15px 0 0;
       -moz-border-radius:15px 15px 0 0;
            border-radius:15px 15px 0 0;
  }
  
  /* Breadcrumb section */
  .theme5 .breadcrumb{border:1px solid #434343;background:#434343;padding:0 20px;}
  .theme5 .breadcrumb li{float:left;display:block;color:#fff;font-size:11px;font-weight:bold;height:34px;line-height:34px;}
  .theme5 .breadcrumb li:before{content:">";padding:0 5px;}
  .theme5 .breadcrumb li:first-child:before{display:none;}
  .theme5 .breadcrumb li a{display:inline-block;height:34px;line-height:34px;color:#fff;}

  /* Top section */
  .theme5 .topSection{padding:0 20px 20px;}
  .theme5 .topSection .CL{width:544px;}
  .theme5 .topSection .CR{width:356px;}

    /* Welcome section */
    .theme5 .topSection .welcomeSection{padding-bottom:20px;}
    .theme5 .topSection .welcomeSection.hasPopup{cursor:pointer;}
    .theme5 .topSection .welcomeSection hgroup{top:0;left:0;z-index:5;padding:0 30px;}
    .theme5 .topSection .welcomeSection h1{color:#000;font-size:21px;line-height:normal;padding-top:83px;}
    .theme5 .topSection .welcomeSection h2{color:#fff;font-size:53px;line-height:normal;padding-top:37px;/*text-shadow:-4px 4px 2px rgba(0,0,0,.7);*/}
    .theme5 .topSection .welcomeSection img{width:100%;height:340px;z-index:2;}

    /* Search Box */
    .theme5 .topSection .searchBox{height:34px;border:1px solid #bdbdbd;padding:0 15px;}
    .theme5 .topSection .searchBox form{background:url(/static/core/images/homeManager/ic_searchTheme5.png) right center no-repeat;}
    .theme5 .topSection .searchBox input[type=text]{padding:0;height:34px;line-height:34px;border:0;width:470px;background:transparent;}
    .theme5 .topSection .searchBox input[type=text]:focus,
    .theme5 .topSection .searchBox input[type=text]:active{border:0;
      -webkit-box-shadow:0 0 0 0 transparent;
         -moz-box-shadow:0 0 0 0 transparent;
              box-shadow:0 0 0 0 transparent;
    }
    .theme5 .topSection .searchBox .submit{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";width:40px;height:34px;cursor:pointer;border:0;left:10px;display:block;position:relative;padding:0;}

    /* Featured Section */
    .theme5 .topSection .featuredSection{}
    .theme5 .topSection .featuredSection a{display:block;color:#333;}
    .theme5 .topSection .featuredSection a:hover{text-decoration:none;}
    .theme5 .topSection .featuredSection span{color:#333;background:#ebebeb;display:block;height:54px;padding:0 20px;line-height:54px;font-size:32px;max-width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
    .theme5 .topSection .featuredSection img{width:100%;height:286px;} /* height was 340px */

  /* Buttons section */
  .theme5 .buttonsSection{padding:0 10px;}
  .theme5 .buttonsSection li{padding:0 10px 20px;float:left;}
  .theme5 .buttonsSection li a{display:table;color:#fff;width:100%;}
  .theme5 .buttonsSection li a:hover{text-decoration:none;}
  .theme5 .buttonsSection li a > span{display:table-row;}
  .theme5 .buttonsSection li a > span > span{display:table-cell;height:160px;padding:10px;vertical-align:middle;text-align:center;font-size:19px;line-height:23px;text-transform:uppercase;}

  /* Bottom section */
  .theme5 .bottomSection{padding:0 10px 20px;}
  .theme5 .bottomSection .bottomSectionBox{padding:0 10px;width:33.33%;}
  .theme5 .bottomSection .bottomSectionBox a{display:block;color:#fff;}
  .theme5 .bottomSection .bottomSectionBox a:hover{text-decoration:none;}
  .theme5 .bottomSection .bottomSectionBox span{color:#fff;display:block;background:#959595;height:44px;padding:0 20px;line-height:44px;font-size:23px;max-width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
  .theme5 .bottomSection .bottomSectionBox img{width:100%;height:95px;}

  /* Links Section */
  .theme5 .linksSection{padding:0 20px 20px;}
  .theme5 .linksSection li{display:inline-block;color:#909090;font-size:14px;line-height:normal;}
  .theme5 .linksSection li:before{content:"|";color:#909090;padding:0 8px;display:inline-block;}
  .theme5 .linksSection li:first-child:before{display:none;}
  .theme5 .linksSection li a{color:#909090;display:inline-block;}

  /* Social buttons */
  .socialButtons{padding-top:26px;padding-left:18px;}
  .socialButtons > *{float:left !important;}

  /* Welcome Popup*/
  #id_welcomePopup{width:600px;border:0;
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
  }
  #id_welcomePopup .In{padding:20px 0 !important;
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
  }
  #id_welcomePopup .In h4{background:transparent;border:0;height:auto;line-height:normal;}
  #id_welcomePopup .In p{font-size:11px;line-height:18px;padding:0 18px;}

/* Theme 6 - Jackson */
.theme6.w960{padding:0;width:960px;background:#f5f5f5;
  -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.5);
     -moz-box-shadow:0 0 5px 0 rgba(0,0,0,.5);
          box-shadow:0 0 5px 0 rgba(0,0,0,.5);
}
  
  /* Slider */
  .theme6 .featuredSlider{}

  .theme6 .featuredSlider{height:320px;
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
  }
  .theme6 .featuredSlider .sliderHome,
  .theme6 .featuredSlider .caroufredsel_wrapper,
  .theme6 .featuredSlider .panel{width:960px;height:320px;}
  .theme6 .placeholder.featuredContent img{max-width:960px;width:960px;height:320px;}
  .theme6 .featuredSlider .panel .sliderInfo{margin:30px;position:absolute;right:0;text-align:right;width:50%;height:240px;}
  .theme6 .featuredSlider .panel h1{color:#000 !important;font-size:30px;}
  .theme6 .featuredSlider .panel .readMore{background-color:#002d56;padding:8px 15px;color:#FFF;}
  .theme6 .featuredSlider .panel .readMore:hover{background-color:#2a637f;text-decoration:none;}

  /* Search form */
  .theme6 .searchForm{margin:0 auto;position:relative;width:660px;padding-bottom:10px;}
  .theme6 .searchForm input[type=text]{height:34px;width:660px;color:#808080;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
  }
  .theme6 .searchForm input.image{position:absolute;right:10px;top:5px;background-image:url(/static/core/images/microsites/bt_dataTable.png);background-position:0 -174px;width:22px;height:22px;border:0;outline:none;}
  .theme6 .searchForm input.image:hover{background-position:0 -196px;}

  /* Buttons section */
  .theme6 ul.buttonsSection{text-align:center;padding:0 30px 8px;}
  .theme6 ul.buttonsSection li{float:left;padding:8px;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
  }
  .theme6 .buttonsSection li a.buttonContent{border:1px solid;width:100%;height:160px;display:block;padding:10px;text-align:center;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
  }
  .theme6 .buttonsSection li a.buttonContent:hover{text-decoration:none;}
  .theme6 .buttonsSection li a.buttonContent span{font-size:14px;text-decoration:none;margin-top:10px;display:block;}
  .theme6 .buttonsSection li a.buttonContent img{max-width:100px;}

  /* Bottom section */
  .theme6 .bottomSection{padding:0 30px 30px;}
  .theme6 .bottomSection .bottomSectionBox{padding:0 8px;width:33.33%;}
  .theme6 .bottomSection .bottomSectionBox a{display:block;color:#fff;}
  .theme6 .bottomSection .bottomSectionBox a:hover{text-decoration:none;}
  .theme6 .bottomSection .bottomSectionBox span{color:#fff;display:block;background:#959595;height:44px;padding:0 20px;line-height:44px;font-size:23px;max-width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
    -webkit-border-radius:5px 5px 0 0;
       -moz-border-radius:5px 5px 0 0;
            border-radius:5px 5px 0 0;
  }
  .theme6 .bottomSection .bottomSectionBox img{width:100%;height:95px;
    -webkit-border-radius:0 0 5px 5px;
       -moz-border-radius:0 0 5px 5px;
            border-radius:0 0 5px 5px;
  }