/*FINDER*/

/*COMMON STYLES*/
.columns{padding-top:20px;}
.columns .CD{padding-bottom:20px;}
.columns .CD.separation{padding-top:30px;}
.columns .CD .column{width:300px;}
.columns .CD h2{color:#ef7f10;font-size:20px;line-height:normal;font-weight:bold;margin-bottom:15px;}
.columns .CD .column h2{font-size:18px;font-weight:normal;margin:5px 0 13px;}
.columns .CD p.large{font-size:14px;padding-bottom:15px;font-style:italic;color:#777;padding-top:15px;line-height:21px;}
.columns .CD p.large.noItalic{font-style:normal;}
.columns .pagination{background:none;}

/*TITLE*/
.boxTitle .title{position:relative;width:620px;overflow:hidden;line-height:20px;height:24px;vertical-align:baseline;padding-right:0;white-space:nowrap;}
.boxTitle .title .innerTitle{width:10000px;}
.boxTitle .title strong{float:left;padding-right:5px;}
.boxTitle .title .font{position:relative;top:2px;float:left;font-size:14px;color:#5b5a5a;font-weight:normal;line-height:20px;height:20px;vertical-align:baseline;display:inline-block;overflow:hidden;width:9000px;}
.boxTitle .transparency{height:30px;}

/*DATA BOX*/
.DataBox{position:relative;}

.DataBox h2{font-weight:normal;font-size:14px;}
.DataBox h2 strong{color:#4d4d4d;}
.DataBox h2 .sep{color:#ccc;font-size:12px;}
.DataBox .by{color:#ababab;}
.DataBox .author{color:#5b5a5a;}
.DataBox p{color:#898888;line-height:16px;padding-top:3px;}
.DataBox .stars{margin-top:3px;float:left;}
.DataBox .toolbar{width:auto;float:right;padding-left:6px;position:absolute;bottom:15px;right:0;}
.DataBox .toolbar .dashboard-dataservice-tooltip{left:-82px;}
.DataBox .pagButtons{padding-left:0;padding-right:0;}
.DataBox .sep{color:#d1cccc;padding:0 3px;font-size:11px;}

.DataBox .panel{position:relative;background:url(/static/core/images/common/bd_Item_Finder.gif) center bottom no-repeat;padding:12px 0 9px;}
.DataBox .panel .tagsContainer{padding-right:60px;padding-top:5px;}
.DataBox .panel h2{font-size:11px;vertical-align:baseline;}
.DataBox .panel h2 a{font-size:14px;vertical-align:baseline;text-decoration:none;color:#000;}
.DataBox .panel h2 span{vertical-align:baseline;}
.DataBox .panel h2 a strong{color:#0862A2;}
.DataBox .panel h2 a:hover strong{text-decoration:underline;}
.DataBox .panel h2 a .sep{font-size:12px;}
.DataBox .panel h2 .sep{float:none;}

/*TAGS / GO TO SOURCE*/
.tagsContainer .tagsItems > div{padding:0;float:left;}
.tagsContainer strong.tagsTitle, 
.ao-source .gotosource, 
.ao-source .sep, 
.tagsContainer .tagsItems, 
.tagsContainer .tagsPagination {float:left;}
.ao-source{margin:2px 0 0 0 !important;}
.ao-source .gotosource{width:350px;margin:0 0 0 4px;}
.tagsContainer strong.tagsTitle{padding-right:4px;display:block;}

/*ERRORS*/
.DataBox .Errores{padding-top:20px;font-size:18px;font-weight:bold;}
.errorBox .msg{margin-top:20px;margin-right:20px;}