/* Common */
div,
section{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
.transition{
	-webkit-transition:all .375s ease-in-out;
	   -moz-transition:all .375s ease-in-out;
	    -ms-transition:all .375s ease-in-out;
	     -o-transition:all .375s ease-in-out;
	        transition:all .375s ease-in-out;
}

/* Header */
.headerAuto .innerHeader{width:100%;padding-left:0;padding-right:0;}

/* Footer */
.miniFooterJunar .w960{width:auto;padding:0 10px;margin:0;}
body .brandingFooter{display:none !important;}

/* Box */
.box{background:#fff;border:1px solid #dadada;background:#fff;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,.10);
		 -moz-box-shadow:0 0 3px 0 rgba(0,0,0,.10);
		      box-shadow:0 0 3px 0 rgba(0,0,0,.10);
}
.box .title{background:#f6f5f5;border-bottom:1px solid #dadada;height:30px;
	-webkit-border-radius:5px 5px 0 0;
	   -moz-border-radius:5px 5px 0 0;
	        border-radius:5px 5px 0 0;
}
.box .title h1{height:30px;line-height:30px;font-size:14px;font-weight:bold;color:#666;padding:0 12px;text-shadow:0 1px 0 #fff;}
.box .title .close{width:31px;height:30px;border-left:1px solid #dadada;display:block;background:url(/static/microsites/images/microsites/ic_buttons.png) no-repeat center 0;text-indent:-10000px;cursor:pointer;}
.box .title .close:hover{background-position:center -30px;}
.box .boxContent{padding:0 12px;}

/* Layout */
.content{padding:10px;}
.contentInner{padding-left:75px;}
.wrapper{width:100%;}
.wrapperInner{width:100%;float:left;margin:0 0 0 -75px;}
.tabs{width:75px;float:left;padding-right:10px;}
.columns{width:100%;float:right;margin:0 -75px 0 0;}
.sidebar{overflow:hidden;width:0;}
.section{padding-left:0;}
	
	/* Show Sidebar */
	.showSidebar .sidebar{width:310px;}
	.showSidebar .section{padding-left:310px;}

	/* Tabs in ES need to be wider */
	html[lang=es-ES] .contentInner{padding-left:85px;}
	html[lang=es-ES] .wrapperInner{margin:0 0 0 -85px;}
	html[lang=es-ES] .tabs{width:85px;}
	html[lang=es-ES] .columns{margin:0 -85px 0 0;}
	
/* Background */
html, body{background:url(/static/microsites/images/microsites/bg_body.gif) repeat;}

/* Tooltip */
.tooltip{padding:10px;background:#343434;background:rgba(30,30,30,.9);z-index:2;
  -webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
}
.tooltip:after{content:"";width:0;height:0;padding:0;border:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #343434;border-right-color:rgba(30,30,30,.9);position:absolute;top:50%;margin-top:-10px;left:-10px;}
.tooltip > li{}
.tooltip > li a{color:#fff;font-size:12px;white-space:nowrap;padding:0 7px;height:30px;line-height:30px;display:block;}
.tooltip > li a:hover{cursor:pointer;text-decoration:none;background:#111;background:rgba(0,0,0,.7);
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	-webkit-box-shadow:inset 0 0 5px 0 #000;
	   -moz-box-shadow:inset 0 0 5px 0 #000;
	        box-shadow:inset 0 0 5px 0 #000;
}

	/* Tooltip Dropdown */
	.tooltip.pulldown{}
	.tooltip.pulldown:after{border:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #343434;border-bottom-color:rgba(30,30,30,.9);left:50%;margin-left:-10px;top:-10px;margin-top:0;}

/* Tabs */
.tabs{position:relative;z-index:3;}
.tabs .icons{}
.tabs .icons > li{border-bottom:1px solid #d1cfd0;border-top:1px solid #ededee;padding:6px 0;}
.tabs .icons > li:first-child{border-top:0;padding-top:0;}
.tabs .icons > li:last-child{border-bottom:0;padding-bottom:0;}
.tabs .icon{height:65px;display:block;color:#8e8f91;text-shadow:0 1px 0 rgba(255,255,255,.75);font-size:10px;text-transform:uppercase;text-align:center;font-weight:bold;padding-top:9px;background:none;width:inherit;}
.tabs .icon > i{display:block;height:33px;background:url(/static/microsites/images/microsites/ic_sidebarTabs.png) no-repeat;}
.tabs .icon > span{height:22px;line-height:22px;white-space:nowrap;}

	/* Tooltip */
	.tabs .tooltip{position:absolute;left:109%;top:50%;display:none;}
	
	/* Hover and active */
	.tabs .icon:hover{text-decoration:none;cursor:pointer;}
	.tabs .icon:hover,
	.tabs .icon.active{background:#d4d4d4;color:#444;
		-webkit-border-radius:3px;
		   -moz-border-radius:3px;
		        border-radius:3px;
		-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
		   -moz-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
		        box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
	}

	/* Disabled */
	.tabs .icon.isDisabled,
	.tabs .icon.isDisabled:hover{cursor:default;color:#8e8f91;background:none;opacity: 0.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		-webkit-box-shadow:0 0 0 0 transparent;
		   -moz-box-shadow:0 0 0 0 transparent;
		        box-shadow:0 0 0 0 transparent;
	}

	/* Icons */
	.tabs .info > i{background-position:center 0;}
	.tabs .info:hover > i,
	.tabs .info.active > i{background-position:center -35px;}
	.tabs .refresh > i{background-position:center -70px;}
	.tabs .refresh:hover > i,
	.tabs .refresh.active > i{background-position:center -105px;}
	.tabs .refresh.isDisabled > i{background-position:center -70px;}
	.tabs .embed > i{background-position:center -140px;}
	.tabs .embed:hover > i,
	.tabs .embed.active > i{background-position:center -175px;}
	.tabs .api > i{background-position:center -210px;}
	.tabs .api:hover > i,
	.tabs .api.active > i{background-position:center -245px;}
	.tabs .export > i{background-position:center -280px;}
	.tabs .export:hover > i,
	.tabs .export.active > i{background-position:center -315px;}
	.tabs .params > i{background-position:center -350px;}
	.tabs .params:hover > i,
	.tabs .params.active > i{background-position:center -385px;}
	.tabs .filters > i{background-position:center -420px;}
	.tabs .filters:hover > i,
	.tabs .filters.active > i{background-position:center -455px;}
	.tabs .notes > i{background-position:center -490px;}
	.tabs .notes:hover > i,
	.tabs .notes.active > i{background-position:center -525px;}
	.tabs .pivot > i{background-position:center -560px;}
	.tabs .pivot:hover > i,
	.tabs .pivot.active > i{background-position:center -595px;}
	.tabs .heatmap > i{background-position:center -630px;}
	.tabs .heatmap:hover > i,
	.tabs .heatmap.active > i{background-position:center -665px;}
	.tabs .download > i{background-position:center -700px;}
	.tabs .download:hover > i,
	.tabs .download.active > i{background-position:center -733px;}

/* Sidebar */
.sidebar .box{width:300px;display:none;}
.sidebar .boxContent{overflow:auto;overflow-x:hidden;overflow-y:auto;}

	/* Common */
	.sidebar article{border-top:1px solid #dadada;padding:13px 0;}
	.sidebar article:first-child{border-top:0;}
	.sidebar article header h1{color:#333;font-size:12px;}
	.sidebar article ul{}
	.sidebar article li,
	.sidebar article p{color:#777;font-size:11px;margin-top:6px;}
	.sidebar article li{background:url(/static/microsites/images/microsites/ic_bulletGray.png) no-repeat 5px 5px;padding-left:16px;}
	.sidebar article li.VM,
	.sidebar article li.VL{background:url(/static/microsites/images/microsites/ic_VM.gif) no-repeat 5px -14px;;padding-left:20px;}
	.sidebar article li.VL{background-position:5px 6px}
	.sidebar article code{padding:7px 10px;font-size:11px;color:#333;background:#f2f2f2;display:block;word-break:break-word;overflow:hidden;text-shadow:0 1px 0 rgba(255,255,255,.75);
		-webkit-border-radius:3px;
		   -moz-border-radius:3px;
		        border-radius:3px;
		-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,.25);
	     -moz-box-shadow:inset 0 0 3px 0 rgba(0,0,0,.25);
	          box-shadow:inset 0 0 3px 0 rgba(0,0,0,.25);
}

	/* Row Form */
	.sidebar .rowForm h1{display:inline-block;}
	.sidebar .rowForm input{margin-left:3px;height:18px;border:1px solid #dadada;font-size:11px;cursor:text;padding:0 5px;color:#333;width:100px;
		-webkit-border-radius:2px;
	     -moz-border-radius:2px;
		        border-radius:2px;
	}

	/* Info */
	.sidebar .infoBox article{padding-left:24px;position:relative;}
	.sidebar .infoBox article > i{position:absolute;top:10px;left:0;width:20px;height:20px;display:block;background:url(/static/microsites/images/microsites/ic_sidebar.png) no-repeat;}

		/* Permaink */
		.sidebar .infoBox .permalink > i{background-position:0 0;}

		/* Last Update */
		.sidebar .infoBox .lastUpdate > i{background-position:0 -20px;}

		/* Data Collected From */
		.sidebar .infoBox .dataCollectedFrom > i{background-position:0 -40px;}
		.sidebar .infoBox .dataCollectedFrom .icon{padding-left:21px;height:16px;line-height:16px;display:inline-block;background:url(/static/microsites/images/microsites/ic_implTypes.png) 0 0 no-repeat;}
		.sidebar .infoBox .dataCollectedFrom .icon.WEB{background-position:0 -20px;}
		.sidebar .infoBox .dataCollectedFrom .icon.FILE{background-position:0 -40px;}
		.sidebar .infoBox .dataCollectedFrom .icon.WB{background-position:0 -60px;}
		.sidebar .infoBox .dataCollectedFrom .icon.HTML{background-position:0 -80px;}
    .sidebar .infoBox .dataCollectedFrom .icon.SOAP,
    .sidebar .infoBox .dataCollectedFrom .icon.SOAP-XML{background-position:0 -100px;}
    .sidebar .infoBox .dataCollectedFrom .icon.XML{background-position:0 -120px;}
    .sidebar .infoBox .dataCollectedFrom .icon.XLS{background-position:0 -140px;}
    .sidebar .infoBox .dataCollectedFrom .icon.PDF{background-position:0 -160px;}
    .sidebar .infoBox .dataCollectedFrom .icon.DOC{background-position:0 -180px;}
    .sidebar .infoBox .dataCollectedFrom .icon.ODT{background-position:0 -200px;}
    .sidebar .infoBox .dataCollectedFrom .icon.ODP{background-position:0 -220px;}
    .sidebar .infoBox .dataCollectedFrom .icon.ODS{background-position:0 -240px;}
    .sidebar .infoBox .dataCollectedFrom .icon.CSV{background-position:0 -260px;}
    .sidebar .infoBox .dataCollectedFrom .icon.KML{background-position:0 -280px;}
    .sidebar .infoBox .dataCollectedFrom .icon.KMZ{background-position:0 -300px;}
    .sidebar .infoBox .dataCollectedFrom .icon.REST,
    .sidebar .infoBox .dataCollectedFrom .icon.REST-JSON{background-position:0 -320px;}
    .sidebar .infoBox .dataCollectedFrom .icon.JSON{background-position:0 -340px;}
    .sidebar .infoBox .dataCollectedFrom .icon.DALLAS{}
    .sidebar .infoBox .dataCollectedFrom .icon.TNCLIMA{}

		/* Sources */
		.sidebar .infoBox .sources > i{background-position:0 -60px;}

		/* Tags */
		.sidebar .infoBox .tags > i{background-position:0 -80px;}

		/* Category */
		.sidebar .infoBox .category > i{background-position:0 -239px;}

		/* Update Frequency */
		.sidebar .infoBox .updateFrequency > i{background-position:0 -160px;}

		/* Type */
		.sidebar .infoBox .type > i{background-position:0 -179px;}

		/* Region */
		.sidebar .infoBox .region > i{background-position:0 -199px;}
		
		/* License */
		.sidebar .infoBox .license > i{background-position:0 -220px;}

		/* Contact e-mail */
		.sidebar .infoBox .contact > i{background-position:0 -259px;}

		/* Visitors */
		.sidebar .infoBox .visitors > i{background-position:0 -120px;}
		.sidebar .infoBox .visitors #id_datastreamHits{left:-15px;position:relative;}
		.sidebar .infoBox .visitors #id_visualizationHits{left:-15px;position:relative;}

		/* Text Overflow */
		.sidebar .infoBox .dataCollectedFrom .icon,
		.sidebar .infoBox .sources li a,
		.sidebar .infoBox .tags li a{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:block;float:left;max-width:100%;
			-webkit-box-sizing:border-box;
	       -moz-box-sizing:border-box;
	            box-sizing:border-box;
	  }


	/* API */
	.sidebar .apiBox .GUID input{width:200px;}
	.sidebar .apiBox .examples p{margin:12px 0 10px;}

	/* NOTES */
	.sidebar .notesBox .boxContent{overflow-x:auto;}
	.sidebar .notesBox .boxContent img{width:100%;}

/* Data Table */
.dataTable{}
	
	/* Header */
	.dataTable header{min-height:72px;border-bottom:1px solid #e4e4e4;padding:17px 17px 12px;
		background:#f0f0f0;
	  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
	  background:-webkit-linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  background:-moz-linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  background:-o-linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  background:linear-gradient(#f0f0f0 0%, #ffffff 100%);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#ffffff',GradientType=0);
	  -webkit-border-radius:4px 4px 0 0;
		   -moz-border-radius:4px 4px 0 0;
			      border-radius:4px 4px 0 0;
	}
	.dataTable header hgroup{text-shadow:0 1px 0 #fff;margin-top:-4px;}
	.dataTable header h1{font-size:18px;line-height:normal;width:100%;overflow:hidden;}
	.dataTable header h1 strong{font-weight:bold;color:#333;display:block;float:none !important;}
	.dataTable header h1 span{display:block;}
	.dataTable header h1 .parameters{color:#958989;font-weight:normal;padding:3px 0;font-size:14px;line-height:21px;}
	.dataTable header h1 .parameters a{cursor:pointer;}
	.dataTable header h2{color:#958989;font-size:14px;padding-top:3px;}
	.dataTable header h1 strong{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	.dataTable header h2{line-height:21px;}

		/* Disabled */
		.dataTable header h1 .parameters.isDisabled{opacity: 0.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
		.dataTable header h1 .parameters.isDisabled a,
		.dataTable header h1 .parameters.isDisabled a:hover{cursor:default;text-decoration:none;}
	
	/* Social */
	.dataTable .socialBox{border:1px solid #e0e0e0;background:#f4f4f4;padding-left:5px;height:44px;display:none;position:relative;top:-3px;
		-webkit-border-radius:4px;
		   -moz-border-radius:4px;
		        border-radius:4px;
	}
	.dataTable .socialBox > span{margin:5px 5px 0 0;float:left;display:block;}
	.dataTable .socialBox .stButton{padding:0 !important;margin:0 !important;width:32px !important;height:32px !important;}
	.dataTable .socialBox .stButton .stLarge{background:url(/static/microsites/images/microsites/ic_socialMedia.png) no-repeat !important;width:32px !important;height:32px !important;padding:0 !important;margin:0 !important;}
	.dataTable .socialBox .st_facebook_large .stButton .stLarge,
	.dataTable .socialBox .st_facebook_large .stButton .stLarge:hover{background-position:0 0 !important;}
	.dataTable .socialBox .st_twitter_large .stButton .stLarge,
	.dataTable .socialBox .st_twitter_large .stButton .stLarge:hover{background-position:0 -35px !important;}
	.dataTable .socialBox .st_googleplus_large .stButton .stLarge,
	.dataTable .socialBox .st_googleplus_large .stButton .stLarge:hover{background-position:0 -70px !important;}
	.dataTable .socialBox .st_linkedin_large .stButton .stLarge,
	.dataTable .socialBox .st_linkedin_large .stButton .stLarge:hover{background-position:0 -105px !important;}

	/* Sharing Enabled */
	.dataTable header.sharingEnabled hgroup{padding-right:180px;}
	.dataTable header.sharingEnabled .socialBox{display:block;}

	/* Data Stream Result */
	.dataTable .data,
	.dataTable .data table,
	.dataTable .data table td,
	.dataTable .data table tr,
	.dataTable .data table th{border-collapse:collapse;}
	.dataTable .data .text,
	.dataTable .data .number,
	.dataTable .data .null{height:400px;width:100%;vertical-align:center;}
	.dataTable .data .text td,
	.dataTable .data .number td,
	.dataTable .data .null td{font-size:22px;text-align:center;font-weight:bold;color:#4d4d4d;padding:0;margin:0;vertical-align:middle;line-height:normal;}
	.dataTable .data .text td{font-weight:normal;}
	.dataTable .data .number td{font-size:50px;}
	.dataTable .data .null td{color:#aaa;}
	.dataTable .data .null td span{display:block;font-size:14px;padding-top:4px;font-weight:normal;}
	.dataTable .data .null td a{cursor:pointer;}

		/* Type Array */
		.dataTable .data #id_datastreamResult > .result > table.array{color:#4D4D4D;font:normal 11px arial, helvetica, sans-serif;text-shadow:0 1px 0 #fff;min-width:100%;}
		.dataTable .data #id_datastreamResult > .result > table.array th{background:#f6f5f5 !important;color:#aaa !important;text-shadow:0 1px 0 #fff !important;font-weight:bold !important;padding:2px 5px;border:1px solid #EFEFEF;border-top:0;}
		.dataTable .data #id_datastreamResult > .result >table.array td{padding:2px 5px;border:1px solid #EFEFEF;border-top:0;}

	/* Loading */
	.dataTable .data .loading{background:url(/static/core/images/common/loader_light.gif) no-repeat center center;height:400px;text-indent:-10000px;overflow:hidden;}
	body .dataTable #id_datastreamResult .flexigrid > div.gBlock{background:#fff url(/static/core/images/common/loader_light.gif) no-repeat center center!important;background-color:rgba(255,255,255,0.5) !important;text-indent:-10000px;overflow:hidden;position:absolute !important;height:100% !important;width:100% !important;}

	/* Pivot Table */
	.dataTable.pivotEnabled header{border-color:#c9c7c7;}
	.dataTable .data #id_pivotDataStream{position:relative;width:100%;height:0;z-index:1;background:#fff;padding-top:49px;
		-webkit-border-radius:0 0 4px 4px;
			 -moz-border-radius:0 0 4px 4px;
			      border-radius:0 0 4px 4px;
	}

		/* Pivot Buttons */
		.dataTable .data #id_pivotButtons{height:48px;background:#e2e0e0;border:1px solid #c9c7c7;border-top:0;position:absolute;top:0;left:0;width:100%;
			-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,.10);
		     -moz-box-shadow:inset 0 0 3px 0 rgba(0,0,0,.10);
		          box-shadow:inset 0 0 3px 0 rgba(0,0,0,.10);
		}
		.dataTable .data #id_pivotButtons > li{float:left;border-right:1px solid #fff;}
		.dataTable .data #id_pivotButtons .icon{border-right:1px solid #d1cfd0;display:block;height:48px;width:90px;color:#8e8f91;text-shadow:0 1px 0 rgba(255,255,255,.75);font-size:10px;text-transform:uppercase;text-align:center;font-weight:bold;padding-top:7px;}
		.dataTable .data #id_pivotButtons .icon > i{display:block;height:21px;background:url(/static/microsites/images/microsites/ic_pivotIcons.png) no-repeat;}
		.dataTable .data #id_pivotButtons .icon > span{height:17px;line-height:17px;}

			/* Right tabs */
			.dataTable .data #id_pivotButtons > li.FR{float:right;border-right:0;border-left:1px solid #d1cfd0;}
			.dataTable .data #id_pivotButtons > li.FR .icon{border-right:0;border-left:1px solid #fff;}
	
			/* Hover and active */
			.dataTable .data #id_pivotButtons .icon:hover{text-decoration:none;cursor:pointer;}
			.dataTable .data #id_pivotButtons .icon:hover,
			.dataTable .data #id_pivotButtons .icon.active{background:#d4d4d4;color:#444;border-right-color:#a6a6a6;
				-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
				   -moz-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
				        box-shadow:inset 0 0 5px 0 rgba(0,0,0,.25);
			}

			/* Tooltip */
			.dataTable .data #id_pivotButtons .tooltip.pulldown{z-index:3;top:55px;position:absolute;left:-14px;display:none;width:120px;}
			.dataTable .data #id_pivotButtons .tooltip.pulldown li a{display:block;}

			/* Icons */
			.dataTable .data #id_pivotButtons .icon.pivotTable i{background-position:center 0;}
			.dataTable .data #id_pivotButtons .icon.pivotTable:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotTable.active i{background-position:center -50px;}
			.dataTable .data #id_pivotButtons .icon.pivotCharts i{background-position:center -100px;}
			.dataTable .data #id_pivotButtons .icon.pivotCharts:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotCharts.active i{background-position:center -150px;}
			.dataTable .data #id_pivotButtons .icon.pivotFields i{background-position:center -200px;}
			.dataTable .data #id_pivotButtons .icon.pivotFields:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotFields.active i{background-position:center -250px;}
			.dataTable .data #id_pivotButtons .icon.pivotFullScreen i{background-position:center -300px;}
			.dataTable .data #id_pivotButtons .icon.pivotFullScreen:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotFullScreen.active i{background-position:center -350px;}
			.dataTable .data #id_pivotButtons .icon.pivotHelp i{background-position:center -400px;}
			.dataTable .data #id_pivotButtons .icon.pivotHelp:hover i,
			.dataTable .data #id_pivotButtons .icon.pivotHelp.active i{background-position:center -450px;}

			/* Buttons in ES need to be wider */
			html[lang=es-ES] .dataTable .data #id_pivotButtons .icon{width:125px;}
			html[lang=es-ES] .dataTable .data #id_pivotButtons .tooltip.pulldown{left:2px;}
		
		/* Pivot Component */
		.dataTable .data #id_pivotTableContainer{width:100%;height:0;
			-webkit-border-radius:0 0 4px 4px;
				 -moz-border-radius:0 0 4px 4px;
				      border-radius:0 0 4px 4px;
		}
		.dataTable .data object{width:100%;height:100%;}

		/* Pivot Security Div */
		.dataTable .data .flexmonsterSecurityDiv{
			-webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,.25);
		     -moz-box-shadow:0 3px 5px 0 rgba(0,0,0,.25);
		          box-shadow:0 3px 5px 0 rgba(0,0,0,.25);
		}
	
	/* Flexigrid - Adjustments*/
	.flexigrid{color:#4D4D4D;font:normal 11px arial, helvetica, sans-serif;text-shadow:0 1px 0 #fff;}
	.flexigrid div.hDiv,
	.flexigrid div.bDiv{border:0 !important;}
	.flexigrid div.hDiv,
	div.colCopy{background:#f6f5f5 !important;}
	.flexigrid div.hDiv table th div,
	div.colCopy,
	div.colCopy div{color:#aaa !important;text-shadow:0 1px 0 #fff !important;font-weight:bold !important;word-wrap:normal !important;}
	div.colCopy{border-bottom:1px solid #ccc !important;}
	.flexigrid tr.erow td{background:#fafafa !important;}
	.flexigrid div.nBtn{border-color:#e2e0e0 !important;background:#f6f5f5 !important;border-bottom:1px solid #fff !important;height:24px !important;margin-left:-2px !important;margin-top:0 !important;width:17px !important;}
	.flexigrid div.nBtn:hover{background-color:#eaeaea !important;}
	.flexigrid div.nBtn div{background-image:url(/static/microsites/images/microsites/ic_flexigridColButton.gif) !important;height:24px !important;width:16px;}
	.flexigrid div.nBtn:hover div{background-image:url(/static/microsites/images/microsites/ic_flexigridColButton_hover.gif) !important;}
	.flexigrid div.bDiv td{border-color:#efefef;border-left-color:#fff;border-left:0;}
	.flexigrid div.hDiv th{border-bottom:1px solid #e2e0e0 !important;border-left:0;}
	.flexigrid table td div,
	.flexigrid table th div,
	.flexigrid div.vGrip{
		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box;
		        box-sizing:border-box;
	}
	.flexigrid table td div,
	.flexigrid table th div,
	.flexigrid div.bDiv td div{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-wrap:normal !important;}
	
		/* Hover */
		.flexigrid div.bDiv tr:hover td,
		.flexigrid div.bDiv tr:hover td.sorted,
		.flexigrid div.bDiv tr.trOver td.sorted,
		.flexigrid div.bDiv tr.trOver td,

		.flexigrid div.bDiv tr.trSelected:hover td,
		.flexigrid div.bDiv tr.trSelected:hover td.sorted,
		.flexigrid div.bDiv tr.trOver.trSelected td.sorted,
		.flexigrid div.bDiv tr.trOver.trSelected td,
		.flexigrid tr.trSelected td.sorted,
		.flexigrid tr.trSelected td{background:#eee !important;border-left:0 !important;border-bottom-color:#ccc !important;border-right:1px dotted #ccc !important;}
		.flexigrid div.hDiv th.thOver div,
		.flexigrid div.hDiv th.sorted.thOver div{border-color:#fff !important;}

		/* Drag & Drop */
		.flexigrid div.hDiv th.thOver{background:#eaeaea;}
		.flexigrid div.hDiv th.thOver div{color:#666 !important;cursor:move;cursor:url(/static/core/images/cursors/cu_openhand.cur);cursor:-moz-grab;}
		.flexigrid div.hDiv th.thMove div{cursor:move;cursor:url(/static/core/images/cursors/cu_closedhand.cur);cursor:-moz-grabbing;}
	
		/* Pagination */
		.flexigrid div.vGrip{position:relative;top:-32px;border:1px solid #dbdbdb !important;border-left:0 !important;border-right:0 !important;height:7px;}
		.flexigrid div.pDiv{position:relative;top:7px;border:1px solid #fff !important;
			background:#ffffff;
			background:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#dbdbdb));
			background:-webkit-linear-gradient(#ffffff 0%,#dbdbdb 100%);
			background:-moz-linear-gradient(#ffffff 0%,#dbdbdb 100%);
			background:-o-linear-gradient(#ffffff 0%,#dbdbdb 100%);
			background:linear-gradient(#ffffff 0%,#dbdbdb 100%);	
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dbdbdb',GradientType=0);
			-webkit-border-radius:0 0 4px 4px;
			   -moz-border-radius:0 0 4px 4px;
				      border-radius:0 0 4px 4px;
		}
		.flexigrid div.pDiv input{top:-4px;font-size:11px;height:18px;}
		.flexigrid div.pDiv select{top:1px;font-size:11px;position:relative;height:22px;}
		.flexigrid div.pDiv2 > div.pGroup:nth-child(11),
		.flexigrid div.pDiv2 > div.btnseparator:nth-child(10){display:none !important;}
		.flexigrid div.pDiv div.pReload{display:none !important;}
		.flexigrid div.pDiv div.pDiv2:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
		.flexigrid div.pDiv div.pDiv2{display:block;float:none;width:auto;margin:0;padding:3px;}
		.flexigrid div.pDiv div.pButton:hover,
		.flexigrid div.pDiv div.pButton.pBtnOver{width:22px !important;height:22px !important;border:0 !important;}
		.flexigrid div.pDiv div.pButton:hover span,
		.flexigrid div.pDiv div.pButton.pBtnOver span{border:0;width:20px;height:20px;border:none !important;}
				
			/* Drop positions */
			.flexigrid span.cdropleft,
			.flexigrid div.hDiv span.cdropright{width:20px;height:20px;top:-23px;margin-bottom:-23px;}
			.flexigrid span.cdropleft{left:-5px;}
			.flexigrid div.hDiv span.cdropright{right:-3px;}

			/* Images */
			.flexigrid .pFirst,
			.flexigrid .pPrev,
			.flexigrid .pNext,
			.flexigrid .pLast,
			.flexigrid span.cdropleft,
			.flexigrid div.hDiv span.cdropright,
			.flexigrid .pSearch{background:url(/static/microsites/images/microsites/bt_dataTable.png) no-repeat !important;}

			.flexigrid .pFirst{background-position:0 0 !important;}
			.flexigrid .pFirst:hover{background-position:0 -22px !important;}
			.flexigrid .pPrev,
			.flexigrid span.cdropleft{background-position:0 -44px !important;}
			.flexigrid .pPrev:hover{background-position:0 -66px !important;}
			.flexigrid .pNext,
			.flexigrid div.hDiv span.cdropright{background-position:0 -88px !important;}
			.flexigrid .pNext:hover{background-position:0 -110px !important;}
			.flexigrid .pLast{background-position:0 -132px !important;}
			.flexigrid .pLast:hover{background-position:0 -154px !important;}
			.flexigrid .pSearch{background-position:0 -175px !important;}
			.flexigrid .pSearch:hover{background-position:0 -197px !important;}

		/* Search */
		.flexigrid div.sDiv{border:0;border-top:1px solid #DADADA;background:#fafafa;background:rgba(250,250,250,.85);width:100%;position:absolute;bottom:32px;left:0;}
		.flexigrid div.sDiv input{height:18px;font-size:11px;margin-left:5px;}
		.flexigrid div.sDiv select{font-size:11px;height:22px;}
		.flexigrid div.sDiv div.sDiv2{padding-left:10px;text-shadow:0 1px 0 #fff;}

		/* Erase this if vGrip needed */
		.flexigrid div.vGrip{display:none;}
		.flexigrid div.pDiv{position:static;top:auto;border-top-color:#dadada !important;}

		/* No Horizontal Scroll */
		.flexigrid .noHorizontalScroll{overflow-x:hidden !important;}

/* Arguments Overlay */
.argumentsOverlay{width:400px;}
.ao-popup-overlay .argumentsOverlay .In form{width:auto;}
.ao-popup-overlay .argumentsOverlay p{padding-top:18px;line-height:16px;}
.argumentsOverlay .form{margin:20px;padding:15px 15px 0;border:1px solid #ddd;border-left:0;border-right:0;background:#efefef;}
.argumentsOverlay .form label{display:block;font-weight:bold;height:auto;line-height:normal;padding-bottom:10px;}
.argumentsOverlay .form .field{height:28px;width:306px;margin-bottom:15px;}
.argumentsOverlay .buttons a{margin:0 5px;cursor:pointer;}
