/*DATA TABLE*/
.dataTable .dataTableInner{overflow:auto;overflow-y:hidden;overflow-x:auto;}

/*TABLE FORMAT*/
.dataTable table,
.dataTable table tr,
.dataTable table th, 
.dataTable table td{border-collapse:collapse;border:0;padding:0;margin:0;color:#4d4d4d;font-size:11px;background:none;}
.dataTable table{width:100%;}
.dataTable table tr{border:1px solid #d7d6d1;}
.dataTable table th, 
.dataTable table td{line-height:14px;padding:0;text-align:center;vertical-align:top;border:1px solid #d7d6d1;background:#fff;white-space:nowrap;}
.dataTable table td div{padding:1px 10px;}

/*SELECTIONS*/
.dataTable .ao-table-selected, 
.dataTable table .ao-table-selected{background:#060;color:#fff;}
.dataTable .ao-row-selected,
.dataTable table .ao-row-selected{background:#090;color:#fff;}
.dataTable .ao-column-selected,
.dataTable table .ao-column-selected{background:#9c3;color:#fff;}
.dataTable .ao-cell-selected,
.dataTable table .ao-cell-selected,
.dataTable table td.ao-row-selected.ao-column-selected{background:#060;color:#fff;}

	/*ADVANCED MODE - SELECTIONS*/
	.dataTable .ao-advanced-mode.ao-table-selected, 
	.dataTable table.ao-advanced-mode .ao-table-selected{background:#eaf0e8;color:#4d4d4d;}
	.dataTable .ao-advanced-mode .ao-row-selected,
	.dataTable table.ao-advanced-mode .ao-row-selected{background:#edf4e9;color:#4d4d4d;}
	.dataTable .ao-advanced-mode .ao-column-selected,
	.dataTable table.ao-advanced-mode .ao-column-selected{background:#f6f9ed;color:#4d4d4d;}
	.dataTable .ao-advanced-mode .ao-cell-selected,
	.dataTable table.ao-advanced-mode .ao-cell-selected,
	.dataTable table.ao-advanced-mode td.ao-row-selected.ao-column-selected{background:#eaf0e8;color:#4d4d4d;}

	/*HEADERS MODE - SELECTIONS*/
	.dataTable .ao-headers-mode.ao-table-selected.ao-headers-row-selected, 
	.dataTable table.ao-headers-mode .ao-table-selected.ao-headers-row-selected,
	.dataTable .ao-headers-mode .ao-row-selected.ao-headers-row-selected,
	.dataTable table.ao-headers-mode .ao-row-selected.ao-headers-row-selected,
	.dataTable .ao-headers-mode .ao-column-selected.ao-headers-row-selected,
	.dataTable table.ao-headers-mode .ao-column-selected.ao-headers-row-selected,
	.dataTable .ao-headers-mode .ao-cell-selected.ao-headers-row-selected,
	.dataTable table.ao-headers-mode .ao-cell-selected.ao-headers-row-selected,
	.dataTable table.ao-headers-mode td.ao-row-selected.ao-column-selected.ao-headers-row-selected{background:#fcde15;color:#fff;}
	
	/*MAVG MODE - SELECTIONS*/
	.dataTable .ao-moving-average-mode.ao-table-selected.ao-moving-average-column-selected, 
	.dataTable table.ao-moving-average-mode .ao-table-selected.ao-moving-average-column-selected,
	.dataTable .ao-moving-average-mode .ao-row-selected.ao-moving-average-column-selected,
	.dataTable table.ao-moving-average-mode .ao-row-selected.ao-moving-average-column-selected,
	.dataTable .ao-moving-average-mode .ao-column-selected.ao-moving-average-column-selected,
	.dataTable table.ao-moving-average-mode .ao-column-selected.ao-moving-average-column-selected,
	.dataTable .ao-moving-average-mode .ao-cell-selected.ao-moving-average-column-selected,
	.dataTable table.ao-moving-average-mode .ao-cell-selected.ao-moving-average-column-selected,
	.dataTable table.ao-moving-average-mode td.ao-row-selected.ao-column-selected.ao-moving-average-column-selected{background:black;color:#fff;}
	
	/*AVG MODE - SELECTIONS*/
	.dataTable .ao-average-mode.ao-table-selected.ao-average-column-selected, 
	.dataTable table.ao-average-mode .ao-table-selected.ao-average-column-selected,
	.dataTable .ao-average-mode .ao-row-selected.ao-average-column-selected,
	.dataTable table.ao-average-mode .ao-row-selected.ao-average-column-selected,
	.dataTable .ao-average-mode .ao-column-selected.ao-average-column-selected,
	.dataTable table.ao-average-mode .ao-column-selected.ao-average-column-selected,
	.dataTable .ao-average-mode .ao-cell-selected.ao-average-column-selected,
	.dataTable table.ao-average-mode .ao-cell-selected.ao-average-column-selected,
	.dataTable table.ao-average-mode td.ao-row-selected.ao-column-selected.ao-average-column-selected{background:red;color:#fff;}
	
	/*SUM MODE - SELECTIONS*/
	.dataTable .ao-summatory-mode.ao-table-selected.ao-summatory-column-selected, 
	.dataTable table.ao-summatory-mode .ao-table-selected.ao-summatory-column-selected,
	.dataTable .ao-summatory-mode .ao-row-selected.ao-summatory-column-selected,
	.dataTable table.ao-summatory-mode .ao-row-selected.ao-summatory-column-selected,
	.dataTable .ao-summatory-mode .ao-column-selected.ao-summatory-column-selected,
	.dataTable table.ao-summatory-mode .ao-column-selected.ao-summatory-column-selected,
	.dataTable .ao-summatory-mode .ao-cell-selected.ao-summatory-column-selected,
	.dataTable table.ao-summatory-mode .ao-cell-selected.ao-summatory-column-selected,
	.dataTable table.ao-summatory-mode td.ao-row-selected.ao-column-selected.ao-summatory-column-selected{background:blue;color:#fff;}
	
	/*TOTALS MODE - SELECTIONS*/
	.dataTable .ao-totals-mode.ao-table-selected.ao-totals-column-selected, 
	.dataTable table.ao-totals-mode .ao-table-selected.ao-totals-column-selected,
	.dataTable .ao-totals-mode .ao-row-selected.ao-totals-column-selected,
	.dataTable table.ao-totals-mode .ao-row-selected.ao-totals-column-selected,
	.dataTable .ao-totals-mode .ao-column-selected.ao-totals-column-selected,
	.dataTable table.ao-totals-mode .ao-column-selected.ao-totals-column-selected,
	.dataTable .ao-totals-mode .ao-cell-selected.ao-totals-column-selected,
	.dataTable table.ao-totals-mode .ao-cell-selected.ao-totals-column-selected,
	.dataTable table.ao-totals-mode td.ao-row-selected.ao-column-selected.ao-totals-column-selected{background:brown;color:#fff;}

/*COMPUTE CELLS*/
.dataTable table .ao-compute-cell{background:#eee;color:#999;text-shadow:0 1px 0 #fff;text-transform:uppercase;border-left-width:2px;}
.dataTable table .ao-row-button.ao-no-select, 
.dataTable table .ao-column-button.ao-no-select{background:#eee;color:#929798;font-weight:normal;cursor:default;font-weight:bold;}
.dataTable table .ao-column-button.ao-no-select{border-left-width:2px;}
.dataTable table .ao-compute-row .ao-compute-cell, 
.dataTable table .ao-row-button.ao-no-select{border-left-width:1px;border-top-width:2px;}
.dataTable table .ao-compute-row .ao-intersection-compute-cell{border-left-width:2px;}
	
	/*ADVANCED MODE - COMPUTE CELLS*/
	.dataTable .ao-advanced-mode.ao-table-selected .ao-compute-cell, 
	.dataTable table.ao-advanced-mode .ao-table-selected.ao-compute-cell,
	.dataTable .ao-advanced-mode .ao-row-selected.ao-compute-cell,
	.dataTable table.ao-advanced-mode .ao-row-selected.ao-compute-cell,
	.dataTable .ao-advanced-mode .ao-column-selected.ao-compute-cell,
	.dataTable table.ao-advanced-mode .ao-column-selected.ao-compute-cell,
	.dataTable .ao-advanced-mode .ao-cell-selected.ao-compute-cell,
	.dataTable table.ao-advanced-mode .ao-cell-selected.ao-compute-cell,
	.dataTable table.ao-advanced-mode td.ao-row-selected.ao-column-selected.ao-compute-cell{background:#eee;}

/*BUTTONS*/
.dataTable table .ao-row-button{padding:1px 7px;}
.dataTable table .ao-cell-button{background:#8cb311;}
.dataTable table .ao-table-button, 
.dataTable table .ao-column-button, 
.dataTable table .ao-row-button{background:#cec8ca url(/static/core/images/dataServicePublisher/dg_cell.gif) 0 0 repeat-x;color:#929798;text-shadow:0 1px 0 #fff;text-transform:uppercase;vertical-align:center;cursor:pointer;}
.dataTable table .ao-table-button,
.dataTable table .ao-row-button{width:54px;padding-left:0;padding-right:0;}
.dataTable table th.ao-no-select,
.dataTable table .ao-row-button.ao-no-select{width:44px;padding-left:0;padding-right:10px;}

	/*HOVERS and SELECTED - BUTTONS*/
	.dataTable table .ao-table-button:hover, 
	.dataTable table .ao-column-button:hover,
	.dataTable table .ao-row-button:hover,
	.dataTable table .ao-table-selected.ao-table-button, 
	.dataTable table th.ao-column-selected.ao-column-button, 
	.dataTable table th.ao-row-selected.ao-row-button{background:#fff url(/static/core/images/dataServicePublisher/dg_cell_over.gif) 0 0 repeat-x;color:#010101;border:1px solid #d7d6d1;font-weight:bold;}

	/*ADVANCED MODE - BUTTONS*/
	.dataTable table.ao-advanced-mode .ao-table-button.ao-table-selected, 
	.dataTable table.ao-advanced-mode .ao-column-button.ao-table-selected, 
	.dataTable table.ao-advanced-mode .ao-row-button.ao-table-selected,
	.dataTable table.ao-advanced-mode .ao-table-button.ao-row-selected, 
	.dataTable table.ao-advanced-mode .ao-column-button.ao-row-selected, 
	.dataTable table.ao-advanced-mode .ao-row-button.ao-row-selected,
	.dataTable table.ao-advanced-mode .ao-table-button.ao-column-selected, 
	.dataTable table.ao-advanced-mode .ao-column-button.ao-column-selected, 
	.dataTable table.ao-advanced-mode .ao-row-button.ao-column-selected, 
	
		/*HEADERS MODE - BUTTONS*/
		.dataTable table.ao-headers-mode th.ao-row-button.ao-row-selected{background:#cec8ca url(/static/core/images/dataServicePublisher/dg_cell.gif) 0 0 repeat-x;color:#929798;text-shadow:0 1px 0 #fff;text-transform:uppercase;vertical-align:center;cursor:pointer;}
		.dataTable table.ao-headers-mode th.ao-row-button:hover, 
		.dataTable table.ao-headers-mode th.ao-headers-row-selected.ao-row-button{background:#fff url(/static/core/images/dataServicePublisher/dg_cell_over.gif) 0 0 repeat-x;color:#010101;border:1px solid #d7d6d1;font-weight:bold;}
		
			/*HEADERS MODE - NO HOVERS*/
			.dataTable table.ao-headers-mode .ao-table-button, 
			.dataTable table.ao-headers-mode .ao-column-button,
			/*.dataTable table.ao-headers-mode .ao-row-button,*/
			.dataTable table.ao-headers-mode .ao-table-button:hover, 
			.dataTable table.ao-headers-mode .ao-column-button:hover,
			.dataTable table.ao-headers-mode .ao-table-button.ao-table-selected, 
			.dataTable table.ao-headers-mode .ao-column-button.ao-table-selected, 
			.dataTable table.ao-headers-mode .ao-table-button.ao-row-selected, 
			.dataTable table.ao-headers-mode .ao-column-button.ao-row-selected, 
			.dataTable table.ao-headers-mode .ao-table-button.ao-column-selected, 
			.dataTable table.ao-headers-mode .ao-column-button.ao-column-selected, 
			
		/*FILTER MODE - NO HOVER - BUTTONS*/
		.dataTable table.ao-filter-mode .ao-table-button, 
		.dataTable table.ao-filter-mode .ao-column-button,
		.dataTable table.ao-filter-mode .ao-row-button,
		.dataTable table.ao-filter-mode .ao-table-button:hover, 
		.dataTable table.ao-filter-mode .ao-column-button:hover,
		.dataTable table.ao-filter-mode .ao-row-button:hover,
		.dataTable table.ao-filter-mode .ao-table-button.ao-table-selected, 
		.dataTable table.ao-filter-mode .ao-column-button.ao-table-selected, 
		.dataTable table.ao-filter-mode .ao-row-button.ao-table-selected,
		.dataTable table.ao-filter-mode .ao-table-button.ao-row-selected, 
		.dataTable table.ao-filter-mode .ao-column-button.ao-row-selected, 
		.dataTable table.ao-filter-mode .ao-row-button.ao-row-selected,
		.dataTable table.ao-filter-mode .ao-table-button.ao-column-selected, 
		.dataTable table.ao-filter-mode .ao-column-button.ao-column-selected, 
		.dataTable table.ao-filter-mode .ao-row-button.ao-column-selected, 
		
		/*ALIASES MODE - NO HOVER - BUTTONS*/
		.dataTable table.ao-aliases-mode .ao-table-button, 
		.dataTable table.ao-aliases-mode .ao-column-button,
		.dataTable table.ao-aliases-mode .ao-row-button,
		.dataTable table.ao-aliases-mode .ao-table-button:hover, 
		.dataTable table.ao-aliases-mode .ao-column-button:hover,
		.dataTable table.ao-aliases-mode .ao-row-button:hover,
		.dataTable table.ao-aliases-mode .ao-table-button.ao-table-selected, 
		.dataTable table.ao-aliases-mode .ao-column-button.ao-table-selected, 
		.dataTable table.ao-aliases-mode .ao-row-button.ao-table-selected,
		.dataTable table.ao-aliases-mode .ao-table-button.ao-row-selected, 
		.dataTable table.ao-aliases-mode .ao-column-button.ao-row-selected, 
		.dataTable table.ao-aliases-mode .ao-row-button.ao-row-selected,
		.dataTable table.ao-aliases-mode .ao-table-button.ao-column-selected, 
		.dataTable table.ao-aliases-mode .ao-column-button.ao-column-selected, 
		.dataTable table.ao-aliases-mode .ao-row-button.ao-column-selected{background:#eee;color:#999;cursor:default;}
	
/*CELL HOVERS*/
.dataTable table td div:hover{border:1px solid #ef7f10;cursor:pointer;padding:0px 9px;}
.dataTable table td.ao-cell-selected div:hover{border-color:#21920e;}
.dataTable table .ao-table-selected div:hover{border-color:#fc9b18;cursor:default;}
.dataTable table .ao-row-selected div:hover{border-color:#fcde15;cursor:default;}
.dataTable table .ao-column-selected div:hover{border-color:#9dd20c;cursor:default;}
.dataTable table .ao-cell-selected div:hover,
.dataTable table td.ao-row-selected.ao-column-selected div:hover{border-color:#21920e;cursor:default;}

	/*HEADERS - NO HOVER*/
	.dataTable table.ao-headers-mode td div,
	.dataTable table.ao-headers-mode .ao-table-selected div:hover,
	.dataTable table.ao-headers-mode .ao-row-selected div:hover,
	.dataTable table.ao-headers-mode .ao-column-selected div:hover,
	.dataTable table.ao-headers-mode .ao-cell-selected div:hover,
	.dataTable table.ao-headers-mode td.ao-row-selected.ao-column-selected div:hover,
	
	/*FILTER - NO HOVER*/
	.dataTable table.ao-filter-mode td div,
	.dataTable table.ao-filter-mode .ao-table-selected div:hover,
	.dataTable table.ao-filter-mode .ao-row-selected div:hover,
	.dataTable table.ao-filter-mode .ao-column-selected div:hover,
	.dataTable table.ao-filter-mode .ao-cell-selected div:hover,
	.dataTable table.ao-filter-mode td.ao-row-selected.ao-column-selected div:hover,
	
	/*COMPUTE - NO HOVER*/
	.dataTable table .ao-compute-cell div:hover,
	
	/*ALIASES - NO HOVER*/
	.dataTable table.ao-aliases-mode td div,
	.dataTable table.ao-aliases-mode .ao-table-selected div:hover,
	.dataTable table.ao-aliases-mode .ao-row-selected div:hover,
	.dataTable table.ao-aliases-mode .ao-column-selected div:hover,
	.dataTable table.ao-aliases-mode .ao-cell-selected div:hover,
	.dataTable table.ao-aliases-mode td.ao-row-selected.ao-column-selected div:hover{border:0;cursor:default;padding:1px 10px;}

/*FILTERS*/
.dataTable table .ao-filter-row{border:0;}
.dataTable table .ao-filter-row th{border-top:1px solid #fff;border-right:1px solid #fff;border-left:1px solid #fff;height:23px;vertical-align:top;}
.dataTable table .ao-filter-row th a{background:url(/static/core/images/common/ic_actions.png) no-repeat 0 -640px;display:block;height:20px;width:21px;margin:0 auto;text-indent:10000px;overflow:hidden;}
.dataTable table .ao-filter-row th a:hover{background-position:0 -660px;}

	/*ALIAS FIELD*/
	.aliasField{border:1px solid #ddd;font-size:11px;width:120px;padding:2px 5px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin:5px 0;}
	.shadowText{color:#aaa;font-style:italic;}
	
	/*Filter Tooltip*/
	.ao-filter-tooltip{display:none;z-index:13000;width:230px;position:relative;border:5px solid #f3f3f3;margin:0;-moz-border-radius:10px;-webkit-border-radius:10px;}
	.ao-filter-tooltip .In{border:1px solid #dfdddd;-moz-border-radius:5px;-webkit-border-radius:5px;background:#fff url(/static/core/images/common/dg_Tooltip.gif) repeat-x 0 bottom;padding:11px 10px 7px;position:relative;line-height:14px;font-size:12px;word-wrap:break-word;}
	.ao-filter-tooltip h3{color:#4d4d4d;font-weight:bold;font-size:12px;text-decoration:none;padding-bottom:4px;}
	.ao-filter-tooltip .close{position:absolute;top:3px;right:3px;}                   
	.ao-filter-tooltip p{color:#5b5a5a;padding-bottom:4px;}
	.ao-filter-tooltip .Punta{width:20px;height:19px;background:url(/static/core/images/common/fd_PuntaTooltipBottom.png) no-repeat 0 0;position:absolute;bottom:-18px;left:104px;}
					 
	/*Filter Row*/
	.ao-filter-row .Icon{background:url(/static/core/images/common/ic_actions.png) no-repeat 0 0;width:16px;height:20px;display:block;}
	.ao-filter-row .ic_Menu{background-position:0 -640px;width:21px;/*margin:0 auto;*/}
	.ao-filter-row .FR{float:right;}
	.ao-filter-row .ic_Menu:hover{background-position:0 -660px;text-decoration:none;}
	.ao-filter-row .ic_Menu:hover span{display:none;}

	/*Add Filter*/
	.ao-filter-tooltip{width:auto;border:7px solid #989898;border:7px solid rgba(0, 0, 0, .4);-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;position:absolute;}
	.ao-filter-tooltip .ao-inner{border:1px solid #e2e0e0;-moz-border-radius:5px;-webkit-border-radius:5px;background:#fff;padding:0;position:relative;}
	.ao-filter-tooltip .CLose{position:absolute;background:url(/static/core/images/common/ic_Cerrar.png) no-repeat 0 0;width:30px;height:30px;top:-14px;right:-12px;cursor:pointer;}
	.ao-filter-tooltip .ao-inner:first-child h2, 
	body div table tr.ao-filter-row td .ao-filter-tooltip .ao-inner:first-child h2{padding:0 18px;height:48px;line-height:48px;font-size:20px;font-weight:bold;color:#4d4d4d;background:url(/static/core/images/common/dg_CajaSlider.gif) repeat-x 0 bottom;border-bottom:1px solid #ccc;text-transform:normal;font-family:Arial, Helvetica, sans-serif;}
	.ao-filter-tooltip .ao-wrapper{padding:10px 15px;}
	.ao-filter-tooltip h3{font-size:12px;font-weight:bold;color:#4d4d4d;padding-bottom:10px;}
	.ao-filter-tooltip table{margin-bottom:15px;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
	.ao-filter-tooltip table tbody tr td, 
	.ao-filter-tooltip table td{border:0;padding:0 5px 10px;vertical-align:top;}
	.ao-filter-tooltip label{text-align:left;font:normal Arial, Helvetica, sans-serif 12px;color:#767676;padding-top:6px;display:block;width:80px;}
	.ao-filter-tooltip label.second{width:10px;text-align:center;}
	.ao-filter-tooltip .ao-field{-moz-border-radius:3px;-webkit-border-radius:3px;background:#fff;border:1px solid #e2e0e0;font:normal 12px Arial, Helvetica, sans-serif;}
	.ao-filter-tooltip input.ao-field{height:22px;padding:1px 5px 0 5px;}
	.ao-filter-tooltip select.ao-field{padding:4px;width:125px;}
	.ao-filter-tooltip select.ao-field.second{width:98px;}
	.ao-filter-tooltip .ao-punta{background:url(/static/core/images/common/fd_puntaTolltipFiltro.png) no-repeat 0 0;width:21px;height:30px;position:absolute;top:10px;left:-21px;}
	/*.ao-filter-tooltip.lastFilter .ao-punta{background:url(/static/core/images/dashboardManager/ic_arrowStepByStep.png) no-repeat right -30px;left:auto;right:-29px;width:29px;}*/
	.ao-filter-tooltip .ao-punta{background:url(/static/core/images/dashboardManager/ic_arrowStepByStep.png) no-repeat right -30px;left:auto;right:-29px;width:29px;}
	.ao-filter-tooltip .close{position:absolute;background:url(/static/core/images/common/ic_Cerrar.png) no-repeat 0 0;width:30px;height:30px;top:10px;right:8px;cursor:pointer;text-indent:10000px;line-height:500px;overflow:hidden;outline:none;}
	.ao-filter-tooltip .center a{margin:0 5px;}
	.ao-filter-tooltip .center a.link{height:28px;line-height:28px;}