/*HEADER*/
.header{background:#ef7f10 url(/static/core/images/common/gr_header.gif) repeat-x 0 0;border-bottom:4px solid #c56b12;width:100%;position:relative;z-index:2000;}
.header .innerHeader{width:950px;margin:0 auto;padding-right:10px;height:41px;}

	/*LOGO*/
	.header .logo{margin-right:1px;display:block;}
	.header .logo img{width:77px;height:41px;}

	/*SEARCH BOX*/
	.header .searchBar{padding-top:5px;margin-right:20px;}
	.header .searchBar fieldset{display:block;background:url(/static/core/images/common/bg_searchBar.gif) no-repeat 0 0;float:left;width:232px;height:31px;}
	.header .searchBar .field{background:transparent;border:0;height:auto;color:#a0a0a0;font-size:14px;font-style:italic;width:185px;padding:7px 0 7px 10px;float:left;}
	.header .searchBar .searchButton{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";width:35px;height:31px;overflow:hidden;cursor:pointer;float:right;border:0;padding:0;}

	/*TABS*/
	.header .headerTabs, 
	.header .headerTabs .tab{background:url(/static/core/images/common/gr_tabSeparator.gif) no-repeat right 0;padding-right:2px;}
	.header .headerTabs li a{padding:0 12px;margin-top:1px;height:40px;line-height:40px;display:block;
        -webkit-transition:all 0.30s ease-in-out;
           -moz-transition:all 0.30s ease-in-out;
            -ms-transition:all 0.30s ease-in-out;
             -o-transition:all 0.30s ease-in-out;
                transition:all 0.30s ease-in-out;
    }
	.header .headerTabs li a:hover{text-decoration:none;}
	.header .headerTabs .notTab a{color:#fce5cf;font-size:11px;}
	.header .headerTabs .notTab a strong{text-decoration:underline;font-weight:normal;}
	.header .headerTabs .notTab a:hover strong{text-decoration:none;}
	.header .headerTabs .notTab a span{color:#f8c796;}
	.header .headerTabs .tab{position:relative;background-position:0 0;padding:0 0 0 2px;}
	.header .headerTabs .tab .tabInner{font-size:14px;color:#ffeed9;text-shadow:0 1px 0 #8f4d0c;font-weight:bold;}
	.header .headerTabs .tab .tabInner:hover,
	.header .headerTabs .tab.active .tabInner,
	.header .headerTabs .tab.active .tabInner:hover{background-color:#e57a11;}
    .header .headerTabs .tab.active .tabInner,
    .header .headerTabs .tab.active .tabInner:hover{color:#fff;}
	.header .headerTabs .tab .img{padding:1px;background:#AC651D;display:block;height:24px;position:absolute;top:7px;left:11px;border-bottom:1px solid #f5ac64;overflow:hidden;}
	.header .headerTabs .tab .subMenu .img{left:9px;top:6px;}
	.header .headerTabs .tab .img img{width:22px;height:22px;padding:1px;background:#fff;}
	.header .headerTabs .arrow .imgTxt{padding-left:33px;white-space:nowrap;text-overflow:ellipsis;max-width:120px;overflow: hidden;}
	.header .headerTabs .tab .tabInner .arrow,  
	.header .headerTabs .tab .subMenu dt .arrow{padding-right:13px;display:block;background:url(/static/core/images/common/ic_tabArrow.gif) no-repeat right -1px;}
	.header .headerTabs .tab .tabInner:hover .arrow{background-position:right -42px;}
	.header .headerTabs .tab.active .tabInner .arrow,
	.header .headerTabs .tab.active .tabInner:hover .arrow{background-position:right -165px;} 
	.header .headerTabs .tab .subMenu dt .arrow{background-position:right -83px;}

    /*ICONS*/
    .header .headerTabs .accountAdminTab .tabInner{background:url(/static/core/images/common/ic_settings.png) no-repeat center center;width:20px;}
	
	/*SUB MENU*/
	.header .headerTabs .tab .subMenu{display:none;position:absolute;top:41px;left:0;border:1px solid #ef7f10;border-top:0;background:#e57b12 url(/static/core/images/common/gr_submenu.gif) 0 bottom repeat-x;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;-moz-box-shadow:0 1px 1px rgba(202, 76, 12, 0.54);-webkit-box-shadow:0 1px 1px rgba(202, 76, 12, 0.54);box-shadow:0 1px 1px rgba(202, 76, 12, 0.54);}
	.header .headerTabs .tab .subMenu dl{background:#e57b12 url(/static/core/images/common/gr_submenuInner.gif) 0 bottom repeat-x;margin:0 1px 1px;padding:3px 0;}
	.header .headerTabs .tab .subMenu dt{background:#e57a12;padding:0 12px;height:40px;line-height:40px;display:block;float:left;position:absolute;top:-41px;left:0;margin-top:1px;}
	.header .headerTabs .tab .subMenu dt .arrow{font-size:14px;color:#fff;text-shadow:0 1px 0 #c56b12;}
	.header .headerTabs .tab.active .subMenu dt .arrow{font-weight:bold;}
	.header .headerTabs .tab .subMenu dd{white-space:nowrap;clear:both;margin:1px 3px;border-bottom:1px dashed #f5ac64;}
	.header .headerTabs .tab .subMenu dd:last-child{border:0;margin-bottom:0;}
	.header .headerTabs .tab .subMenu dd a{line-height:normal;font-size:11px;height:auto;padding:1px 6px;line-height:15px;color:#5c330b;margin-bottom:1px;}
	.header .headerTabs .tab .subMenu dd a:hover{background:#f5ac64;color:#000;}
	
	/*SUB MENU - MY ACCOUNT and SIGN IN*/
	.header .headerTabs #id_account_option .subMenu{left:auto;right:-1px;}
	.header .headerTabs #id_account_option .subMenu dt{left:auto;right:0;}
    .header .headerTabs #id_account_option .subMenu dt#id_signInButton{ cursor: pointer; }

	/*SUB MENU - SIGN IN*/
	.header .headerTabs .signInForm{padding-top:2px;}
	.header .headerTabs .signInForm .row{margin-bottom:10px;}
	.header .headerTabs .signInForm .rowField{background:url(/static/core/images/common/fd_inputSignInHeader.gif) no-repeat 0 0;height:31px;width:162px;}
	.header .headerTabs .signInForm .rowField .field{border:0;background:transparent;color:#a0a0a0;font-size:12px;font-style:italic;padding-top:7px;width:140px;padding-bottom:7px;}
	.header .headerTabs .signInForm .rowField .formErrorMessageContainer{position:relative;}
	.header .headerTabs .signInForm .rowActions .genericButton{float:left;width:57px;height:24px;font-size:12px;font-weight:normal;background-position:0 -2px;padding-left:0;padding-right:0;margin-right:5px;}
	.header .headerTabs .signInForm .rowActions .genericButton:hover{background-position:0 -30px;}
	.header .headerTabs .signInForm .rowActions .checkbox{float:left;display:block;padding-top:4px;}
	.header .headerTabs .signInForm .rowActions .checkbox input{position:relative;top:-1px;float:left;}
	.header .headerTabs .signInForm .rowActions .checkbox label{font-size:11px;color:#5c330b;float:left;padding-left:1px;}
	
/*IE MESSAGE*/
.ieMsg{background:#ffd800;color:#000;line-height:15px;border-bottom:1px solid #C56B12;padding:5px 0;}

/*ONLINE SUPPORT*/
.header .onlineSupport{height:33px;padding:7px 10px 0;}
.header .onlineSupport a.genericButton.arrowButton{-webkit-box-shadow:0 1px 0 0 #f5ac64;-moz-box-shadow:0 1px 0 0 #f5ac64;box-shadow:0 1px 0 0 #f5ac64;}
.header .onlineSupport a.genericButton.arrowButton span{background:none;padding-right:8px;}
