/*RESET*/
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dd, dl, dt, form, legend, label, fieldset, legend, address, center, acronym, iframe, blockquote{margin:0;padding:0;font-style:normal;font-weight:normal;list-style:none;}
html{background:#707070;}
body{font:12px/15px Arial, Helvetica, sans-serif;background:#fff;color:#777;}
a, span{word-wrap:break-word;}
img, fieldset, iframe{border:0;}
a{text-decoration:none;color:#0862a2;}
a:hover{text-decoration:underline;}
input, select, textarea{font:12px Arial, Helvetica, sans-serif;outline:none;}
textarea{margin:0;resize:none;}
table{border-spacing:0;}
table, tr, td, th, tbody, thead, tfoot, caption{border:0;margin:0;padding:0;border-collapse:collapse;word-wrap:break-word;}
blockquote{quotes:none;}
blockquote:before, blockquote:after{content:'';content:none;}

/*CLEARFIX*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

/*COMMON STYLES*/
.neuton{font-family:neuton;}
.DN{display:none;}
p.tip{font-size:11px;line-height:13px;color:#A2A1A1;padding-top:7px;}
.asterix{font-weight:normal;display:inline-block;font-style:normal;color:#F25665 !important;padding:0 2px;}
.FL{float:left;}
.FR{float:right;}
.center{text-align:center;}
.ao-disabled,
.disabled{visibility:hidden;}
.relativeContainer,
.relative{position:relative;}
.absolute{position:absolute;}
.backLink{padding-left:15px;background:url(/static/core/images/common/ic_next-prev.gif) no-repeat 0 -15px;font-size:11px;}
.normalLink{font-size:11px;}
.imageText{overflow:hidden;line-height:500px;text-indent:10000px;}
.w960{width:940px;padding-left:10px;padding-right:10px;margin:0 auto;}
.border-box{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*TRANSPARENCY FADE - for texts*/
.transparency{position:absolute;right:0;top:0;background:url(/static/core/images/common/dg_transparency.png) repeat-y 0 0;width:20px;height:15px;}

/*SHADOWS*/
.borderShadow{background:url(/static/core/images/dashboardManager/sb_stepByStep.gif) no-repeat center 0;padding:15px 0 0;margin-top:15px;}
.boxShadow{padding:0 0 30px;background:url(/static/core/images/common/shadow.png) center bottom no-repeat;}
.backShadow{background:url(/static/core/images/common/sh_boxes.png) no-repeat;}

/*HEADINGS
h2{font-size:22px;color:gray;font-weight:bold;}
h3{font-size:14px;font-weight:bold;}*/

/*CURVES*/
.cv{background:no-repeat;position:absolute;overflow:hidden;}
.tl{background-position:0 0;top:0;left:0;}
.tr{background-position:right 0;top:0;right:0;}
.bl{background-position:0 bottom;left:0;bottom:0;}
.br{background-position:right bottom;bottom:0;right:0;}