/*STRUCTURE*/
/*.wrapper{background:#fff;width:100%;min-width:998px;}*/
.layout{width:100%;min-width:998px;min-height:480px;}
/*.innerWrapper,
.fixedWidth940,*/
.w960{margin:0 auto;width:940px;padding-left:10px;padding-right:10px;}
/*.content-container{border:0;background-color:white;min-height:480px;padding-bottom:20px;}*/

/*COLUMNS
.columns{padding:20px 0 0;}
.CL{float:left;width:620px;}
.CR{float:right;width:280px;padding-left:28px;position:relative;background:url(../../images/common/sb_CR.gif) repeat-y 0 0;min-height:200px;}
.CR .cv{background-image:url(../../images/common/sb_CRcv.gif);width:11px;height:110px;}*/

/*COLUMNS*/
.columns{}
.columns .CL{float:left;width:620px;}
.columns .CR{float:right;width:300px;}

/*FEEDBACK TAB*/
/*body #uservoice-feedback a#uservoice-feedback-tab{top:50% !important;}*/
