{% extends 'base_workspace.html' %}
{% load i18n extra_tags core_components components compress staticfiles sass_tags %}

{% block meta %}

{# CSS #}
{% compress css %}
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-paginator.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-text-cell.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-filter.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/visualizationForm.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/manageCommon.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/manageDataviews.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}

{# JS Libs and Plugins #}
<script type="text/javascript" src="/js_core/plugins/jquery.client.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/imagesPreLoader.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backbone_paginator/backbone.paginator.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid/backgrid.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid_paginator/backgrid-paginator.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-text-cell/backgrid-text-cell.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-select-all/backgrid-select-all.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-filter/backgrid-filter.min.js"></script>
<script type="text/javascript" src="/js_core/plugins/nicEdit/nicEdit-2014.js"></script>

{# JS for this screen #}


{# Left Navigation Selected Option #}
<meta name="main-option" content="id_visualizations_option"/>
{% endblock %}

{% block sectionTitle %}
<h1>{% trans "APP-VISUALIZATIONS-TEXT" %}</h1>
<div class="bulk-actions FL clearfix " style="display:none;">
   <select id="id_bulkActions" class="FL">
      <option selected="selected" value="">{% trans 'APP-BULKACTIONS-TEXT' %}</option>
      <!-- <option value="edit">{% trans 'APP-EDIT-TEXT' %}</option> -->
      <option value="delete">{% trans 'APP-DELETE-TEXT' %}</option>
   </select>
   <button id="id_applyBulkActions" class="button black small FL" disabled>{% trans 'APP-APPLY-TEXT' %}</button>
</div>
<ul class="actions FR">
   <li><a id="id_addNewButton" class="button black small" title="{% trans 'APP-ADDNEW-TEXT' %}"><i class="new"></i>{% trans 'APP-ADDNEW-TEXT' %}</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="manager" id="id_manageVisualizations">

  <div class="wrapper1">
    <div class="wrapper2 clearfix">
      <div class="wrapper3">

        <!-- Filters -->
        <section class="filters-view"></section>

        <!-- List -->
        {% include "manageVisualizations/list.html" %}

      </div>
    </div>
  </div>

  <!-- Loading -->
  <div class="loading">{% trans 'APP-LOADING-TEXT' %}</div>

</div>

<!-- No results -->
<div class="no-results-view hidden">
  <div class="zeroResults">
    <div class="zeroIcon zeroVisualizations"></div>
    <p>{% trans 'APP-ZERO-VISUALIZATIONS-TEXT' %}</p>
  </div>
  <div class="startAdding">
    <div class="startAddingArrows startDataviews"></div>
    <p class="first">{% trans 'APP-START-ADDING-TEXT' %}</p>
    <p class="second">{% trans 'APP-START-ADDING-NEW-DATAVIEW-TEXT' %}</p>
  </div>
</div>

{% endblock %}

{% block bottom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    var manageVisualizationsView =  new ManageVisualizationsView({
      dataViewCreationStepsUrl: "{% url 'manageVisualizations.create' %}",
      sourceUrl: '/source_manager/action_search',
      tagUrl: '/tag_manager/action_search',
      filters: {{filters|jsonify}}
    });
  });
</script>

{# templates backbone #}
{% include "manageVisualizations/templates.html" %}
{% endblock %}

{% block popupsOverlay %}
{% include "manageVisualizations/overlays.html" %}
{% endblock %}