{% extends 'base_workspace.html' %}
{% load i18n extra_tags core_components components compress staticfiles sass_tags %}

{% block meta %}

{# CSS #}
{% compress css %}
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-paginator.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-text-cell.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/plugins/backgrid/backgrid-filter.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'core/styles/visualizationForm.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/manageCommon.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% sass_src 'workspace/styles/manageVisualizations.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}

{# JS Libs and Plugins #}
<script type="text/javascript" src="/js_core/plugins/jquery.client.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/imagesPreLoader.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jshashtable-2.1.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/plugins/jquery.numberformatter-1.2.3.min.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backbone_paginator/backbone.paginator.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_core/libs/backgrid/backgrid.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid_paginator/backgrid-paginator.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-text-cell/backgrid-text-cell.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-select-all/backgrid-select-all.min.js"></script>
<script type="text/javascript" src="/js_core/libs/backgrid-filter/backgrid-filter.min.js"></script>
<script type="text/javascript" src="/js_core/plugins/nicEdit/nicEdit-2014.js"></script>

{# JS for this screen #}
<script src="{% static 'workspace/scripts/manageVisualizations/resourceItemModel.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/datastreamItemModel.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/datastreamItemView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/manageVisualizationsModel.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/manageVisualizationsView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/manageDatastreamsOverlayView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/datastreamCellView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/titleCellView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/visualizationCellView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/filtersView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/listResources.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/listDatastreams.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/deleteItemView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/affectedResourcesModel.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/affectedResourcesCollectionView.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/affectedResourcesCollection.js' %}"></script>
<script src="{% static 'workspace/scripts/manageVisualizations/affectedResourcesView.js' %}"></script>

{# Left Navigation Selected Option #}
<meta name="main-option" content="id_visualizations_option"/>
{% endblock %}

{% block sectionTitle %}

<div class="context-menu clearfix">
  
  <!-- Column Left -->
  <div class="col-xs-7">    
    
    <h1>{% trans "APP-VISUALIZATIONS-TEXT" %} <span class="total-resources"></span></h1>

  </div>

  <!-- Column Right -->
  <div class="col-xs-5 context-buttons clearfix">
    
    <a id="id_addNewButton" class="button primary FR" title="{% trans 'APP-ADDNEWVISUALIZATION-TEXT' %}">{% trans 'APP-ADDNEWVISUALIZATION-TEXT' %}</a>

  </div>

</div>

{% endblock %}

{% block content %}

  <div class="manager" id="id_manageVisualizations" style="display: {% if stats.account_total_visualizations > 0 %} block {% else %} none; {% endif %}">

    <div class="wrapper1">
      <div class="wrapper2 clearfix">
        <div class="wrapper3">

          <!-- Filters -->
          <section class="filters-view col-xs-2"></section>

          <!-- List -->
          {% include "manageVisualizations/list.html" %}

        </div>
      </div>
    </div>

    <!-- Loading -->
    <div class="loading">{% trans 'APP-LOADING-TEXT' %}</div>

  </div>

  <!-- No results -->
  <div class="no-results-view col-xs-12" style="display: {% if stats.account_total_visualizations == 0 %} block {% else %} none; {% endif %}">
    <div class="zeroResults">
      <div class="zeroIcon zeroVisualizations"></div>
      <p>{% trans 'APP-ZERO-VISUALIZATIONS-TEXT' %}</p>
    </div>
    <div class="startAdding">
      <div class="startAddingArrows startDataviews"></div>
      <p class="first">{% trans 'APP-START-ADDING-TEXT' %}</p>
      <p class="second">{% trans 'APP-START-ADDING-NEW-VISUALIZATION-TEXT' %}</p>
    </div>
  </div>

{% endblock %}

{% block bottom_js %}
<script type="text/javascript">
  $(document).ready(function(){

    var manageVisualizationsModel =  new ManageVisualizationsModel({
      total_resources: {{ stats.account_total_visualizations }}
    });

    var manageVisualizationsView =  new ManageVisualizationsView({
      model: manageVisualizationsModel,
      visualizationCreationStepsUrl: "{% url 'manageVisualizations.create' %}",
      sourceUrl: '/rest/sources.json',
      tagUrl: '/rest/tags.json',
      filters: {{filters|jsonify}}
    });
  });
</script>

{# templates backbone #}
{% include "manageVisualizations/templates.html" %}
{% endblock %}

{% block popupsOverlay %}
{% include "manageVisualizations/overlays.html" %}
{% endblock %}