{% load i18n extra_tags core_components components %}

<div class="col-xs-12">

    <header>
        <h3 id="id_dataHeader">{% trans "CREATE-STEP3-SUBTITLE" %}</h3>

        <div class="navigation FR">
            <a id="id_step2PrevButton" href="javascript:;" title="{% trans 'BTN-BACK-TEXT' %}" class="button alpha back">{% trans 'BTN-BACK-TEXT' %}</a>
            <a id="id_step2NextButton" title="{% trans 'BTN-NEXT-TEXT' %}" href="javascript:;" class="button primary next">{% trans "BTN-NEXT-TEXT" %}</a>
        </div>  
    </header>

    <!-- COLUMNS -->
    <div class="columns clearfix">

        <div class="CL formContent">

            <!-- CAJA DATOS -->
    		<div id="id_operation_container" class="dataStreamForm">
    			{% if datastream_id %}
    				{% dataStreamForm  is_update_selection datastream_id '' auth_manager preferences meta_data %}
    			{% else %}
    				{% dataStreamForm is_update_selection '' data_set_id auth_manager preferences meta_data %}				
    			{% endif %}
    			
    		</div>

        </div>


        <!-- COLUMN - Right -->
        <div class="CR"></div>

    </div>

</div>