{% load i18n extra_tags core_components components %}

<script type="text/template" id="select_data_template">
  <div class="col-xs-3">
    <div class="sidebar">
      <% if (args.length !== 0) {%>
      <div class="title">{% trans 'APP-DATASET-PARAMETERS' %}</div>
      <div class="form-group">
        <% _(args).each(function(arg, index){ %>
          <p> <%= arg.name %>: <a class="edit-arg" data-name="<%= arg.name %>"> <%= arg.value %></a></p>
        <% }); %>
      </div>
      <% } %>

      <% if (tables.length > 1) {%>
      <div class="title">{% trans 'APP-SELECT-DATASET-TABLE' %}</div>
      <div class="form-group">
        <select class="form-control select-table">
          <% _(tables).each(function(table){ %>
            <option value="<%= table %>">Hoja número <%= table %></option>
          <% }); %>
        </select>
      </div>
      <% } %>

      <div class="selection-view">
      </div>

      <div class="row headers-options-view">
      </div>
    </div>
  </div>

  <div class="col-xs-9 data-table-view">
    <div class="table-view">
    </div>
  </div>
</script>

<script type="text/template" id="metadata_view_template">
  <header>
    <h3 id="id_dataHeader">Cuéntanos sobre que se trata tu vista.
      <span>Los campos con (<span class="required">*</span>) son obligatorios.</span>
    </h3>
  </header>
  <div class="columns clearfix">

    <div class="CL formContent">

      <fieldset>

        <div class="row clearfix">
          <label for="title">{% trans "APP-TITLE-TEXT" %}</label>
          <input type="text" class="title" name="title" maxlength="80" data-bind="" autofocus="autofocus">
          <span class="required">*</span>
          <!-- <p class="has-error validate-msg">{% trans 'VALIDATE-REQUIREDFIELD-TEXT' %}</p> -->
        </div>

        <div class="row clearfix">
          <label for="description">{% trans "APP-DESCRIPTION-TEXT" %}</label>
          <input type="text" class="description" name="description" maxlength="140" data-bind="">
          <span class="required">*</span>
          <!-- <p class="has-error validate-msg">{% trans 'VALIDATE-REQUIREDFIELD-TEXT' %}</p> -->
        </div>

      </fieldset>

      <hr class="separator">

      <div class="row clearfix">
        <label for="">{% trans "APP-SOURCES-TEXT" %}:</label>
        <div>
          <input name="source-name" type="text" class="input-source" maxlength="80"/>
          <p class="tip">{% trans "EDITDS-SOURCE-TIP1" %} <a class="add-source">{% trans "EDITDS-SOURCE-TIP2" %}</a>.</p>
          <div class="sourcesContent sources-view">
          </div>
        </div>
      </div>

      <div class="edit-source-view"></div>

      <div class="tags-view"></div>

      <hr class="separator">

      <div class="params-view"></div>

      <fieldset class="form clearfix">

        <div class="row clearfix notes-field">
          <label for="id_notes_2">{% trans "APP-NOTES-TEXT" %}</label>
          <div class="textarea clearfix FL">
            <textarea id="id_notes_2" class="notes" maxlength="2048"></textarea>
          </div>
        </div>

      </fieldset>

    </div>

  </div>
</script>

<script type="text/template" id="edit_source_template">
  <h6>{% trans "APP-ADDNEWSOURCE-TEXT" %}</h6>
  <div class="row clearfix">
    <label for="">{% trans "MODEL-NAME-TEXT" %}:</label>
    <input class="source__name" name="source__name" type="text" maxlength="80"/>
  </div>
  <div class="row clearfix">
    <label for="">{% trans "MODEL-URL-TEXT" %}:</label>
    <input class="source__url" name="source__url" type="text"/>
  </div>
  <a class="button primary small btn-add" title="{% trans 'APP-ADD-TEXT' %}"><span>{% trans "APP-ADD-TEXT" %}</span></a>
</script>

<script type="text/template" id="sources_template">
  <% _.each(sources, function (source, index) { %>
  <div class="tag">
    <span class="tagInner clearfix">
      <span class="tagTxt"><%= source.source__name %></span>
      <a class="remove" data-index="<%= index %>"><span class="DN">{% trans 'APP-REMOVE-TEXT' %}</span></a>
    </span>
  </div>
  <% }); %>
</script>

<script type="text/template" id="tags_template">
  <div class="row clearfix">
    <label for="input-tag">{% trans "APP-TAGS-TEXT" %}:</label>
    <div>
      <input name="input-tag" type="text" class="input-tag" maxlength="40"/>
      <p class="tip">{% trans "OVEDITDS-TAGS-TIP" %}.</p>
      <div class="tagsContent tags-collection-view"></div>
    </div>
  </div>
</script>

<script type="text/template" id="tags_collection_template">
  <% _.each(tags, function (tag, index) { %>
    <div class="tag">
      <span class="tagInner clearfix">
        <span class="tagTxt"><%= tag.tag__name %></span>
        <a class="remove" data-index="<%= index %>"><span class="DN">{% trans 'APP-REMOVE-TEXT' %}</span></a>
      </span>
    </div>
  <% }); %>
</script>

<script type="text/template" id="params_template">
  <h3>{% trans "APP-DSWEBSERVICE-TEXT" %}</h3>

    <% _.each(args, function(arg, index) { %>
      <div class="row clearfix">
        <label for="input-tag">{% trans "WEBSERVICE-ORIGINALARG-TEXT" %}:</label>
        <div>
          <input class="form-control" name="input-tag" type="text" maxlength="40" value="<%= arg.name %>" disabled="disabled"/>
        </div>
      </div>

      <div class="row clearfix">
        <label for="name">{% trans "WEBSERVICE-NEW-NAME-LABEL" %}:</label>
        <div>
          <input class="form-control" name="mappedName" type="text" maxlength="40" value="<%= arg.mappedName %>" data-index="<%= index %>" <%= !arg.editable? 'disabled': '' %>/>
        </div>
      </div>

      <div class="row clearfix">
        <label for="value">{% trans "WORKSPACE-PARAM-DEFAULT" %}:</label>
        <div>
          <input class="form-control" name="value" type="text" maxlength="40" value="<%= arg.value %>" data-index="<%= index %>" <%= !arg.editable? 'disabled': '' %>/>
        </div>
      </div>

      <hr class="separator">
    <% }); %>
</script>

<script type="text/template" id="preview_dataview_template">
  <header>
    <h3>Asegurate que todo va bien con tu vista.
      <span class="txt">Para archivos extensos mostramos aquí sólo hasta 100 filas. Podrás verlo completo al finalizar.</span>
    </h3>
  </header>

  <div class="col-xs-12 preview-datastream">
    <table>
      <thead>
      </thead>
      <tbody>
        <% _.each(rowsRaw, function(cells, row) { %>
          <tr>
            <!-- <th><%= row + 1 %></th> -->
            <% _.each(cells, function(cell, col) { %>
              <% if (!_.isUndefined(cell.fHeader) && cell.fHeader) { %>
                <th><%= cell.fStr %></th>
              <% } else { %>
                <td><%= cell.fStr %></td>
              <% }%>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
    </div>
  </div>

</script>

<script type="text/template" id="step_bar_template">
  <div class="col-xs-8">
    <h1 class="sub-heading">{% trans 'APP-ACTIONS-CREATEVIEW' %}</h1>

    <div class="buttons_view_container">
      <ul class="buttons-bar">
        <li class="step step0">
          <a>{% trans 'APP-DATA-SELECTION-TEXT' %}</a>
        </li>
        <li class="step step1">
          <a>{% trans 'APP-DESCRIPTION-TEXT' %}</a>
        </li>
        <li class="step step2">
          <a>{% trans 'APP-REVISION-TEXT' %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 context-buttons clearfix">
    <div class="pull-right">
      <% if (step === 0) {%>
      <a href="/dataviews/" class="button alpha">Cancelar</a>
      <% } else { %>
      <a class="button alpha back btn-prev">Retroceder</a>
      <% } %>
      <% if (step < 2) {%>
      <a class="button primary next btn-next">Continuar</a>
      <% } %>
      <% if (step === 2) {%>
        <a class="button primary btn-save">Guardar</a>
      <% } %>
    </div>
  </div>
</script>

<script type="text/template" id="selection_template">

  <% if (state.mode === 'data') {%>

    <div class="title">{% trans 'DSCRE-SIDEBAR-COLLECTTITLE' %}</div>

    <% if (total == 0) { %>
      <p>{% trans 'APP-CREATE-DATAVIEW-DATA-SELECTION-TIP-TEXT' %}</p>
    <% } %>

    <% if (columns.length > 0) { %>
      <div class="hot-sel-col">
        <p>{% trans 'APP-COLS-TEXT' %} <a class="btn-clear" data-mode="col">x</a></p>
      </div>
    <% } %>

    <% if (rows.length > 0) { %>
      <div class="hot-sel-row">
        <p>{% trans 'APP-ROWS-TEXT' %} <a class="btn-clear" data-mode="row">x</a></p>
      </div>
    <% } %>

    <% if (cells.length > 0) { %>
      <div class="hot-sel-cell">
        <p>{% trans 'APP-SELECTION-TEXT' %} <a class="btn-clear" data-mode="cell">x</a></p>
      </div>
    <% } %>

    <% if (headers.length > 0) { %>
      <div class="hot-sel-header">
        <p>{% trans 'APP-HEADERS-TEXT' %} <a class="btn-clear" data-mode="header">x</a></p>
      </div>
    <% } %>

    <% if (filters.length > 0) { %>
      <div class="hot-sel-4">
        <p>{% trans 'APP-FILTERS-TEXT' %}</p>
        <ul>
        <% _.each(filters, function (item) { %>
          <li>{% trans 'APP-COLUMN-TEXT' %} <%= item.excelCol %> <a class="btn-clear" data-col="<%= item.column %>" data-mode="filter">x</a></li>
        <% }); %>
        </ul>
      </div>
    <% } %>

    <% if (formats.length > 0) { %>
      <div class="hot-sel-4">
        <p>{% trans 'APP-COL-FORMAT-TEXT' %}</p>
        <ul>
        <% _.each(formats, function (item) { %>
          <li>{% trans 'APP-COLUMN-TEXT' %} <%= item.excelCol %> <a class="btn-clear" data-col="<%= item.column %>" data-mode="format">x</a></li>
        <% }); %>
        </ul>
      </div>
    <% } %>

    <% if (total > 0) { %>

      <hr>

      <div class="title">{% trans 'APP-ADVANCED-MODE-TEXT' %}</div>

      <ul>
        <li><a class="btn-headers">{% trans 'APP-SELECT-TABLE-HEADERS-TEXT' %}</a></li>
        <li><a class="btn-filters">{% trans 'APP-FILTER-DATA-TEXT' %}</a></li>
        <li><a class="btn-formats">{% trans 'APP-CONFIG-DATA-TYPE-AND-COLUMN-FORMAT-TEXT' %}</a></li>
      </ul>

    <% } %>

  <% } %>
</script>

<script type="text/template" id="headers_options_template">

  <div class="row">

    <button class="button small alpha back btn-back FL"></button>
    <div class="title">{% trans 'APP-TABLE-HEADERS-TEXT' %}</div>
    <p>{% trans 'APP-CREATE-DATAVIEW-TABLE-HEADERS-TIP-TEXT' %}</p>

    <div class="center">
      <button class="button small red btn-clear">{% trans 'APP-CLEAR-TEXT' %}</button>
      <button class="button small primary btn-ok">{% trans 'APP-DONE-TEXT' %}</button>
    </div>

  </div>
</script>

<script type="text/template" id="filters_options_template">

  <button class="button small alpha back btn-back FL"></button>
  <div class="title">{% trans 'APP-FILTER-DATA-TEXT' %}</div>
  <p><strong>{% trans 'APP-ADD-NEW-FILTER-TEXT' %}</strong></p>

  <div class="form-group">
    <label>{% trans 'APP-COLUMN-TEXT' %}</label>
    <select class="form-control select-column">
        <option value="">{% trans 'APP-SELECT-TEXT' %}...</option>
        <% _(columns).each(function(column){ %>
          <option value="<%= column.index %>">{% trans 'APP-COLUMN-TEXT' %} <%= column.label %></option>
        <% }); %>
    </select>
  </div>

  <div class="row-operator hidden">
    <div class="form-group">
      <label>{% trans 'APP-OPERATION-TEXT' %}</label>
      <select class="form-control select-operator">
          <option value="">{% trans 'APP-SELECT-TEXT' %}...</option>
          <option value="00">{% trans 'APP-EQUAL-TO-TEXT' %}</option>
          <option value="01">{% trans 'APP-NOT-EQUAL-TO-TEXT' %}</option>
          <option value="02">{% trans 'APP-HIGHER-THAN-TEXT' %}</option>
          <option value="03">{% trans 'APP-LOWER-THAN-TEXT' %}</option>
          <option value="04">{% trans 'APP-CONTAINS-TEXT' %}</option>
      </select>
    </div>
  </div>

  <div class="row-value-type hidden">
    <div class="form-group">
      <label>{% trans 'APP-OPERATOR-TEXT' %}</label>
      <select class="form-control select-value-type">
          <option value="">{% trans 'APP-SELECT-TEXT' %}...</option>
          <option value="fixed">{% trans 'APP-FIXED-VALUE-TEXT' %}</option>
          <option value="parameter">{% trans 'APP-PARAMETER-TEXT' %}</option>
      </select>
    </div>
  </div>

  <div class="row-fixed-value hidden">
    <p><strong>{% trans 'APP-CONFIGURE-OPERATOR-TEXT' %}</strong></p>
    <div class="form-group">
      <label>{% trans 'APP-ENTER-A-FIXED-VALUE-TEXT' %}</label>
      <input class="form-control" type="text" name="default">
    </div>
  </div>

  <div class="row-parameter hidden">
    <p><strong>{% trans 'APP-CONFIGURE-OPERATOR-TEXT' %}</strong></p>
    <div class="form-group">
      <label>{% trans 'APP-PARAMETER-NAME-TEXT' %}</label>
      <input class="form-control" type="text" name="name">
    </div>
    <div class="form-group">
      <label>{% trans 'APP-DESCRIPTION-TEXT' %} ({% trans 'APP-OPTIONAL-TEXT' %})</label>
      <textarea class="form-control" name="description"></textarea>
    </div>
    <div class="form-group">
      <label>{% trans 'WORKSPACE-PARAM-DEFAULT' %}</label>
      <input class="form-control" type="text" name="default">
    </div>
  </div>

  <div class="center">
    <button class="button small red btn-clear">{% trans 'APP-CLEAR-TEXT' %}</button>
    <button class="button small primary btn-ok">{% trans 'APP-DONE-TEXT' %}</button>
  </div>
</script>

<script type="text/template" id="formats_template">

  <button class="button small alpha back btn-back FL"></button>
  <div class="title">{% trans 'APP-CONFIG-DATA-TYPE-AND-COLUMN-FORMAT-TEXT' %}</div>
  <p><strong>{% trans 'APP-CONFIGURE-A-COLUMN-TEXT' %}</strong></p>

  <div class="form-group">
    <label for="column">{% trans 'APP-COLUMN-TEXT' %}</label>
    <select class="form-control select-column" name="column">
        <option value="">{% trans 'APP-SELECT-TEXT' %}...</option>
        <% _(columns).each(function(column){ %>
          <option value="<%= column.index %>">{% trans 'APP-COLUMN-TEXT' %} <%= column.label %></option>
        <% }); %>
    </select>
  </div>

  <div class="row row-data-type hidden">
    <div class="form-group">
      <label>{% trans 'APP-COLUMN-DATA-TYPE-TEXT' %}</label>
      <select class="form-control select-data-type" name="type">
          <option value="TEXT">{% trans 'APP-TEXT-TEXT' %}</option>
          <option value="NUMBER">{% trans 'APP-NUMBER-TEXT' %}</option>
          <option value="DATE">{% trans 'APP-DATE-TEXT' %}</option>
      </select>
    </div>
  </div>

  <div class="input-output-view hidden">

    <p><strong>Configure el formato</strong></p>
    <div role="separator" class="divider divider-xs"></div>

    <div class="tabs hash-tabs">
      <article class="tab-container">

        <nav class="tab-nav tab-nav-sm" role="tablist">
          <ul>
            <li>
              <a href="#formatorigin" id="0" role="tab" aria-selected="true" aria-expanded="true" aria-controls="#formatorigin" tab-index="0">Formato origen</a>
            </li>
            <li>
              <a href="#formatoutput" id="1" role="tab" aria-selected="false" aria-expanded="false" aria-controls="#formatoutput" tab-index="-1">Formato salida</a>
            </li>
          </ul>
        </nav>

        <div role="separator" class="divider divider-xs"></div>

        <div class="tab-pane-container">

          <section id="formatorigin" role="tabpanel" aria-labeledby="0" style="display: block;">

            <div class="row-value-type">
              <div class="form-group">
                <label>Cual es el patrón del formato de origen?</label>
                <div class="input-pattern-view" name="inputPattern"></div>
              </div>
            </div>

            <div class="custom-origin-pattern hidden">
              <div class="form-group">
                <label>Patrón personalizado</label>
                <input class="form-control" type="text" name="inputCustomPattern">
              </div>
            </div>

            <div class="form-group clearfix symbols-locale-option">
              <label>Indicadores de miles / decimales</label>

                <div class="list-group">

                  <div class="list-group-item">
                    <div class="radio">
                      <label>
                        <input type="radio" name="separator" value="symbol" checked></input>
                        Symbols
                      </label>
                    </div>
                  </div>

                  <div class="list-group-item">
                    <div class="radio">
                      <label>
                        <input type="radio" name="separator" value="locale"></input>
                        Locale
                      </label>
                    </div>
                  </div>

                </div>

            </div>

            <div class="separators">

              <div class="form-group">
                  <label>Thousands indicator</label>
                  <select class="form-control thousand-separator" name="thousandSeparator">
                    <option value="" selected="selected">Select...</option>
                    <option value=".">. (dot)</option>
                    <option value=",">, (comma)</option>
                  </select>
              </div>

              <div class="form-group">
                  <label>Decimal indicator</label>
                  <select class="form-control decimal-separator" name="decimalSeparator">
                    <option value="" selected="selected">Select...</option>
                    <option value=".">. (dot)</option>
                    <option value=",">, (comma)</option>
                  </select>
              </div>

            </div>

            <div class="input-locale hidden">
              <div class="form-group">
                <label>Localización</label>
                <select class="form-control" name="inputLocale">
                  <option selected="selected" value="">Select...</option>
                  <option value="en">English</option>
                  <option value="en_us">English (United States)</option>
                  <option value="es">Spanish (Spain)</option>
                  <option value="es_mx">Spanish (Mexico)</option>
                  <option value="es_gt">Spanish (Guatemala)</option>
                  <option value="es_cr">Spanish (Costa Rica)</option>
                  <option value="es_pa">Spanish (Panama)</option>
                  <option value="es_do">Spanish (Dominican Republic)</option>
                  <option value="es_ve">Spanish (Venezuela)</option>
                  <option value="es_co">Spanish (Colombia)</option>
                  <option value="es_pe">Spanish (Peru)</option>
                  <option value="es_ar">Spanish (Argentina)</option>
                  <option value="es_ec">Spanish (Ecuador)</option>
                  <option value="es_cl">Spanish (Chile)</option>
                  <option value="es_uy">Spanish (Uruguay)</option>
                  <option value="es_py">Spanish (Paraguay)</option>
                  <option value="es_bo">Spanish (Bolivia)</option>
                  <option value="es_sv">Spanish (El Salvador)</option>
                  <option value="es_hn">Spanish (Honduras)</option>
                  <option value="es_ni">Spanish (Nicaragua)</option>
                  <option value="es_pr">Spanish (Puerto Rico)</option>
                  <option value="pt_br">Portuguese (Brazil)</option>
                  <option value="pt">Portuguese (Portugal)</option>
                  <option value="af">Afrikaans</option>
                  <option value="sq">Albanian</option>
                  <option value="ar_sa">Arabic (Saudi Arabia)</option>
                  <option value="ar_iq">Arabic (Iraq)</option>
                  <option value="ar_eg">Arabic (Egypt)</option>
                  <option value="ar_ly">Arabic (Libya)</option>
                  <option value="ar_dz">Arabic (Algeria)</option>
                  <option value="ar_ma">Arabic (Morocco)</option>
                  <option value="ar_tn">Arabic (Tunisia)</option>
                  <option value="ar_om">Arabic (Oman)</option>
                  <option value="ar_ye">Arabic (Yemen)</option>
                  <option value="ar_sy">Arabic (Syria)</option>
                  <option value="ar_jo">Arabic (Jordan)</option>
                  <option value="ar_lb">Arabic (Lebanon)</option>
                  <option value="ar_kw">Arabic (Kuwait)</option>
                  <option value="ar_ae">Arabic (U.A.E.)</option>
                  <option value="ar_bh">Arabic (Bahrain)</option>
                  <option value="ar_qa">Arabic (Qatar)</option>
                  <option value="eu">Basque (Basque)</option>
                  <option value="bg">Bulgarian</option>
                  <option value="be">Belarusian</option>
                  <option value="ca">Catalan</option>
                  <option value="zh_tw">Chinese (Taiwan)</option>
                  <option value="zh_cn">Chinese (PRC)</option>
                  <option value="zh_hk">Chinese (Hong Kong SAR)</option>
                  <option value="zh_sg">Chinese (Singapore)</option>
                  <option value="hr">Croatian</option>
                  <option value="cs">Czech</option>
                  <option value="da">Danish</option>
                  <option value="nl">Dutch (Standard)</option>
                  <option value="nl_be">Dutch (Belgium)</option>
                  <option value="en_gb">English (United Kingdom)</option>
                  <option value="en_au">English (Australia)</option>
                  <option value="en_ca">English (Canada)</option>
                  <option value="en_nz">English (New Zealand)</option>
                  <option value="en_ie">English (Ireland)</option>
                  <option value="en_za">English (South Africa)</option>
                  <option value="en_jm">English (Jamaica)</option>
                  <option value="en">English (Caribbean)</option>
                  <option value="en_bz">English (Belize)</option>
                  <option value="en_tt">English (Trinidad)</option>
                  <option value="et">Estonian</option>
                  <option value="fo">Faeroese</option>
                  <option value="fa">Farsi</option>
                  <option value="fi">Finnish</option>
                  <option value="fr">French (Standard)</option>
                  <option value="fr_be">French (Belgium)</option>
                  <option value="fr_ca">French (Canada)</option>
                  <option value="fr_ch">French (Switzerland)</option>
                  <option value="fr_lu">French (Luxembourg)</option>
                  <option value="gd">Gaelic (Scotland)</option>
                  <option value="ga">Irish</option>
                  <option value="de">German (Standard)</option>
                  <option value="de_ch">German (Switzerland)</option>
                  <option value="de_at">German (Austria)</option>
                  <option value="de_lu">German (Luxembourg)</option>
                  <option value="de_li">German (Liechtenstein)</option>
                  <option value="el">Greek</option>
                  <option value="he">Hebrew</option>
                  <option value="hi">Hindi</option>
                  <option value="hu">Hungarian</option>
                  <option value="is">Icelandic</option>
                  <option value="id">Indonesian</option>
                  <option value="it">Italian (Standard)</option>
                  <option value="it_ch">Italian (Switzerland)</option>
                  <option value="ja">Japanese</option>
                  <option value="ko">Korean</option>
                  <option value="ko">Korean (Johab)</option>
                  <option value="lv">Latvian</option>
                  <option value="lt">Lithuanian</option>
                  <option value="mk">Macedonian (FYROM)</option>
                  <option value="ms">Malaysian</option>
                  <option value="mt">Maltese</option>
                  <option value="no">Norwegian (Bokmal)</option>
                  <option value="no">Norwegian (Nynorsk)</option>
                  <option value="pl">Polish</option>
                  <option value="rm">Rhaeto-Romanic </option>
                  <option value="ro">Romanian</option>
                  <option value="ro_mo">Romanian (Republic of Moldova)</option>
                  <option value="ru">Russian</option>
                  <option value="ru_mo">Russian (Republic of Moldova)</option>
                  <option value="sz">Sami (Lappish)</option>
                  <option value="sr">Serbian (Cyrillic)</option>
                  <option value="sr">Serbian (Latin)</option>
                  <option value="sk">Slovak</option>
                  <option value="sl">Slovenian</option>
                  <option value="sb">Sorbian</option>
                  <option value="sx">Sutu</option>
                  <option value="sv">Swedish</option>
                  <option value="sv_fi">Swedish (Finland)</option>
                  <option value="th">Thai</option>
                  <option value="ts">Tsonga</option>
                  <option value="tn">Tswana</option>
                  <option value="tr">Turkish</option>
                  <option value="uk">Ukrainian</option>
                  <option value="ur">Urdu</option>
                  <option value="ve">Venda</option>
                  <option value="vi">Vietnamese</option>
                  <option value="xh">Xhosa</option>
                  <option value="ji">Yiddish</option>
                  <option value="zu">Zulu</option>
                </select>
              </div>
            </div>

          </section>

          <section id="formatoutput" role="tabpanel" aria-labeledby="1" style="display:none;">

            <div class="row-value-type">
              <div class="form-group">
                <label>Cual es el patrón del formato de salida?</label>
                <div class="display-pattern-view" name="outputPattern"></div>
              </div>
            </div>

            <div class="custom-display-pattern hidden">
              <div class="form-group">
              <label>Patrón personalizado</label>
                <input class="form-control" type="text" name="outputCustomPattern">
              </div>
            </div>

            <div class="number-display-locale">
              <div class="form-group">
                <label>Localización</label>
                <select class="form-control" name="numberDisplayLocale">
                  <option value="" selected="selected">Select...</option>
                  <option value="us">United States</option>
                  <option value="es">Spain &amp; Latam</option>
                  <option value="ae">Arab Emirates</option>
                  <option value="eg">Egypt</option>
                  <option value="il">Israel</option>
                  <option value="jp">Japan</option>
                  <option value="kr">South Korea</option>
                  <option value="th">Thailand</option>
                  <option value="cn">China</option>
                  <option value="hk">Hong Kong</option>
                  <option value="tw">Taiwan</option>
                  <option value="au">Australia</option>
                  <option value="ca">Canada</option>
                  <option value="gb">Great Britain</option>
                  <option value="in">India</option>
                  <option value="de">Germany</option>
                  <option value="vn">Vietnam</option>
                  <option value="dk">Denmark</option>
                  <option value="at">Austria</option>
                  <option value="gr">Greece</option>
                  <option value="br">Brazil</option>
                  <option value="cz">Czech</option>
                  <option value="fr">France</option>
                  <option value="fi">Finland</option>
                  <option value="ru">Russia</option>
                  <option value="se">Sweden</option>
                  <option value="ch">Switzerland</option>
                </select>
              </div>
            </div>

            <div class="date-display-locale">
              <div class="form-group">
                <label>Localización</label>
                <select class="form-control" name="dateDisplayLocale">
                  <option selected="selected" value="">Select...</option>
                  <option value="en">English</option>
                  <option value="en_us">English (United States)</option>
                  <option value="es">Spanish (Spain)</option>
                  <option value="es_mx">Spanish (Mexico)</option>
                  <option value="es_gt">Spanish (Guatemala)</option>
                  <option value="es_cr">Spanish (Costa Rica)</option>
                  <option value="es_pa">Spanish (Panama)</option>
                  <option value="es_do">Spanish (Dominican Republic)</option>
                  <option value="es_ve">Spanish (Venezuela)</option>
                  <option value="es_co">Spanish (Colombia)</option>
                  <option value="es_pe">Spanish (Peru)</option>
                  <option value="es_ar">Spanish (Argentina)</option>
                  <option value="es_ec">Spanish (Ecuador)</option>
                  <option value="es_cl">Spanish (Chile)</option>
                  <option value="es_uy">Spanish (Uruguay)</option>
                  <option value="es_py">Spanish (Paraguay)</option>
                  <option value="es_bo">Spanish (Bolivia)</option>
                  <option value="es_sv">Spanish (El Salvador)</option>
                  <option value="es_hn">Spanish (Honduras)</option>
                  <option value="es_ni">Spanish (Nicaragua)</option>
                  <option value="es_pr">Spanish (Puerto Rico)</option>
                </select>
              </div>
            </div>

          </section>

        </div>

      </article>
    </div>

  </div>

  <div class="center">
    <button class="button small red btn-clear">{% trans 'APP-CLEAR-TEXT' %}</button>
    <button class="button small primary btn-ok">{% trans 'APP-DONE-TEXT' %}</button>
  </div>
</script>

<script type="text/template" id="pattern_template">
  <select class="form-control" name="pattern">
    <option value="" selected="selected">Select...</option>
    <% if (type === 'NUMBER') { %>
      <option value="#,###">#,###</option>
      <option value="$ #,###">$ #,###</option>
      <option value="#,###.##">#,###.##</option>
      <option value="$ #,###.##">$ #,###.##</option>
    <% } else if (type === 'DATE' && subtype === 'input') { %>
      <option value="yyyy/MM/dd">yyyy/MM/dd</option>
      <option value="yyyy-MM-dd">yyyy-MM-dd</option>
      <option value="dd/MM/yyyy">dd/MM/yyyy</option>
      <option value="dd-MM-yyyy">dd-MM-yyyy</option>
      <option value="M/dd/yyyy">M/dd/yyyy</option>
      <option value="M-dd-yyyy">M-dd-yyyy</option>
    <% } else if (type === 'DATE' && subtype === 'output') { %>
      <option value="yy/mm/dd">yy/mm/dd</option>
      <option value="yy-mm-dd">yy-mm-dd</option>
      <option value="dd/mm/yy">dd/mm/yy</option>
      <option value="dd-mm-yy">dd-mm-yy</option>
      <option value="mm/dd/yy">mm/dd/yy</option>
      <option value="mm-dd-yy">mm-dd-yy</option>
    <% }%>
    <option value="custom">Custom</option>
  </select>
</script>

<script type="text/template" id="date_pattern_template">
  <select class="form-control" name="pattern">
    <option value="" selected="selected">Select...</option>
    <option value="#,###">#,###</option>
    <option value="$ #,###">$ #,###</option>
    <option value="#,###.##">#,###.##</option>
    <option value="$ #,###.##">$ #,###.##</option>
    <option value="custom">Custom</option>
  </select>
</script>

<script type="text/template" id="number_output_template">
  <select class="form-control">
    <option value="" selected="selected">Select...</option>
    <option value="us">United States</option>
    <option value="es">Spain &amp; Latam</option>
    <option value="ae">Arab Emirates</option>
    <option value="eg">Egypt</option>
    <option value="il">Israel</option>
    <option value="jp">Japan</option>
    <option value="kr">South Korea</option>
    <option value="th">Thailand</option>
    <option value="cn">China</option>
    <option value="hk">Hong Kong</option>
    <option value="tw">Taiwan</option>
    <option value="au">Australia</option>
    <option value="ca">Canada</option>
    <option value="gb">Great Britain</option>
    <option value="in">India</option>
    <option value="de">Germany</option>
    <option value="vn">Vietnam</option>
    <option value="dk">Denmark</option>
    <option value="at">Austria</option>
    <option value="gr">Greece</option>
    <option value="br">Brazil</option>
    <option value="cz">Czech</option>
    <option value="fr">France</option>
    <option value="fi">Finland</option>
    <option value="ru">Russia</option>
    <option value="se">Sweden</option>
    <option value="ch">Switzerland</option>
  </select>
</script>

<script type="text/template" id="edit_arguments_overlay_template">
  <div class="ao-popup-overlay">
    <a class="close btn-cancel"></a>
    <div class="argumentsOverlay">
      <div class="In clearfix">
        <div>
          <h4>{% trans "APP-EDITPARAM-TEXT" %}</h4>

          <p class="info">{% trans "OVERLAY-PARAM-TIP" %}</p>

          <div class="form clearfix">
            <form action="" onsubmit="return false" autocomplete="off" novalidate="">
              <div class="row">
                <label for="param"><%= arg.name %></label>
                <input name="param" type="text" size="30" value="<%= arg.value %>" class="field">
              </div>
            </form>
          </div>

          <div class="buttons center">
          <a class="button btn-cancel" title="{% trans 'APP-CANCEL-TEXT' %}">{% trans "APP-CANCEL-TEXT" %}</a>
          <a class="button primary btn-accept" title="{% trans 'APP-DONE-TEXT' %}"><span>{% trans "APP-DONE-TEXT" %}</span></a> 
          </div>

        </div>
      </div>
    </div>
  </div>
</script>