{% load i18n extra_tags core_components components %}

<script type="text/template" id="select_data_template">
  <div class="col-xs-3">
    <% if (tables.length > 1) {%>
    <h2>Página / Tabla del dataset</h2>
    <select class="select-table">
      <% _(tables).each(function(table){ %>
        <option value="<%= table %>">Hoja número <%= table %></option>
        <% }); %>
    </select>
    <% } %>

    <div class="row selection-view">
    </div>

    <div class="row headers-options-view">
    </div>
  </div>

  <div class="col-xs-9 data-table-view">
    <div class="table-view">
    </div>
  </div>
</script>

<script type="text/template" id="metadata_view_template">
  <header>
    <h3 id="id_dataHeader">Cuéntanos sobre que se trata tu vista.
      <span>Los campos con (<span class="required">*</span>) son obligatorios.</span>
    </h3>
  </header>
  <div class="columns clearfix">

    <div class="CL formContent">

      <fieldset>

        <div class="row clearfix">
          <label for="title">{% trans "APP-TITLE-TEXT" %}</label>
          <input type="text" class="title" name="title" maxlength="80" data-bind="" autofocus="autofocus">
          <span class="required">*</span>
          <!-- <p class="has-error validate-msg">{% trans 'VALIDATE-REQUIREDFIELD-TEXT' %}</p> -->
        </div>

        <div class="row clearfix">
          <label for="description">{% trans "APP-DESCRIPTION-TEXT" %}</label>
          <input type="text" class="description" name="description" maxlength="140" data-bind="">
          <span class="required">*</span>
          <!-- <p class="has-error validate-msg">{% trans 'VALIDATE-REQUIREDFIELD-TEXT' %}</p> -->
        </div>

      </fieldset>

      <hr class="separator">

      <div class="row clearfix">
        <label for="">{% trans "APP-SOURCES-TEXT" %}:</label>
        <div>
          <input name="source-name" type="text" class="input-source" maxlength="80"/>
          <p class="tip">{% trans "EDITDS-SOURCE-TIP1" %} <a class="add-source">{% trans "EDITDS-SOURCE-TIP2" %}</a>.</p>
          <div class="sourcesContent sources-view">
          </div>
        </div>
      </div>

      <div class="edit-source-view"></div>

      <div class="tags-view"></div>

      <hr class="separator">

      <div class="params-view"></div>

      <fieldset class="form clearfix">

        <div class="row clearfix notes-field">
          <label for="id_notes_2">{% trans "APP-NOTES-TEXT" %}</label>
          <div class="textarea clearfix FL">
            <textarea id="id_notes_2" class="notes" maxlength="2048"></textarea>
          </div>
        </div>

      </fieldset>

    </div>

  </div>
</script>

<script type="text/template" id="edit_source_template">
  <h6>{% trans "APP-ADDNEWSOURCE-TEXT" %}</h6>
  <div class="row clearfix">
    <label for="">{% trans "MODEL-NAME-TEXT" %}:</label>
    <input class="source__name" name="source__name" type="text" maxlength="80"/>
  </div>
  <div class="row clearfix">
    <label for="">{% trans "MODEL-URL-TEXT" %}:</label>
    <input class="source__url" name="source__url" type="text"/>
  </div>
  <a class="button primary small btn-add" title="{% trans 'APP-ADD-TEXT' %}"><span>{% trans "APP-ADD-TEXT" %}</span></a>
</script>

<script type="text/template" id="sources_template">
  <% _.each(sources, function (source, index) { %>
  <div class="tag">
    <span class="tagInner clearfix">
      <span class="tagTxt"><%= source.source__name %></span>
      <a class="remove" data-index="<%= index %>"><span class="DN">{% trans 'APP-REMOVE-TEXT' %}</span></a>
    </span>
  </div>
  <% }); %>
</script>

<script type="text/template" id="tags_template">
  <div class="row clearfix">
    <label for="input-tag">{% trans "APP-TAGS-TEXT" %}:</label>
    <div>
      <input name="input-tag" type="text" class="input-tag" maxlength="40"/>
      <p class="tip">{% trans "OVEDITDS-TAGS-TIP" %}.</p>
      <div class="tagsContent tags-collection-view"></div>
    </div>
  </div>
</script>

<script type="text/template" id="tags_collection_template">
  <% _.each(tags, function (tag, index) { %>
    <div class="tag">
      <span class="tagInner clearfix">
        <span class="tagTxt"><%= tag.tag__name %></span>
        <a class="remove" data-index="<%= index %>"><span class="DN">{% trans 'APP-REMOVE-TEXT' %}</span></a>
      </span>
    </div>
  <% }); %>
</script>

<script type="text/template" id="params_template">
  <h3>{% trans "APP-DSWEBSERVICE-TEXT" %}</h3>

    <% _.each(args, function(arg, index) { %>
      <div class="row clearfix">
        <label for="input-tag">{% trans "WEBSERVICE-ORIGINALARG-TEXT" %}:</label>
        <div>
          <input name="input-tag" type="text" class="input-tag" maxlength="40" value="<%= arg.name %>" disabled="disabled"/>
        </div>
      </div>

      <div class="row clearfix">
        <label for="name">{% trans "WEBSERVICE-NEW-NAME-LABEL" %}:</label>
        <div>
          <input name="mappedName" type="text" maxlength="40" value="<%= arg.mappedName %>" data-index="<%= index %>"/>
        </div>
      </div>

      <div class="row clearfix">
        <label for="value">{% trans "WORKSPACE-PARAM-DEFAULT" %}:</label>
        <div>
          <input name="value" type="text" maxlength="40" value="<%= arg.value %>" data-index="<%= index %>"/>
        </div>
      </div>
      
      <hr class="separator">
    <% }); %>
</script>

<script type="text/template" id="preview_dataview_template">
  <header>
    <h3>Asegurate que todo va bien con tu vista. 
      <span class="txt">Para archivos extensos mostramos aquí sólo hasta 100 filas. Podrás verlo completo al finalizar.</span>
    </h3>
  </header>

  <div class="col-xs-2 selection-controls-view">
    <p>placeholder para los metadatos</p>
  </div>
  <div class="col-xs-10">
    <h4>Tabla de datos</h4>
    <div class="table-container">
    </div>
  </div>
</script>

<script type="text/template" id="step_bar_template">
  <div class="col-xs-8">
    <h1 class="sub-heading">Crear una vista</h1>

    <div class="buttons_view_container">
      <ul class="buttons-bar">
        <li class="step step-0">
          <a title="Selección de datos">1. Selección de datos</a>
        </li>
        <% if (step > 0) {%>
        <li class="step step-1">
          <a title="Descripción">2. Descripción</a>
        </li>
        <% } %>
        <% if (step > 1) {%>
        <li class="step step-2">
          <a title="Revisión">3. Revisión</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 context-buttons clearfix">
    <div class="pull-right">
      <% if (step === 0) {%>
      <a href="/dataviews/" class="button alpha">Cancelar</a>
      <% } else { %>
      <a class="button alpha back btn-prev">Retroceder</a>
      <% } %>
      <% if (step < 2) {%>
      <a class="button primary next btn-next">Continuar</a>
      <% } %>
      <% if (step === 2) {%>
        <a class="button primary btn-save">Guardar</a>
      <% } %>
    </div>
  </div>
</script>

<script type="text/template" id="selection_template">

  <% if (state.mode === 'data') {%>

    <% if (total > 0) { %>
      <h2>Data selection</h2>
    <% } %>

    <% if (columns.length > 0) { %>
      <div class="row hot-sel-col">
        <h6>Columns</h6>
        <button class="button small btn-clear pull-right" data-mode="col">x</button>
        <span class="color"></span>
        <% _.each(columns, function (item) { %>
          <span><%= item.excelRange %>;</span>
        <% }); %>
      </div>
      <hr>
    <% } %>

    <% if (rows.length > 0) { %>
      <div class="row hot-sel-row">
        <h6>Rows</h6>
        <button class="button small btn-clear pull-right" data-mode="row">x</button>
        <span class="color"></span>
        <% _.each(rows, function (item) { %>
          <span><%= item.excelRange %>;</span>
        <% }); %>
      </div>
      <hr>
    <% } %>

    <% if (cells.length > 0) { %>
      <div class="row hot-sel-cell">
        <h6>Cells</h6>
        <button class="button small btn-clear pull-right" data-mode="cell">x</button>
        <span class="color"></span>
        <% _.each(cells, function (item) { %>
          <span><%= item.excelRange %>;</span>
        <% }); %>
      </div>
      <hr>
    <% } %>

    <% if (headers.length > 0) { %>
      <div class="row hot-sel-header">
        <h6>Headers</h6>
        <button class="button small btn-clear pull-right" data-mode="header">x</button>
        <span class="color"></span>
        <% _.each(headers, function (item) { %>
          <span><%= item.excelRange %>;</span>
        <% }); %>
      </div>
      <hr>
    <% } %>

    <% if (filters.length > 0) { %>
      <div class="row hot-sel-4">
        <h6>Filters</h6>
        <button class="button small btn-clear pull-right" data-mode="filter">x</button>
        <span class="color"></span>
        <% _.each(filters, function (item) { %>
          <span>column<%= item.column %>; <%= item.operator %></span>
        <% }); %>
      </div>
      <hr>
    <% } %>

    <% if (total > 0) { %>

      <hr>

      <h2>Advanced options</h2>

      <h6>Headers</h6>
      <button class="button small btn-headers">Set headers</button>
      <h6>Filters</h6>
      <button class="button small btn-filters">Add filter</button>
      <h6>Formats</h6>
      <button class="button small btn-formats">Set column formats</button>

    <% } %>

  <% } %>
</script>

<script type="text/template" id="headers_options_template">

  <button class="button small back btn-back">Atrás</button>

  <h2>Cabeceras de la tabla</h2>
  <p>Seleccionar las filas de la tabla que representan cabeceras</p>

  <button class="button small btn-ok">Ok</button>
  <button class="button small btn-clear">Limpiar</button>
</script>

<script type="text/template" id="filters_options_template">

  <button class="button small back btn-back">Atrás</button>

  <div class="row">
    <div class="col-xs-12">
      <h2>Filtrar datos</h2>
      <p>Agregar nuevo filtro</p>
      <select class="select-column">
          <option value="">Columna...</option>
          <% _(columns).each(function(column, i){ %>
            <option value="<%= i %>">Columna <%= column %></option>
          <% }); %>
      </select>  
    </div>
  </div>

  <div class="row row-operator hidden">
    <div class="col-xs-12">
      <select class="select-operator">
          <option value="">Operación...</option>
          <option value="00">Es igual a</option>
          <option value="01">No es igual a</option>
          <option value="02">Mayor que</option>
          <option value="03">Menor que</option>
          <option value="04">Contiene</option>
      </select>  
    </div>
  </div>

  <div class="row row-value-type hidden">
    <div class="col-xs-12">
      <select class="select-value-type">
          <option value="">Tipo de valor objetivo...</option>
          <option value="fixed">Valor fijo</option>
          <option value="parameter">Parámetro</option>
      </select>  
    </div>
  </div>

  <div class="row row-fixed-value hidden">
    <div class="col-xs-12">
      <input type="text" name="default" placeholder="Ingrese valor fijo">
    </div>
  </div>

  <div class="row row-parameter hidden">
    <div class="col-xs-12">
      <input type="text" name="name" placeholder="Nombre">
      <input type="text" name="description" placeholder="Descripción (opcional)">
      <input type="text" name="default" placeholder="Valor por defecto">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="button small btn-ok">Ok</button>
      <button class="button small btn-clear">Limpiar</button>
    </div>
  </div>
</script>

<script type="text/template" id="formats_template">

  <button class="button small back btn-back">Atrás</button>
  <h3>Data types and Formats</h3>

  <div class="row">
    <div class="col-xs-12">
      <h2>Filtrar datos</h2>
      <p>Agregar nuevo filtro</p>
      <label>Columna</label>
      <select class="select-column">
          <option value="">Columna...</option>
          <% _(columns).each(function(column, i){ %>
            <option value="<%= i %>">Columna <%= column %></option>
          <% }); %>
      </select>  
    </div>
  </div>

  <div class="row row-data-type hidden">
    <div class="col-xs-12">
    <label>Tipo de dato de la columna</label>
      <select class="select-data-type">
          <option value="00">Texto</option>
          <option value="01">Numero</option>
          <option value="02">Fecha</option>
      </select>  
    </div>
  </div>

  <h5><strong>Configure el formato de numero</strong></h5>

  <h4>Origen</h4>

  <div class="row row-value-type">
    <div class="col-xs-12">
      <label>Cual es el patrón del formato de origen?</label>
      <select class="select-value-type">
          <option value="">Tipo de valor objetivo...</option>
          <option value="fixed">Valor fijo</option>
          <option value="parameter">Personalizado</option>
      </select>  
    </div>
  </div>

  <div class="row row-fixed-value">
    <div class="col-xs-12">
    <label>Patrón personalizado</label>
      <input type="text" name="default" placeholder="Ingrese valor fijo">
    </div>
  </div>

  <div class="row row-value-type">
    <div class="col-xs-12">
      <label>Localización</label>
      <select class="select-value-type">
          <option value="">Seleccione...</option>
          <option value="AR">Argentina</option>
          <option value="CA">Canada</option>
      </select>  
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="button small btn-ok">Ok</button>
      <button class="button small btn-clear">Limpiar</button>
    </div>
  </div>
</script>
