{% load i18n extra_tags components %}

<div class="step start step-0-view">

	<div class="wrapper1">
	    <div class="wrapper2 clearfix">
	    	<div class="wrapper3">

	    		<div class="navCreator">

    				<ul>
    					<li class="heading">Gráficos</li>

    					<li class="active">Una comparación

    						<ul class="navCreatorPicker">
    							<li class="heading">En el tiempo</li>
    							<li class="line chart-type" data-type="linechart">
                                    <span class="icon icon-chart-line size-48"></span>
	    							<h4>Gráfico de línea</h4>
	    							<p>Como evoluciona uno o varios ítems a lo largo del tiempo</p>
    							</li>
    							<li class="area chart-type" data-type="areachart">
                                    <span class="icon icon-chart-area size-48"></span>
	    							<h4>Gráfico de áreas</h4>
	    							<p>Como evolucionan varios ítems a lo largo del tiempo</p>
    							</li>
    							<li class="heading">Entre ítems</li>
    							<li class="bar chart-type" data-type="barchart">
                                    <span class="icon icon-chart-bar size-48"></span>
	    							<h4>Gráfico de Barras</h4>
	    							<p>Una variable por barra, pocas categorías muchos ítems</p>
    							</li>
    							<li class="column chart-type" data-type="columnchart">
                                    <span class="icon icon-chart-column size-48"></span>
	    							<h4>Gráfico de Columnas</h4>
	    							<p>Una o pocas categorías/ítems</p>
    							</li>
    						</ul>

    					</li>
    					
    					<li>Una composición estática

    						<ul class="navCreatorPicker">
    							<li class="pie chart-type" data-type="piechart">
                                    <span class="icon icon-chart-pie size-48"></span>
	    							<h4>Gráfico de torta</h4>
	    							<p>Porcentajes que componen un total</p>
    							</li>
    						</ul>

    					</li>

    					<li class="heading">Mapas</li>

    					<li>Elementos en un mapa

    						<ul class="navCreatorPicker">
    							<li class="trace map-type" data-type="trace">
                                    <span class="icon icon-map-trace size-48"></span>
	    							<h4>Trazado</h4>
	    							<p>Draw geometries, lines or polygons usign GIS datasets</p>
    							</li>
    							<li class="marker map-type" data-type="marker">
                                    <span class="icon icon-map-marker size-48"></span>
	    							<h4>Marcadores</h4>
	    							<p>Pinpoint multiple locations using GIS datasets</p>
    							</li>
    							<li class="geo map-type" data-type="geo">
                                    <span class="icon icon-map-geo size-48"></span>
	    							<h4>Geopolítico</h4>
	    							<p>Identify countries, continents or markers with color scale density</p>
    							</li>
    						</ul>

    					</li>

    				</ul>

	    		</div>

			</div>
		</div>
	</div>
	
</div><!-- Main div -->
