{% load i18n extra_tags components %}

<div class="step start step-0-view">

	<div class="wrapper1">
	    <div class="wrapper2 clearfix">
	    	<div class="wrapper3">

	    		<div class="navCreator">

    				<ul>
    					<li class="heading">Gráficos</li>

    					<li>Una comparación

    						<ul class="navCreatorPicker">
    							<li class="heading">En el tiempo</li>
    							<li class="line chart-type" data-type="linechart">
	    							Gráfico de línea 
	    							<p>Como evoluciona uno o varios ítems a lo largo del tiempo</p>
    							</li>
    							<li class="area chart-type" data-type="areachart">
	    							Gráfico de áreas
	    							<p>Como evolucionan varios ítems a lo largo del tiempo</p>
    							</li>
    							<li class="heading">Entre ítems</li>
    							<li class="bars chart-type" data-type="barchart">
	    							Gráfico de Barras
	    							<p>Una variable por barra, pocas categorías muchos ítems</p>
    							</li>
    							<li class="cols chart-type" data-type="columnchart">
	    							Gráfico de Columnas
	    							<p>Una o pocas categorías/ítems</p>
    							</li>
    						</ul>

    					</li>
    					
    					<li>Una composición estática

    						<ul class="navCreatorPicker">
    							<li class="pie chart-type" data-type="piechart">
	    							Gráfico de torta
	    							<p>Porcentajes que componen un total</p>
    							</li>
    						</ul>

    					</li>

    					<li class="heading">Mapas</li>

    					<li>Elementos en un mapa

    						<ul class="navCreatorPicker">
    							<li class="trace chart-type" data-type="trace">
	    							Trazado
	    							<p>Draw geometries, lines or polygons usign GIS datasets</p>
    							</li>
    							<li class="marker chart-type" data-type="marker">
	    							Marcadores
	    							<p>Pinpoint multiple locations using GIS datasets</p>
    							</li>
    							<li class="geo chart-type" data-type="geo">
	    							Geopolítico
	    							<p>Identify countries, continents or markers with color scale density</p>
    							</li>
    						</ul>

    					</li>

    				</ul>

	    		</div>

			</div>
		</div>
	</div>
	
</div><!-- Main div -->
