{% load i18n extra_tags components %}

<div class="step start step-0-view navCreatorContainer">
    
    <h2>{% trans "APP-CREATE-VISUALIZATION-TEXT" %}</h2>
    <h1>{% trans "APP-CREATE-VISUALIZATION-TITLE" %}</h1>

	<div class="wrapper1">
	    <div class="wrapper2 clearfix">
	    	<div class="wrapper3">

	    		<div class="navCreator">

    				<ul>
    					<li class="heading">{% trans "APP-CREATE-CHARTS-TEXT" %}</li>

    					<li class="active">{% trans "APP-CREATE-VISUALIZATION-START-COMPARISON-TEXT" %}

    						<ul class="navCreatorPicker">
    							<li class="heading">{% trans "APP-CREATE-VISUALIZATION-START-COMPARISON-IN-TIME-TEXT" %}</li>
    							<li class="line chart-type" data-type="linechart">
                                    <span class="icon icon-chart-line size-48"></span>
	    							<h4>{% trans "APP-LINE-CHART-TEXT" %}</h4>
	    							<p>{% trans "APP-CREATE-VISUALIZATION-START-LINE-COMMENT-TEXT" %}</p>
    							</li>
    							<li class="area chart-type" data-type="areachart">
                                    <span class="icon icon-chart-area size-48"></span>
	    							<h4>{% trans "APP-AREA-CHART-TEXT" %}</h4>
	    							<p>{% trans "APP-CREATE-VISUALIZATION-START-AREA-COMMENT-TEXT" %}</p>
    							</li>
    							<li class="heading">{% trans "APP-CREATE-VISUALIZATION-START-COMPARISON-BETWEEN-ITEMS-TEXT" %}</li>
    							<li class="bar chart-type" data-type="barchart">
                                    <span class="icon icon-chart-bar size-48"></span>
	    							<h4>{% trans "APP-BAR-CHART-TEXT" %}</h4>
	    							<p>{% trans "APP-CREATE-VISUALIZATION-START-BAR-COMMENT-TEXT" %}</p>
    							</li>
    							<li class="column chart-type" data-type="columnchart">
                                    <span class="icon icon-chart-column size-48"></span>
                                    <h4>{% trans "APP-COLUMN-CHART-TEXT" %}</h4>
                                    <p>{% trans "APP-CREATE-VISUALIZATION-START-COLUMN-COMMENT-TEXT" %}</p>
    							</li>
    						</ul>

    					</li>
    					
    					<li>{% trans "APP-CREATE-VISUALIZATION-START-COMPOSITION-TEXT" %}

    						<ul class="navCreatorPicker">
    							<li class="pie chart-type" data-type="piechart">
                                    <span class="icon icon-chart-pie size-48"></span>
                                    <h4>{% trans "APP-PIE-CHART-TEXT" %}</h4>
                                    <p>{% trans "APP-CREATE-VISUALIZATION-START-PIE-COMMENT-TEXT" %}</p>
    							</li>
    						</ul>

    					</li>

    					<li class="heading">{% trans "APP-CREATE-MAPS-TEXT" %}</li>

    					<li>{% trans "APP-CREATE-VISUALIZATION-START-MAP-ELEMENTS-TEXT" %}

    						<ul class="navCreatorPicker">
    							<li class="trace map-type" data-type="trace">
                                    <span class="icon icon-map-trace size-48"></span>
                                    <h4>{% trans "APP-TRACE-MAP-TEXT" %}</h4>
                                    <p>{% trans "APP-CREATE-VISUALIZATION-START-TRACE-COMMENT-TEXT" %}</p>
    							</li>
    							<li class="marker map-type" data-type="marker">
                                    <span class="icon icon-map-marker size-48"></span>
                                    <h4>{% trans "APP-MARKERS-MAP-TEXT" %}</h4>
                                    <p>{% trans "APP-CREATE-VISUALIZATION-START-MARKERS-COMMENT-TEXT" %}</p>
    							</li>
    							<li class="geo map-type" data-type="geo">
                                    <span class="icon icon-map-geo size-48"></span>
                                    <h4>{% trans "APP-GEO-MAP-TEXT" %}</h4>
                                    <p>{% trans "APP-CREATE-VISUALIZATION-START-GEO-COMMENT-TEXT" %}</p>
    							</li>
    						</ul>

    					</li>

    				</ul>

	    		</div>

			</div>
		</div>
	</div>
	
</div><!-- Main div -->
