{% load i18n extra_tags components %}

<div class="create step-1-view">

	<div class="wrapper1">
		<div class="wrapper2">
			<div class="wrapper3">

				Configuro el chart

				<ul>
					<li>
						<a class="backButton">{% trans 'BTN-BACK-TEXT' %}</a>
					</li>
					<li>
						<a class="nextButton">{% trans 'APP-NEXT-TEXT' %}</a>
					</li>
				</ul>

				<div class="sidebar">

					<div class="boxConfig">

						<div class="itemConfig">

							<div class="title">Gráficos</div>

							<div class="boxInner">

								<form>

									<fieldset>

										<div class="btnGroup">
											<p>Compara en el tiempo</p>
											<button class="chartType line linechart" data-type="linechart" title="Línea">&nbsp;</button>
											<button class="chartType area areachart" data-type="areachart" title="Área">&nbsp;</button>
										</div>

										<div class="btnGroup">
											<p>Compara entre items</p>
											<button class="chartType cols columnchart" data-type="columnchart" title="Columnas">&nbsp;</button>
											<button class="chartType bars barchart" data-type="barchart" title="Barras">&nbsp;</button>
										</div>

										<div class="btnGroup">
											<p>Composición estática</p>
											<button class="chartType pie piechart" data-type="piechart" title="Torta">&nbsp;</button>
										</div>

									</fieldset>

									<fieldset>
										<p>You are using</p>
										<select id="chartLibrary">
											<option value="google">Google visualizations</option>
											<option value="d3">D3</option>
										</select>
									</fieldset>

								</form>

							</div>

						</div>

						<div class="itemConfig">

							<div class="title">¿No se ve bien?</div>

							<div class="boxInner">

								<form>

									<fieldset>
										<div class="checkbox">
											<label>
												Cambiar columnas/filas <input type="checkbox">
											</label>
										</div>
									</fieldset>

									<fieldset>
										
										<div class="subtitle">Reordenar datos</div>
										
										<div class="radio">
											<label>
												Default <input type="radio">
											</label>
											<label>
												Inverted <input type="radio">
											</label>
											<label>
												Ascendant <input type="radio">
											</label>
											<label>
												Descendant <input type="radio">
											</label>
										</div>

									</fieldset>

									<fieldset>
										
										<div class="subtitle">Empty cells will be</div>
										
										<div class="radio">
											<label>
												Excluded from the dataset <input name="nullValueAction" value="excluded" type="radio">
											</label>
											<label>
												Set to previous value in dataset <input name="nullValueAction" value="previous" type="radio">
											</label>
											<label>
												Set to a given value <input name="nullValueAction" value="given" type="radio">
											</label>
											<input id="nullValuePreset" data-ref="nullValuePreset" type="text" class="hide">
										</div>

									</fieldset>

								</form>

							</div>

						</div>

					</div>

				</div>

				<div class="preview-container">

					<div class="row">
						<div class="col-md-11 col-md-offset-1">
							<div class="text-center">
								<input id="chartTitle" data-ref="title" type="text" placeholder="[  ¿Cuál es el título?  ]">
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-md-1">
							<div class="axisYName attributeControl yTitleAttributeControl">
								<input id="yTitle" data-ref="yTitle" type="text" placeholder="[  Nombre del eje Y  ]">
							</div>
						</div>

						<div class="col-md-2">
							<div class="axisContent">
								<button class="btn cube edit plus">&nbsp;</button>
								<p>Eje Y</p>
							</div>
						</div>

						<div class="col-md-7">
							<div class="chartContent">
								<button class="btn cube edit plus selectData">&nbsp;</button>
								<div id="chartContainer">
									<p>Seleccioná los datos a mostrar</p>
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="chartLeyend">
								<button class="btn cube edit plus">&nbsp;</button>
								<p>Seleccioná referencias</p>
							</div>
						</div>

					</div>

					<div class="row">

						<div class="col-md-offset-3 col-md-7">

							<div class="axisXName pull-left attributeControl xTitleAttributeControl">
								<input id="xTitle" data-ref="xTitle" class="text-left" type="text" placeholder="[  Nombre del eje X  ]">
							</div>

							<div class="axisXMaxValue pull-right">
								<input class="text-right" type="text" placeholder="[  Valor máximo  ]">
							</div>

						</div>

					</div>

					<!--
					<div id="example">
						<button type="button" class="add-btn">Select&nbsp;</button>
						<div class="table-view"></div>
					</div>
					-->

				</div>

			</div>
		</div>
	</div>

</div>
