{% load i18n extra_tags components %}

<div class="create step-1-view">

	<div class="wrapper1">
		<div class="wrapper2">
			<div class="wrapper3">

				Configuro el chart

				<ul>
					<li>
						<a class="backButton">{% trans 'BTN-BACK-TEXT' %}</a>
					</li>
					<li>
						<a class="nextButton">{% trans 'APP-NEXT-TEXT' %}</a>
					</li>
				</ul>

				<div class="sidebar">

					<div class="boxConfig">

						<div class="itemConfig">

							<div class="title">Gráficos</div>

							<div class="boxInner">

								<form>

									<fieldset>

										<div class="btnGroup">
											<p>Compara en el tiempo</p>
											<button class="chartType line linechart" data-type="linechart" title="Línea">
												<span class="icon icon-chart-line"></span>
											</button>
											<button class="chartType area areachart" data-type="areachart" title="Área">
												<span class="icon icon-chart-area"></span>
											</button>
										</div>

										<div class="btnGroup">
											<p>Compara entre items</p>
											<button class="chartType column columnchart" data-type="columnchart" title="Columnas">
												<span class="icon icon-chart-column"></span>
											</button>
											<button class="chartType bar barchart" data-type="barchart" title="Barras">
												<span class="icon icon-chart-bar"></span>
											</button>
										</div>

										<div class="btnGroup">
											<p>Composición estática</p>
											<button class="chartType pie piechart" data-type="piechart" title="Torta">
												<span class="icon icon-chart-pie"></span>
											</button>
										</div>

									</fieldset>

									<fieldset>
										<p>Se está usando</p>
										<select id="chartLibrary">
											<option value="google">Google visualizations</option>
											<option value="d3">D3</option>
										</select>
									</fieldset>

								</form>

							</div>

						</div>

						<div class="itemConfig">

							<div class="title">¿No se ve bien?</div>

							<div class="boxInner">

								<form>

									<fieldset>
										<div class="checkbox">
											<label>
												Cambiar columnas/filas <input class="checkboxControl" value="traspose" name="traspose" type="checkbox">
											</label>
										</div>
									</fieldset>

									<fieldset>
										
										<div class="subtitle">Reordenar datos</div>
										
										<div class="radio">
											<label>
												Default <input name="sort" checked="" type="radio" value="default">
											</label>
											<label>
												Inverted <input name="sort" type="radio" value="inverted">
											</label>
											<label>
												Ascendant <input name="sort" type="radio" value="asc">
											</label>
											<label>
												Descendant <input name="sort" type="radio" value="desc">
											</label>
										</div>

									</fieldset>

									<fieldset>
										
										<div class="subtitle">Empty cells will be</div>
										
										<div class="radio">
											<label>
												Excluded from the dataset <input name="nullValueAction" value="excluded" type="radio">
											</label>
											<label>
												Set to previous value in dataset <input name="nullValueAction" value="previous" type="radio">
											</label>
											<label>
												Set to a given value <input name="nullValueAction" value="given" type="radio">
											</label>
											<input id="nullValuePreset" data-ref="nullValuePreset" type="text" class="hide">
										</div>

									</fieldset>

								</form>

							</div>

						</div>

					</div>

				</div>

				<div class="preview-container">

					<div class="row">

						<div class="col-md-12 col-lg-offset-1 col-lg-10">

							<div class="chartContent">

								<div id="chartContainer" class="chart-preview-view">

									<button class="icon icon-add fill-background selectData">&nbsp;</button>

									<div class="row">

										<div class="col-md-1">
											<div class="axisYNamePreview">
												<p>Eje Y</p>
											</div>
										</div>

										<div class="col-md-9">
											<div class="chartContentPreview">
												<p>Seleccione los datos que desee representar</p>
											</div>
										</div>

										<div class="col-md-2">
											<div class="chartLeyendPreview">
												<p>Referencias</p>
												<div class="leyend"></div>
												<div class="leyend"></div>
												<div class="leyend"></div>
											</div>
										</div>

									</div>

									<div class="row">

										<div class="col-md-offset-1 col-md-9">
											<div class="axisXNamePreview">
												<p>Eje X</p>
											</div>
										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>
			
			</div>
		</div>
	</div>

</div>
