{% load i18n extra_tags components %}

<div class="step-2-view">
	
	<div class="navigation FR">
		<a class="button alpha back backButton">{% trans 'BTN-BACK-TEXT' %}</a>
		<a class="button primary next nextButton">{% trans 'APP-CONTINUE-TEXT' %}</a>
	</div>

	<div class="columns clearfix">
		
		<div class="CL formContent">

			<fieldset>
	
				<div class="row clearfix">
					<label for="title">{% trans "APP-TITLE-TEXT" %}</label>
					<input type="text" class="title" name="title" maxlength="80" data-bind="" autofocus="autofocus">
					<span class="required">*</span>
					<p class="has-error validate-msg">Este campo es requerido.</p>
				</div>
	
				<div class="row clearfix">
					<label for="title">{% trans "APP-DESCRIPTION-TEXT" %}</label>
					<input type="text" class="description" name="description" maxlength="140" data-bind="">
					<span class="required">*</span>
					<p class="has-error validate-msg">Este campo es requerido.</p>
				</div>

				<div class="row clearfix">
					<label for="id_notes">{% trans "APP-NOTES-TEXT" %}</label>
					<div class="textarea clearfix FL">
						<textarea id="id_notes" class="notes"></textarea>
					</div>
				</div>

			</fieldset>

		</div>

	</div>

</div>
