{% load i18n extra_tags components %}

<div class="step-2-view">

	Completo la metadata
	
	<ul>
		<li>
			<a class="backButton">{% trans 'BTN-BACK-TEXT' %}</a>
		</li>
		<li>
			<a class="nextButton">{% trans 'APP-NEXT-TEXT' %}</a>
		</li>
	</ul>

	<div class="columns clearfix">
		
		<div class="CL formContent">

			<fieldset>
	
				<div class="row clearfix">
					<label for="title">Título<span class="required">*</span></label>
					<input type="text" class="title" name="title" maxlength="80" data-bind="" autofocus="autofocus">
				</div>
	
				<div class="row clearfix">
					<label for="title">Descripción<span class="required">*</span></label>
					<input type="text" class="description" name="description" maxlength="140" data-bind="">
				</div>

				<div class="row clearfix">
					<label for="category">Categoría</label>
					<select class="category" name="category" id="id_category" data-bind="">
						<option selected="selected" value="cat1">Categoría uno</option>
						<option value="cat2">Categoría dos</option>
						<option value="cat3">Categoría tres</option>
					</select>
				</div>
	
				<div class="row clearfix">
					<div id="tagForm">

						<div id="addTag">
							<label for="tag_name">Fuentes</label>
							<input type="text" name="tag_name" data-bind="">
							<a class="button small">Agregar</a>
						</div>

						<div class="tagsContent">
							
							<div class="tag">
								<span class="tagInner clearfix">
									<span class="tagTxt">fuente1</span>
									<a class="remove"><span class="DN">Eliminar</span></a>
								</span>
							</div>

							<div class="tag">
								<span class="tagInner clearfix">
									<span class="tagTxt">fuente2</span>
									<a class="remove"><span class="DN">Eliminar</span></a>
								</span>
							</div>
						</div>

					</div>
				</div>

				<div class="row clearfix">
					<div id="sourceForm">

						<div id="addSource">
							<label for="source_name">¿Cuál es el origen de la fuente de datos?</label>
							<input type="text" name="source_name" data-bind="">
							<p class="tip">¿No encontrás la fuente? <a href="#">Crear una nueva fuente</a></p>
						</div>

						<div class="sourcesContent">
							
							<div class="tag">
								<span class="tagInner clearfix">
									<span class="tagTxt">fuente1</span>
									<a class="remove"><span class="DN">Eliminar</span></a>
								</span>
							</div>

							<div class="tag">
								<span class="tagInner clearfix">
									<span class="tagTxt">fuente2</span>
									<a class="remove"><span class="DN">Eliminar</span></a>
								</span>
							</div>
						</div>
					
					</div>
				</div>

				<div class="row clearfix">
					<label for="id_notes">Notas</label>
					<textarea class="notes"></textarea>
				</div>

			</fieldset>

		</div>

	</div>

</div>
