{% load i18n extra_tags components %}

<div class="step-3-view">
	
	<div class="navigation FR">
		<a class="button alpha back backButton">{% trans 'BTN-BACK-TEXT' %}</a>
		<a class="button primary finishButton">{% trans 'APP-FINISH-TEXT' %}</a>
	</div>

	<div class="wrapper1">
		<div class="wrapper2">
			<div class="wrapper3">

				<div class="sidebar">

					<div class="col-xs-12">

						<button class="icon icon-edit fill-background corner-position editMetadata">&nbsp;</button>

						<div class="row">
							<div class="title">{% trans "APP-TITLE-TEXT" %}</div>
							<p data-bind="text:meta_title"></p>
						</div>

						<div class="row">
							<div class="title">{% trans "APP-DESCRIPTION-TEXT" %}</div>
							<p data-bind="text:meta_description"></p>
						</div>

						<div class="row">
							<div class="title">{% trans "APP-CATEGORY-TEXT" %}</div>
							<p data-bind="text:meta_category"></p>
						</div>

						<div class="row">
							<div class="title">{% trans "APP-LABEL-TEXT" %}</div>
							<div class="sourcesContent" data-bind="listTags:meta_tags"></div>
						</div>

						<div class="row">
							<div class="title">{% trans "APP-CUSTOMIZE-VISUALIZATION-DATA-SOURCE-TEXT" %}</div>
							<div class="sourcesContent" data-bind="listSources:meta_sources"></div>
						</div>

						<div class="row">
							<div class="title">{% trans "APP-NOTES-TEXT" %}</div>
							<p data-bind="text:meta_notes"></p>
						</div>

					</div>

				</div>

				<div class="preview-container">

					<div class="row">

						<div class="col-xs-12 col-lg-offset-1 col-lg-10">

							<div class="visualizationContainer">

								<div class="chartContent">

									<div id="chartContainer" class="chart-preview-view">

										<button class="icon icon-edit fill-background corner-position editChart"></button>

										<div class="chartContentFinish"></div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>
			
			</div>
		</div>
	</div>

</div>
