{% load i18n extra_tags components %}

<div class="step-3-view">
	
	<div class="navigation FR">
		<a class="button alpha back backButton">{% trans 'BTN-BACK-TEXT' %}</a>
		<a class="button primary finishButton">{% trans 'APP-FINISH-TEXT' %}</a>
	</div>

	<div class="wrapper1">
		<div class="wrapper2">
			<div class="wrapper3">

				<div class="sidebar">

					<button class="icon icon-edit fill-background corner-position editMetadata">&nbsp;</button>

					<div class="row">
						<div class="title">{% trans "APP-TITLE-TEXT" %}</div>
						<p data-bind="text:meta_title"></p>
					</div>

					<div class="row">
						<div class="title">{% trans "APP-DESCRIPTION-TEXT" %}</div>
						<p data-bind="text:meta_description"></p>
					</div>

					<div class="row">
						<div class="title">{% trans "APP-CATEGORY-TEXT" %}</div>
						<p>Educación</p>
					</div>

					<div class="row">
						<div class="title">{% trans "APP-LABEL-TEXT" %}</div>
						<div class="sourcesContent">
							<% _.each(meta_tags, function (movie) { %>
							  <h1><%-title%></h1>
							  <ul>
							    <% _.each(characters, function(name) { %>
							      <li><%-name%></li>
							    <% }); %>
							  </ul>
							  <p><%-year%></p>
							<% }); %>

							<div class="tag">
								<span class="tagInner clearfix">
									<span class="tagTxt">fuente1</span>
								</span>
							</div>

							<div class="tag">
								<span class="tagInner clearfix">
									<span class="tagTxt">fuente2</span>
								</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="title">{% trans "APP-CUSTOMIZE-VISUALIZATION-DATA-SOURCE-TEXT" %}</div>
						<p>Ministerio de educación</p>
					</div>

				</div>

				<div class="preview-container">

					<div class="row">

						<div class="col-xs-12 col-lg-offset-1 col-lg-10">

							<div class="visualizationContainer">

								<button class="icon icon-edit fill-background corner-position editChart"></button>
								<div class="chartContentFinish">

								</div>

							</div>

						</div>

					</div>

				</div>
			
			</div>
		</div>
	</div>

</div>
