{% extends 'base_workspace.html' %}
{% load i18n extra_tags components compress staticfiles sass_tags %}

{% block meta %}
{% compress css %}
<link href="{% sass_src 'workspace/styles/viewLandingPage.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}
{# Left Navigation Selected Option #}
<meta name="main-option" content="id_home_option"/>
{% endblock %}

{% block sectionTitle %}
<div class="context-menu clearfix">
	
	<!-- Column Left -->
	<div class="col-md-7">    
		
		<h1>{% trans "LANDINGPAGE-SECTION-TITLE" %} {{auth_manager.nick}}!</h1>

	</div>

	<!-- Column Right -->
	<div class="col-md-5 context-buttons clearfix"> 

		<div class="button-pulldown FR">
			<a class="button primary" title="{% trans 'APP-ADDNEWDATASET-TEXT' %}">{% trans 'APP-ADDNEWDATASET-TEXT' %}<span class="icon icon-right icon-pulldown"></span></a>
			<ul class="dropdown" style="display:none;">
				<li><a  href="{% url 'manageDatasets.create_type' 'file' %}" class="button primary" title="{% trans 'APP-UPLOAD-FILE-TEXT' %}">{% trans 'APP-UPLOAD-FILE-TEXT' %}</a></li>
				<li><a href="{% url 'manageDatasets.create_type' 'url' %}" class="button primary" title="{% trans 'APP-WEBSITE-TEXT' %}">{% trans 'APP-WEBSITE-TEXT' %}</a></li>
				<li><a href="{% url 'manageDatasets.create_type' 'webservice' %}" class="button primary" title="{% trans 'APP-WEBSERVICE-TEXT' %}">{% trans 'APP-WEBSERVICE-TEXT' %}</a></li>
			</ul>
		</div>

	</div>

</div>
{% endblock %}

{% block content %}
<div class="columns equal-width clearfix">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">
		
		{% if stats.max_resource != 0 %}

		<!-- Activity -->
		<section class="box activity">
			<header>
				<h3 class="title">{% trans "LANDINGPAGE-ACTIVITY-TITLE" %}</h3>
			</header>
			<div class="box-content">
				{% for activity in account_activities %}
					<article class="clearfix">
						{% gravatar None "small" "FL" activity.user_nick activity.user_email %}
						<div class="text">
							<p><strong>{{activity.user_nick}}</strong>
							{% get_activity_type activity.action_id as the_activity %}
							{{the_activity}}

							{% if activity.resource_link %}
								<a class="resource" href="{{activity.resource_link}}" title="{{activity.title}}">
							{% else %}
								<span class="resource">
							{% endif%}

							{% if activity.type == 'dt' %}
								<i class="icon-dataset"></i>
							{% elif activity.type == 'db' %}
								<i class="icon-dashboard"></i>
							{% elif activity.type == 'ds' %}
								<i class="icon-dataview"></i>
							{% elif activity.type == 'vs' %}
								<i class="icon-visualization"></i>
							{% endif%}

							{{activity.title}}

							{% if activity.resource_link %}
								</a>
							{% else %}
								</span>
							{% endif%}

							</p>
							<time>{{activity.time}}</time>
						</div>
					</article>
				{% endfor %}
			</div>
		</section>

		{% endif %}

			</div>

		</div>

	</div>

</div>

{% endblock %}