/*WHEN A TABLE IS SELECTED*/
.ao-table-selected, 
html body  table.ao-table-selected tr td.ao-table-selected,
html body  table.ao-table-selected tr th.ao-table-selected,
html body  table.ao-table-selected tr.ao-row-selectable td.ao-table-selected, 
html body  table.ao-table-selected tr.ao-row-selectable th.ao-table-selected{background:#fc9b18 !important;color:white !important;}

/*WHEN THE TABLE IS SELECTABLE*/
html body .ao-table-selectable{border-collapse:collapse !important;cursor:pointer !important;}

/*BORDER DASHED*/
html body .ao-border{background:url(/static/core/images/dataServicePublisher/im_animatedBorder.gif) repeat 0 0 !important;padding:2px !important;}
html body .ao-border table{background:white !important;margin:0 !important;border:2px solid #fff !important;}

	/*DIVS*/
	html body .ao-div-border{border:2px dashed #c7693d;}

/*CLEARFIX*/
html body .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
html body .clearfix{display:inline-block;}
* html .clearfix{height:1%;}
html body .clearfix{display:block;}