/*WHEN A TABLE IS SELECTED*/
.file .ao-table-selected, .select-table-styles .ao-table-selected {background:#4990fc !important;color:white !important;}

/*WHEN THE TABLE IS SELECTABLE*/
.file .ao-table-selectable, .select-table-styles .ao-table-selectable{border-collapse:collapse !important;cursor:pointer !important;}

/*BORDER DASHED*/
.file .ao-border, .select-table-styles .ao-border{background:url(/static/core/images/dataServicePublisher/im_animatedBorder.gif) repeat 0 0 !important;padding:2px !important;}
.file .ao-border table,.select-table-styles .ao-border table{background:white !important;margin:0 !important;border:2px solid #fff !important;}

/*STYLES FOR SELF PUBLISHING AND PDF*/
.file , .select-table-styles .page{clear:both;}
.file .ao-border h1, .select-table-styles .page h1{font-size:14px;color:#000;font-weight:bold;}
.file .ao-border, .select-table-styles .ao-border{margin-bottom:30px !important;}

.file table, .file tr, .file td, .file th, .file tbody, .file thead, .file tfoot, .file caption,
.select-table-styles table, .select-table-styles tr, .select-table-styles td, .select-table-styles th, .select-table-styles tbody, .select-table-styles thead, .select-table-styles tfoot, .select-table-styles caption{border:1px solid #ccc;}
.file , .select-table-styles td{padding:7px 10px;font-size:11px !important;}
