{% load i18n compress staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Junar &middot; {% trans "APP-DISCOVERINGDATA-TEXT" %}</title>
<meta charset="utf-8">
{% compress css %}
<!-- RESET -->
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/reset.css' %}"/>
<!-- DATA STREAM BOX -->
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/dataStreamBox.css' %}"/>
<!-- COMPONENT -->
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'core/styles/embed.css' %}"/>
{% endcompress %}

<link rel="shortcut icon" href="{% static 'core/images/favicon/junar.ico' %}" />


<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

</head>
<body>
<div class="dataStreamContainer" id="id_dataservice_container">
    <div id="id_dataservice_NN">
        <div class="dataStreamBox clearfix">
            <h2>
                <a href="{{settings.BASE_URI}}" title="Junar" class="clearfix" target="_blank">
                  <span class="txt"><span class="titleDS"><strong>Junar</strong>
                  <br> {% trans "APP-DISCOVERINGDATA-TEXT" %}
                  </span></span>
                </a>
            </h2>
            <div class="Mensaje">
                <table class="Nulo"><tbody><tr><td> {% trans "APP-OOPS-TEXT" %} <span>{% trans "APP-NODATAFOUD-TEXT" %}.</span></td></tr></tbody></table>
            </div>
        </div>
    </div>
</div>
</body>
</html>