{% load i18n extra_tags components compress staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{preferences.account_name}} &middot; {{preferences.account_page_titles}}</title>
	<meta charset="utf-8">
    {% compress css %}
	<!-- RESET -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/reset.css' %}"/>
	<!-- DATA STREAM BOX -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/dataStreamBox.css' %}"/>
	<!-- COMMON MODULES -->
	<link type="text/css" rel="stylesheet" media="screen" href="{% static 'core/styles/commonModules.css' %}"/>
	<!-- BUTTONS -->
	<link rel="stylesheet" media="screen" type="text/css" href="{% static 'core/styles/buttons.css' %}"/>
	<!-- COMPONENT -->
	<link rel="stylesheet" media="screen" type="text/css" href="{% static 'core/styles/embed.css' %}"/>

	{% if preferences.enable_embed_options %}
		<!-- BRANDED -->
		<link type="text/css" rel="stylesheet" media="screen" href="{% static 'microsites/styles/brandedFull.css' %}"/>
        <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
        <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
	{% endif %}

    {% endcompress %}

	<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
	
	<script type="text/javascript" src="/js_core/libs/underscore/underscore-min.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/libs/backbone/backbone-min.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/libs/jquery/jquery-1.7.2.min.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/libs/jquery_ui/jquery-ui-1.8.18.custom.min.js?id={{settings.VERSION_JS_CSS}}"></script>

	<script type="text/javascript" src="/js_core/plugins/jquery.url.packed.js"></script>

	<script type="text/javascript" src="/js_core/plugins/customSelectable.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/base_modules/data_table/dataTable.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/base_modules/chart_manager/junarCharts.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="/js_core/base_modules/chart_manager/embed.js?id={{settings.VERSION_JS_CSS}}"></script>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<!--	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>--> 
  <script type="text/javascript" src="/js_core/plugins/markerclusterer.js?id={{settings.VERSION_JS_CSS}}"></script> 

	{% if preferences.enable_embed_options %}
<!-- <script type="text/javascript" src="/js_microsites/modules/share.js?id={{settings.VERSION_JS_CSS}}"></script>  -->
		<link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
<!-- 		<script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&amp;login=junar&amp;apiKey=R_4da011b2ee9f2ee2cf80ed8122b73391"></script> -->
<!--		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script> -->
	{% endif %}

	<script type="text/javascript">
		var Configuration = new Object();
		Configuration.baseUri = "{{base_uri}}";
	  Configuration.apiUri = "{{settings.API_URI}}";
	  Configuration.apiKey = "{{settings.PUBLIC_KEY}}";
	  {% if preferences.account_embed_powered_by %}
  	Configuration.embedPoweredBy = ["http://{{preferences.account_domain}}","{{preferences.account_name}}"];
  	{% else %}
  	Configuration.embedPoweredBy = ["http://www.junar.com","Junar"];
  	{% endif %}
		
		google.load('visualization', '1', {
			packages: ['corechart', 'geomap']
		});
		
		{% if preferences.enable_embed_options %}
			var areEmbedOptionsEnabled = true;
		{% else %}
			var areEmbedOptionsEnabled = false;
		{% endif %}
		
		var chartLoader;
		var dsJson 		= '{{json|escapejs}}';
		var implDetails = '{{visualization_revision.impl_details|escapejs}}';
		var chartHeight = {{height}};
		var chartWidth 	= {{width}};
		
		$(document).ready(function(){
		  $fDataServiceContainer = $(".chartContainer");
		  
	    var lJson = JSON.parse(implDetails);
	    var lChart = lJson.format.type;
    
	    if(lChart != "mapchart"){
	    	init();
	    }
	    else{
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'http://maps.googleapis.com/maps/api/js?sensor=false&' +
              'callback=init';
          document.body.appendChild(script);
	    }
			
		});
		
		function init(){
	      chartLoader = new ChartLoader({'dataStreamJson':dsJson, 'chartJson' : implDetails, 'height' : chartHeight, 'width' : chartWidth });
	      if (areEmbedOptionsEnabled) {
	        initDataService();
	      }
		}
	</script>
</head>

<body>
	{% if preferences.enable_embed_options %}<div class="enabledOptions">{% endif %}
		<div id="id_chartBox" class="chartBox">
			<h2 class="chartTitle">
				<a target="_blank" class="clearfix" title="{{visualization_revision.title}}" href="{{base_uri}}{{visualization_revision.permalink}}{%if parameters_query%}?{{parameters_query}}{%endif%}">
					<img src="{{preferences.account_logo}}" alt="{{preferences.account_name}}" title="{{preferences.account_name}}" class="FL" style="width:45px; !important"/>
					<span class="txt"><strong>{{ visualization_revision.title }}</strong></span>
				</a>
			</h2>
			<!-- VISUALIZATION CONTAINER -->
	        <div class="chartContainer" style="width:100%;height:{{height}}px;">
	            <div id="id_chartDisplay" class="chartContainerInner clearfix" style="position:relative;height:100%;width:100%"></div>
	        </div>
		</div>

		{% if preferences.enable_embed_options %}
			<div class="dataStreamActions bottomActions">
			    <div class="actionsInner toolbar clearfix">
				
				{% if visualization_revision.datastream_type == 'URL' %}
	      <!-- COLLECTED FROM URL -->
				<div class="collectedFrom toolbar FL clearfix">
					<a id="id_gotosource" href="{{visualization_revision.end_point}}" target="_blank" rel="nofollow" title="{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}: {{visualization_revision.end_point}}" class="Icon ic_CollectedFrom FL"><span class="DN">{% trans 'APP-WHERETHISCOMEFROM-TEXT' %}</span></a>
				</div>

				<div class="sep FL"><span class="DN">|</span></div>
		    {% endif %}

		    {% if visualization_revision.datastream_type == 'SELF PUBLISH' %}
	      <!-- COLLECTED FROM SELF PUBLISHING -->
				<div class="collectedFrom noHover toolbar FL clearfix">
					<span title="{% trans 'APP-USERUPLOAD-TEXT' %}" class="Icon ic_File FL"><span class="DN">{% trans "APP-USERUPLOAD-TEXT" %}</span></span>
				</div>
				<div class="sep FL"><span class="DN">|</span></div>
				<!-- DOWNLOAD -->
				<!--<div class="collectedFrom toolbar FL clearfix">
					<a id="id_downloadLink" href="" target="_blank" rel="nofollow" title="{% trans 'APP-DOWNLOADDATASET-TEXT' %}" class="Icon ic_Download FL"><span class="DN">{% trans 'APP-DOWNLOADDATASET-TEXT' %}</span></a>
				</div>
				<div class="sep FL"><span class="DN">|</span></div>-->
		    {% endif %}

		    {% if visualization_revision.datastream_type == 'WEBSERVICE' %}
		    <!-- COLLECTED FROM SOAP -->
				<div class="collectedFrom noHover toolbar FL clearfix">
					<span title="{% trans 'APP-SOAP-TEXT' %}" class="Icon ic_SOAP FL"><span class="DN">{% trans "APP-SOAP-TEXT" %}</span></span>
				</div>
				
				<div class="sep FL"><span class="DN">|</span></div>
		    {% endif %}

			    <!-- ACTIONS MENU -->
			    <div class="actionsMenu relative FR">
			        <a href="javascript:;" id="id_menuDataServiceButton_" class="Icon FR ic_Menu" title="{% trans 'APP-ACTIONS-TEXT' %}" ><span>{% trans "APP-ACTIONS-TEXT" %}</span></a>
			        <div id="id_tooltipDataServiceButton_" class="dashboard-dataservice-tooltip">
			            <div class="menuInner">
			                <ul class="In">
			                    <li class="J"><a href="javascript:;" title="{% trans 'APP-ACTIONS-TEXT' %}" class="Icon FR ic_Menu open" rel="nofollow"><span>{% trans "APP-ACTIONS-TEXT" %}</span></a></li>
			                    <li class="Item"><a href="{% url "datastream_manager.action_csv" visualization_revision.datastream_id visualization_revision.slug %}" id="id_exportToCSV_" title="{% trans 'APP-EXPORTDS-TITLE' %}" class="Icon ic_CSV" rel="nofollow">{% trans "APP-EXPORTDS-TEXT" %}</a></li>
	                            <!--<li class="Item"> <a href="javascript:;" id="id_googlespreadsheetDataStreamButton_" title="{% trans 'APP-GOOGLESPREADSHEETS-TITLE' %}" class="Icon ic_GoogleDocs" rel="nofollow">{% trans "DSDET-GOOGLESPREADSHEETS-TITLE" %}</a></li>-->
	                            
		                        <li class="Item"> <a href="javascript:;" id="id_embedButton" title="{% trans 'DSDET-EMBED-TITLE' %}" class="Icon ic_AddEmbed" rel="nofollow"><span>{% trans "APP-GETEMBEDCODE-TEXT" %}</span></a></li>
			                </ul>
			            </div>
			        </div>
			    </div>
			    <div class="sep FR"><span class="DN">|</span></div>
			
			    <!-- SHARE MENU -->
<!-- 			    <div class="shareMenu relative FR"> -->
<!-- 			        <a href="javascript:;" id="id_menuShareDataServiceButton_" class="Icon FR ic_Menu" title="{% trans 'DSDET-SHARE-TITLE' %}"><span>{% trans "APP-SHARE-TEXT" %}</span></a> -->
<!-- 			        <div class="dashboard-dataservice-tooltip" id="id_tooltipShareDataServiceButton_  "> -->
<!-- 			            <div class="menuInner"> -->
<!-- 			                <ul class="In share"> -->
<!-- 			                    <li class="J"><a href="javascript:;" title="{% trans 'APP-SHARE-TEXT' %}" class="Icon FR ic_Menu open"><span>{% trans "APP-SHARE-TEXT" %}</span></a></li> -->
<!-- 			                    <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:112px; height:20px;" allowTransparency="true"></iframe></li> -->
<!-- 			                    <li class="twitter"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html" style="width:112px; height:20px;"></iframe></li> -->
<!-- 			                    <li class="google"><div class="g-plusone" data-size="medium" data-count="true"></div></li> -->
<!-- 			                    <li class="linkedin"><iframe src="{{settings.BASE_URI}}{% url "share_manager.action_linkedin" %}?url={{base_uri|urlEncode}}{{visualization_revision.permalink|urlEncode}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:112px; height:20px;"></iframe></li> -->
<!-- 			                    <li class="url"><input type="text" value="" class="share_url_input" readonly="readonly"/></li> -->
<!-- 			                </ul> -->
<!-- 			            </div> -->
<!-- 			        </div> -->
<!-- 			    </div> -->
<!-- 			    <div class="sep FR"><span class="DN">|</span></div> -->
				</div>
			</div>
		{% endif %}

		{% if visualization_revision.get_sources %}
			<div class="gotosourceContainer">
				<div class="gotosource">
					<div class="gotosourceInner">
						<span>{% trans "APP-SOURCES-TEXT" %}:</span>
						{% for source in visualization_revision.get_sources %}
							<a href="{{source.url|addhttp}}" title="{{source.name}}" target="_parent">{{source.name}}</a>{% if not forloop.last %}<em class="comma">, </em>{% endif %}
						{%endfor%}
					</div>
					<span class="transparency">&nbsp;</span>
				</div>
			</div>
		{% endif %}
	</div>

	{% if preferences.enable_embed_options %}</div>{% endif %}

	<!-- GET EMBED CODE -->
	<div class="embedContainer">
		<div class="embedInner">
			<h2>{% trans "APP-GETEMBED-TEXT" %}</h2>
			<div class="embedCode">
				<textarea id="id_embedDatastreamTextarea" cols="" rows="" readonly="readonly"></textarea>
			</div>
			<div class="buttons">
				<button class="button" title="Close" id="id_closeEmbedButton"><span>{% trans "APP-CLOSE-TEXT" %}</span></button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	      var $chartContainer = $(".chartContainer");
	      $chartContainer.data("datastream_id", "{{visualization_revision.datastream_id}}");
	      $chartContainer.data("datastreamrevision_id", "{{visualization_revision.datastreamrevision_id}}");
	      $chartContainer.data("dataservice_end_point", "{{end_point|escapejs}}");
	      $chartContainer.data("dataservice_title", "{{visualization_revision.title}}");
	      $chartContainer.data("dataservice_description", "{{visualization_revision.description}}");
	      $chartContainer.data("permalink", "{{base_uri}}{{visualization_revision.permalink}}{%if parameters_query%}?{{parameters_query}}{%endif%}");
	</script>

	<div id="id_dataStreamTable" class="dataTable DN" style="display:none;"></div>
</body>
</html>
