{% extends "base_microsites.html" %}
{% load i18n extra_tags components core_components %}

{% block SEO %}
    <title>{{visualization_revision.title}} &middot; {{preferences.account_page_titles}}</title>
    <meta name="description" content="{{ visualization_revision.description }}" />
    <link rel="canonical" href="{{base_uri}}{{visualization_revision.permalink}}" />
{% endblock %}

{% if preferences.account_enable_sharing %}
    {% block facebook %}
        <meta property="og:title" content="{{visualization_revision.title}} &middot; {{preferences.account_page_titles}}" />
        <meta property="og:description" content="{{ visualization_revision.description }}" />
        <meta property="og:image" content="{{preferences.account_logo}}" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="{{preferences.account_name}}" />
    {% endblock %}
{% endif %}

{% block meta %}
    <!-- BLOCK PAGE TITLE -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_core/styles/_modules/blockPageTitle.css?id={{settings.VERSION_JS_CSS}}"/>
    <!-- DATA STREAM BOX -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_core/styles/_modules/dataStreamBox.css?id={{settings.VERSION_JS_CSS}}"/>
    <!-- DATA STREAM FORM -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_core/styles/_modules/dataStreamForm.css?id={{settings.VERSION_JS_CSS}}"/>
    <!-- TAGS CONTAINER -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_core/styles/_modules/tagsContainer.css?id={{settings.VERSION_JS_CSS}}"/>
    <!-- LIQUID WIDTH -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_core/styles/_modules/liquidWidth.css?id={{settings.VERSION_JS_CSS}}"/>
    <!-- COMPONENT -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_workspace/styles/_components/dataServicesManager.css?id={{settings.VERSION_JS_CSS}}"/>

    <!-- BRANDED -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_microsites/styles/modules/brandedFull.css?id={{settings.VERSION_JS_CSS}}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="/media_microsites/styles/components/mapcharts.css?id={{settings.VERSION_JS_CSS}}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>
    <link type="text/css" rel="stylesheet" media="screen" href="{% url "microsites.action_new_css" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"/>

    {% if can_share %}
    <!-- PRIVATE -->
    <link type="text/css" rel="stylesheet" media="screen" href="/media_core/styles/_modules/privateBox.css?id={{settings.VERSION_JS_CSS}}"/>
    {% endif %}

    <script type="text/javascript" src="/js_core/base_modules/embed_code/embedCode.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_microsites/datastream_manager/datastreamModules.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_microsites/chart_manager/viewForm.js?id={{settings.VERSION_JS_CSS}}"></script>

    <script type="text/javascript" src="/js_core/base_modules/endPoint.js?id={{settings.VERSION_JS_CSS}}"></script>

    {% if preferences.account_enable_sharing %}
        <script type="text/javascript" src="/js_microsites/modules/share.js?id={{settings.VERSION_JS_CSS}}"></script>
        <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&amp;login=junar&amp;apiKey=R_4da011b2ee9f2ee2cf80ed8122b73391"></script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    {% endif%}

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% url "microsites.action_js" preferences.account_id %}?id={{settings.VERSION_JS_CSS}}"></script>

    <script type="text/javascript" src="/js_core/plugins/customSelectable.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/base_modules/data_table/dataTable.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/base_modules/chart_manager/junarCharts.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/base_modules/chart_manager/mapChart.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/base_modules/chart_manager/chartDetail.js?id={{settings.VERSION_JS_CSS}}"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization"></script>
    <script type="text/javascript" src="/js_core/plugins/multimarker.js?id={{settings.VERSION_JS_CSS}}"></script>

    {% if can_share %}
    <script type="text/javascript" src="/js_core/plugins/jquery.validate.min.js?id={{settings.VERSION_JS_CSS}}"></script>
    <script type="text/javascript" src="/js_core/base_modules/private.js?id={{settings.VERSION_JS_CSS}}"></script>
    {% endif %}

    <script type="text/javascript">
        google.load('visualization', '1', {
            packages: ['corechart', 'geomap']
        });

        var chartManager;
        var dsJson  = '{{result|escapejs}}';
        var implDetails = '{{visualization_revision.impl_details|escapejs}}';
        var status = '{{visualization_revision.status}}';
        var visualization_id = '{{visualization_revision.visualizationrevision_id}}';
        var datastreamrevision_id = '{{visualization_revision.datastreamrevision_id}}';

        $(document).ready(function(){
            chartManager = new ChartDetail({'dataStreamJson':dsJson, 'chartJson' : implDetails, 'visualizationrevision_id': visualization_id});
            chartManager.attributes.joinIntersectedClusters = "{{join_intersected_clusters}}";
		        if({{can_share|lower}}){
		            var sharePrivateOverlay = new SharePrivateOverlay({
		                '$Button': $('button[id=id_sharePrivateChartButton_]')
		                , '$Container': $('#id_sharePrivateContainer')
		                , '$Form': $('#id_private_share_form')
		            });
		        }
			chartManagerBackup = chartManager;
        });

        {% if dataservice.is_self_publishing %}
            var isSelfPublish = true;
        {%else%}
            var isSelfPublish = false;
        {%endif%}
    </script>
{% endblock %}

{% block content %}
    <div class="blockPageTitle branded{% if not preferences.account_enable_sharing %} sharingDisabled{% endif %}{% if can_share %} sharingDisabled{% endif %}">
        <div class="titleGradient">
            <div class="panel clearfix hreview-aggregate">

                <!-- LEFT CONTENT -->
                <div class="leftContent FL">

                    <!-- PANEL TITLE CONTAINER -->
                    <div class="panelTitleContainer clearfix">
                        <h1 class="titleText">
                            <strong class="fn" itemprop="name">{{visualization_revision.title}}</strong>
                            {%for dataservice_argument in dataservice.dataservice_parameters%}
                                {% if forloop.first %}({% endif %}<label for="pArgument{{forloop.counter0}}" onclick="onArgumentClicked(this);" title="{{dataservice_argument.description}}">{%if dataservice_argument.parameter_value%}{{dataservice_argument.parameter_value}}{%else%}{% trans "APP-ENTERAVALUEFOR-TEXT" %} {{dataservice_argument.parameter_name}}{%endif%}</label><input type="text" style="display:none;" size="10" id="pArgument{{forloop.counter0}}" value="{{dataservice_argument.parameter_value}}" onblur="onArgumentChange(this);" onkeypress="onArgumentKeyup(this, event);" title="{{dataservice_argument.parameter_description}}" />{% if not forloop.last %}, {%else%}){% endif %}
                            {%endfor%}
                        </h1>
                    </div>

                    <!-- DESCRIPTION -->
                    <p class="description" itemprop="description">{{visualization_revision.description}}</p>

                    <!-- OTHERS CONTAINER -->
                    <div class="othersContainer clearfix">

                        <!-- TAGS -->
                        {% url "search.action_search" as search_url %}
                        <div class="tagsContainer toolbar FL">
                            <strong class="tagsTitle Icon ic_Tags">{% trans "APP-TAGS-TEXT" %}: </strong>
                            <div id="id_dataservice_tags_container" class="tagsItems" itemprop="keywords">
                                {% for tag in visualization_revision.get_tags|slice:":5" %}
                                    <a href="{{ search_url }}?tag={{tag|prepareTagForSearch}}" title="{{tag}}" rel="nofollow tag">{{tag}}</a>{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    {% trans "APP-NOTAGS-TEXT" %}.
                                {% endfor %}
                            </div>
                            <div class="tagsPagination" {% if not visualization_revision.get_tags|length|isGreaterThan:"5" %}style="display:none;"{% endif %}>
                                <span id="id_dataserviceTagsViewAllButton">
                                    <span><span class="comma">,</span><a href="javascript:;" title="{% trans 'APP-VIEWALL-TEXT' %}">...</a></span>&nbsp;<span class="sep">|</span>
                                    <a href="javascript:;" title="{% trans 'APP-VIEWALL-TEXT' %}">{% trans "APP-VIEWALL-TEXT" %}</a>
                                </span>
                                <div class="ao-tag-tooltip" style="display:none">
                                    <div class="In clearfix">
                                        {% for tag in visualization_revision.get_tags %}<a href="{{ search_url }}?tag={{tag|prepareTagForSearch}}" title="{{tag}}" rel="nofollow">{{tag}}</a>{% if not forloop.last %}<span>, </span>{% endif %}{% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- OTHER ACTIONS -->
                        <div id="id_dataservice_toolbar_{{visualization_revision.visualizationrevision_id}}" class="otherActions clearfix FR">
                            {% if can_share %}
                            <!-- SHARE -->
                            <button id="id_sharePrivateChartButton_" class="genericButton actionButton workspaceIcon privateIcon"><span>{% trans "APP-SHARE-TEXT" %}</span></button>
                            {% endif %}

                            {# <!-- FOLLOW --> #}
                            {#<a href="{{settings.BASE_URI}}{_% url DataStreams.actionFollow dataservice.guid %_}" id="id_followDS" class="genericButton moreButton followButton FR" title="{% trans 'DSDET-FOLLOW-TITLE' %}"><span>{% trans "APP-FOLLOW-TEXT" %}</span></a>#}
                        </div>

                    </div>

                    <!-- RIGHT BOX SHADOWS -->
                    <div class="cv bl"></div>
                    <div class="cv br"></div>

                </div>

                <!-- RIGHT CONTENT -->
                <div class="rightContent FR">

                    {% if preferences.account_enable_sharing %}
                    <!-- SHARE BOX -->
                    <div class="shareBox toolbar">
                        <div class="innerBox">

                            <ul class="firstRow clearfix">

                                <!-- SHARE URL -->
                                <li class="url FL">{% trans "APP-URL-TEXT" %}: <input type="text" value="" class="share_url_input" readonly="readonly"/></li>

                            </ul>
                            <ul class="secondRow clearfix">

                                <!-- TWITTER -->
                                <li class="twitter"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html" style="width:62px; height:70px;"></iframe></li>

                                <!-- FACEBOOK -->
                                <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:90px;" allowTransparency="true"></iframe></li>

                                <!-- GOOGLE PLUS -->
                                <li class="google"><div class="g-plusone" data-size="tall" data-count="true"></div></li>

                                <!-- LINKED IN -->
                                <li class="linkedin"><iframe src="{% url "share_manager.action_linkedin" %}?url={{base_uri|urlEncode}}{{visualization_revision.permalink|urlEncode}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:61px; height:90px;"></iframe></li>

                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

    <div id="id_edit_dataservice_container" class="branded">
        <form id="id_datastreamGrid">
            <input type="hidden" name="datastream_id" value="{{visualization_revision.datastreamrevision_id}}"/>
        </form>
        {% include "chart_manager/chartPanel.html" %}
    </div>
{% endblock %}

{% block popupsOverlay %}
    {% include "chart_manager/chartOverlays.html" %}
    {% if can_share%}
    {% privateVisualizationShareForm visualization_revision.visualization_id auth_manager %}
    {% endif %}
{% endblock %}
