{% extends 'base_workspace.html' %}
{% load i18n extra_tags compress staticfiles sass_tags %}

{% block meta %}
{% compress css %}
<link href="{% sass_src 'workspace/styles/accounts.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}
<script type="text/javascript" src="/js_core/plugins/jquery.passwordStrength.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_workspace/accounts/activateModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_workspace/accounts/activateView.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% endblock %}

{% block body %}
<div class="account-box" id="id_activate">
    <header class="center">
    <div class="radial-gradient">
      <div class="logo-signin-brand"></div>
    </div>
    </header>
    <div class="account-box-content">
        <form action="{{form.action}}" method="post">
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
            {% csrf_token %}
            <fieldset>
                <legend class="font-mb">{% trans "APP-ACTIVATION-TITLE-TEXT" %}</legend>
                <p class="sub">{% trans "APP-ACTIVATION-SUBTITLE-TEXT" %}</p>

                <div class="row clearfix">
                    {{form.password.label_tag}}
                    <div class="relative">
                    {{form.password}}
                        <div class="passwordStrength absolute"><div id="id_passwordStrength" class="is0"></div></div>
                    </div>
                </div>

                <div class="row clearfix">
                    {{form.password_again.label_tag}}
                    {{form.password_again}}
                </div>

                <div class="row buttons center">
                    <input type="submit" id="id_activateButton" class="button small primary" value="{% trans 'APP-START-TEXT' %}" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block workspace_bottom_js %}
<script type="text/javascript">
$(document).ready(function(){
  var activateModel = new ActivateModel();
  var activateView = new ActivateView({model: activateModel});
});
</script>
{% endblock %}
