{% extends 'base_workspace.html' %}
{% load i18n extra_tags compress staticfiles %}

{% block meta %}
{% compress css %}
<link href="{% static 'workspace/styles/accounts.scss' %}" type="text/scss" rel="stylesheet" media="screen"/>
{% endcompress %}
<script type="text/javascript" src="/js_workspace/accounts/forgotPasswordModel.js?id={{settings.VERSION_JS_CSS}}"></script>
<script type="text/javascript" src="/js_workspace/accounts/forgotPasswordView.js?id={{settings.VERSION_JS_CSS}}"></script>
{% endblock %}

{% block body %}
<div class="account-box" id="id_forgotPassword">
  <header class="center">
    <img src="{% static 'workspace/images/common/lg_junarAccountPages.png' %}" alt="{% trans 'HEADER-JUNAR-TITLE' %}" title="{% trans 'HEADER-JUNAR-TITLE' %}"/>
  </header>
  <div class="account-box-content">
    <form action="{% url 'accounts.forgot_password' %}" method="post">
        <fieldset>
            <div class="row clearfix">
                <label>{% trans "FORGOT-PASSWORD-LABEL" %}</label>
                <input id="id_user_identification" type="text" name="identification"/>
            </div>
            <div class="row buttons center">
                <input id="id_submitButton" type="submit" value="{% trans 'APP-RECOVERIT-TEX' %}" title="{% trans 'APP-RECOVERIT-TEX' %}" class="button primary small" />
            </div>
            <div class="row">
                <p class="tip">{% trans "FORGOT-PASSWORD-TIP" %}</p>
            </div>
        </fieldset>
    </form>
  </div>
  <footer class="account-box-footer">
    <ul>
      <li><a href="/signin" title="{% trans 'APP-SIGNIN-TEXT' %}">{% trans 'APP-SIGNIN-TEXT' %}</a></li>
      <li><a href="http://www.junar.com" title="{% trans 'APP-GOBACKTO-TEXT' %}">{% trans 'APP-GOBACKTO-TEXT' %}</a></li>
    </ul>
  </footer>
</div>
{% endblock %}

{% block workspace_bottom_js %}
<script type="text/javascript">
$(document).ready(function(){
    var forgotPasswordModel = new ForgotPasswordModel();
    var forgotPasswordView = new ForgotPasswordView({model: forgotPasswordModel});
});
</script>
{% endblock %}