{% extends 'base_workspace.html' %}
{% load i18n extra_tags compress staticfiles %}

{% block meta %}
{% compress css %}
<link href="{% static 'workspace/styles/accounts.scss' %}" type="text/scss" rel="stylesheet" media="screen"/>
{% endcompress %}
{% endblock %}

{% block body %}
<div class="account-box" id="id_recovery">
  <header class="center">
    <img src="{% static 'workspace/images/common/lg_junarAccountPages.png' %}" alt="{% trans 'HEADER-JUNAR-TITLE' %}" title="{% trans 'HEADER-JUNAR-TITLE' %}"/>
  </header>
  <div class="account-box-content">
    <form action="{% url 'accounts.forgot_password' %}" method="post">
        <fieldset>
            <div class="row center">
                <h2>{% trans "FORGOT-PASSWORD-RESET" %}</h2>
                <p class="tip">{% trans "FORGOT-PASSWORD-EMAIL" %}.</p>
            </div>
            <div class="row buttons center">
                <a href="{% url 'accounts.login' %}" class="button small primary" title="{% trans 'FORFOT-PASSWORD-SIGNIN' %}">{% trans "FORFOT-PASSWORD-SIGNIN" %}</a>
            </div>
        </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block workspace_bottom_js %}{% endblock %}