{% extends 'base_workspace.html' %}
{% load i18n extra_tags compress staticfiles sass_tags %}

{% block meta %}
{% compress css %}
<link href="{% sass_src 'workspace/styles/accounts.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endcompress %}
{% endblock %}

{% block body %}
<div class="account-box" id="id_recovery">
  <header class="center">
    <div class="radial-gradient">
      <div class="logo-signin-brand"></div>
    </div>
  </header>
  <div class="account-box-content">
    <form action="{% url 'accounts.forgot_password' %}" method="post" novalidate>
        <fieldset>
          <legend class="">{% trans "FORGOT-PASSWORD-RESET" %}</legend>
            <div class="row center">
                <p class="tip">{% trans "FORGOT-PASSWORD-EMAIL" %}.</p>
            </div>
            <div class="row buttons center">
                <a href="{% url 'accounts.login' %}" class="button primary" title="{% trans 'FORFOT-PASSWORD-SIGNIN' %}">{% trans "FORFOT-PASSWORD-SIGNIN" %}</a>
            </div>
        </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block workspace_bottom_js %}{% endblock %}