{% extends 'base_workspace.html' %}
{% load i18n extra_tags compress staticfiles sass_tags plugins_tags %}

{% block meta %}

{% block css_includes %}
  {% compress css %}
    <link href="{% sass_src 'workspace/styles/common.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'workspace/styles/accounts.scss' %}" type="text/css" rel="stylesheet" media="screen"/>
  {% endcompress %}
{% endblock %}

<script type="text/javascript" src="{% static 'workspace/scripts/accounts/signInModel.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/scripts/accounts/signInView.js' %}"></script>
{% endblock %}

{% block body %}
<div class="account-box" id="id_signIn">
  <header class="center">
    <div class="radial-gradient">
      <div class="logo-signin-brand"></div>
    </div>
  </header>
  <div class="account-box-content relative">
    
    {# Hide sign up link if method of plugin is activated #}
    {% if not 'hide_signup_link'|inplugin %}
    <a href="/signup" title="{% trans 'APP-SIGNUP-TITLE-TEXT' %}" class="signInLink link absolute">{% trans 'APP-SIGNUP-TITLE-TEXT' %}</a>
    {% endif %}

    <form action="{{form.action}}" method="post" novalidate>
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
      {% csrf_token %}
      <fieldset>
        <legend class="">{% trans "APP-SIGNIN-TITLE-TEXT" %}</legend>
        <div class="row clearfix">
          <label for="id_username">{% trans "MODEL-USERNAME-TEXT" %}:</label>
          {{form.username}}
        </div>
        <div class="row clearfix">
          <div class="clearfix">
            <label class="FL" for="id_password">{% trans "MODEL-PASSWORD-TEXT" %}:</label>
            <a href="{% url 'accounts.forgot_password' %}" title="{% trans 'APP-FORGOTPASSWORD-TEXT' %}" class="link FR" tabindex="-1">{% trans "APP-FORGOTPASSWORD-TEXT" %}</a>
          </div>
          {{form.password}}
        </div>
        <div class="row remember center clearfix">
          {{form.remember_me}}
          <label for="id_remember_me">{% trans "APP-REMEMBERME-TEXT" %}</label>
        </div>
        <div class="row buttons center">
          <input id="id_submitButton" type="submit" class="button primary" value="{% trans 'APP-LOGIN-TEXT' %}" />
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block workspace_bottom_js %}
<script type="text/javascript">
var signInMessages = new Array();
{% for message in messages %}
  signInMessages.push('{{message}}');
{% endfor %}
$(document).ready(function(){
  var signInModel = new SignInModel();
  var signInView = new SignInView({model: signInModel});
});
</script>
{% endblock %}