.sharingEnabled .panelTitleContainer,
.sharingEnabled #id_maximized_dashboard_description{padding-right:180px;}

.sharingEnabled .socialBox{bottom: 52px;position: absolute;right: 7px;}

.sharingEnabled .shareBox{padding:0;width:auto;}