/* Tabs */
.tabs .heatmap > i{background-position:center -630px;}
.tabs .heatmap:hover > i,
.tabs .heatmap.active > i{background-position:center -665px;}

/* Mini Loading */
#id_miniLoading{background:#fff1a8 url(../../images/microsites/im_miniLoading.gif) 7px center no-repeat;border:1px solid #c6bc86;background-color:rgba(255,241,168,.9);padding:0 12px 0 45px;font-size:14px;text-shadow:0 1px 0 rgba(255,255,255,.75);color:#000;display:none;bottom:30px;right:15px;white-space:nowrap;height:45px;line-height:45px;display:inline-block;}

/* Charts */
#id_dataStreamResult{
	-webkit-border-radius:0 0 4px 4px;
		 -moz-border-radius:0 0 4px 4px;
					border-radius:0 0 4px 4px;
}

/* Maps */
.gm-style .gm-style-iw > div{padding:10px;}